[2018-02-17 16:19] tiltec commented on #881
Looks great! I'm going to deploy it later today, however DateFns doesn't provide a Hindi locale yet so some bits will still show in English.

I will open another issue to contribute Hindi to DateFns :)

[2018-02-17 16:23] tiltec opened #882 "Add Hindi locale to DateFns"
In order to complete our Hindi locale support from #881, we need to add it to the DateFns library that we use for human-readable date strings.

![image](https://user-images.githubusercontent.com/4410802/36343036-f3f89c18-1406-11e8-887f-97171ff4ece9.png)

There's a how-to in their docs: https://date-fns.org/docs/I18n#adding-new-language
The English source can be found here: https://github.com/date-

[2018-02-17 16:51] Anjalizi commented on #826
Can you give some more insight into this issue please so that I can start working on it?

[2018-02-17 17:31] tiltec commented on #878
I like the idea very much!

Some additional concerns:
- If roles are coupled to trust levels, I can't express that I trust an user to fulfill roles x and y, but not role z
- It forces a majority of the users to use the trust feature, otherwise the group might stop functioning because not enough people can stay in admin roles (especially if trust has to get renewed)

[2018-02-17 17:58] djahnie commented on #878
It definitely is a cool idea! Especially that the roles are customizable and basically just badges. That leaves most of the responsability with the group and not with the software.

Some remarks to open questions:
- Binary state of trusted/untrusted, labeled steps or a number?
--> Binary is way to vague, labeled steps could work imho.
- How are Groupcreators initially trusted? (bootstrapping probl

[2018-02-17 18:23] #870 closed

[2018-02-17 18:35] tiltec commented on #826
In the desktop view, there's this "plus" button to create a new store:

![image](https://user-images.githubusercontent.com/4410802/36344293-60c78e1a-1418-11e8-8f7a-6b015c4e9373.png)

It's not possible in the mobile UI yet. @djahnie's proposal is to add it to the store list:

![image](https://user-images.githubusercontent.com/4410802/36344364-9497bd9a-1419-11e8-8eef-0e7067e21fe7.png)

You can use y

[2018-02-17 18:43] Hardiki commented on #882
Can I work on this issue?

[2018-02-17 19:10] tiltec commented on #882
Yes please! For further help, I think you would need to contact the people from dateFns, as I have never contributed to the library myself.

[2018-02-17 20:37] abhineet97 commented on #882
I've filed an [issue](https://github.com/date-fns/date-fns/issues/693) over at [date-fns] and have started working on it locally.
@Hardiki would you proofread it after I'm done?

[2018-02-17 20:59] djahnie commented on #882
If there's not enough translation tasks out there for everyone, maybe you can add more Indian languages on transifex? We can never have enough languages anyways... 😉

[2018-02-17 21:04] Hardiki commented on #882
Can you please tell me how do I contact these people or maybe if you could
introduce me to them that would be great.

On Sun, Feb 18, 2018 at 12:40 AM, Tilmann Becker <notifications@github.com>
wrote:

[2018-02-18 11:01] nicksellen commented on #882
Hey @Hardiki there is a bit of description on their website here https://date-fns.org/v1.29.0/docs/I18n#adding-new-language explaining how to contribute a new language

[2018-02-18 11:03] nicksellen commented on #882
Ah @abhineet97 created this issue already https://github.com/date-fns/date-fns/issues/693

[2018-02-18 11:32] Hardiki commented on #882
@nicksellen is he working on this issue?

[2018-02-18 11:41] nicksellen commented on #882
I assume not, looks like they started then stopped again

[2018-02-18 11:42] Hardiki commented on #882
@nicksellen I will take the issue then? Is it fine?

[2018-02-18 11:43] Hardiki commented on #882
I have worked on language translation so maybe that could help in working on this issue.

[2018-02-18 12:15] tiltec commented on #882
It would be nice to have full Hindi support in Karrot, so I'd be happy if you could take over this issue.

It seems that it's bit more effort to translate dateFns compared to translating karrot, because they also seem to have tests for the translations: https://github.com/date-fns/date-fns/blob/master/src/locale/en-US/_lib/formatDistance/test.js
To have an insight on the changes needed, please hav

[2018-02-18 14:59] Hardiki commented on #786
I am taking up this issue. @tiltec

[2018-02-18 15:54] Hardiki opened #883 "Localisation of https://karrot.world in Gujarati (Indian regional)"
The https://karrot.world/ is not available in Gujarati (Indian regional) language.

[2018-02-18 15:55] YS4100 commented on #883
Hardiki and I will be working on this issue.

[2018-02-18 15:56] Hardiki commented on #883
@tiltec can you please enable Gujarati on Transifex.

[2018-02-18 18:41] tiltec commented on #883
@Hardiki @YS4100 Enabled! https://www.transifex.com/yunity-1/karrot/language/gu/

[2018-02-18 21:38] tiltec opened #884 "Upgrade to channels 2"
This has some side effects, for example the images are being served from HTTP and Swagger Try it not working.

![image](https://user-images.githubusercontent.com/4410802/36357193-c508b8a8-14fa-11e8-8d7c-5c126c8e95de.png)

@nicksellen already submitted a PR to daphne to fix this: https://github.com/django/daphne/pull/136
Our daphne version in `/var/www/karrot-world/www/env/lib/python3.5/site-packag

[2018-02-19 11:54] abhineet97 commented on #882
Alright, so I did took this up and translated every. I even translated the tests. But when I went on to run the tests, I just couldn't karma to work. So, out of frustration I abandoned it.
So, please @Hardiki go knock yourself out!

BTW I've listed some resources over at date-fns/date-fns#693 that you might find useful.
You can use the [en-US](https://github.com/date-fns/date-fns/tree/master/src/l

[2018-02-19 12:39] djahnie commented on #882
Can you please upload the work you already did for other people to improve on, @abhineet97? It would be a shame if work was done twice unecessarily.

[2018-02-19 15:12] Hardiki commented on #883
@tiltec We are done with translation in Gujarati.

[2018-02-19 15:32] #883 closed

[2018-02-19 15:33] tiltec commented on #883
Thanks you two, looks great! I uploaded it to https://dev.karrot.world

[2018-02-19 15:34] tiltec commented on #876
Seems to work again

[2018-02-19 15:34] #876 closed

[2018-02-19 16:02] tiltec commented on #873
How is your progress on this issue? @lilliekhogg @shreya99oak

[2018-02-19 17:20] Hardiki commented on #883
Your welcome @tiltec

[2018-02-19 19:38] nicksellen commented on #873
@searchingfor it would be worth installing the vue dev tools [1] if you haven't already, it's has a nice component inspector that lets you see exactly which vue components are rendered on the page. I added a screenshot of it below (in firefox). See if that helps!

[1] https://chrome.google.com/webstore/detail/vuejs-devtools/nhdogjmejiglipccpnnnanhbledajbpd

![vuejsdevtool](https://user-images.gith

[2018-02-19 20:07] searchingfor commented on #873
@nicksellen Ah thanks. I see how it works now.

[2018-02-19 20:14] #809 closed

[2018-02-19 21:35] searchingfor commented on #873
@tiltec @nicksellen One last question, where are you storing the test data for the group pickups? I've checked all over the files, is the front end getting it from a remote location?

[2018-02-19 21:43] nicksellen commented on #873
@searchingfor by default the frontend connects to our dev backend at https://dev.karrot.world/ - so if you're doing frontend-only development everything should just work out the box.

Optionally you can configure a local backend and add a `.env` entry to use it (has some notes in the readme about it).

[2018-02-19 22:04] nicksellen opened #886 "Try out nullsafe optional chaining thing"
It's a bit bleeding edge.... https://tc39.github.io/proposal-optional-chaining/

It might be not very supported in some of the tooling, so needs a play around. There is an official babel plugin here ---> https://www.npmjs.com/package/babel-plugin-transform-optional-chaining

[2018-02-19 23:32] tiltec opened #889 "Add reactions to messages"
It would be nice for users to express their reactions towards a message without writing another message. The concept of "reactions" is quite well-known from Slack, facebook, Github, Gitlab etc, so we could have it in karrot as well.

A single message with reactions could look like this (example from group wall):

![image](https://user-images.githubusercontent.com/4410802/36401088-56f255f0-15d5-11e

[2018-02-20 11:14] djahnie opened #890 "Add edit button to profile page"
So far editing one's personal profile is done via accessing 'settings' in the three dot menu in the upper right (desktop view) or the three bar menu in the upper left (mobile view).

It would be much more intuitive to have an edit button directly on the profile page. The green pencil button, like the one we use in the store view, would be the logical choice.

[2018-02-20 11:18] djahnie commented on #868
I agree on your definition of activity and that it has to be counted per group.

What are the first steps to implementing something like this? I guess a new field in the database that has the binary choice of being set to 'active' or 'inactive' is needed, as well as some code, that counts the time since the last activity of a user. This is more of a backend task, am I right?

(In case this is not

[2018-02-20 11:27] djahnie commented on #847
Since @tiltec and me had a talk about this again yesterday I'll just write down some ideas:

- The subscribe/unsubscribe option needs to be available for every group a user belongs to. I imagine it being accessible in the personal settings. Just one line per group where a simple radio button determines if the mail should be sent out or not. The text could say 'Do you want to receive a weekly summa

[2018-02-20 12:53] nicksellen commented on #868
This also ties a bit into my ponderings on how to record activity in general (so it's clearer which people/groups are actively using it) - my ponderings led me to think in terms of 3 levels of activity:
- registered user (signed up, but do nothing)
- online user (they log in, click around)
- active user (they do pickups!)

Maybe it's also useful to distinguish between users that are active online

[2018-02-20 16:18] NaelaTarannum commented on #890
We would like to give this a try

[2018-02-20 22:37] tiltec commented on #886
I had a look just now and the babel plugin didn't work out of the box and eslint couldn't handle it. I'd try it again when Babel 7 is released...

[2018-02-20 22:42] djahnie commented on #890
Great! Go for it! :smile_cat:

[2018-02-20 23:51] nicksellen opened #891 "Add image to group"
Would look great on the group home page if there was a nice image/photo. Could use similar code paths to the user images.

[2018-02-21 09:31] DevipriyaSarkar commented on #552
Hey @tiltec @nicksellen , can I use [django-phonenumber-field](https://github.com/stefanfoulis/django-phonenumber-field) as the model field for the phone number field?

[2018-02-21 09:56] tiltec commented on #552
Hi @DevipriyaSarkar, yes please try it out. From what I read, it takes care of proper formatting.

I have two questions to it:
- how does it handle national numbers? I think most karrot users won't enter an international prefix.
- will it reject invalid phone numbers? It could make sense if the karrot app offers a direct "call this user" functionality, but on the other hand it would add a burden w

[2018-02-21 09:56] tiltec commented on #552
Hi @DevipriyaSarkar, yes please try it out. From what I read, it takes care of proper formatting.

I have two questions to it:
- how does it handle national numbers? I think most karrot users won't enter an international prefix.
- will it reject invalid phone numbers? It could make sense if the karrot app offers a direct "call this user" functionality, but on the other hand it would add a burden w

[2018-02-21 14:20] AneriMehta commented on #891
Hi, I and my teammate would like to work on this.

[2018-02-21 15:24] smehta2205 commented on #882
Hey!
I and my teammate would like to work on this issue.... Moreover we would also try and add Gujarati language...
Can we get some help regarding the same or rather information about some platform to discuss the problem?

[2018-02-21 15:31] Hardiki commented on #882
@smehta2205 Gujarati phase has already been done by us and it is in review phase. We created this issue and it is already been closed.

[2018-02-21 16:51] DevipriyaSarkar commented on #552
Hey @tiltec , so I tested the following on a sample Django application:
- For handling national numbers, you can set a `PHONENUMBER_DEFAULT_REGION` on the settings. The value of which is a string containing an ISO-3166-1 two-letter country code ([Link](https://en.wikipedia.org/wiki/ISO_3166-1#Officially_assigned_code_elements)). So, if the default region is USA, we could set `PHONENUMBER_DEFAULT_R

[2018-02-21 20:45] tiltec commented on #882
@Hardiki did you start working on the dateFns translation?

[2018-02-21 21:12] tiltec commented on #552
Thanks for the writeup! I'd be happy if you go without validation, I guess we don't need the overhead (yet). A `CharField` should be fine :)

[2018-02-22 01:39] Hardiki commented on #882
@tiltec my teammate is currently working on this issue.

[2018-02-22 02:31] DevipriyaSarkar commented on #552
Cool. :) I had a few questions:
- what will be the max length of the `CharField` ?
- will phone number be a required field (`model.CharField(null=True)`)? Or an optional field (`model.CharField(blank=True, null=True)`)?
- what's the default (national) region for karrot? (Just curious)

[2018-02-22 05:04] smehta2205 commented on #882
Okay @Hardiki...
Are you working on Hindi as well as Gujarati translations?

[2018-02-22 11:48] djahnie commented on #552
I'll try to answer your questions, @DevipriyaSarkar:
- Since it's only supposed to hold a phone number [20 characters should be enough].(https://en.wikipedia.org/wiki/Telephone_numbering_plan)
- Optional, I'd say. If people want to work together effectively they will enter it voluntarily, which is always better than forcing them to do stuff.
- There is none. Every group can set a location and time

[2018-02-22 12:10] tiltec commented on #552
Ah thanks @djahnie, although I have some additions:
- I wouldn't restrict phone numbers too much for now, so the CharField default of 255 characters should be good to prevent abuse.
- I'd set `blank=True` to have an optional field, setting `null=True` on CharField is not recommended: https://docs.djangoproject.com/en/2.0/ref/models/fields/#null

[2018-02-22 12:13] #873 closed

[2018-02-22 13:53] DevipriyaSarkar commented on #552
Thanks @djahnie and @tiltec.

@tiltec, since our db already exists, while migration, either we have to add a new field with `null=True` or have to give default value for the new field right?

[2018-02-22 14:03] tiltec commented on #552
@DevipriyaSarkar, I think Django set's the default implicitly to `''` if `blank=True`. If that doesn't work, you can provide a one-time default when running `makemigrations`.

[2018-02-22 20:35] Hardiki commented on #882
@smehta2205 Hindi and Gujarati translation are done only the Datefns issue is left. You can work on Gujarati datefns. My teammate is working on Hindi Datefns issue :)

[2018-02-23 15:28] alterisa commented on #846
Hi there!
Im Isa from Austria (why are we writing in english?) anyway Im in Barcelona now and together with a group of motivated people we are building up a foodsharing community. There are existing plattforms but they arent really used.
The 2nd meeting will open the discussion about: what do we want, how will we organise ourselfes,...maybe we will define some subgroups,... so I was wondering if t

[2018-02-24 10:50] agarwalpooja commented on #890
Hello @djahnie, I am working on this issue but I am unable to find the green pencil button.Can you give a picture or the font awesome icon name or the exact place where it is used in store view.

[2018-02-24 11:21] tiltec commented on #890
@agarwalpooja Try out [Vue Devtools](https://github.com/vuejs/vue-devtools), it's a browser extension that gives you nice overview and insight. I'm sure you can find the button with it :)

![vuejsdevtool](https://user-images.githubusercontent.com/31616/36394399-6e364c92-15b4-11e8-8901-b0f988a3d973.png)

[2018-02-24 11:35] agarwalpooja commented on #890
Thank you.

On Feb 24, 2018 4:51 PM, "Tilmann Becker" <notifications@github.com> wrote:

[2018-02-24 13:59] nicksellen commented on #766
This works now :)

[2018-02-24 13:59] #766 closed

[2018-02-24 14:01] nicksellen commented on #256
HTML templates are now enabled (via mjml). Only one is implemented yet, so more to come...

[2018-02-24 14:01] #256 closed

[2018-02-24 14:05] nicksellen opened #893 "Add browser push notifications"
Simplest approach would be to use the existing FCM features in the backend to push to browsers. Ask me if you want to know more about how it works, can also refer to trustroots code for this https://github.com/Trustroots/trustroots (which I wrote).

[2018-02-24 14:28] tiltec commented on #552
Backend has been added by @DevipriyaSarkar, now the frontend needs to be done. Would you @DevipriyaSarkar be interested in it as well?

[2018-02-24 14:31] nicksellen commented on #847
I'll start working on this now.

[2018-02-24 14:36] swekshajha12 commented on #552
Yes, we are working on it now.

[2018-02-24 14:39] DevipriyaSarkar commented on #552
@tiltec we are new to vue.js, so it's taking a bit of time to figure it out. We are on it :)

[2018-02-24 14:42] tiltec commented on #552
Great! Please ask questions if you have any, we try to come up with answers.

https://github.com/vuejs/vue-devtools are quite helpful for local frontend development, they let you analyze the website quite much :)

[2018-02-24 14:55] tiltec commented on #672
@nicksellen is quite interested in it and I'd find it great too.

Here's what I wrote:

[2018-02-24 15:13] tiltec opened #894 "Request to join groups / Approval process"
Currently karrot either allows groups to be open or password-protected. I usually recommend groups to set a password to protect themselves from vandalism. I think this won't be enough in future and a "group join approval process" should be implemented.

The downsides of the current situation are:
- once a user knows the password, they can join the group with many accounts
- a group member can chan

[2018-02-25 07:29] agarwalpooja commented on #890
![screenshot from 2018-02-25 12-50-24](https://user-images.githubusercontent.com/30632125/36639119-f5b6615a-1a2a-11e8-8d6c-b913eaf6598e.png)

I have added an edit button which on click is redirecting to settings page. Is this button icon fine or its alignment, color needs to be changed.

[2018-02-25 08:51] agarwalpooja commented on #891
Hi @nicksellen, can you specify more clearly about this issue, like whether to add same group image, add image as profile picture or so.

[2018-02-25 09:56] tiltec commented on #891
I guess it could look like this (in the group gallery):

![screenshot_2018-02-25_10-49-22](https://user-images.githubusercontent.com/4410802/36640149-ffef1dee-1a19-11e8-9e0e-d9edfffaab04.png)

But of course it shouldn't be the same image for every group, instead each group should be able to specify their own in the group settings. You could use the same cropping tool as for user photos (vue-croppa

[2018-02-25 09:58] tiltec commented on #890
Great that you made it work! I guess we can discuss a bit more on the design, could you open a Pull Request for it?

[2018-02-25 10:01] agarwalpooja commented on #890
Yup, sure.

On Feb 25, 2018 3:28 PM, "Tilmann Becker" <notifications@github.com> wrote:

Great that you made it work! I guess we can discuss a bit more on the
design, could you open a Pull Request for it?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/yunity/karrot-frontend/issues/890#issuecomment-368296998>,
or mute the th

[2018-02-25 15:11] agarwalpooja commented on #890
![screenshot from 2018-02-26 01-40-14](https://user-images.githubusercontent.com/30632125/36642596-af504d92-1a67-11e8-9f1e-18e1d0543eaf.png)

![screenshot from 2018-02-26 02-09-18](https://user-images.githubusercontent.com/30632125/36642998-1248572e-1a6c-11e8-9e7d-99b196db1664.png)
![screenshot from 2018-02-26 02-11-44](https://user-images.githubusercontent.com/30632125/36642999-124aaef2-1a6c-11e8

[2018-02-25 15:23] agarwalpooja commented on #820
hey.. @tiltec I am working in this issue. I have downloaded the files for font awesome 5 and have given its link in index.html.And i have changed the prefix and icon name as per FA5.
But now the icons are removed from the page.

[2018-02-25 15:33] anishaagrawal commented on #820
hey.. @tiltec i am working on this issue. I have downloaded the files for font awesome 5. And i have given the link for font awesome files in index.html .I havereplaced the old prefixes and icons name with the new one.
But now the icons are removed from the page.!!!! can u help me to resolve this.

[2018-02-25 16:14] tiltec commented on #820
Hi @anishaagrawal, can you open a `WIP` pull request containing your changes? Then I can have a closer look!

[2018-02-25 19:33] D0nPiano commented on #890
Great! I think I like the second one you posted best, but I would put the button on the left hand side of the map.

![20180225_202506](https://user-images.githubusercontent.com/16825880/36645511-282521be-1a6a-11e8-8962-3933ed7be3af.jpg)

[2018-02-25 19:36] agarwalpooja commented on #890
Okay, I will change the position.

[2018-02-26 06:32] YS4100 opened #897 "spanish translation is remaining"
Spanish translation on transifex is remaining in both frontend and backend.

[2018-02-26 06:33] YS4100 commented on #897
I have completed the spanish translation on transifex ,both frontend and backend

[2018-02-26 12:10] agarwalpooja commented on #890
![screenshot from 2018-02-26 23-12-20](https://user-images.githubusercontent.com/30632125/36669771-12eccede-1b1c-11e8-884f-05fb541f6992.png)

Is this fine?

[2018-02-26 12:32] djahnie commented on #897
Thank you very much for pushing this! We'll take care of putting it live as soon as possible!

[2018-02-26 12:43] djahnie opened #898 "Add a field for public group contact"
Right now we have one field that holds a 'text you see before joining the group'. Theoretically it's enough, since people can write every piece of intormation in there, but in reality we often end up with password-protected groups that don't show any way of contacting them (e.g. Food Saving Lund)
It's very much possible, that they simply forget and that a field asking for a contact can change that

[2018-02-26 12:47] tiltec commented on #898
I think it's related to #894 as it improves the way how people join a group. But #894 goes much further, so it will take a while.
This issue could be implemented in short time, and it could help already. So I'd put it as starter tasks. Remove the label if you think otherwise ;)

I would call the field `contact information` and make it much smaller than the public group information to make the inte

[2018-02-26 13:17] anishaagrawal commented on #820
i have pulled the files changed for upgrading to font awesome 5.... please check it.

[2018-02-26 15:29] agarwalpooja commented on #890
![screenshot from 2018-02-26 23-12-20](https://user-images.githubusercontent.com/30632125/36669771-12eccede-1b1c-11e8-884f-05fb541f6992.png)

Is this fine?

[2018-02-26 15:46] D0nPiano commented on #890
Looks good to me! Thanks! :slightly_smiling_face:

[2018-02-26 16:43] agarwalpooja commented on #890
Welcome

[2018-02-26 16:44] agarwalpooja commented on #890
Welcome.

[2018-02-26 18:21] tiltec commented on #862
Thanks for the notice @anishaagrawal - I merged the issue a while ago, but forgot to close this issue: https://github.com/yunity/karrot-frontend/pull/879

A little hint: if you write "Closes #862" into your Pull Request description, the issue will get closed automatically when merged. Makes things a little bit easier for maintainers :)

[2018-02-26 18:21] #862 closed

[2018-02-26 18:30] tiltec commented on #897
Merged in https://github.com/yunity/karrot-frontend/commit/c3ecfb2c648ccee2f25b6087fe57095af80dcdcb

[2018-02-26 18:30] #897 closed

[2018-02-26 18:55] djahnie opened #900 "Sort groups by number of members"
In the group preview overview the groups are sorted alphabetically:
![image](https://user-images.githubusercontent.com/17573771/36689100-c9f23468-1b2e-11e8-84a4-de541d9e18fb.png)
I think it would make much more sense to sort them from many to few members. Especially since we have so many groups which are not actually used. I'd prefer to have the real groups on the top and not hidden below a whole

[2018-02-26 20:33] djahnie commented on #900
I just realized that the order already _is_ from biggest amount of users to smallest when one is not logged in, but when logged in and part of multiple groups the list looks like the one in the screenshot above. Meaning:
- groups the user is a part of are sorted alphabetically
- groups the user is not a part of are sorted from biggest amount of users to smallest

So it's only about fixing the orde

[2018-02-26 21:03] #861 closed

[2018-02-26 21:08] D0nPiano opened #902 "Add Filtering options to full screen map"
It would be nice to be able to filter the full screen map for users & stores, like the minimap on desktop.

(optional) Bonus points for adding filters for different store statuses. Not quite sure if that should be done in store or in the component though (?)

[2018-02-26 21:56] NerdyProjects commented on #894
Outcome of a discussion:
* Use the existing roles relationship to model the approval status of a member
* Already with the request to join a group, a person becomes a "member"
  * Just without the approval status no permissions are granted
* The most easy approval method can be implemented first: A single approval leads to the approval status
* An approval, as well as the non-approval (reject) sho

[2018-02-27 06:56] snehalgupta opened #905 "Get started tutorial for the website"
We can create a tutorial that familiarizes the user with the functionality of Karrot. When the user logs in for the first time, a mini-tutorial starts explaining how to get started, how to create groups, how to join groups etc. With the help of this tutorial,the user can tour the website and become more familiar with the features of Karrot. The tutorial can be displayed in form of small cards with

[2018-02-27 11:37] djembejohn commented on #868
@tiltec and I have been looking at this in a bit more detail this morning. We decided to implement the simplest useful answer to the problem which was to add a single "last_seen" field to the GroupMembership model. In terms of the user, the field is intended to represent the last time a user had used Karrot (via a browser or the app) to actively view data associated with a group.

Our initial impl

[2018-02-27 11:50] djahnie commented on #905
Sounds great! Just yesterday we had a meeting where we also talked about a lack of help inside the karrot app. Having this tutorial would be really nice! :smiley:

[2018-02-27 16:51] varsha6319 commented on #865
Hey tiltec
Do you want to have the user photo in a square shape, Can I work towards it?

[2018-02-27 18:10] varsha6319 commented on #672
Can you elaborate on the issue so that I can contribute to it

[2018-02-27 18:28] tiltec commented on #672
As you're new to the project, I'd be interested in how much time you have to contribute? I think it might take several weeks of development until the first version can be released.

If you feel up to it, I think the best way forward would be to have a call about it. @nicksellen would you be interested to participate as well?

[2018-02-27 18:33] tiltec commented on #865
Hi @varsha6319 yes please. I think this feature is much quicker to solve than #672.

It would be good it would use the existing `ProfilePicture` component, so that the look is unified.

[2018-02-27 18:34] varsha6319 commented on #672
I have applied for RGSoC 2018, So I have much time to contribute to it.
Call would be a great option @tiltec
Will I mail you my skype handle?

[2018-02-27 18:35] tiltec commented on #905
Sounds good to me too! I think there is no writeup whatsoever how to use the website yet. If it's of any help, here's my walkthrough for the previous karrot version (when it was still called _foodsaving tool_): https://blog.karrot.world/2017/05/11/walkthrough.html

[2018-02-27 18:39] tiltec commented on #868
The approach still seems good to me, I'd say it's worth a try.

[2018-02-27 18:50] tiltec commented on #900
I think the joined groups should continue to be sorted by name, I assume it's irrelevant for most users which of their joined groups has most members.

You're member of many groups, which I assume is a very special use case of the software. I don't have statistics at hand, but I assume that regular users are part of only a few groups (1-3). In this case, I'd expect the default alphabetical sorting

[2018-02-27 19:15] riyasinha commented on #154
@snehalgupta and I would like to work on this feature. As suggested by @tiltec on this[`#499`](https://github.com/yunity/karrot-backend/issues/499) we would like to link google and facebook accounts with karrot.world and in future, link facebook and google+ foodsharing groups too.

[2018-02-27 19:22] tiltec commented on #672
I'll talk with @nicksellen and then come back to you. We're currently working on other topics, so it might take some days.

To get you started, you could already do market research and get familiar how other foodsharing apps work, for example https://olioex.com/

[2018-02-27 19:26] tiltec commented on #154
@riyasinha @snehalgupta Can you write a more elaborate concept and maybe give a few examples? It's not clear to me what you have in mind.

[2018-02-27 19:39] #890 closed

[2018-02-27 19:44] tiltec commented on #882
@Hardiki How is it going with the DateFns translation?

[2018-02-27 19:45] tiltec commented on #864
@kallepallimounikasmitha How is your work going?

[2018-02-27 19:47] tiltec commented on #851
@nupurbaghel How is your work going?

[2018-02-27 20:40] tiltec opened #907 "PickupFeedback: prevent error if this.select is undefined"
The error happens probably in here:

[code]

https://sentry.io/foodsaving-worldwide/karrot/issues/467061771/

[2018-02-27 20:42] tiltec opened #908 "Prevent sending messages while Websocket is not conected yet"
I think we can just discard the messages, it will only the the presence notifier.

https://sentry.io/foodsaving-worldwide/karrot/issues/474609698/

[code]

[2018-02-27 20:43] tiltec opened #909 "Check error when loading IntlData from polyfill"
Seems to happen quite often that an error is thrown there...

https://sentry.io/foodsaving-worldwide/karrot/issues/433259630/
https://sentry.io/foodsaving-worldwide/karrot/issues/474093460/

[code]

[2018-02-27 20:48] tiltec opened #910 "Upgrade CircleCi end2end test image to python 3.5"
It currently runs 3.4, which doesn't support a code construct that we started using in backend `master`. Therefore the e2e tests fail: https://circleci.com/gh/yunity/karrot-frontend/8000

Could be upgraded to our own karrot-python image that we use in the backend CI.

[2018-02-27 20:54] riyasinha opened #912 "Signup flow: sort groups by distance to the user"
This feature would help the user to filter the different groups based on his/her preferences.
We could have the following parameters to begin with:
- Location detector - geographical location, place from which food was recently picked ( this could be done with help of a map feature pulled [#903](https://github.com/yunity/karrot-frontend/pull/903) )
- Groups in which activities have recently taken

[2018-02-28 07:31] riyasinha commented on #154
So we are thinking of integrating google or facebook signin/signup. Now, many a times, as observed from personal experiences and a survey conducted in our institute, we found that people tend to shy away from regular procedures where they have to repeatedly enter data. If there is an option to sign in using the google/facebook account, people will, in most cases, opt for that as it helps to get fa

[2018-02-28 10:26] tiltec commented on #566
Seems to be similar to #894, closing this in favor of the newer issue.

[2018-02-28 10:26] #566 closed

[2018-02-28 10:49] tiltec opened #913 "Upgrade to quasar 0.15"
Lots of changes: https://github.com/quasarframework/quasar/releases
Upgrade and check if the page still looks the same and things work. Maybe a good chance to add more end-to-end tests?

[2018-02-28 10:52] djahnie opened #914 "Add a playground group in the group list"
Right now the group list is the landing page. Probably a lot of people come to karrot.world and just want to try it out. It would be great if they didn't have to create an account, or if they wouldn't randomly join open groups. My proposal is the following:

- [x] Take one of the unused groups, rename it to 'Playground' and write a login in the public description.
- [x] Display the playground grou

[2018-02-28 11:01] djahnie commented on #912
This issue seems to be similar to #877. If I understand it right, this proposal is an extension of before-mentioned issue and envisages more detailed input options than only a search bar.
- Location is adressed by #877 already
- Recent activity would need to be specified in the first place. How do you imagine this to work in detail? What counts as activity and which time is recent?
- Interesting s

[2018-02-28 11:19] riyasinha commented on #912
We opened this issue on the suggestion of @tiltec. He wanted us to describe our proposal and asked to work with @D0nPiano and implement his map feature.
So this is what we had in mind -
- Location Filter -  we can work with issue #877. Sorry for the ignorance.
- Recent Activities - We could create a system of points where when a group updates a valid activity, they earn some points. By this we can

[2018-02-28 11:55] D0nPiano commented on #914
I really like the idea! A couple of questions though.

- How are we keeping the playground user from entering other groups?
- Is renaming the group sufficient or should it be translatable?
- Are we keeping people from changing the password for the demo group?

Therefore, I am unsure if it wouldn't be easier to just deploy a demo version of karrot to demo.karrot.world and add a demo user (or multip

[2018-02-28 12:11] D0nPiano commented on #912
I am unsure how to tackle recent activities and perishables - especially since the required information is not ready to be gathered/assessed anywhere as far as I know. Especially activity would also be interesting for other tasks though (e.g. #868 or #355) - Probably @tiltec or @nicksellen have more insight on what the current status of user activity is backend wise. The point system also sounds l

[2018-02-28 12:16] djahnie commented on #914
Oh, very good points you have there, @D0nPiano!
- I didn't think of that, you're right. But actually, users who just wan't to play around will probably not make the effort of joining a whole lot of groups, I guess. If they wanted to, they could always make an account for themselves and just hop into any unprotected group they want to, so this is not really a big deal for me... (Also, as soon as we

[2018-02-28 12:31] D0nPiano commented on #914
Yeah, makes sense. I just usually think I can't destroy anything when I am on a demo page, wherefore I just click around randomly. Especially because you are anonymous as a demo user and don't even have to provide an email address for signing in.

I think having it translatable is just as complicated as adding a yellow frame. The playground group should probably be names "Playground", and in vue.j

[2018-02-28 13:06] djahnie commented on #900
Hmm you could be right, @tiltec. I forgot that my use case is quite special. Sorry if I made you do unnecessary edits, @searchingfor.

[2018-02-28 13:06] #900 closed

[2018-02-28 13:20] djahnie opened #915 "Dead and test groups are cluttering the group list"
In the meeting I had yesterday with @nicksellen and @mr-kojo we realized that the least of the groups displayed on karrot.world are actually used. I'd much prefer to hide the groups which are not active (anymore) as a short-term solution and as a long-term solution maybe find a way to automate this and /or offer a button in the group settings to flag a group as inactive. Inactive groups could be d

[2018-02-28 13:30] nicksellen commented on #915
I would suggest groups get a status field like the stores do. Maybe they start off as "new" or "initial" or something. And can be "active" or "inactive" later.

[2018-02-28 14:06] tiltec commented on #915
I'd like an automated solution, but a manual status field seems fine to get started with.

[2018-02-28 14:16] tiltec commented on #914
Good idea!
Just an additional thought: if we want to have custom behavior for playground group at some point, it could make sense to have it marked in the database. I'm thinking of two initial pieces here: a new field that marks a group as playground and new database migration that creates the testgroup.

[2018-02-28 14:22] tiltec commented on #912
These are quite some topics for one issue. My proposal is to get started with a feature that sorts the groups by distance to the user:

The other topics don't seem to be connected to this, so my proposal is to first work on the location filter and handle the rest after that.

[2018-02-28 14:25] tiltec commented on #877
seems implemented in master, will close.

[2018-02-28 14:25] #877 closed

[2018-02-28 14:31] nicksellen commented on #914
A script could reset the playground group + users to a certain state periodically. So, kick the playground users out of any other groups they wandered into, kick any other random users out of the playground group, and set the data back sensible defaults.

[2018-02-28 14:39] varsha6319 commented on #864
I have solved this issue, can I send the pull request

[2018-02-28 14:53] tiltec commented on #154
Sounds good to me! Some things to take care of:

- Privacy concerns are especially important to me. The frontend shouldn't connect to google or facebook servers if the user doesn't give their consent
- Various account-related features like editing user profiles, e-mail verification, password reset, e-mail address changes and password change might be unneeded or even problematic when a user logged

[2018-02-28 14:54] tiltec commented on #864
@varsha6319 Yes please :)

[2018-02-28 14:57] tiltec commented on #914
With "playground user", do you mean predefined users with predefined password? I would find it nice if I can join the playground group with my personal user account and not getting kicked out of my other groups ;)

[2018-02-28 15:40] tiltec commented on #910
Should be fixed!

[2018-02-28 15:40] #910 closed

[2018-02-28 17:01] Hardiki commented on #882
@tiltec As I new to the datefns library, it took me a bit longer time to figure out the locale file in which I need to modify, now that I have identified it. I am working on it I will complete it till this weekend. I had my exams in between. sorry for the delay.

[2018-02-28 18:06] djembejohn commented on #868
Option 2 is now working and has a mark_user_active endpoint.

We now envisage the following tasks:

- [ ] Implement calling the mark_user_active endpoint into the frontend

- [ ] Add a boolean field "active" to GroupMembership (default=active) which is set to True whenever the endpoint is called

- [ ] Write a script which looks for inactive users and sets the active field to False after a time pe

[2018-03-01 09:38] tiltec opened #921 "Send notifications only to verified addresses"
Lots of invalid email adresses might not bounce, but end up unwanted in someone elses mailbox. I think we should only send out notifications if the users e-mail address is verified.

[2018-03-01 09:41] tiltec opened #922 "E-mail notfications about conversation messages should get rendered as Markdown"
The frontend will support basic markdown formatting for e-mails soon. The backend currently sends out unformatted notifications, which is inconsistent.

[2018-03-01 12:42] nicksellen opened #923 "Report aggregate activity data to influxdb and create dashboards"
Purpose: to see how/whether users are using the features

Information I think would be interesting are:
- joined pickup
- left pickup
- did pickup (at least, had >0 collectors at time of pickup)
- missed pickup (had 0 collectors at time of pickup)
- wrote mesage on group wall
- joined group
- left group
- gave feedback
- visited page associated with group (using new mark_user_activity)
- member co

[2018-03-01 12:54] nicksellen commented on #915
So, how about we create the status field in the model/db, and we can set ones we know about manually in the db. Then, instead of introducing an option in the group form in the frontend, have a next step to promote a group to "active" status, based on user group activity, and hide the others behind a "See ALL groups" button/link.

[2018-03-01 12:56] nicksellen commented on #912
(related to recent activities point: https://github.com/yunity/karrot-frontend/issues/915 addresses hiding groups that are inactive)

[2018-03-01 13:06] nicksellen opened #924 "Enable group summary emails"
Group summary emails (#847)are implemented but not sent out yet. They probably need a button to enable/disable them, a few options:

1. reuse the wall notifications option (but would not allow user to have summary emails, but not wall notifications)
2. introduce an option in the user settings menu for global summaries (but would not allow user to subscribe to for summary emails from some groups on

[2018-03-01 13:16] tiltec commented on #924
Seems good!

How about another section in the group settings page, for example "Your personal group settings"? It's quite similar to 3, but would avoid introducing another page. I don't think it would be too overloaded, but that's subjective.

You will need another field in the db, as the current one is per conversation, not per group.

Slightly related: I think it would be helpful if the e-mail w

[2018-03-01 13:22] tiltec commented on #923
Seems good, as it would give us quite deep insight what people do on karrot.world. I don't have concerns, as the activity of a single user would most probably not identifiable through this data. Except if a group only has few members, but that seems tolerable, or we could enable activity reporting only when a group has more than 5 members.

This feature should also give us insight in what data we

[2018-03-01 13:47] tiltec commented on #921
I made a PR for the backend bit. The frontend doesn't _need_ changes, but it would be good if the user would be made aware that they can't receive notifications because their e-mail is not verified.

[2018-03-01 13:48] tiltec commented on #915
I'll add the field!

[2018-03-01 14:06] tiltec commented on #882
No need to be sorry, I just want to be check how you progress with it :) Thanks for the quick reply!

[2018-03-02 09:31] djembejohn commented on #923
In general this looks good.

I wonder what questions you might envisage answering with these data. Thinking a little about this can be helpful in focussing data collection and revealing something you might be able to do.

Naïvely, I can write some suggestion questions but those closer to the site will have much better ideas...

1. Is the user base growing?
2. Where is the site being used the most?

[2018-03-02 14:11] tiltec commented on #924
Agree, better create a new page then.

[2018-03-02 14:40] tiltec commented on #552
Phone number field is merged to master and should be visible on dev.karrot.world soon.

That doesn't yet fulfill the original requirement: "In storeview and groupview not only the names of foodsavers who signed up for a pick-up should be displayed but also additional info like mobile numbers and means of transportation."

I wonder how it could be managed from a design perspective. The alternative

[2018-03-02 14:42] tiltec opened #927 "Rework change-email functionality"
Moved from https://github.com/yunity/karrot-backend/issues/430

We should have a look how other websites implement change-email and copy an approach that seems good.

- [ ]  handle initial verification different from verifying a changed e-mail address (user should stay verified)
- [X]  allow aborting change requests (currently not possible)
- [x]  prevent changing to an e-mail address that another

[2018-03-02 14:49] tiltec commented on #324
(Originally written by Nick, moved from https://github.com/yunity/karrot-backend/issues/385)

So https://github.com/yunity/karrot-backend/issues/417 implements the most basic features in the backend that is mergable, still not addressed are:

- [ ] ensure the membership manager can assign agreement managers
- [ ] probably initialize an agreement manager so there is an initial one
- [ ] limiting ce

[2018-03-02 14:50] tiltec opened #928 "Implement role for allowing pickups"
(Originally written by Nick, moved from https://github.com/yunity/karrot-backend/issues/419)

If the application has to do different things depending a users state/roles, then we can implement these roles.

This allows the frontend to implement UI based on the roles, and not re-implement the logic from the backend to decide what the user can do.

- if a group has an active agreement set, then only

[2018-03-02 15:35] #922 closed

[2018-03-02 15:39] tiltec commented on #670
Stepping down from this because it seems to go into the wrong direction. My thinking is that we should allow group members to self-select roles that gives them certain rights and require explicit approval from other group members (one, some or all) if the action has big effects.

[2018-03-02 18:25] djahnie commented on #914
So I renamed group 16 to PLAYGROUND and wrote encouraging things in the description. How about a login? I guess a special demo user would need to be created in the backend..?

[2018-03-03 03:59] swekshajha12 commented on #552
So, shall we use a modal?

[2018-03-03 09:56] tiltec commented on #552
I'm not sure. I don't like modals very much, because can't be easily routed to and the user can't interact with other elements on the website while a modal is open.
Another option would be to make a pickup "collapsible", hiding the extended information by default until somebody clicks on a small arrow button. The extended information could be shown by default to the people who signed up for the pi

[2018-03-03 10:20] tiltec commented on #914
I'll add a group `status` field, replacing the newly created `active` field. It can be set to values `active`, `inactive` or `playground`, because they seem mutually exclusive. I discussed it with @nicksellen and it seems to make most sense to do it like this right now.

[2018-03-03 11:06] tiltec commented on #927
It seems this will mostly get solved in https://github.com/yunity/karrot-backend/pull/501

[2018-03-03 12:16] #921 closed

[2018-03-03 12:19] nicksellen opened #932 "Create reusable filters and querysets"
We have need to have reusable filters now, and after discussing with @NerdyProjects and @tiltec we came up with a tentative plan!

The idea is to:
- add reusable querysets on custom managers (e.g. `UserManager.unverified_or_ignored()`)
- add reusable filters in another place related to the type of queryset you want to filter (e.g. `StoreFilters`, or a filters object inside the model might be nicer

[2018-03-04 03:59] nupurbaghel commented on #851
Sorry, I got busy with my exams. You can assign it to someone else for the time being😅

[2018-03-04 08:54] tiltec opened #935 "Rationalize e-mail sender name, subject and preview text"
Our e-mails seem to work great, but the preview isn't very informative. Most people will only use the preview to decide if they read the e-mail, so it makes sense to optimizen it.

For example, the weekly group summary duplicates the site name in subject and sender, but it's not clear what it contains (could also just be a nice greeting for the weekend…)

![screenshot_20180304-094259](https://user

[2018-03-04 12:58] mr-kojo opened #936 "Give visual feedback on successful form submission"
Currently, forms that don't redirect to a different page only give visual feedback in case of errors/invalid input. For better user experience, it would be nice to display a success notification/icon/toast.

This applies to the following forms:

- Password change

(Feel free to extend the list)

[2018-03-04 13:12] mr-kojo opened #937 "Dynamically disable/enable submit buttons"
Buttons used for form submission should be disabled programmatically
- when client-side validation fails, and
- while awaiting the response of the backend.

This applies to the following buttons (feel free to extend the list):

- [x] Change email address
- [ ] Change password

[2018-03-04 14:27] tiltec commented on #937
Button should also be disabled if there's nothing to save (if there are no changes made to the form)

[2018-03-04 14:38] tiltec commented on #936
I would also like more redirects if the result of the operation can be shown there (e.g. edited data). Generally, it makes sense to redirect back to the previous page. If there is none (user landed on the page), we should define a default page to redirect to.

It could also happen that the previous page is the login page. Then they shouldn't be redirected back there. Maybe there are other pages as

[2018-03-05 14:00] tiltec commented on #905
@snehalgupta Would you like to work on this before RGSoC starts in July?

[2018-03-05 14:21] snehalgupta commented on #905
Riya and I would love to work on this. As you told Riya to get started with location filter feature in issue #912 ,we were planning to finish this first.But we are excited to work on this as well. If you want, we can work on both these issues together.
@riyasinha

[2018-03-05 14:32] swekshajha12 commented on #552
Hey! Can you update us on how shall we proceed? :)

[2018-03-05 14:55] tiltec commented on #552
I'd love to :) I guess it's a bit design-heavy though.. would you feel comfortable trying out different designs as mock-ups (doesn't need to functional) and post the pictures here?
Or would you be more interested in implementing a well-described feature?

[2018-03-05 14:56] tiltec commented on #905
Ah great! I just wanted to make sure that I understood it correctly. I'm happy if you forget about this issue for now and focus solely on #912 :)

[2018-03-05 15:52] nicksellen opened #938 "Build cordova mobile app for iOS"
We have macOS enabled in our circleci environment so hopefully can get it built for iOS.

See https://circleci.com/docs/2.0/sample-config/#sample-configuration-with-multiple-executor-types-macos--docker for a guide on how to add macOS build steps to our circleci config.

I tried out adding a step to our circleci config and it worked, you can see the config here https://github.com/yunity/karrot-fro

[2018-03-05 15:52] D0nPiano commented on #552
Sorry, forgot to answer earlier. I like the idea of @tiltec to be able to collapse the pickup and expand it by default if you are one of the people who signed up for it - This is especially nicer for the desktop version and shouldn't be too hard to implement since we already have the animation set up (in sidenav boxes or the empty pickups on the group wall). If you run into trouble design wise, le

[2018-03-05 16:08] Superbil commented on #938
I already had an fastlane script for your app, let me see what I can do.

[2018-03-05 16:08] tiltec opened #940 "Solve stale data issue"
The app sometimes contains outdated data because the websockets are disconnected in background. Some ways to resolve it:

- implement pull-down-to-refresh to let the user manually refresh (it should work on every page)
- store last timestamp when data was retrieved from the server and update when timestamp is older than x minutes
- detect event when app comes into foreground and update data then

[2018-03-05 16:16] snehalgupta commented on #905
Okay, so we"ll continue working on issue #912.

[2018-03-05 18:39] tiltec opened #941 "List archived stores (to unarchive them)"
Right now, stores can get archived with a button in the store edit page. But as archived stores are not listed in the frontend anymore, they seem essentially deleted to the end user.

The goal would be to make the archived stores visible. Possibly extending the store list in the sidenav or introducing a separate store list page.

[2018-03-05 20:32] nicksellen commented on #257
We talked about this on the karrot user call, about the need to have useful pickup notifications. It has the potential to get complex, and annoying if there are too many emails.

I had an idea that we could send an email in the evening (say, 8pm) which informs people:
- any pickups for the next day that they registered to do
- any empty slots still available

The advantage of this is it is simple

[2018-03-06 07:54] nicksellen commented on #940
https://stackoverflow.com/a/25583962 describes the Cordova background and foreground events.

https://github.com/apache/cordova-plugin-network-information/blob/master/README.md (or similar) exposes the network information. We want to make sure we don't request/remove data when it is offline.

The easiest at that point is just a browser refresh. Although it would clear any form fields that a user h

[2018-03-06 09:42] swekshajha12 commented on #552
Hey, Thanks! We'd work on the collapsible design then? Also we might work a little slow because we are having internal exams this coming week and gets over by 15. Is that fine?

[2018-03-06 10:20] tiltec commented on #552
Sure, no worries. All the best for your exams!

[2018-03-06 10:31] tiltec commented on #257
Sounds good! We could get the UTC time of local 8pm from the group timezone.

[2018-03-06 11:40] MuskanSapolia opened #942 "yarn command throws error"
When installing dependencies with `yarn` ,it throws following error:
[code]

[2018-03-06 12:22] tiltec commented on #942
That's a known requirement of `canvas` to have `libcairo` installed: https://stackoverflow.com/questions/22100213/package-cairo-was-not-found-in-the-pkg-config-search-path-node-j-s-install-canv

Find instructions how to do so here: https://github.com/Automattic/node-canvas#installation

Alternatively, you can use our docker-compose installation that has everything ready for you (including the back

[2018-03-06 12:48] MuskanSapolia commented on #942
It is resolved. Thankyou :)

[2018-03-06 12:48] #942 closed

[2018-03-06 16:10] tiltec opened #943 "Improve history layout for pickups with many participants"
Currently it looks like this:

![image](https://user-images.githubusercontent.com/4410802/37043549-2d5474ca-2161-11e8-8821-5cc68df85ed6.png)

The space usage and alignment could be a bit better

[2018-03-06 21:40] chocos10 opened #945 "Remove edit button from other users profile preview."
Whenever we visit any other profile we find a edit button that should not be there as that redirects to the settings page of the user logged in .

[2018-03-06 21:42] chocos10 commented on #945
i myself would like to work on it.

[2018-03-07 15:33] tiltec opened #946 "Set up backup for user photos and other uploaded files (in future)"
Currently, user photos will get lost if our main server crashes. We should set up an offsite backup for them, similar to the database.

The backup should:
- be incremental (i.e. only save the differences to the previous one)
- keep old versions
- be encrypted
- easy to set up with ansible
- stored offsite

Here's a list of file backup programs: https://wiki.archlinux.org/index.php/Synchronization_

[2018-03-07 15:36] tiltec commented on #945
@chocos10 sounds good!
How far did you get already? I'm thinking about making a production deployment tomorrow and this would be one of the important bits to fix.

[2018-03-07 15:46] tiltec opened #947 "Fix updating of webhooks in setup_sparkpost command"
Updating webhooks failed often with `Permission denied`, which prevented backend deployment. I disabled the webhook updates, which means that changing webhook secrets and other sparkpost-related settings is now a manual command.

It would be nice if the reason for `Permission denied` was found and fixed.

[2018-03-07 15:59] tiltec commented on #940
https://github.com/yunity/karrot-frontend/pull/944 is the first step to solving it. It refreshes:

- users
- stores
- pickups
- pickupSeries
- invitations
- history
- groups

Missing are:

- messages
- feedback
- currentGroup (detailed data)
- authUser (detailed data)

I wonder if it still makes sense to add a pull-to-refresh to trigger a complete browser reload. Maybe yes, for unforeseen cases. O

[2018-03-07 16:04] tiltec opened #949 "Improve behavior if internet connection goes away"
As hinted at in https://github.com/yunity/karrot-frontend/pull/944, the current frontend behaves quite annoying when the internet connection goes away. It shows lots of "Server error" messages that repeat for a long time.

It would be good to
- add a main alert when no connection has been detected
- prevent "Server error" messages (it's not a server error)
- disable submit fields (optional)

This

[2018-03-07 16:09] tiltec commented on #923
Next step would be to create Grafana dashboards, possibly in version control with https://github.com/weaveworks/grafanalib

[2018-03-07 16:14] nicksellen commented on #923
I had a play with grafanalib, and https://github.com/grafana/grafonnet-lib, but neither had good support for influxdb, then I started building a nodejs builder (which is well suited to building up json data structures), but then the task was bigger than I felt doing at that time.

[2018-03-07 16:21] tiltec opened #950 "Users should be able to edit their own conversation messages"
I think it makes sense if users can edit their own conversation messages. Advantages are:

- less follow-up messages with corrections (reduced e-mail notifications)
- more room for trial-and-error, especially with markdown formatting

It would be reasonable to limit the edit period 1-10 days after the message was written, in order to prevent loss of old conversation data. Also, it should be clearl

[2018-03-07 17:34] Hardiki commented on #882
@tiltec , I am currently facing 8 errors in the code that I have modified. i have attached the screenshot of the same. The error I am getting is while using the following command "yarn run lint". Here is the link of the mentioned code https://github.com/Hardiki/date-fns.git in branch iss695. Could you please suggest steps required to resolve the issue.
![yarnlinterror1](https://user-images.githubu

[2018-03-07 17:58] djahnie commented on #950
This is one of the features which is painfully missing on foodsharing.de... :wink:
The way you describe it sounds similar to how Telegram handles it. The UI could have a small pencil button next to the emoji one in a similar design and edited messages could display a small grey '(edited)' following after the text - just like on Slack.

[2018-03-07 19:53] chocos10 commented on #945
#951 solves this issue :) done with it please review .

[2018-03-08 09:20] nicksellen opened #952 "Add proper pickups pagination"
Update: pagination might be the solution, see https://github.com/yunity/karrot-frontend/issues/952#issuecomment-434743691

---

Sometimes rendering the pickups page seems a bit slow. I used the new [vue performance tool](https://github.com/vue-perf-devtool/vue-perf-devtool) to record when loading that page:

![pickups-performance](https://user-images.githubusercontent.com/31616/37142701-27cf7cee-2

[2018-03-08 13:02] nicksellen opened #953 "Add testcafe eslint plugin"
Should prevent my editor from showing warnings about `fixture` global, but also seems to provide some style hints too: https://github.com/miherlosev/eslint-plugin-testcafe

[2018-03-08 19:34] mrkvon opened #955 "Update message reactions in real time"
With websocket.

[2018-03-09 12:49] djahnie commented on #324
I just received feedback from Unai in Bilbao, that they'd also very much appreciate it to have legal agreements directly inside Karrot. That's his original message:

Since there is so much to consider with this topic I then linked him to this issue and will hopefully soon get more detailed insights about what he expects.

[2018-03-09 12:56] nicksellen commented on #324
Hopefully the agreements stuff implemented is sufficient for setting it, but two aspects are not really worked out yet:
- how someone should become an `agreement_manager`
- what should be restricted if members have not agreed

[2018-03-09 14:13] djahnie opened #956 "Improve design of new group gallery map"
Thanks @D0nPiano for bringing back the group map! :tada: :smile: :dancer:
There's just some bits I think could be better:

- The group list should be collapsed by default.
- The orange warning box should be on the right next to the group list, so that it is always visible.
- When effecting a successful search in the collapsed group list it should automatically decollapse and show the search result

[2018-03-10 07:38] nicksellen commented on #257
This is implemented and deployed now.

[2018-03-10 10:35] D0nPiano commented on #956
No Problem :slightly_smiling_face:

Do you mean above the map on the right side of the screen? But yeah, I guess it makes sense to put it somewhere else.

And yeah, actually I didn't think about the search too much yet. But both of your requests make sense. Will change it accordingly.

Haha, and funny that you say that. Actually I made it for desktop first and wanted to have it exactly the same on

[2018-03-11 09:25] tiltec commented on #947
Ah, I think the problem was really missing API permissions. Let's try to enable the script again.

[2018-03-11 12:29] tiltec commented on #868
The current backend implementation marks a user as `inactive_at = <date>` after 30 days of not visiting the group and sends out an email to the user.
The group API has a field `active`, which is `False` when the user is inactive.

#957 marks inactive users in the member list.

Future improvements:

- only show active members in the group member count (GroupGallery)
- remove long-time inactive user

[2018-03-11 16:03] tiltec commented on #257
I'll close this issue, we have our basic notification infrastructure in place. We will gradually add more email and push notifications if a user request arises, and fine tune them in order to not annoy people too much.

[2018-03-11 16:03] #257 closed

[2018-03-11 16:10] ananya-agrawal commented on #820
since there has been inactivity in this issue for some time, I want to give it a shot

[2018-03-11 16:35] tiltec commented on #467
Doesn't seem very important and seems to be too complex for a starter task, so I'll close it to focus our issue tracker a bit more.

[2018-03-11 16:35] #467 closed

[2018-03-11 16:44] mr-kojo commented on #936
In #934 I changed how alerts are displayed: Now they are shown at the bottom of the window, with fixed position, similar to a toast.

The reason for this change is that otherwise an alert is not visible when the user scrolled down the page before an alert is displayed.
This problem arises when a user changes the password on the settings page.

In contrast to a toast, our `KAlert`s only disappear w

[2018-03-11 16:54] nicksellen commented on #936
Should be able to dismiss them after a timeout inside the alerts store module. That is where the logic on what to show is held.

[2018-03-11 16:55] tiltec commented on #674
Android app is continuously deployed to https://karrot.world/app.apk

The next step could be to publish it on some app store for automated updates. Google's Play store seem to have the most outreach, but we could start a bit smaller with alternative app stores to test drive the app.

F-Droid unfortunately doesn't work because we use FCM. Wolfi used https://www.aptoide.com/ before, but the page doe

[2018-03-11 17:15] tiltec opened #958 "Improve navigation for typical user flows"
Yesterday at the Gothenburg hackathon presentation I noticed that karrot already has quite a lot navigation elements, with sometimes unclear priorities. It could be good to write down some typical karrot user flows and develop a navigation concept with clearer guidance.

I'd consider this issue as done when we identified 2-3 typical things that most people do on karrot and  streamlined the navigat

[2018-03-11 18:46] tiltec commented on #914
I'll implement the playground group into the frontend. It will

- offer the user to join the playground group after signup
- show the playground group at the bottom of the group list if the user is logged in
- don't show the playground group if the user is logged out (because it's not a real foodsaving group)
- show a persistent alert if the user is on a playground group page
- disable a few optio

[2018-03-11 18:50] tiltec commented on #915
I'll tackle this as part of #914, not showing inactive groups in the group gallery page by default and ranking them after active groups in the search.

[2018-03-11 19:21] tiltec opened #959 "Dates should respect group timezone (and not browser timezone)"
The frontend shows all dates in the timezone of the browser, not in the timezone of the group. This becomes clear when the two differ.
It becomes even more apparent when an offset change happens, e.g. on March 23th when the `Europe/Berlin` timezone switches from UTC+1 to UTC+2. The group timezone is set to `Hong Kong`, which doesn't have Daylight Saving Time:

![image](https://user-images.githubus

[2018-03-11 19:26] #947 closed

[2018-03-11 20:17] tiltec commented on #956
It's sometimes impossible to press the "join" button:

![image](https://user-images.githubusercontent.com/4410802/37257988-2c358e12-2571-11e8-94c0-16eabae31382.png)

(karrot logo is just marked by accident)

I think the footer overlays it. When I hover over it, it doesn't show the hand and it doesn't react when I click on it.

[2018-03-12 02:20] nicksellen commented on #959
I looked into this a bit, (some|most) browsers do support some timezone handling, via the [Intl.DateTimeFormat stuff](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/DateTimeFormat).

This is exposed in vue-i18n by setting `timeZone` on the date time format options, e.g.:

[code]

It worked, but does not seem to support dynamic setting as we would need.

There are

[2018-03-13 09:14] tiltec commented on #959
I like the API approach, seems to offer the benefits of group-localized time without the downsides of having naive time.

[2018-03-13 10:43] djahnie opened #963 "Add possibility to include pictures in pickup feedback"
Requested by LMR Fürth.

At the moment they are examining the possibilities Karrot offers and may switch to it around Easter. It's not dependent on this and not decided upon.

[2018-03-13 10:56] djahnie opened #964 "Add visible absence marker on userpic"
requested by LMR Fürth.
_At the moment they are examining the possibilities Karrot offers and may switch to it around Easter. It's not dependent on this and not decided upon._

Two options:
- short-term for a specific time of today
- long-term for a specific date range

Both would need different optics, maybe one could be a yellow and the other a red frame around the user pic in all the locations

[2018-03-13 15:39] tiltec commented on #914
#960 is ready for review :)

[2018-03-13 17:25] tiltec commented on #964
What user need would this fulfill?

[2018-03-13 17:26] tiltec commented on #963
Cool feature, I like it! Maybe just one picture in the beginning, to see how people adopt it?

[2018-03-13 17:29] #945 closed

[2018-03-14 10:58] tiltec commented on #913
Let me quote here some parts of the release notes.

http://quasar-framework.org/guide/

---

Quasar 0.15 comes with a new directory structure, which they recommend to use. It doesn't seem very different to our existing one: http://quasar-framework.org/guide/app-directory-structure.html
The main different I can spot is then introduction of a separate `src-pwa` and `src-cordova` folder. But there se

[2018-03-14 17:42] tiltec commented on #607
I think @NerdyProjects was interested in drafting a data privacy statement for karrot that we could use on karrot.world (and offer to other people that want to self-host). How do you currently feel about it?

I don't know exactly what requirements it needs to fulfill, but many people are currently talking about GDPR which might become the gold standard for data privacy in the next years: https://e

[2018-03-14 17:50] tiltec commented on #676
I'd like to push #831 forward, which is a detail of this issue. I proposed a preliminary solution there, but it seems quite limited (not easy to have translatable messages in it). Ideally, we would have a solution that we could use for all karrot.world-specific customizations and that could be reused by other groups.

[2018-03-14 17:52] tiltec commented on #677
This seems relevant because people requested a feature where they can notify their group about spontaneous cancellation of pickups. To fulfill this, the pickup conversations should be readable and writable by all group members, but only pickup collectors should be notified by default about new messages.

[2018-03-14 17:56] tiltec commented on #785
Can't see the sentry error anymore...

[2018-03-14 17:56] #785 closed

[2018-03-14 18:00] tiltec commented on #610
I enabled markdown for wall messages (also retroactively), but didn't introduce other messages types yet.

[2018-03-14 18:30] tiltec commented on #356
At our last hackweek, we discussed quite a bit about admin roles and hierarchies. @djembejohn wrote a comprehensive report that is available as Slack post: https://slack-files.com/T0B6WCFM5-F9DV755NV-7f110e0e0e

While I don't have notes of our meetings, my personal summary is:

- hierarchical roles seem hard to implement partially, it almost always requires an admin roles with full rights
- bootst

[2018-03-14 18:47] tiltec commented on #711
The starter task could be to add a button on the store page that links to a routing software.

For example, OSM has this API:
`https://www.openstreetmap.org/directions?engine=graphhopper_bicycle&route=52.5%2C13.4%3B23.7%2C90.4`
where the last cryptic bit is `52.517,13.389;23.716,90.404` URL-encoded (`start;destination`)

[2018-03-14 18:49] tiltec commented on #884
Yesterday, the images were served from `http` again, which I noticed after some hours only. I guess we should focus on switching to channels 2 to get rid of this problem: https://github.com/yunity/karrot-backend/pull/532

[2018-03-14 18:52] tiltec commented on #913
I wonder if there's a way to switch to the new components separately from new `quasar-cli`. Could be a good first step.

[2018-03-15 09:05] harsha4444 commented on #865
Hi @tiltec  . Can i work on it

[2018-03-15 10:26] tiltec commented on #865
Sure @harsha4444 !

[2018-03-15 12:26] djahnie commented on #964
They did not say, but I guess to know when responsible people are reachable and when not.

[2018-03-15 12:56] tiltec commented on #964
Hm, I guess marking the user as inactive after 30 days doesn't help them. I wonder how both features interact if we add this.
Maybe it's really just a visible marker that every user can set themselves and does not come with any other effect (like disabled notifications)?

[2018-03-15 13:51] nicksellen commented on #964
The `inactive_at` field (and the correspond `active` field in the API) would seem to be useful for that for me? I know it's not customizable, but it seems a similar purpose no? Alternatively the `lastseen_at` field can be used to check for activity within any time period.

For the short term activity, there is the `lastseen_at` field, or the channel subscription field (which means they actually ha

[2018-03-15 17:39] tiltec opened #966 "Group wall layout breaks when messages have really long words (on mobile)"
![screenshot_20180315-183148](https://user-images.githubusercontent.com/4410802/37480655-13ff5b0e-2880-11e8-9fdd-321944ea6c9f.png)

[2018-03-15 17:42] #864 closed

[2018-03-15 18:46] djahnie commented on #964
That's how I imagine it, and probably them, too. Just like the feature on foodsharing.de...
But I don't think this is of great importance to anybody right now actually, they just put it down as nice to have.

[2018-03-16 11:14] tiltec commented on #894
Further questions:

- How do members get approved? Can they also get rejected?
- What happens when they don't get approved? (maybe people in the group don't care or group is inactive)

[2018-03-16 15:20] swekshajha12 commented on #552
The means_of_transport field should be added in groups model or pickups model? A little confusion here. Please guide.

[2018-03-16 15:22] swekshajha12 commented on #552
The means_of_transport field should be added in groups model or pickups model? A little confusion here. We have this doubt because user can go for different pickups using different vehicles right? So it didn't seem like a field to be added to user model.

[2018-03-16 16:36] tiltec commented on #552
I'm also not sure about the means of transportation field. As you said, it can be different for each pickup, therefore it would be wrong to make it a field on the user model.

On the other hand, if it's a field on the pickup collector relation, then the user would have to enter it every time when they join a pickup (and probably need to make it editable too without leaving the pickup again).

As v

[2018-03-16 18:15] swekshajha12 commented on #552
Yes, we are up for the collapsible design that you told earlier but thought, transport_field was to be done first but since it requires more design discussion, we'll work on the collapsible design first.
Regarding that, are you saying that that rather than adding collapsible design only for phone numbers, we can have the profile preview feature instead?

[2018-03-16 18:26] swekshajha12 commented on #552
Yes, we are up for the collapsible design, thought mean_of_transport  was to be done first but since it requires more discussion, we'll do the collapsible thing first.
Regarding that, are you saying we should implement the profile preview feature instead of the collapsible design for phone numbers?

[2018-03-17 13:41] djahnie opened #967 "Make cursor -> pointer when hovering over profile pic in settings"
It is not obvious at all where one needs to click to upload a profile picture. If the curser became the pointer when hovering over the right spot on the personal settings page it would already be much better.

[2018-03-17 13:45] djahnie opened #968 "Redirect to personal profile after changing it"
When submitting changes on one's personal profile right now the user stays on the personal settings page. It would be much more intuitive to get redirected to the profile to see the changes one made.

[2018-03-17 17:12] tiltec commented on #889
Reactions are now in `master`, thanks for your work on this @mrkvon!

Follow-up issue #955

[2018-03-17 17:16] #889 closed

[2018-03-17 17:20] tiltec commented on #552
Yes, having a profile preview feature seems more useful to me than having collapsible pickups. A simple preview could show these things:
- bigger profile picture
- full name
- phone number
- link to profile

In future, it can be extended with more actions, e.g. "message this user".

[2018-03-17 18:28] mr-kojo opened #969 "Improve validation messages for VerificationCode"
Replace default validation messages such as "parameter 'code' must be longer than 20 characters" by "invalid token".

[2018-03-17 19:34] mr-kojo opened #970 "Fix user deletion"
The account deletion flow is implemented now (#934). However, when testing it manually, I observed several related problems:

1. `foodsaving.users.models.erase()` should set `user.mail` to `None` but it doesn't. Maybe some DB constraints prevent it from being erased. Some unit tests would certainly be a good idea.
2. The profile of a deleted user can still be displayed.
3. The icon of a deleted us

[2018-03-17 20:41] tiltec commented on #970
`email` is a unique field and as far as I remember it was not possible to set it to `None`. I think we could either remove the constraint or set the email to a random value.

That seems unexpected to me. Doesn't it show the "ooops" message? Does it also happen after you reload the page?

[2018-03-17 20:52] #907 closed

[2018-03-17 20:52] #908 closed

[2018-03-17 20:52] #966 closed

[2018-03-17 20:52] #967 closed

[2018-03-17 20:52] #826 closed

[2018-03-17 20:52] #941 closed

[2018-03-18 09:03] tiltec opened #971 "Don't send out weekly summary emails to inactive groups"
They are quite empty ;)

[2018-03-18 09:13] tiltec opened #972 "Automatically mark groups as inactive"
So far, I did it manually in the backend. It would be good to do it via task runner.

I would take these events as group activity measures:

- message written on the wall
- joined/left pickup
- created/modified store/pickup
- gave/edited feedback

If a group is inactive, it gets hidden from the group gallery page and no weekly emails get sent.

I would mark a group inactive after 2 weeks of inacti

[2018-03-18 18:23] #915 closed, assigned to tiltec

[2018-03-18 18:33] tiltec commented on #914
Playground group is in place, let's see how it turns out. I would close this issue now. We can open another one for the playground user if we want.

[2018-03-18 18:33] #914 closed

[2018-03-19 10:09] tiltec commented on #971
Maybe I should not check for the group status, but if there will be content in the email. If there is no content, then don't send out summary email. I think that's similar how the Confluence daily summary works.

[2018-03-19 13:50] tiltec commented on #946
I looked closer at borgbackup and it seems to fit quite well. I'll make a nice ansible task for it.

[2018-03-19 15:25] tiltec commented on #946
Solved with https://github.com/yunity/yuca/commit/d0e0d94c8e6f130f3e5579620b48c271da9e3459

[2018-03-19 15:25] #946 closed

[2018-03-19 16:33] neuroleptic commented on #968
@djahnie I am very interested in working on this!

[2018-03-19 16:39] djahnie commented on #968
Awesome, @neuroleptic, go for it! :+1: :smiley:

[2018-03-19 17:36] #924 closed

[2018-03-19 18:13] djahnie opened #973 "Improve group sidenav"
I'm just now writing a new walkthrough and thus have a closer look at Karrot from all angles. I'm now at the chapter 'Navigation', and I guess we all agree that this is not perfect...

So here are some concrete suggestions!

The group sidenav is pretty redundant imho. That's what it looks like rn:
![image](https://user-images.githubusercontent.com/17573771/37613547-936e21ec-2ba8-11e8-8b6b-66a39ac6

[2018-03-19 18:18] #847 closed

[2018-03-19 21:08] tiltec commented on #913
Managed to get it partially working! Topbar is missing, many buttons don't work and console is full of red text, but hey...

![image](https://user-images.githubusercontent.com/4410802/37621916-a44d548e-2bc0-11e8-8c68-ed72e856e602.png)

It seems indeed possible to get Quasar 0.15 without the new CLI, see here: https://github.com/yunity/karrot-frontend/pull/974

[2018-03-20 22:29] tiltec opened #975 "Rework maps: group map, fullscreen map, gallery map"
We have three types of map that fulfill different purposes, but could be improved. Here are some issues with the current implementation:

- Fullscreen map (which is the same as mobile map) doesn't have an option to show users and hide stores -> #902
    - When switching from group map to fullscreen map, it's unexpected for the user that the map view and map content changes -> state would need to b

[2018-03-20 22:39] tiltec opened #976 "Make it possible to give feedback without entering weight"
Currently, the feedback form is quite focused on entering the weight:

![image](https://user-images.githubusercontent.com/4410802/37686275-04fe4672-2c97-11e8-9545-abe3c3f28aed.png)

It should be possible to give feedback without weight, because people might not want to estimate the amount. Entering a weight of "0 g" doesn't really fit and will drastically change the statistics.

The backend alread

[2018-03-21 09:14] mathewdbutton commented on #863
Hi there,

I'm new to contributing to open source. Can I pick this issue up?

[2018-03-21 12:05] djahnie commented on #863
Great @matthewdbutton, go for it! If you need more help you can join our [team chat on Slack](https://slackin.yunity.org) and ask in #karrot-dev.

[2018-03-21 16:38] tiltec opened #978 "Data setup for end-to-end tests"
Currently, end-to-end tests (frontend+backend integration tests) can only access the website or the API, like any other client. Therefore, data setup needs to happen by clicking around or calling API endpoints.
This has a few downsides:

- there's no way to reset data between tests
- there's no way to prepare time-sensitive data (e.g. pickups in the past)
- tests need much more time and are more f

[2018-03-21 18:07] ananya-agrawal commented on #973
I want to do this issue.

[2018-03-21 19:28] djahnie commented on #973
I'm not sure if this is ready to just be tackled like this - I first would like to get more feedback, e.g. from @nicksellen and @D0nPiano. I'm not even sure @tiltec has said anything so far.

Also, didn't you just grab issue #898 @ananya-agrawal? I didn't see a pull request concerning the public group info thingy. Please don't claim new issues before finishing (or giving up on) the one you already

[2018-03-21 19:29] tiltec commented on #973
@ananya-agrawal From my POV, this topic needs discussion before code changes can start. What do you think about the points that @djahnie proposed?

My comments:

These options are there for backwards compatibility, but maybe we can remove them by now. Actually I don't know. I don't have a good concept how we can do UI changes gradually, without confusing existing users too much.

Additionally, the

[2018-03-21 19:39] djahnie commented on #958
How do you imagine coming up with typical user flows? I could write up some examples and then ask in the facebook group if that's close to reality or where the differences are if there are any. I just fear that we won't get as detailed answers as we'd hope for... I'll still give it a try, I guess.

Any suggestions what to start with?

[2018-03-21 19:52] djahnie commented on #973
Me neither... we'd need to collect more data on what people actually use. Or just do what we think is okay and wait for them to complain. (Not the best way to go probably...)
Maybe we can get Sebastian to do some more testing for us? He said he'd be willing to at CiviTechGbg.

If it's not too much effort, I'd prefer the first option.

Only the button. It already takes two clicks to reach it, cause

[2018-03-21 20:22] tiltec commented on #978
I would like to be able to use the test data factories that we already use for unit and integration tests. This would be easiest when choosing option 1, because it would happen in a native Python environment.

TestCafe is quite nice because it runs inside the browser instead of instrumenting the browser via a special interface, which makes it possible to run tests in otherwise unsupported browsers

[2018-03-22 16:43] ananya-agrawal commented on #973
Maybe we can do a 50-50 testing among users by showing 50% of the people one version and the 50% the rest. That way we can maybe track somehow which one functions better.

I also feel that putting edit button inside settings page is a good idea.

Solikyl: [ ] Weekly summary [ ] Pickup notifications [ ] wall notifications [Leave group button]

I guess it would be better to do this and maybe we shou

[2018-03-22 19:09] nicksellen commented on #973
This is a good technique for sites with lots of users, I don't think we have anywhere near enough to get any meaningful data at this point. I think we are also quite under-resourced for developing two concepts at once, _and_ implementing A/B testing :)

Are most people actually in multiple groups? I think this might be one of those things that affects us more than the actual users.

[2018-03-23 16:14] djahnie commented on #973
Tilmann was also already bringing up A/B testing, but I completely agree with Nick, that we simply don't have the resources - neither wrt users, nor developers - to do this in a way that makes sense.

The multiple groups are not a use case that is intended to be frequent as of now, that's true. But I can imagine that changing in the future, e.g. when bigger cities are divided into multiple groups,

[2018-03-24 03:34] sarvanideekshitula commented on #968
I want to work on this

[2018-03-24 04:13] neuroleptic commented on #968
@sarvanideekshitula I already finished this. Just waiting for the code review.

[2018-03-25 23:17] #971 closed

[2018-03-26 10:32] mr-kojo opened #979 "Consider using UUID4 for verification codes"
...similar to the implementation of invitation tokens.
Maybe that's more secure. Will think about it.

[2018-03-26 13:50] mr-kojo opened #980 "Icon of deleted user is clickable"
After a user deleted her profile, other users can still click her user icon (e.g., on a group's wall), which redirects to the `groupPreview` page.
Instead, it would be nice to display a uniform icon for all deleted users which isn't clickable but shows a message on mouse-hover (something like _"this user has been deleted"_).

[2018-03-26 13:56] mr-kojo commented on #970
1. Fixed (b1a080a)
2. @tiltec you were right, it was a caching issue. After page reload it shows the "oops" page. I didn't think about caching issues because I disabled HTTP caching in the developer console. Apparently, vue.js also has some caching mechanism?
3. Moved to #980

[2018-03-26 13:56] #970 closed

[2018-03-26 14:01] tiltec commented on #970
I think the user profile data is still in the `vuex` store. Could be updated via websockets, but it's not of priority because I don't suppose that deletions of active users happen frequently.

[2018-03-26 14:02] tiltec commented on #970
A related issue is people that left a group, then the profile is also not accessible. This should be updated via websocket, maybe it already is?

[2018-03-28 10:29] #913 closed

[2018-03-28 13:26] #953 closed

[2018-03-28 13:36] tiltec opened #981 "Allow to give pickup feedback without having a pickup"
Based on user feedback and discussion with @nicksellen and @djahnie:

It would be nice if users could give feedback to a store without having to create and join a pickup first. Use cases:

- spontaneous unscheduled pickup
- user forgot to join pickup
- user who did the pickup is not member of karrot, somebody else gives feedback for them

Probably the backend would create a pickup entry implicitly

[2018-03-28 13:39] tiltec opened #982 "Add Telegram notifications"
From user feedback we know that many foodsaving groups use Telegram groups as primary communication channel. It would be nice if karrot could send out notifications to Telegram groups. As a start, I would only enable the daily pickup notifications.

The telegram group should be set per karrot group.

[2018-03-28 13:40] tiltec commented on #613
I'm motivated to tackle this in the next days/weeks, as the number of open pull requests is quite low in the moment.

[2018-03-28 14:47] djahnie opened #983 "Annoy people to fill in personal information"
This is meant to make the karrot group as a whole more interesting, more useful and less anonymous.
The idea, as discussed with @tiltec, was to display some kind of annoying popup that reminds them to give additional information such as:
- uploading a profile picture
- writing some words in the description field
- adding a mobile number (and means of transport as soon as that's possible)

Open que

[2018-03-28 15:29] nicksellen commented on #982
https://github.com/python-telegram-bot/python-telegram-bot seems the libary to use

[2018-03-28 17:07] nicksellen commented on #670
We realised we have some uncertainty about the approach to take with roles and permissions, and this task is a bit too concrete for now.

[2018-03-28 17:07] #670 closed

[2018-03-28 17:07] djahnie commented on #550
These are older thoughts, which led to newer thoughts. So these can be archived to not be distracting.

[2018-03-28 17:07] #550 closed

[2018-03-28 17:17] djahnie commented on #356
Having admin roles optional seems very difficult because of the bootstrapping problem of how to start. Should the first user be the initial admin and decide if admin roles are enabled? Could we have a vote (if we had a voting system) about if a group wants to have admin roles or not?

This needs more thought and time. It's really tricky and abstract and far away from an implementation, so we close

[2018-03-28 17:17] #356 closed

[2018-03-28 17:22] djahnie commented on #928
We don't have a clear concept if this role is actually needed, so discussion should go back to #324
It might also be connected to #546, but requirements haven't been specified there either.

[2018-03-28 17:22] #928 closed

[2018-03-28 17:27] djahnie commented on #355
We collect statistics into influxdb, now it needs figuring out what statistics we want to show on karrot itself. We are yet unsure if we should let Django read from InfluxDB or write statistics into PostgreSQL.

[2018-03-28 17:34] djahnie commented on #674
This issue is done, we should do some of the stuff that @tiltec described above.

[2018-03-28 17:34] #674 closed

[2018-03-28 17:36] djahnie opened #984 "Release Android app in Play Store"
As discussed in #674, we should release the karrot Android app in the Google Play Store. An account costs 25$, which we could register as "Foodsaving Worldwide" (to be shared with a potential Foodsharing.de mobile app).
Deployment should be automatically done from CI.

UPDATE (tiltec):

To finish this issue:

- [x] fix known bugs (see sentry)
- [ ] ~advertise app on website~ forum should be enough

[2018-03-28 17:47] djahnie commented on #868
We decided to wait for feedback for the current implementation to find out if the automatic removal is actually needed right now.

[2018-03-28 17:47] #868 closed

[2018-03-28 17:50] djahnie commented on #324
This goes back to discussion about the questions @nicksellen raised above.

[2018-03-28 18:06] djahnie commented on #552
This seems kind of stuck. Does anybody have more input, thoughts and ideas for this? Would be nice to see it progressing further! :slightly_smiling_face:

(I will also add some more thoughts to this, promise!)

[2018-03-28 18:18] djahnie commented on #610
Currently the wall conversation shows only people's messages. The upcoming pickups, as well as feedback to give, is displayed above. If we want the wall to become more like a news feed / dash board kind of thing we need to figure out how to go about it:
- How to treat the data; are all wall posts conversation items?
- How to display the different categories?
- Probably much more...^^

[2018-03-28 18:23] djahnie opened #985 "Add conversations to stores"
Having the possibility to talk inside a store was requested multiple times.

[2018-03-28 18:28] djahnie opened #986 "Place conversations & subscriptions"
It was requested to have the possibility to subscribe to stores. Store subscribers would then be the only ones who–
- receive pickup notifications for that specific store
- are part of the store conversation (#649 )

The default could be that everyone is subscribed to every store to not have users be confused that they don't receive info anymore.

[2018-03-28 18:29] djahnie commented on #360
This was an informative talk but very far away from any implementations. User feedback showed that store subsciptions (#986) would be sufficient and that store walls (#985) would be useful.

[2018-03-28 18:29] #360 closed

[2018-03-28 18:33] djahnie commented on #985
@nicksellen had some more thoughts on this, right? :wink:

[2018-03-28 19:06] djahnie opened #987 "Deleted pickups show in weekly summary mail"
Sylvia informed us about this bug. She deleted some individual pickup dates because of holidays, but they still showed up in the weekly summary mail as 'no-one is yet signed up for', as you can see in this screenshot:
![image](https://user-images.githubusercontent.com/17573771/38050580-d093fac2-32cb-11e8-8974-01069c12e9aa.png)

[2018-03-29 10:09] #987 closed

[2018-03-29 13:24] tiltec commented on #983
Maybe not _annoy_ people ;)

[2018-03-29 13:41] mr-kojo commented on #968
My suggestion would be to display an alert message, similar to the one shown when the password or email address is changed.

[2018-03-29 14:14] neuroleptic commented on #968
@mr-kojo I'll implement those changes.

[2018-03-29 14:30] tiltec commented on #968
I found it nice to get redirected back to my profile page after changing my user details. Maybe we should collect actual user feedback though.
Maybe @djahnie knows if any user mentioned something related?

[2018-03-29 15:05] mr-kojo opened #988 "Loading button animation no longer working"
I noted that the quasar buttons don't show this `loader` animation anymore (which is triggered by the `statusMixin`).

@tiltec, might this be the result of the quasar update?

[2018-03-29 15:13] tiltec commented on #988
Indeed, the API changed: http://quasar-framework.org/components/button.html#Button-with-Progress
I can update this, but it might be a nice starter task too :)

[2018-03-29 15:18] mr-kojo commented on #851
No longer reproducible :)

[2018-03-29 15:18] #851 closed

[2018-03-29 15:30] mr-kojo commented on #936
After the quasar update (#974) the alerts don't work properly anymore:

1. They aren't dismissible even if specified so
2. They aren't shown if logged out
3. They aren't shown in the foreground

I think that's a good opportunity to tackle this now and implement a unified mechanism for how alerts are displayed.

[2018-03-29 15:42] mr-kojo commented on #970
@tiltec Okay, can you please open an issue for this?

[2018-03-29 16:25] djahnie commented on #983
I thought that was the exact idea. Do we need to sugarcoat it more..? :wink:

[2018-03-29 16:33] djahnie commented on #968
I only know that it's nice to see _something_. If nothing happens users are unsure if their changes have been effected or not. This could definitely be achieved with an alert as well.
I think @mr-kojo's point is valid because there are multiple 'save' buttons. But if we don't have the redirect I'd maybe put a button down below that explicitly takes you back to your profile.

[2018-03-30 09:19] mr-kojo commented on #937
@chocos10 right, @tiltec has already mentioned that in his comment above ;-)
And I think this is part of client-side validation anyway (which is why I didn't create an extra bullet point for it).

[2018-03-30 10:04] chocos10 commented on #937
I thought @tiltec  was talking about something else .

[2018-04-01 18:48] ananya-agrawal commented on #976
should the default be made blank or you are planning something else?

[2018-04-02 01:43] peterkshultz commented on #893
Hi all! Cool that @jskollin and I take this on?

[2018-04-02 13:25] tiltec commented on #976
The weight field can be set to `null` or `undefined`, then the backend can differentiate it from being `0`.

[2018-04-02 17:24] inktrap opened #994 "Open/Close message below search box should be Show/HIde"
IMHO the Open/Close messages below the search box should be Show/HIde because that is what they do.

[2018-04-02 17:25] inktrap commented on #994
Would it be beneficial to look through the whole app at some point for similar improvements, or is this irrelevant for now?

[2018-04-03 15:18] tiltec commented on #994
Can you clarify what this is about, e.g. with a screenshot?

I think it's important, improving UX is a constant focus for karrot.

[2018-04-03 15:22] tiltec commented on #893
Hi @peterkshultz thanks for your initiative & sounds good to me! But I'm not an expert on this topic, so you may want to get in contact with @nicksellen about it. He just started to go on a cycling tour, so it might take a few days to respond :biking_man: ;)

Did you work with browser notifications and service workers before?

[2018-04-03 15:58] nicksellen commented on #893
I'm still here! Should have it internet access generally anyway.

[2018-04-03 18:06] NakitaOza commented on #649
Could you please elaborate on this issue? What is the expectation in details. I am planning on working on this. :)

[2018-04-04 11:03] tiltec commented on #985
Duplicate of #649

[2018-04-04 11:03] #985 closed

[2018-04-04 11:05] tiltec commented on #649
It's about adding conversations to stores, similar to the group conversations (used in the "Wall" component in frontend).

![image](https://user-images.githubusercontent.com/4410802/38304189-d16a0954-3808-11e8-9792-c8799eca62b3.png)

That's quite a big thing for getting started though, did you already work with Django REST framework and/or VueJS by any chance? How much time do you have available?

[2018-04-04 14:54] mr-kojo commented on #937
@chocos10 I requested two changes to your pull request (please see respective comments in the code).
Sorry I couldn't review earlier...

[2018-04-04 18:42] djahnie opened #995 "Click on group marker on overview map doesn't show public group info"
When clicking the marker the group name shows, when clicking the name this happens:

It should take the user to the public group info, instead it tries to access to group. If the user is not a member of the group already this leads to the banana error 'Ooops, you are not a member of the group'.

[2018-04-05 04:28] NakitaOza commented on #649
I have some experience with DJango/Python. I haven't worked in VueJS yet. I can spend 5 hrs a week on this.

[2018-04-05 10:46] tiltec commented on #649
Cool! So I would suggest to focus on the backend part. Did you already have a look into karrot-backend codebase?

[2018-04-05 18:46] djahnie commented on #984
We now prepared most things for the release but got this error:

@nicksellen, do you know what's up with the phone state reading?

[2018-04-05 19:01] inktrap commented on #994
![karrot-world-open-close](https://user-images.githubusercontent.com/1449471/38386197-3114434a-3914-11e8-97fc-30751b13d384.png)

Since the result list is part of the same window, it shows/hides that part, the window stays open. That would be opinion.

[2018-04-05 19:43] NakitaOza commented on #649
So i did the below steps in the below order :
1. git clone https://github.com/yunity/karrot-docker.git
2. cd karrot-docker
3. git clone https://github.com/yunity/karrot-frontend.git
4. git clone https://github.com/yunity/karrot-backend.git
5. docker-compose up -d
6. docker-compose exec backend ./manage.py create_sample_data      //in karrot-docker folder

For the 6th point i get the error : No con

[2018-04-05 22:51] jfushada opened #997 "Outdated copyright year"
Hello! In the LICENSE file, it says that "Copyright (c) 2017 Foodsaving Worldwide Dev Team". Should it be updated to 2018?

[2018-04-06 09:45] #969 closed

[2018-04-06 10:13] mr-kojo opened #998 "Use toasts instead of alerts where appropriate"
In most of our use cases, quasar toasts are more appropriate than alerts.

[2018-04-06 10:15] tiltec commented on #997
Indeed, it should be updated to 2018 because we made relevant changes this year: https://softwareengineering.stackexchange.com/questions/210472/is-renewal-of-mit-license-needed-on-github-at-the-beginning-of-each-year

I wonder if there's a bot around that can take care of this automatically...

[2018-04-06 10:21] mr-kojo opened #999 "Redirect to previous page after editing group description"
The group edit page can get opened from multiple places:

- Group overview page (in sidebar, the "three dots menu")
- Group description page (one of the action buttons)
- If no store or group location is set: group map in sidebar

[2018-04-06 10:32] mr-kojo commented on #998
I would suggest we have them all displayed at the same position on the screen. Then they don't cover each other but instead give room for newer messages.

[2018-04-06 10:37] djahnie commented on #986
Last year in October @brnsolikyl (who I apparently am not able to properly mention, hm...) already asked for something very similar:

[2018-04-06 10:53] tiltec commented on #994
I think it's reasonable to change it to show/hide and keep representing the action, not the current state.

Maybe the main reason why it's open/close is because we had it already translated: https://github.com/yunity/karrot-frontend/blob/master/src/locales/locale-en.json ;)

[2018-04-06 11:50] tiltec commented on #999
@mr-kojo I updated the list (searching for `name: 'groupEdit'`).

I guess the logic should be as follows:

- if there is a previous page, redirect to it
- if not, go to group home page (group wall)

With this, we don't need to know about all the places where groupEdit gets opened.

[2018-04-08 14:15] chocos10 commented on #983
I think whenever user login or visits his own profile page a reminder popup on right bottom of the page should be displayed containing some message like "Would you like to complete your profile ?" or anything else.  @djahnie  @tiltec  your suggestions ?

[2018-04-08 14:47] codebyuma commented on #994
@tiltec would it be ok if I attempted to fix this issue?

[2018-04-09 07:46] djahnie commented on #983
I think I'd make the phrasing more explicit. Like 'You haven't added a mobile number yet!' and so on. I guess that would make for a huge popup if those phrases were added for description, profile picture and means of transport respectively, but I imagine them also disappearing one by one when the requirements are met.
Since this version would be pretty annoying indeed I think your suggestion to di

[2018-04-09 10:15] chocos10 commented on #983
@djahnie  ya poking user on every detail will be too much annoying (aggressive :laughing: ) and if popup or any alert appears on every page then also it wont be user friendly according to me.

[2018-04-09 13:49] djahnie opened #1001 "Mail notifications show deleted pickups"
Feedback from Nijmegen:

([Deepld](https://www.deepl.com/translator)) Feedback from EfA:

![image](https://user-images.githubusercontent.com/17573771/38501407-39503090-3c0d-11e8-985b-cfd1ad090d4c.png)

[2018-04-09 17:38] djahnie commented on #832
In the call I had today with Unai from Bilbao this was immediately requested, when I asked him for quick feedback from the top of his head.

[2018-04-09 18:46] tiltec commented on #832
I thought a bit about the backend implementation yesterday.

About **initializing a conversation**: if we had an API like this

`GET /api/user/{id}/conversation/`

then we would need to create the conversation on first access. That seems a bit unexpected, as GET requests shouldn't modify the database.

We could make it more explicit and say that `GET /api/user/{id}/conversation/` can return HTTP 4

[2018-04-09 18:47] tiltec commented on #994
@codebyuma please go ahead :)

[2018-04-10 13:58] tiltec commented on #994
Ah, I need to clarify that. There's two steps for adding messages:

1. add them to `locale-en.json`
2. upload to transifex

Step 2 should only happen once the changes are merged into `master`, so you don't need care about it now.

[2018-04-10 14:02] tiltec commented on #950
https://github.com/peterkshultz and https://github.com/jskollin are currently working on this.

https://github.com/peterkshultz/karrot-backend-1

[2018-04-10 15:12] codebyuma commented on #994
@tiltec awesome - ok I'll likely push up my PR tonight for review 👍

[2018-04-11 11:13] codebyuma commented on #994
PR is ready for your review: https://github.com/yunity/karrot-frontend/pull/1003

[2018-04-12 17:48] #994 closed

[2018-04-12 17:51] #820 closed

[2018-04-12 19:13] khalilchoudhry commented on #982
@nicksellen hi, do you or anyone else working on this feature?

[2018-04-12 21:06] pogopaule commented on #943
I'm new to this project, but I'll give this issue a shot.

[2018-04-13 05:30] nicksellen commented on #982
So far I just played around with the bot library and we discussed a flow that might make sense.

There would be one bot registered per karrot deployment. Someone would invite the bot into their group and ask it to register a group. It would then give you a code you can copy and paste into the group settings page.

That just gets the registration done. The next part is working out what to send to i

[2018-04-13 05:31] nicksellen commented on #982
Also this isn't a starter task so you would need to have done experience already before taking it on. What do you think?

[2018-04-13 07:33] khalilchoudhry commented on #982
Yes it isn't a starter task but i have been working with facebook chatbots lately with api.ai. I am interested to work on it this weekend. I will share the code with you guys and if it would make any sense, you can accept it or we can modifiy it as per suggestions if it is possible ?

[2018-04-13 15:46] peterkshultz commented on #786
Makes sense. I had tried implementing it with `Vue.use` in `src/main.js`, but wasn't seeing the behavior I was hoping for there either.

Given the size of the bundle, I'll try another implementation so long as @Hardiki is no longer working on this.

[2018-04-14 15:05] nakita-oza-incontact commented on #649
Setup is complete. Will start to work on this issue. Thanks! :)

[2018-04-14 15:07] NakitaOza commented on #649
Setup is complete. Will start to work on this. Thanks!

[2018-04-14 15:48] peterkshultz commented on #997
React found a workaround to this problem:

`Copyright (c) 2013-present, Facebook, Inc.`

https://github.com/facebook/react/blob/master/LICENSE

[2018-04-14 17:05] peterkshultz commented on #786
@tiltec: Given that older browsers don't support Quasar, it probably doesn't make sense to use one of Quasar's components (like a modal) to display the notice.

Would a simple Javascript window `alert()` make sense?

[2018-04-14 19:37] Hardiki commented on #786
Hi @peterkshultz, Sorry for the delay message, I am working on it, I have done some work on it. Will share the code with you soon.

[2018-04-14 19:44] peterkshultz commented on #786
Sounds great @Hardiki !

[2018-04-15 10:06] tiltec commented on #997
Seems a good solution and a quick fix :)

[2018-04-15 10:21] tiltec opened #1006 "Icon spacing in "delete account" button looks wrong"
Can be found on the bottom of the user settings page, probably introduced by the "Font awesome" upgrade #961

![image](https://user-images.githubusercontent.com/4410802/38777396-5a8658fe-40a7-11e8-8403-5800250b6948.png)

[2018-04-15 13:34] PhrydRhys commented on #997
Hello,
I would like to work on this issue.
Would the appropriate timeframe for the license be

now?

[2018-04-15 13:39] tiltec commented on #997
Thanks! Actually, it should say "2016-present", as the frontend history goes back to 2016.

On 15 April 2018 15:34:26 CEST, PhrydRhys <notifications@github.com> wrote:

[2018-04-15 13:57] Hardiki commented on #786
Here is the link to my Github repo here I have a bit of code, hope this helps. https://github.com/Hardiki/browserdetect

[2018-04-16 15:50] djahnie commented on #975
Feedback from Warsaw:
- Tomasz missed an obvious option for exiting the fullscreen map.
- He also criticized the missing options to show and hide things.
- And that in the mobile version there is no full screen mode at all, and no controls (show/hide users) by default.

[2018-04-16 16:26] tiltec commented on #975
The mobile map _is_ the fullscreen map, by the way.

On 16 April 2018 17:50:56 CEST, Janina Abels <notifications@github.com> wrote:

[2018-04-16 17:35] tiltec commented on #982
How would you add telegram notifications @khalilchoudhry ? Do you think api.ai would improve this significantly?

[2018-04-16 20:04] #998 closed

[2018-04-17 13:40] #1006 closed

[2018-04-18 12:20] mr-kojo opened #1011 "Wrong email template used when resending verification email"
Steps to reproduce:
1. Signup
2. Go to settings -> email
3. Click the link 'Resend verification email'

It will use the `change-email-request` template.
However, it should use the `signup-request` template instead.

The `change-email-request` template should be used only if the 'Resend verification email' was clicked after _actually_ changing the email address.

[2018-04-18 12:46] tiltec commented on #1011
Should be tagged `backend` instead of `frontend`, I guess?

[2018-04-20 02:06] km333 opened #1012 "Verify email link does not work when user is logged in"
Reproduce:
1. Signup with new account
2. Karrot logs me in even though my email not verified (I guess this is intentional)
3. I click the link in the email
eg. (changed)
https://karrot.world/#/email/verify?code=gz3uhx7oRIVs7j4p28xWxQwSVCooB9fyD4BR12js
4. It takes me to blank page (the bug)
5. I logout from Karrot
6. I click the email link again
7. It gives me the Success email verified page

[2018-04-20 17:48] tiltec commented on #1012
Hi @km333 thanks for the report!
Could you try again on https://dev.karrot.world? Which browser are you using?

[2018-04-26 07:54] tiltec commented on #882
@Hardiki how are you doing with this issue? I saw that https://github.com/date-fns/date-fns/issues/693 and https://github.com/date-fns/date-fns/issues/695 were recently closed due to inactivity by the maintainer. Seems a bit quick, but maybe they were in a cleanup round.

[2018-04-29 21:03] kellyhogan commented on #1012
Hello, I was not able to reproduce this issue with Google Chrome Version 65.0.3325.181 (Official Build) (64-bit).

1. Signup with new account
2. Karrot logs me in
3. Click on link in verification email
4. Successful email verification
![image](https://user-images.githubusercontent.com/17225886/39410922-c540b2ee-4bcd-11e8-89b0-8700b30ee158.png)

If after step 2:
3. Log out
4. Click on link in verif

[2018-04-30 07:13] tiltec commented on #1012
Seems good then! I also couldn't reproduce it, maybe @km333 used an older browser?
I'll close in the meantime, would reopen if someone else can reproduce the bug.

[2018-04-30 07:13] #1012 closed

[2018-05-01 00:25] sharad-vm commented on #1011
I'm new to this project and contribution on GitHub. I'd like to take a stab at this if nobody else is working on it.

[2018-05-01 08:42] pogopaule commented on #943
@tiltec Could you give me a hint on how to create the 17 members in the pickup? I'm struggling to modify https://github.com/yunity/karrot-backend/blob/master/foodsaving/management/commands/create_sample_data.py to behave that way.

[2018-05-01 09:43] mr-kojo commented on #1011
Great!

Please have a look at the [contribution guidelines](https://github.com/yunity/karrot-frontend/blob/master/CONTRIBUTE.md) at first. If you have any general questions, feel free to join the karrot_dev [slack channel](https://slackin.yunity.org/).

[2018-05-01 15:41] djahnie opened #1013 "Add option to make pickups mutually exclusive"
Feedback from Bilbao:
Mutually exclusive pickups would be appreciated. The exact use case is still unclear but I already inquired.

Original message from Unai:

[2018-05-02 08:32] pogopaule commented on #943
@tiltec I did not manage to change https://github.com/yunity/karrot-backend/blob/master/foodsaving/management/commands/create_sample_data.py in a way that I get multiple users in a pickup like your screenshot shows. There is always only one user in a past pickup. Could you give me a hint on how to do this?

[2018-05-02 08:43] djahnie commented on #1013
This is the thinking behind the feature request:

[2018-05-02 10:40] tiltec commented on #943
Hey @pogopaule, I see several ways how you could try it out:

1. use storybook (`yarn storybook`) to show a history entry with many users (`src/components/History/HistoryList.story.js`)
2. modify history getters to show many users (`src/store/modules/history.js` Line 30)
3. use the Django console and the Django ORM to add more users to a history entry (`manage.py shell` and `History.objects.get(id

[2018-05-02 10:42] tiltec commented on #1013
It seems related to #709

[2018-05-02 10:55] tiltec commented on #1013
It seems to be _one_ pickup, but the time is not fixed: has a range (10am-6pm) or two options (6pm, 10am)

[2018-05-05 12:36] pogopaule commented on #943
@tiltec
What do you think about displaying the number of users in a pickup if there is more than one user. The names are displayed in a tooltip.
The downside of this approach: you cannot click on a profile picture.
I tried to arrange multiple profile pictures in different ways but none looked acceptable to me...
![screenshot at may 05 14-28-47](https://user-images.githubusercontent.com/576949/3966

[2018-05-05 12:41] tiltec commented on #943
Seems good! Maybe even without the tooltip... the user can still access the names by clicking on the history entry, which shows the history detail view.

[2018-05-09 12:54] #786 closed

[2018-05-09 12:55] #937 closed

[2018-05-10 15:07] pogopaule commented on #943
Issue can be closed. Branch was merged https://github.com/yunity/karrot-frontend/pull/1014

[2018-05-10 16:04] tiltec commented on #943
Indeed.

You can automate this next time by starting your Pull Request message with the words "Closes #1014".

[2018-05-10 16:04] #943 closed

[2018-05-12 09:38] #980 closed

[2018-05-12 16:10] tiltec commented on #711
Maybe there's something in the Material icons?
https://material.io/tools/icons/?search=directions&icon=directions&style=baseline

You can just use them, they're included already.

[2018-05-15 14:51] pogopaule commented on #711
@djahnie Is it possible for me to get in touch with the EfA folks? They asked for a specific solution but I would like to get more information on the underlying problem they face. Plus I would like to show them my solution(s) to get a direct feedback.

[2018-05-15 15:25] djahnie commented on #711
Yes sure! I can give you an email address @pogopaule, if you write me via djahnie@disroot.org. I'm certain that they will be happy to have someone working on their request! :blush:

[2018-05-17 21:46] pogopaule opened #1018 "Improve KNotice on small screens"
The no pickups message hides the navigation bar. The screenshot was taken on an iPhone.
This UI glitch isn't visible on chrome's device simulation.

![img_6202](https://user-images.githubusercontent.com/576949/40205471-6d8ee6f2-5a2c-11e8-9edb-cd0069bc3cc2.PNG)

[2018-05-19 12:31] trmendes commented on #968
I went check what happen when I save my profile after change it and I'm redirected to the profile page.

I agree with @tiltec that it would be more useful to stay at the profile page instead because I might need to click at another save button since the settings is devided in groups.

It might look broken if I:

* change my profile picture
* change my description
* click at the "save button" from

[2018-05-19 13:09] trmendes commented on #995
I'm not sure if I understood it but to double check:

If I click on a group I'm not a member all I see is banana error and this is not what it should happen.

The suggestion to fix it would be If I click on a group I'm not a member I should see the public group info instead.

Is that right?

[2018-05-19 13:18] trmendes commented on #976
@tiltec What is the beckend status on this feature? If I set it to null or undefined will the beckend differ it from 0?

Btw....Is zero a valid weight for a pickup? I mean, If you have a pickup it must have a non zero weight. So if the user leave it as zero it is beacause the user has no idea about the weigth so the backend should take it as null or undefined and not use this for the statistcs, ri

[2018-05-19 14:37] pogopaule commented on #711
@djahnie I presented an EfA representative the new feature. She was happy with it's implementation.

[2018-05-19 15:46] djahnie commented on #995
Yes, that is how I meant it. Do you want to work on this, @trmendes?

[2018-05-20 05:10] kirakrishnan commented on #1011
Hi mr-kojo, I am newbie to opensource. can I work on this or is it finished.?

[2018-05-20 09:56] mr-kojo commented on #1011
Hey kirakrishnan,

Welcome to Karrot :-)
No work has been done on this issue yet so feel free to assign it to yourself.

[2018-05-20 12:53] sharad-vm commented on #1011
Hi @kirakrishnan ,

I did not get a chance to get to this yet. Please feel free to grab it from me.
I'll pick another issue at a later time.

Thanks!

[2018-05-20 12:55] pogopaule commented on #1011
Opened PR: https://github.com/yunity/karrot-backend/pull/542

[2018-05-20 19:57] pogopaule commented on #999
I'll work on this one

[2018-05-21 12:57] #863 closed

[2018-05-21 13:08] tiltec opened #1023 "Firefox Focus shows "unsupported browser" warning"
I just used Firefox Focus on Android and it unexpectedly shows our "unsupported browser" warning, introduced in #1005
I guess the browser version check fails.

NB. While working on this, it could make sense to switch to Quasar Platform detection to reduce the bundle size a bit: https://quasar-framework.org/components/platform-detection.html

[2018-05-21 13:13] tiltec commented on #1018
Thanks! Karrot is not well-tested on Apple devices, so every feedback is helpful. I can't reproduce this in Chrome on Android and Firefox Focus.

Can it be reproduced in Safari on MacOS?

[2018-05-21 13:36] pogopaule commented on #1018
Yes, that is possible. I'll try to fix it.

![screenshot at may 21 15-36-01](https://user-images.githubusercontent.com/576949/40310332-b1e052fe-5d0c-11e8-94ca-7d775a556d8d.png)

[2018-05-21 14:06] tiltec commented on #976
@trmendes
The backend accepts feedback entries with either `comment` or `weight` set, or both. If `weight` is set, any non-negative value is allowed, also 0. `null` and `undefined` are different from 0.

The rationale is that the `weight` field should be also used for statistics calculation, while the `comment` field is meant for humans only. A weight of 0 can be valid if people went to a food pic

[2018-05-21 14:11] tiltec opened #1024 "Karrot does not remember password in Safari"
From foodsharing Poland:

Seems strange to me...

@pogopaule Can you maybe reproduce this?
@djahnie Can you ask them to find out about the Iphone version in use?

[2018-05-21 14:13] tiltec opened #1025 "Some visual problems when signing up for pickups on Iphone"
From foodsharing Poland

I think @pogopaule used the website already on Iphone. Did the spinning wheel work for you when signing up?

Maybe it's also related to unstable internet connection. I wonder how karrot behaves when the response packet gets lost...

[2018-05-21 14:14] pogopaule commented on #1018
Intermediate result: There [seems to be a bug](https://css-tricks.com/forums/topic/safari-for-ios-z-index-ordering-bug-while-scrolling-a-page-with-a-fixed-element/) with `translate` in Safari.
It can be fixed by removing the rotation:

![screenshot at may 21 16-08-27](https://user-images.githubusercontent.com/576949/40312048-ffb12ad0-5d11-11e8-8dc0-4f58f71dd93b.png)

[2018-05-21 14:17] tiltec opened #1026 "Upcoming pickups from archived stores are visible in group wall and group pickups page"
From foodsharing Poland

They should be filtered out properly.

It would be better to disable pickup generation in backend if the store is not active. I remember that I didn't do it last time because it would make the code more complicated. Seems worth revisiting.

[2018-05-21 14:18] pogopaule commented on #1024
@tiltec No, I can't. Neither on my MacBook Pro nor on my iPhone 6s.

[2018-05-21 14:20] tiltec commented on #940
From foodsharing Poland:

I wonder if he is using the version that includes #944....

Other than that, I agree that it would be good to implement pull-to-refresh to make it look less buggy.

[2018-05-21 14:28] tiltec opened #1027 "Add push notification about upcoming pickups"
UPDATE in https://github.com/yunity/karrot-frontend/issues/1027#issuecomment-487307579

---

From foodsharing Poland:

I wonder what their use case is. We can only push little bits of unformatted information compared to emails that can contains lots of styled text.

I think mobile push notifications about joined and empty upcoming pickups make sense, but not the whole summary email.

[2018-05-21 14:30] tiltec opened #1028 "Options to sort/search the user list"
From foodsharing Poland:

For searching the user list, a filter field could be a good solution.
By "induction date", I guess they mean how long an user has been member in the group.

[2018-05-21 14:31] tiltec commented on #832
From foodsharing Poland

[2018-05-21 14:34] tiltec commented on #354
From foodsharing Poland

[2018-05-21 14:36] pogopaule commented on #1025
@tiltec Yes, it works for me. If I tap on the dotted square to sign up for a pickup I shortly see a spinning wheel and a second later my avatar.

[2018-05-21 14:39] tiltec opened #1029 "Screen reader thinks that karrot is always in English"
From foodsharing Poland:

We maybe need to set the [`lang` attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/lang) dynamically, currently my browser shows it as `en-us`. I don't know where it is defined, but overriding like this could be worth a try: https://forum.vuejs.org/t/settings-lang-sv-to-the-html-tag/7047

[2018-05-21 14:48] tiltec commented on #984
We apparently have the developer account now (at least I paid 25$), so it seems worth getting the app released. I'll draft a simple privacy policy in English and then check the next steps.

[2018-05-28 12:30] alekpentchev commented on #968
Is somebody working on this issue? What's the current status? I think I could help.

[2018-05-28 15:47] tiltec commented on #968
@alekpentchev This issue still exists in production and it's not clear yet what a good solution to it is. So I'd be happy if you could have a look at it :)

[2018-05-28 16:17] alekpentchev commented on #968
Cool, thank you. So I will try to resolve it.

[2018-05-30 14:34] tiltec commented on #709
Bruno from Solikyl requested a feature similar to this:

[2018-05-30 14:37] tiltec commented on #677
Bruno from Solikyl requested this feature:

[2018-06-03 11:53] tiltec opened #1033 "Sending group summary email fails if locale does not match"
The users locale is not normalized or checked, so it can contain any value.

I guess it should default to English in these cases.

https://sentry.io/foodsaving-worldwide/backend/issues/570775247/

[code]

[2018-06-04 10:42] #968 closed

[2018-06-05 17:53] mike-ap commented on #1029
Would it make sense to add a global Navigation Guard to @store/plugins/router.js to set the 'lang' meta attribute based on store.i18n.locale? I could give that a shot.

[2018-06-06 08:10] tiltec commented on #1029
Hey @mike-ap, welcome!
I'd put the `lang` set code in our [vuex store plugin](https://github.com/yunity/karrot-frontend/blob/master/src/store/plugins/i18n.js), as the language changes are unrelated to route transitions.

And we should make sure to check with a screen reader if it really did the trick :)

[2018-06-06 17:14] mike-ap commented on #1029
Great! I've added this functionality to the i18n store plugin and confirmed that this fixes the issue in the case of macOS VoiceOver.

There is a different voice for each language. Without setting the lang tag, VoiceOver will continue using the voice that matches the **browser's** language. When the tag is set, VoiceOver uses the lang attribute voice. The user was likely hearing the screen reader'

[2018-06-07 11:40] tiltec commented on #1029
Sounds good. From my POV, no testing is needed and you can directly call `document.documentElement.setAttribute('lang', locale)` from the store plugin.

Ping @nicksellen because he has stronger opinions about testing than me ;)

[2018-06-07 13:19] mike-ap commented on #1029
OK, I've inlined it and pushed in case nicksellen is in agreement.

[2018-06-09 18:11] mitjanikolaus opened #1035 "[Feature Request] Add possibility to sign up for recurrent pickups"
It would be nice to have the option for end users to join pickups recurrently. For example, I know that I will do one specific pickup every Tuesday. Most of our volunteers have such regular shifts so it would be nice if they would only have to interact with the system if something changes about their regular shifts.

[2018-06-09 18:20] #1029 closed

[2018-06-09 18:31] tiltec commented on #1035
Indeed that seems like a feature we should consider now.

foodsharing.de has this feature as well, but I decided not to copy it when I started karrot development. From my perspective, it wasn't used widely. Where it was used, it made the pickups less friendly for newcomers, because they are already taken by someone.
As upside, I can see that recurring pickups done by the same people, increase the

[2018-06-09 18:50] djahnie commented on #1035
Just out of interest, what foodsaving group are you requesting this for, @mitjanikolaus?

[2018-06-09 18:59] mitjanikolaus commented on #1035
I am asking for de Voedselkringloop in Amsterdam.
Regarding the issue with newcomers: I think it is always good to have the option for additional people to join pickups even if there is already a person doing it. Like this newcomers can easily be integrated :)

[2018-06-10 13:40] nicksellen commented on #677
Ok, I added a backend implementation. The frontend is a much bigger topic though. It might make sense to built it on top of https://github.com/yunity/karrot-frontend/pull/855. Or maybe not.

[2018-06-10 14:58] nicksellen commented on #677
So it might be a sidebar thing like the slack thread UI will work well here. On desktop it would sort of sit over the top, and on mobile be a full page.

[2018-06-10 15:57] nicksellen commented on #677
Here's a quick idea. It's the existing `<Conversation>` component (reversed) put inside a `<QLayoutDrawer>` on the right:

![pickupchat](https://user-images.githubusercontent.com/31616/41203437-24c19c54-6cd7-11e8-9b00-856a30c35336.png)

[2018-06-14 09:55] oldPadavan commented on #1001
[code]
When PickupDateSeries gets deleted it sets deleted = True at each upcoming PickupDate, but only at those having 0 collectors. Thus if there are already any collectors for the pickup it won't be marked as deleted even though its PickupDateSeries was deleted. It might me the cause of this bug

[2018-06-14 14:34] nicksellen commented on #677
... and getting it a bit more refined ...

![pickup-conversation](https://user-images.githubusercontent.com/31616/41418782-c3699124-6ff0-11e8-9d35-08d4bdebf1e6.png)

[2018-06-14 19:40] tiltec commented on #1001
Good find, but the behavior was implemented like this on purpose. My thinking was that pickups shouldn't get deleted in a batch process when people already signed up for it.

I think the problem is somewhere else, because it affects pickups that are already deleted. My guess is that the `pickup.deleted` field is not checked when gathering data for the pickup notification email.

[2018-06-14 19:46] tiltec opened #1038 "Group-specific welcome emails"
Teddy wrote in Slack:

Bruno added:

[2018-06-15 08:31] oldPadavan commented on #1001
Thanks for comment @tiltec . Initially I was also thinking about missed `pickup.deleted` somewhere in task code which generates the mails. As I understand 2 types of notifications are mentioned in the bug description: group summary emails for the first case and pickup notifications for the second one. I've checked - both of them contain `deleted=False` in the filters. That's why my idea was that d

[2018-06-15 10:19] tiltec commented on #1001
Possibly! I'll try it out in dev.karrot.world and close if I can't reproduce.

By the way, here's a discussion about the feature you found above, where a change to the pickups series doesn't get applied to the individual pickup if it has collectors: https://github.com/yunity/karrot-frontend/issues/611
It's not completely clear to me if it would be better to remove this feature or just make it more

[2018-06-16 12:00] #976 closed

[2018-06-16 16:36] tiltec commented on #1001
Bug doesn't seem to exist anymore, possibly it's a confusion cause by #611 that needs to be addressed separately.

[2018-06-16 16:36] #1001 closed

[2018-06-16 16:56] nicksellen commented on #982
https://github.com/yunity/karrot-backend/tree/telegram-notifications is my branch from ages ago. I can't remember the state of it. Don't expect much.

[2018-06-20 07:35] oldPadavan commented on #1026
Is this issue still valid? I've tried to reproduce this behavior, but didn't succeed. I archived the store and don't see its pickups any more. Wasn't the issue closed by yunity/karrot-backend#483?

[2018-06-20 09:17] #972 closed

[2018-06-20 20:55] #940 closed

[2018-06-20 22:27] PaulFree14 opened #1043 "using github is indirectly supporting fascism"
As many of you propably know, github got bought by microsoft.
Yet there is many to say about microsoft, but I believe it's important to have current events in mind, and how the struggle for free software can be linked with those of others.

That's how resisting becomes more powerfull, when the opressed give visability to each others struggle and take action of solidary.

Microsoft is currently sup

[2018-06-21 01:35] nicksellen commented on #1043
Thanks for your thoughts :)

[2018-06-21 01:35] #1043 closed

[2018-06-21 15:00] tiltec opened #1044 "Karrot logo in Android notification bar looks like a bomb"
Janina mentioned today that the karrot logo in the android notification bar (when using the app) looks like a stylized bomb.
It could look more like the karrot logo (maybe just the karrot, without the yellow circle?)

[2018-06-21 19:50] nicksellen commented on #1027
Yes, seems reasonable to send out the evening picking notifications via push aswell, in a condensed text form.

Could also consider the individual pickup notifications, e.g. 2h before the pickup is due when no-one is signed up... emergency notifications!

[2018-06-21 19:52] #1011 closed

[2018-06-23 14:34] nicksellen opened #1046 "Preview pickup chat"
Bruno from Solikyl said:

It would be a bit like slack channel previews - and the user would not become part of the chat, but just have read-only view of the chat.

[2018-06-24 10:56] tiltec commented on #999
I visited #999 again and came to the conclusion that `router.go(-1)` is not fitting here. Main problem is that it breaks "back button navigation".

This is how it should be:
1. user visits some group page and clicks edit
2. user makes a change and clicks save
3. user sees effects and wants to edit again, clicks back button
4. user is on group edit page again

#999 will break (4). Right now, (3) is

[2018-06-25 11:02] tiltec commented on #878
As you are progressing quite nicely with the backend implementation, maybe we could clarify "Step 1". How would you display trust data to the affected user and to other users?

Further into the future, in response to your solution:

Generally nice idea, but needs to be smoothed around the edge cases. For example, if there is no trust and everybody is admin and then the first person gives trust, th

[2018-06-25 11:36] nicksellen commented on #878
There was some [feedback](https://yunity.slack.com/files/U32KAV9UP/F9DV755NV/The_Karrot_group_model) from @djembejohn about this proposal, here's the relevant bit:

This sounds a quite plausible analysis of it and as such I feel a bit unsure if this trust model is the right way to go (compared with the alternatives voting and/or undo - or would this compliment it?).

One approach would be to simpl

[2018-06-25 16:53] tiltec opened #1050 "Improve handling of email bounces"
Currently, a failed email delivery disables notification emails for 6 months. This is problematic:

- a temporary failure of someones email server or "inbox full" has severe effects
- the user doesn't get notified about failed deliveries, so they can't take action

To improve the situation, I'd propose the following:

- never disable email notifications (or only after 10+ failed deliveries in <3 m

[2018-06-26 21:59] spaceywolfi commented on #1043
@PaulFree14 looks like there are already people taking action...
https://github.com/selfagency/microsoft-drop-ice

i'm personally not so worried about github become a "fascist" and "evil" organization. Microsoft changed the CEO and he actually seems pretty cool, he is a strong supporter of open source and was actually part of the linux community for some time. The structure of github is not going

[2018-06-27 01:07] PaulFree14 commented on #1043
@spaceywolfi
thx for the link.

do you mean Satya Nadella?
When reading their respond to employees that signed a petition so that microsoft steps out from working with ICE, it was in a nutshell: We don't do anything wrong, because we don't work directly with child detention. We provide software and hosting service for ICE. This is ethical correct and inline with our values.

...aka we only served

[2018-06-27 11:31] nicksellen commented on #1043
@PaulFree14 / @spaceywolfi - as neither of you are contributors or users of the karrot software, and this is a closed issue, I think you can find a better place for your discussion. Mastodon seems the best place, given you have both already been discussing it there.

[2018-06-27 13:17] PaulFree14 commented on #1043
I contribute issues. :-p

[2018-06-27 14:23] spaceywolfi commented on #1043
paul has a point, if it were in our interest we could participate in this direct action that i have linked above, but since majority of people here are not interested in this direct action we might as well close this discussion here

[2018-06-27 15:42] tiltec commented on #909
Seems to be quiet :)

[2018-06-27 15:42] #909 closed

[2018-06-27 15:43] tiltec commented on #882
I'll close this because of no activity. If you are motivated again, would be great to have full Hindi support in karrot :)

[2018-06-27 15:43] #882 closed

[2018-06-27 15:47] tiltec commented on #798
@djahnie received a request from Foodsharing Poland to remove a member. We didn't act on it, but @nicksellen had the idea to found a karrot.world admin group and define a formal process how users could be removed from groups. This could be a good solution for general admin topics and it might be a relief for affected groups before karrot receives a built-in removal feature.

[2018-06-27 15:48] tiltec commented on #677
Done :)

[2018-06-27 15:48] #677 closed

[2018-06-27 15:48] tiltec commented on #878
This morning @alangecker @nicksellen @djahnie and me had a chat about this topic. I'll try to summarize, but also state my own points again.

Trust carrots are a nice idea to reinforce positive feedback to other group members and have the potential to build a web of trust and use that for assigning roles in a group. However, it needs significant testing with real groups before trust values should

[2018-06-27 17:20] #902 closed

[2018-06-27 17:20] #975 closed

[2018-06-27 18:22] tiltec commented on #1050
Statistics about failed deliveries are already in https://app.sparkpost.com/reports/bounce (login required) so it doesn't seem necessary to collect them ourselves. Except to have everything in one dashboard.

I could add influxdb statistics about emails that were prevented to send because of
- failed deliveries
- missing verification
- notification toggles

Seems to involve some extra database wor

[2018-06-28 12:15] #832 closed

[2018-06-29 12:35] #1023 closed

[2018-06-29 19:34] nicksellen commented on #428
We could revisit this now @tiltec :)

[2018-06-29 19:52] tiltec commented on #428
Yeah, seems fine. I remember that they used the emails in Gothenburg, so could ask Bruno if they still need these information via API.

[2018-06-29 19:54] tiltec commented on #355
Silvia from Efa asked

I'll raise the priority of this issue, but details need yet to be figured out.

[2018-06-30 08:45] tiltec opened #1058 "Investigate HTTP500 when serving static JS files"
https://sentry.io/foodsaving-worldwide/karrot/issues/513031124/

[code]

[2018-07-03 12:51] DougInAMug commented on #1035
Bump: For Foodsharing Edinburgh, this would be a significant improvement. All of their stores are coordinated/picked-up by the same person(s). Not having this feature would mean a lot of work for them if they wanted to start using Karrot.

(Further to the Foodsharing Edinburgh meeting I attended 2018-07-02)

[2018-07-03 14:07] nicksellen commented on #1035
Thanks!

The main hesitation here is to avoid the scenario where the same people "block" certain pickups forever preventing other people from doing them.

One way to solve this would be to only allow recurring collectors _if_ you also have some other slots available for non-recurring collectors - which fits in nicely with the idea from @mitjanikolaus.

Any thoughts?

[2018-07-04 16:08] nicksellen commented on #955
As @tiltec added the ability to edit your messages, it meant including the infrastructure to push message updates to the frontend, which means this task is much easier to implement now! Just backend change should be required on reaction add/delete. You can push the whole message to the user.

[2018-07-04 20:51] #955 closed

[2018-07-05 14:07] tiltec commented on #552
We now have pickup conversations and user conversations which are presented in a "detail" sidebar. This issue seems to be lower priority because people can talk about this in a pickup conversation.

At some point, it could be good to add more information to the pickup detail sidebar, e.g. the means of transport. It should be stored per pickup per user, perhaps with some predefined choices.

[2018-07-05 18:33] tiltec commented on #923
Seems mostly done. We could add the dashboard JSON export to karrot-backend git or yuca ansible git from time to time, in order to not lose configuration on bad luck.

[2018-07-10 12:29] tiltec commented on #355
Next steps:
- analyze response time for store statistics endpoint (via grafana.yunity.org)
- add some kind of caching, either via django caching infrastructure or by precalculating values in the database
- make store statistics more prominent in the frontend (currently they are quite hidden on the feedback page)
- add group statistics endpoint
- add user statistics endpoint
- add fancy statistics

[2018-07-10 13:21] tiltec opened #1062 "[Brainstorming] User trust/permission levels"
This issue discusses the high-level topic of different user levels and their permission handling.

Inspired by
- the [Discourse user trust levels](https://blog.discourse.org/2018/06/understanding-discourse-trust-levels/)
- the self-regulated hierarchy proposal #878
- the request for a student mode for newcomers #546
- the necessity for a group approval process #894

I talked to @nicksellen today a

[2018-07-11 13:39] tiltec commented on #894
Based on the high-level planning of #1062, we had a planning and design session today with @nicksellen @djahnie @taistadam and me. The goal was to design a simple application process that can be implemented by us in the next weeks.

After some hours of thinking and drawing, we ended up with a feature that includes an application form, a conversation between the group and the new user and an applic

[2018-07-11 22:04] djahnie commented on #894
Thanks for the writeup, @tiltec!
So apart from graphical design details open questions are the following, I'd say:
- Can an application be submitted with empty text field(s)?
- Is there a time limit for a pending application?

And most importantly of course:
- Shall we have the initial questions and answers posted inside or outside the conversation and how does it work in detail?

Next meeting on

[2018-07-16 12:30] tiltec commented on #672
This feature seems rather decoupled from other karrot features and relatively low priority, but it seems worth implementing in the next year or so.

[2018-07-16 12:32] tiltec commented on #846
As communication becomes a main karrot feature, this would be helpful! @nicksellen already had some ideas how to implement threads using our existing conversation feature, so this could happen in the half a year or so...

[2018-07-16 12:47] tiltec commented on #610
The group wall seems to be the main location for notifications and group conversation, so we should be careful to keep it relevant to users.

If there's more information to display, it would be better to split them into separate categories, to be shown on different pages:

- notifications: system-generated text, events that should have high priority to the user, need to be marked as read
- activit

[2018-07-16 12:49] tiltec commented on #683
This is being superseded by the experiment in #1047

[2018-07-16 12:49] #683 closed

[2018-07-16 13:02] tiltec commented on #676
We could implement a basic CMS system that uses the Django admin interface. These settings would be served via API and the frontend would load and adapt dynamically. That would allow the same frontend to be used for all deployments, which is especially helpful for the app, as it wouldn't need to be rebuilt and published separately for every hosted instance.

[2018-07-16 13:10] tiltec commented on #428
This discussion could be forwarded into https://community.foodsaving.world

[2018-07-16 13:12] tiltec commented on #671
Given that no user mentioned this as problem, this issue can be closed.

[2018-07-16 13:12] #671 closed

[2018-07-16 13:13] tiltec commented on #260
Closing this in favour of #878

[2018-07-16 13:13] #260 closed

[2018-07-16 13:14] tiltec commented on #546
This is likely to get implemented as part of user level 2 as outlined in #1062

[2018-07-16 13:16] tiltec commented on #354
This seems to become more relevant. There have been related ideas such as scheduling hangout locations on karrot (ask Bruno) and marking locations to drop off food (Essen für Alle?).

[2018-07-16 13:30] tiltec commented on #1026
This is resolved :)

[2018-07-16 13:30] #1026 closed

[2018-07-16 13:31] tiltec commented on #1025
Closing because of inactivity.

[2018-07-16 13:31] #1025 closed

[2018-07-16 13:31] tiltec commented on #1024
Closing because of inactivity.

[2018-07-16 13:31] #1024 closed

[2018-07-16 13:33] tiltec commented on #1018
Maybe the green card should look different on mobile anyways? It doesn't look very good...

[2018-07-16 13:36] tiltec commented on #1013
I'll merge this with #709

[2018-07-16 13:36] #1013 closed

[2018-07-16 13:37] tiltec commented on #709
#1013 is a related issue

Original message from Unai:

[2018-07-16 13:41] tiltec commented on #978
@nicksellen is working on more integrate-y tests on the frontend, which would make end-to-end tests look less useful (because of them being slow to run).

[2018-07-16 13:41] #978 closed

[2018-07-16 13:41] brnsolikyl commented on #1062
I like the proposal! Some questions: does passing from UL1 to UL2 require the approval of more than one member? And would the invitation feature bring the invited user directly to UL2? I think some groups would appreciate having a more straightforward process of joining the group and beginning doing pickups, and that would require the approval or invitation of only one member, whereas others would

[2018-07-16 13:42] tiltec commented on #973
As Nick is revisiting this topic up in #1047 and makes much bigger changes, I'll close this issue.

[2018-07-16 13:42] #973 closed

[2018-07-16 13:43] tiltec commented on #964
As far as I know, LMR Fürth are not using karrot and nobody else requested this feature, so I'll give it some rest :)

[2018-07-16 13:43] #964 closed

[2018-07-16 13:46] tiltec commented on #958
As this is being revisited in #1047, I'll close this issue.

[2018-07-16 13:46] #958 closed

[2018-07-16 13:48] tiltec commented on #956
I have the feeling all points are either solved or obsolete.

[2018-07-16 13:48] #956 closed

[2018-07-16 13:49] tiltec commented on #952
My last profiling showed that `PickupUsers` is especially slow. I would focus on rendering less pickups, ideally only those that the user is looking for. Could add some filters to the pickup list ("this week", "next week")

[2018-07-16 13:53] #927 closed

[2018-07-16 13:56] tiltec commented on #905
Would be good to have, but we should work on better navigation first.

[2018-07-16 13:56] #905 closed

[2018-07-16 14:00] #886 closed

[2018-07-16 14:02] tiltec commented on #898
With the new group application process and removal of the password feature, this might become less important.

[2018-07-16 14:02] #898 closed

[2018-07-16 14:10] tiltec commented on #884
I guess we should switch to channels 2 soon to not have this problem anymore: https://github.com/yunity/karrot-backend/pull/532

[2018-07-16 14:13] tiltec commented on #878
Related to my previous comment and the brainstorming in #1062, it seems to me that karrot doesn't need a self-regulated hierarchy soon. The trust carrots feature could be a core part of the process of becoming a full member (user level 3 in #1062).

[2018-07-16 14:15] tiltec commented on #613
Further reason to merge repositories: translation strings could be reused if we manage to use PO files in the frontend.

[2018-07-16 14:34] tiltec commented on #1062
@brnsolikyl
The first implementation will require only one member to accept or decline the application. It would be good to support other cases as well in future and ideally make it flexible, but I would like to test this feature for a few months in production before extending it.

My feeling is that student mode (UL2->UL3) should be implemented before that (so it's actually not super critical if

[2018-07-17 12:15] #711 closed

[2018-07-17 12:38] tiltec commented on #611
I'll merge this into #611

[2018-07-17 12:38] #611 closed

[2018-07-17 12:47] tiltec commented on #797
Possible next steps:

- add a button to the pickup edit window: "reset to series default" (#611)
- **or:** add a checkbox when saving series: "override changed pickup settings"
- **or:** add a modal on saving series: "this series contains pickups with changed settings, do you want to override?"

- add a list to series delete: "these pickups will not get deleted because people already joined them.

[2018-07-20 16:23] #846 closed

[2018-07-22 11:00] tiltec commented on #546
First implementation proposal:

Define a user role that can join and leave pickups, write messages and see all group information. I guess we would rather define the UL3 role that can do all things and migrate existing users to have it -> https://github.com/yunity/karrot-backend/pull/519

A user gets UL3 when the user was approved by 3 members, or half the number of UL3 that are active (we take the

[2018-07-22 13:08] #884 closed

[2018-07-22 14:15] tiltec commented on #932
Seems the best option is to use custom querysets, like this:

[code]

They are chainable and allow for dynamic parameters:

[code]

[2018-07-22 17:45] tiltec commented on #878
I added steps to the implementation proposal https://github.com/yunity/karrot-frontend/issues/546#issuecomment-406857548 that are very closely related to this issue.

There are some key differences to this proposal here:
- trust is only used to become full member (UL3), if you get more trust it only has informational value
- trust can't be taken back
- trust does not expire
- once you have UL3, yo

[2018-07-23 20:38] #932 closed

[2018-07-23 20:45] tiltec commented on #546
We had some discussions yesterday about whether it could be useful to include a role that allows joining/leaving pickups (and prevents joining pickups if you don't have that role). My position is that it's not needed for the first iteration of this feature as the more important bit is the way how to progress from newcomer to `editor`.

[2018-07-24 00:37] VeggieTeriyaki commented on #891
Hi @tiltec , I think I will try to work on this issue.

[2018-07-24 07:39] nicksellen commented on #546
I wonder if this is really just implementing admins - as the user without the `group_editor` role can do almost all the things that are useful to a normal member it kind of makes `group_editor` just the admin role.

I can imagine groups using it as if it's an admin feature as there seems not much incentive to progress people from their initial position in the group.

I think it's still a useful ro

[2018-07-24 09:35] nicksellen opened #1066 "Re-organize frontend into modules"
We are gathering quite a lot of frontend files now, store modules, components, etc, and it might be a good approach to re-organize them into modules that contain all related things for a given area of the page, e.g. conversation routes, store modules, API methods, and components would all live inside a `conversations/` module directory.

It would be nice to have increased test coverage if possible

[2018-07-24 13:29] nicksellen commented on #1066
Could take some inspiration for component structures from http://atomicdesign.bradfrost.com/chapter-2/

[2018-07-24 13:53] tiltec commented on #546
I see it the same and I'd also like to see a bigger incentive for people to give trust.

Another topic that just came to my mind: what if all editors become inactive, not accepting new members and not progressing newcomers into being editors?
Maybe an auto-accept and auto-trust feature would be useful, in a later implementation?

[2018-07-25 07:04] tiltec commented on #546
Giving trust to users could be connected to giving pickup feedback. The UI would ask "You did a pickup with these newcomers. Do they seem trustworthy?"

This would create a certain pressure to give trust, maybe the selection could even be reversed and people have to be deselected. Although this would lead to the expectation that the people giving feedback usually also give trust to newcomers. An e

[2018-07-25 13:47] tiltec opened #1068 "Add Content Security Policies and set up reporting"
@nicksellen proposed to set up some CSPs for karrot-frontend to enhance security. They consist of an HTTP header that we should probably configure in ansible and add a reporting service.

Documentation about CSP: https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP
Our ansible playbooks without CSP: https://github.com/yunity/yuca
Using sentry as a CSP reporting service: https://docs.sentry.io/lea

[2018-07-25 14:45] guidocalvano commented on #1035
@nicksellen I might have a different approach to tackle your problem (though I don't know yet how difficult it might be to build or if it makes sense);

Allow new volunteers to assign themselves to a pickup that has been permanently assigned. If this happens the recurrent assignee gets an email informing them that a new volunteer has taken over their shift. The change could happen automatically or

[2018-07-26 14:12] tiltec commented on #546
Here's my meeting summary.
Participants: Nick, Tais, Janina, Tilmann.
Location: Kanthaus Garden

We talked about the group editors role, potential problems and solutions.

The group editors role and the trust system are supposed to solve these problems:
- Prevent new people from accidentally breaking group settings (store settings, pickup settings etc)
- Make it possible to accept new members with

[2018-07-26 16:05] tiltec commented on #546
A follow-up discussion with Janina, Tilmann and Tais revealed a potentially easier way to handle introductory pickups: we allow newcomers to join any pickup, but show them with a special color or badge. Editors should recognize this and add themselves to the pickup as well. If the pickup is not suited for introductions, it can be specified in the pickup comment or discussed in the pickup chat.

[2018-07-26 20:50] djahnie commented on #324
Sounds good!

Especially the explicit agreement during the application process and the automatic removal after a certain period of time, in case the agreement changes. I'm just not sure if 30 days are maybe not too much. I mean, if this is actually about legal issues, it could be that sometimes immediate action is required, so I'd reduce the time frame to 14 days, send out an email notification an

[2018-07-26 21:57] djahnie commented on #610
If we separate notifications and conversation into different pages, then we don't have a dashboard, or is activity meant to be the dashboard? Could also be okay to not have one though, I'm mainly pointing it out...

Just to get more clarity on what you mean exactly with the three categories you mentioned, @tiltec, is it somewhat like this?:
- conversation: the group wall
- notifications: e.g. upco

[2018-07-27 10:39] nicksellen commented on #546
I updated the title to reflect the more focused approach we go with right now.

[2018-07-27 10:41] nicksellen commented on #878
Ideas from this threads are being implemented to address group newcomers - https://github.com/yunity/karrot-frontend/issues/546 is the more accurate issue for tracking this.

The more extended ideas discussed here about a trust system are not being implemented right now, although they could be implemented in the future. So, I close this issue now, but can be reopened if interest/implementation/ide

[2018-07-27 10:41] #878 closed

[2018-07-27 10:54] tiltec commented on #354
It's unclear whether we should generalize stores and pickups or add new data structures to handle locations and events.

[2018-07-27 10:58] tiltec commented on #354
Would be useful to collect the requirements from groups:

- what should be publicly displayed and what should be internal?
- do we need event management or is a simple description enough?
- should there be a conversation feature attached (e.g. public wall)?

It would be good to write a post on the community forum about this and gather feedback.

[2018-07-27 11:03] nicksellen commented on #355
There is some related discussion over at https://community.foodsaving.world/t/statistics-about-the-amount-of-saved-food/85

[2018-07-27 11:08] nicksellen commented on #324
Some related discussion from the forum https://community.foodsaving.world/t/legal-agreements/75

[2018-07-27 11:11] tiltec commented on #798
This is being discussed in #853 so closing this as duplicate.

[2018-07-27 11:11] #798 closed

[2018-07-27 12:54] nicksellen opened #1070 "Add conversations overview"
At the moment you can have conversations in the following places:
- on a group wall
- in a group wall thread
- on a pickup
- in a private chat with another user

But there is nowhere that shows you how many unread messages you have overall, and how to navigate to those places. It is very easy to miss messages at the moment.

The idea would be to have a conversation overview page where you can see

[2018-07-28 14:40] djahnie commented on #1035
I like that idea, @guidocalvano! Another way of implementing it could also be that a permanently assigned pickup always has an extra slot, so that a potential new collector automatically enters the pickup chat with the old collector, when signing up. This way both can then converse to find out if it makes sense to go together, if the old one has any resistance to letting the new one take over, or

[2018-07-28 14:56] djahnie commented on #354
I wrote a post. You find it [here](https://community.foodsaving.world/t/food-share-points/94).

[2018-07-30 09:45] tiltec opened #1072 "Implement extended emoji picker for reactions"
Right now, we hardcoded a selection of 5 in the frontend:

![image](https://user-images.githubusercontent.com/4410802/43389579-5898289a-93ec-11e8-8acd-fdcfb4e935b8.png)

It would be nice if people could choose from more emoji when giving reactions.

Our implementation already supports all of [twemoji](https://twitter.github.io/twemoji/2/test/preview-svg.html), so the only thing that's left is a ni

[2018-07-31 11:05] nicksellen opened #1076 "Fonts are not served from correct path on cordova android app"
As a result of https://github.com/yunity/karrot-frontend/pull/1075 the font asset path is not correct when running on the cordova android app.

I checked _5_ different environments whether it worked, but not the 6th :/

[2018-07-31 19:53] VeggieTeriyaki commented on #891
I'm currently working on it. Just exploring the backend so I can understand what's going on and then will work on it.

[2018-08-01 08:11] agatatalita commented on #865
Hi @harsha4444  did you make any progress with this?

[2018-08-01 18:01] tiltec commented on #1076
Images from `/assets/images/` are also not served in cordova, apparently cordova doesn't resolve the absolute path correctly. I assume cordova root is something with `file:///android_asset/`.

There's a global variable available: `cordova.file.applicationDirectory`, which should contain the root directory: https://github.com/apache/cordova-plugin-file/#android-file-system-layout

So I guess we nee

[2018-08-01 22:34] #1076 closed

[2018-08-03 10:00] nicksellen commented on #891
Great! Feel free to ask us questions in slack, etc...

[2018-08-06 15:41] tiltec opened #1079 "Replying to wall messages via email should open a replies thread"
Currently when someone writes on the group wall and another user replies via email, it will create another wall message. As we have the replies feature now, it would be better to stick the reply into a replies thread.

Steps:
- Disable email batching for wall messages, so that we can clearly find out which message the user replied to
- Insert message id as thread_id
- ???

[2018-08-07 14:18] tiltec opened #1080 "[Blocking] Babel does not transpile properly"
I noticed it today when testing with IE11, but this could also affect other browsers. IE11 complained about remaining object shorthand notation.

I ran [es-check](https://github.com/dollarshaveclub/es-check) over our dist files to get better overview:

[code]

It shows quite some errors, mostly "unexpected token".

When I ran `es-check` on the current production code of karrot.world, it said:
[cod

[2018-08-07 18:48] #1080 closed

[2018-08-19 08:31] nicksellen commented on #1070
What about the group wall threads? They do normally go in a detail sidebar, maybe it makes sense to include them too, not sure.

But I agree about wall messages themselves, they don't seem to quite belong in a conversation overview.... but it would be nice to have the unread message notifications for walls/threads somewhere.

[2018-08-19 09:48] nicksellen commented on #1068
Hmm, there are some fiddly complications. Mostly because I would like to get the git sha in the report-uri as the sentry "release". But because the ansible project is independent from the frontend deployment it does not have the git sha available. A few options:

1. deploy frontend via ansible in such a way we get the git sha available and can modify the nginx config - don't like this one so much

[2018-08-19 09:54] nicksellen opened #1083 "Weekly summary emails say Saturday to Saturday"
e.g. `Saturday, August 11, 2018 to Saturday, August 18, 2018`

It should show Sunday to Saturday, otherwise it seems like each Saturday will be counted twice (i.e. 11th August will be included in this weeks one and the previous weeks one). I think the counting is fine, just the date printing is wrong.

A bonus point would be to also change the sending time to be timezone specific (at the moment it

[2018-08-19 10:42] nicksellen commented on #1068
Oh, 4 is not possible as you cannot use a `report-uri` (or it's replacement `report-to`) in a `<meta>` tag.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/report-uri

[2018-08-19 12:36] tiltec commented on #1070
I'd put the most recent group wall threads, where the user is participant, on the conversations page too.

What do you think about filtering conversations by their associated group when possible, to show only pickup chats, application chats and replies that belong to the current group? Private chats would all be shown.

[2018-08-19 12:56] nicksellen commented on #1068
I progressed, but still a few decisions, and maybe some related tasks.

So I tried option 3c (not mentioned above) - which is to have a little nodejs proxy server that listens for `/csp-reports` then reads `about.json` and forwards it onto the right sentry url (including the release and environment).

But I also thought it makes sense to unify frontend/backend deployment a bit too - currently fron

[2018-08-19 13:11] tiltec commented on #1070
JSON response for `GET /api/conversations/` looks like this after some changes. I added `type` and `latest_message`. The list is sorted by `latest_massage.created_at` - quite some stress for the database, but seems to be ok for now (later the latest message could get stored in the conversations model).

`type` can be one of: `private`, `pickup`, `group`, `application` or None, but the latter shoul

[2018-08-20 15:48] djahnie opened #1087 "Emoji in emails are huge"
This was a notification mail for a wall post.

Not that I wouldn't like it, but I somehow guess this is not the intended look...^^

![image](https://user-images.githubusercontent.com/17573771/44350967-f9f36280-a4a0-11e8-8fac-30cad29203fe.png)

[2018-08-21 13:32] tiltec commented on #1087
Hm, I fixed that already a while ago in https://github.com/yunity/karrot-backend/blob/0884b2ceebcd809b5c2708e8f0ac233ae3eefca4/foodsaving/base/templates/_base-head.mjml#L58

Maybe the used CSS isn't supported by your e-mail client? You could forward the email to me and I'll compare.
We could also try switch to switch to other styling options, for example inline CSS could be more supported?

[2018-08-22 08:35] #894 closed

[2018-08-22 17:47] tiltec commented on #1087
Looks wrong for me too, in K9 Mail and Google mail... needs further investigation.

[2018-08-25 18:17] tiltec commented on #1058
I probably was mistaken; this looks like the server returned 403 or 500 and the frontend isn't prepared for it. Could happen for a multitude of reasons, probably each of the events recorded by Sentry is caused by a different one (connections interrupted, server error, session timed out)

[2018-08-25 18:17] #1058 closed

[2018-08-25 20:14] #1070 closed

[2018-08-26 20:00] tiltec opened #1088 "Deal with "outdated" conversations"
Pickup and application conversations currently stay around forever, although the conversation target has an end. Especially in the case of application conversations it can be confusing if people reply to an application that already has been decided.

My proposal would be to close application and pickup conversations a few hours after the conversation target has ended.  We would need to show inform

[2018-08-27 10:15] nicksellen commented on #1088
Ah the alternative idea sounds possibly like a smart way of dealing with it, it would need both criteria being fulfilled:
1) the target has "ended" (whatever that means for the target)
2) x hours has passed since last reply

If only 1) was implemented it will still check x hours since the target has ended, so adding 2) is not much more (referencing the time to the last reply rather than the target

[2018-08-31 09:55] tiltec opened #1090 "Huey opens too many redis connections"
I deployment for karrot.world and dev.karrot.world on yuca, huey opens over 1000 redis connections and keeps them open. This leads to OS errors like `Too many files open` and disrupts email sending.

I tried the following things:
- disable email batching
- enable connection pooling
- move huey to a separate redis db

None of it helped.

I could imagine one other cause: if websocket messages are be

[2018-08-31 14:11] tiltec commented on #1090
Reported upstream bug: https://github.com/django/channels_redis/issues/125

[2018-08-31 14:12] tiltec commented on #1090
I'm going to downgrade to channels_redis 2.2.1 until this is fixed.

[2018-08-31 15:31] tiltec opened #1091 "Rationalize frontend messages store"
The frontend messages store got a bit disorganized lately, with three vuex modules containing conversations and messages: `conversations`, `currentThread` and `latestMessages`.

- conversations: wall messages, detail sidebar (but not threads)
- currentThread: thread sidebar
- latestMessages: messages popover and page, unreadCount for various bits around Karrot

Problems as of now:
- data needs to

[2018-08-31 16:05] nicksellen commented on #1091
I wouldn't consider this a problem, I think it's quite natural that some of the store module state is denormalized. I would like it if vuex gave an option to have global mutations when using namespaced modules (such that you can commit a change, and multiple modules can receive the mutation and update their state as appropriate) - which we could implement ourselves if it seems a good way forward.

[2018-08-31 16:39] tiltec opened #1092 "Allow to mention users in messages"
A well-known feature from other websites allows users to mention other users in messages. This should have these benefits:

- users can receive targeted notifications ("don't send me notifications except when mentioned")
- readers can directly access the users' profile by clicking on the mention

Potentially, we could extend the notification feature to other objects (groups, stores, pickups?).

An

[2018-08-31 16:48] tiltec opened #1093 "Group messages from same author"
Messages from the same author could be grouped if they have been sent within the same hour or so. This would improve readability and save some screen space.

**How it is right now:**
![image](https://user-images.githubusercontent.com/4410802/44925105-aa891e00-ad4d-11e8-9e3f-10ac796777c5.png)

**How it could be:**
![image](https://user-images.githubusercontent.com/4410802/44925204-0c498800-ad4e-11e

[2018-08-31 17:16] tiltec opened #1094 "Record statistics about user profile field usages"
I would find it pretty interesting to find out how much certain fields on the user profile are being used. This could allow us to put more focus on or remove fields.

For example:
- how many set their location
- how many set a phone number
- how many have a description
- how many groups they are in

It would also be good to differentiate between users who have been active in the last x days and th

[2018-08-31 18:30] tiltec commented on #1050
There seem to be two ways to gather more information on this:

1. report per email how many users we didn't try to send to
2. periodic task to show how many users we won't try to send notification emails to

I'd favor the latter approach as it seems to be easier to implement and the data might be good enough to find out if we need to do something about failed deliveries.

[2018-09-01 20:50] #923 closed

[2018-09-02 13:38] tiltec opened #1095 "Follow-up tasks: trust system and user levels"
There are some useful things that weren't resolved in https://github.com/yunity/karrot-backend/pull/570 and https://github.com/yunity/karrot-frontend/pull/1077:

- [ ] to make trust more valuable, limit amount of trust per week; should keep the user updated about how much of their quota they used
- [x] add exception for playground group: users should be editor when they join to show them all featu

[2018-09-02 13:42] tiltec commented on #324
With the trust system of https://github.com/yunity/karrot-frontend/pull/1077 in place, this could be revived. For example, to grant the agreement manager role when user became editor or when they reached a higher trust threshold.

[2018-09-03 11:56] #546 closed

[2018-09-03 11:56] #1062 closed

[2018-09-05 17:28] the-bionic commented on #1083
Hello, I am willing to pick this up.

[2018-09-10 14:27] nicksellen opened #1096 "Email reply text is not always extracted successfully"
We use https://github.com/mailgun/talon library to separate the content from the rest when you reply by email to a post/comment.

It has two modes and says:

We currently just use the quick method.

It seems it fails more when the language is not English, so we could implement the machine learning part of it to improve on that. It's a lot more involved though, but could be fun! (and maybe get to e

[2018-09-10 15:32] brnsolikyl opened #1097 "Messages not showing on application chat for new users"
I've tested the new application feature to join a group on a web browser of a laptop. On full screen it works fine, but with a smaller window the messages do not appear unless I click on "Initial questions and answers" to minimize it. Another user, Hela, in the Warsaw group experienced the same problem.

Here's a screenshot:
![image](https://user-images.githubusercontent.com/25367304/45307491-7073

[2018-09-11 10:31] tiltec commented on #1095
I started working on a on-site notification system ("bell"). It deserves some more discussion, especially how it's related to the history module and other notifications (e-mail, push)

[2018-09-12 16:02] tiltec commented on #1096
I think the machine learning code is only available for signature extraction - that's the conclusion I came to when looking at the talon source code a week ago.
The quotation extraction is always done via regular expressions, with special cases for some languages. I think we could simply add some more of theses special cases for languages that we have in karrot, i.e. Swedish.

[2018-09-13 13:39] tiltec commented on #1096
Ah, the regular expressions seem to support some Swedish already: https://github.com/mailgun/talon/blob/a7404afbcb67e66aa13ff8917df4dcbbf3534624/talon/quotations.py#L44

But still, the extraction in the Solikyl group is not reliable...

[2018-09-13 13:45] tiltec commented on #1096
There's also the option to try out other libraries, like this python one: https://github.com/zapier/email-reply-parser

(from https://stackoverflow.com/questions/7978987/get-the-actual-email-message-that-the-person-just-wrote-excluding-any-quoted-te)

[2018-09-13 16:00] tiltec opened #1098 "Add on-site notifications ("bell")"
As mentioned in #1095, we need on-site notification to display messages such as "You gained editing permissions in Testgroup".

It is related to sending out email and push notifications and adding entries to the history log.
This feature might overlap in functionality with adding other message types and other content on the group wall (#610).

[2018-09-14 15:10] tiltec commented on #1098
Yes, will rename to notifications. In the first talks about this feature there was confusion because there are lots of notifications (email, push, bell, toast, banner), so a more specific name seemed helpful. But I guess that's not necessary and the context makes it clear enough.
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-09-15 07:29] tiltec commented on #354
Great that you tackle this! Your plans seem reasonable, generalizing stores/pickups seems the way to go to reduce code duplication, but will probably increase complexity - it seems hard to avoid endless if-else switches.

Another way to go would be to have locations and events as abstract base models, and different actual models per type. Some common functionality should be shared, e.g. recurring

[2018-09-15 10:00] nicksellen commented on #1068
Ok, reporting is setup! Still in report-only mode. I'll leave it on that for a bit and see which things I might have missed.

Reports go into https://sentry.io/foodsaving-worldwide/karrot-csp-report-only/ for both dev and prod (tagged as `environment=development|production`).

The first report to get through is the non-https image on https://karrot.world/#/groupPreview/47 - this would be blocked i

[2018-09-15 11:10] nicksellen commented on #1097
Hmm, I tried this on Chrome and Firefox on Linux and MacOS on dev.karrot.world and karrot.world but couldn't recreate it :/

Any tips @brnsolikyl for how to recreate it?

[2018-09-15 11:51] nicksellen commented on #354
I got quite put off the django model inheritance stuff before. That seems to complicate things quite a lot in an abstract way. Anyhow, I think the next step here would be playing around with the code a bit and see how various approaches feel.

My goal would be to avoid lots of if/else, possibly by abstracting behaviours into seperate classes that can handle different types - so instead of 5 method

[2018-09-15 11:58] nicksellen commented on #354
... on the other hand, totally separate models for each type of thing are the simplest thing conceptually. It might be that it depends more on the UI approach more than I thought too, whether the different types are more or less seperate things.

(I also have in mind (more with dreaming hat on) that it nudges it closer to being more suitable as multisharing/general type of platform if it's possibl

[2018-09-15 12:04] brnsolikyl commented on #1097
I tried on Firefox on Linux too, on karrot.world. Have you tried resizing the browser window, @nicksellen ? Because on full-sized window on my laptop it worked well, I could see the messages, but not on a smaller window. Perhaps it is also related to the size of the application text, under "Initial questions and answers". I noticed there too it is not possible to scroll down to see all the replies

[2018-09-15 12:35] nicksellen commented on #1097
Aha, I recreated it - it's a problem when resizing the vertical size to be smaller (I was only trying the horizontal size before).

[2018-09-15 12:41] taistadam commented on #354
![spwireframe_activities](https://user-images.githubusercontent.com/22643479/45586325-e646ea80-b8ec-11e8-9055-b221dc5d81a3.png)
![spwireframe_map](https://user-images.githubusercontent.com/22643479/45586327-ea730800-b8ec-11e8-9e5a-0936f3c2fbb7.png)
Some UI ideas. Open questions

[2018-09-16 09:15] #1097 closed

[2018-09-16 09:39] nicksellen commented on #1097
Fixed on https://dev.karrot.world now :)

[2018-09-18 17:32] Superbil commented on #938
I had make fastlane script to build project, it don't support auto deploy with CI yet.
CI system need special setup to work with personal apple account.

[2018-09-18 20:55] nicksellen commented on #938
Is it something you'd be interested to continue working on?

[2018-09-24 12:36] #1098 closed

[2018-09-24 13:03] tiltec commented on #1068
I see three messages in the console when visiting karrot.world and dev.karrot.world:

[code]

However, I don't see a related report at https://sentry.io/foodsaving-worldwide/karrot-csp-report-only/
Seems weird...

Other reports have arrived in the meantime (besides the non-https image)
- [Blocked 'connect' from 'nominatim.openstreetmap.org'](https://sentry.io/foodsaving-worldwide/karrot-csp-report

[2018-09-24 23:42] brnsolikyl commented on #354
Although the discussion about the feature itself and the reflections about implementation that Nick brought up here are obviously connected, I think we should open a new issue about making generalizations and possibly refactoring the backend. This can be especially interesting when trying out Karrot for new purposes, like organizing Bike Kitchens, as we mentioned on [another post](https://communit

[2018-09-27 10:21] nicksellen commented on #354
For me the question of where to define the types is more open than that, a few options/considerations:

1. could be defined in an instance configuration file on the server (so a whole instance has a certain set of types)
2. could be defined by a status field in the code/db (as we currently do for things that have multiple types)- 3. could be defined in the UI per group by anyone that has editing r

[2018-09-27 11:33] nicksellen commented on #354
We also have https://github.com/yunity/karrot-frontend/issues/359 which maybe can be reopened :)

[2018-09-27 20:35] brnsolikyl commented on #354
Good points, Nick. Let me see if I understand. The status field on the code that you refer to on option 2, is that the status of the store as "Cooperating", "Negotiating" or "Inactive"? If yes, then I see what you mean and I believe that's a good approach. It's kind of how I played with the Karrot when we first put it up as a test-piece. Our plan is to make our own deployment, branded for the bike

[2018-10-01 03:45] honsq90 commented on #1093
hello! I'm happy to give this a go if that's alright?

[2018-10-01 09:56] djahnie commented on #1093
Sure @honsq90 go for it! :simple_smile:

[2018-10-02 00:28] sapanpatel123 commented on #1083
Hi! Does this still need to be done? I can if @the-bionic can not get to it.

[2018-10-02 06:52] tiltec commented on #1083
It's still open :)

[2018-10-05 18:04] tiltec opened #1102 "App push notifications are broken"
I noticed it a while ago that I didn't get app push notifications anymore. Janina didn't have the problem with a very old app version.

I assume it's caused by some frontend change, either the token is not sent to the backend or something about the cordova FCM plugin is broken.

[2018-10-08 12:51] tiltec opened #1104 "Application metadata is mostly hidden on mobile"
This is how it looks on mobile:
![image](https://user-images.githubusercontent.com/4410802/46609725-17d85d80-cb09-11e8-88c6-a97016244951.png)

There's some more data visible on wider screens:
![image](https://user-images.githubusercontent.com/4410802/46609668-faa38f00-cb08-11e8-8f64-e10de1cb06b3.png)

Some ideas for improvement, mostly borrowed from the member list:
- do not hide overflow, instead

[2018-10-08 12:55] tiltec opened #1105 "Action buttons in member list are visible in sidebar"
Open any members page on mobile:
![image](https://user-images.githubusercontent.com/4410802/46610039-ddbb8b80-cb09-11e8-844a-9dc89dbea5b0.png)

Then open the sidebar ("burger" menu"):
![image](https://user-images.githubusercontent.com/4410802/46610063-e9a74d80-cb09-11e8-8424-34590c4722c1.png)

The action buttons should be hidden. They probably have a z-index attribute set.

[2018-10-08 12:57] tiltec opened #1106 "Messages should be marked as read when joining a conversation"
When joining a conversation, all previous messages are shown as unread. While this is true, we usually don't expect the user to catch up on all previous messages. From my perspective, it would be better to mark all messages read when joining a conversation.

[2018-10-08 13:05] tiltec opened #1107 "On wall, replies button is not visible if the message is taller than screen"
The message toolbar with the replies button is shown when hovering over a message. It's aligned with the start of the messages:

![image](https://user-images.githubusercontent.com/4410802/46610392-ef516300-cb0a-11e8-8051-520dda45d48c.png)

If the messages is long and the user is scrolled to the bottom - the typical use case for using the replies feature - the start of the message is usually off th

[2018-10-08 13:13] tiltec opened #1108 "Handle late drop-outs from pickups"
Currently, users can drop out from joined pickups at any time. This causes problems when no replacement person can be found (then all the tasty food goes to waste). It's especially problematic when dropping out late, e.g. less then 24 hours before the pickup will take place.

I recently heard about this problem from the "Foodsharing i Östersund" group, and they had the idea to display a group-defi

[2018-10-08 13:18] tiltec opened #1109 "On mobile, sidebar toggle gets into inconsistent state when swiping"
When opening the sidebar with a tap on the "burger menu" and closing it with a swipe to the left, it needs two taps on the burger menu to open it again (it should open on the first tap).

Similarly, when opening the sidebar with a swipe to the right, it needs two taps on the top bar to close it again (instead of one tap).

[2018-10-08 13:19] djahnie commented on #1104
Since I was the one making it in the first place I'd like to fix it as well! Let's just hope we'll find some space I can work in in the coming days... :sweat_smile:

[2018-10-08 13:21] tiltec commented on #1095
There's also open questions about
- expiring trust
- untrust
- anti-trust

Read more about it in this thread: https://community.foodsaving.world/t/discussion-karrot-trust-system-and-user-levels/95

[2018-10-08 13:22] djahnie commented on #1107
I prefer option 2. Having the message toolbar on the bottom would be quite unexpected for me.

[2018-10-08 13:29] tiltec commented on #1066
I moved this into the "Current Development" milestone to have it as part of the _Refactoring winter_ ;)

[2018-10-08 13:29] tiltec commented on #1091
I moved this into the "Current Development" milestone to have it as part of the _Refactoring winter_ ;)

[2018-10-08 14:32] tiltec opened #1110 "Unify and simplify vuex modules"
In the last months, I noticed some inconsistencies and unnecessary complexity growing in our vuex modules:

- `set` mutations sometimes replace, sometimes updates state. They should always replace state.
- `update` mutations sometimes accept one, sometimes multiple entries. They should always handle multiple entries if the module itself handles multiple ones.
- filtering by scope (group, store, us

[2018-10-08 14:49] tiltec opened #1111 "When creating or editing feedback, weight number is off the screen"
On the PickupFeedback form (can be accessed with http://localhost:8080/#/group/1/give-feedback and similar), when entering a weight, the weight number is weirdly moved off the screen:

![image](https://user-images.githubusercontent.com/4410802/46615978-d7351000-cb19-11e8-92f4-03ae7c152a0d.png)

It should be shown inside the form field.

[2018-10-08 16:12] farmanp commented on #1111
Came here to say this is a pattern in design called "content jumping" - will try and take a look how to discontinue the issue

[2018-10-16 13:28] #1104 closed

[2018-10-17 18:38] tiltec commented on #1102
The last android push subscription was registered on 2018-06-18, so there's most likely something broken on the frontend. Need to investigate further.

While I did backend investigations, I noticed that we only react to the `InvalidRegistration` error, not the `NotRegistered` one. The latter is the one that happens when somebody uninstalls their app: https://firebase.google.com/docs/cloud-messagin

[2018-10-18 11:33] tiltec commented on #1102
It seems that Cordovas `deviceready` event does not fire... weird.

[2018-10-18 13:48] tiltec commented on #1102
Closed in 3cc4bdfba8b6e70a9d2ca501ac14c4c41d515f04
cordova.js wasn't injected

[2018-10-18 13:48] #1102 closed

[2018-10-18 18:44] #1044 closed

[2018-10-18 19:00] tiltec commented on #949
The user now gets a notification when the websocket connection got lost. We also try reconnecting on a connectivity change event when supported by browsers.

[2018-10-19 09:37] tiltec opened #1115 "Applications can't be accepted or declined anymore on mobile"
When tapping on the accept or decline button, the dialog opens. At the same time in background, it changes to the chat page. A tap to confirm the action closes the dialog, but doesn't trigger the action.

The problem is that we have an event handler on the while `q-item` to switch to the chat page, and we removed the `self` modifier recently because it restricted the click area too much.

One fix

[2018-10-21 09:06] tiltec opened #1117 "User profiles are sometimes unexpectedly empty"
I identified one case where the user profile shows no information except for the user name.

![image](https://user-images.githubusercontent.com/4410802/47264886-4c8fe000-d51f-11e8-8f46-152cf2e6fdd8.png)

It happens when the user applied to one of your groups and is not member in any of your groups. This is the default case when somebody joins Karrot and applies for a group.

We deliver user profil

[2018-10-21 10:46] #1115 closed

[2018-10-21 12:35] tiltec commented on #1095
If the trust count should be used for further purposes, either informally by the users or by the Karrot software itself, we need to make sure that we have enough indication if the trust is reliable or not.

For example, the trust bananas in foodsharing are sometimes not helpful, as they only show the positive aspects. If there are problems with users, the trust feature is currently not helpful to

[2018-10-21 19:51] ShreyashAnarase commented on #891
Hi @nicksellen  I'm a first timer and I would like to work on this.

[2018-10-22 09:15] tiltec commented on #891
@ShreyashAnarase great! Are you familiar with Django, Django REST Framework or VueJS already?

[2018-10-22 09:43] gagandeepp commented on #1117
I want to look into this

[2018-10-22 09:43] gagandeepp commented on #1117
What should be desired output?

[2018-10-22 13:32] tiltec commented on #1117
It's not clear to me yet, it probably needs to be figured out while working on it.

Maybe the first step would be to describe the problem in your own words. This way I can support you best, by providing the necessary information.

[2018-10-22 15:22] tiltec commented on #1096
Discourse seems to have comprehensive support for handling incoming emails. [This](https://github.com/discourse/discourse/blob/v2.2.0.beta3/lib/email/receiver.rb) is their receiver code and they maintain [their own reply parser](https://github.com/discourse/email_reply_trimmer) that handles multiples languages.

As a first step, I added a table to the database where we store incoming emails. Previ

[2018-10-22 23:46] nicksellen commented on #1096
That line you linked looked like it was just referring to headers in the meta data which would be English from the protocol.

This stuff seems to be at the boundaries of human knowledge!

[2018-10-23 05:12] ShreyashAnarase commented on #891
No, but I really want to learn.

[2018-10-23 06:19] tiltec commented on #1096
Ah right! But I didn't find any other languages in their project and the test cases are all in English too. I'm happy to try it out for recorded emails though :)

Talon seems the best solution for python. Or we set up a ruby microservice for email trimming :D

[2018-10-23 10:47] tiltec commented on #891
I recommend to start with the frontend and use mock images for prototyping.

[2018-10-23 16:01] tiltec opened #1118 "Investigate better file format for frontend translation messages"
We currently use the [native vue-i18n JSON file format](https://kazupon.github.io/vue-i18n/guide/messages.html#structure), which has some shortcomings:

- limited transifex support, e.g. no linting and no input helpers are available. This is especially problematic for newbie translators
- limited pluralization, only 3 forms are supported while some languages need more
- no gender
- no extraction s

[2018-10-23 18:51] #1018 closed

[2018-10-25 03:39] libertyjayne commented on #1105
Hello! I'm hoping to help with this, but I'm not clear on what buttons are the action buttons that need to be hidden. Do you mean the entire sidebar needs to be hidden on mobile because I noticed that seems to be an issue? Thank you!

[2018-10-25 10:11] tiltec commented on #1105
In the case above, there are two big green buttons on the members page (first picture) that are on the second picture too. They shouldn't be visible in the second picture.

Did you notice other problems with the sidebar on mobile? I noticed https://github.com/yunity/karrot-frontend/issues/1109 recently, but other than that there are no known problems.

[2018-10-25 10:39] tiltec commented on #1066
I came up with module structure similar to our backend:

[code]

These modules would reside directly in the `src/` folder. There would be some other folders that don't follow the module structure, like `base`, `utils`, `statics`, `cordova`.

I would first try to move files around without changing file content too much.

[2018-10-25 15:00] libertyjayne commented on #1105
I will check out today and 1109 while I’m at it. I don’t think I saw the
green buttons on the sidebar like the picture, so maybe the issue has been
resolved. Will report back. Thanks!

On Thu, Oct 25, 2018 at 3:11 AM Tilmann Becker <notifications@github.com>
wrote:

[2018-10-25 15:52] wes977 commented on #1083
If this is still available I'll pick it up!

[2018-10-25 20:10] libertyjayne commented on #1105
I'm not seeing those green buttons in front on the settings button like the issue picture shows, so maybe it's been resolved? I've attached a screenshot. The other issue I was referring to is it seems like there should be a way to minimize the sidebar on mobile. The sidebar takes up the whole view and I can't figure out how to change that as a user.
![github](https://user-images.githubusercontent.

[2018-10-26 09:30] tiltec commented on #1083
Please do! Would be interesting to us if you had any problems setting up the backend and how quickly you could find the responsible code!

[2018-10-26 17:42] tiltec commented on #1068
Apparently CSP reports from Firefox are disregarded by Sentry because they miss a value: https://github.com/getsentry/sentry/issues/2475

[2018-10-26 21:20] nicksellen commented on #1068
Yes I noticed that. I think we can just use chrome to get the policy right. Then just wait until the world around us gets fixed.

[2018-10-28 18:59] tiltec commented on #1105
@libertyjayne how is it going?

I merged a major refactoring Pull Request into master today, so make sure to get the latest changes before your branch diverges too much :)

[2018-10-29 16:29] djahnie commented on #1108
That means we'd need the following:
- a new field in the GroupEdit form to specify the message
- a popup that displays said message when someone drops out late
- a new mail and push notification as specified above

Sounds good to me!
I like the 24 hour threshold, too. Same as in foodsharing.de. I think I would also add a default message in case the group didn't insert one yet – just like with the

[2018-10-29 18:09] #1109 closed

[2018-10-30 13:10] MaximeGTB commented on #984
Hello guys! Great work, thanks to advise us of when we can start testing the app.

[2018-10-30 13:31] tiltec commented on #984
Hey @MaximeGTB, you can already test the app here: https://play.google.com/store/apps/details?id=world.karrot
It says "Unreleased", but it should still work and receive updates!

You can also download the app file here, but you will have to update it manually: https://karrot.world/app.apk

[2018-10-31 09:15] tiltec commented on #154
Closing due to inactivity and because users didn't recently request this feature. Please reopen if necessary.

[2018-10-31 09:18] tiltec commented on #831
I think this topic is mostly covered by #676 and will close this issue because it's not actively being worked on.

[2018-10-31 09:18] #831 closed

[2018-10-31 09:20] tiltec commented on #853
This has been inactive for a while, but I think it's still important. Maybe we should discuss this in a wider context of moderation tools in karrot (related to user content, but also to users themselves). Would like to have a meeting about this in the next weeks.

[2018-10-31 09:21] tiltec commented on #607
A privacy statement is important for the Play Store too, see #984

[2018-10-31 09:21] djahnie commented on #607
In September I had an online service generate one for us: https://yunity.slack.com/archives/C1P0ECU8G/p1537537866000100

[2018-10-31 09:28] tiltec commented on #837
I guess that could be a starter task: implement frontend and backend parts to allow for (limited) resending of invitation emails.

I would imagine to allow resending 1 hour after the invitation has been sent.

[2018-10-31 10:01] #154 closed

[2018-10-31 10:05] tiltec commented on #1038
Could need some discussing or coding :)

[2018-10-31 10:07] tiltec commented on #552
We should probably open a new issue summarizing the things that should be worked on, and then close this one.

[2018-10-31 10:09] tiltec commented on #649
Maybe it can be coupled with #986.

[2018-10-31 10:44] #1066 closed

[2018-10-31 11:52] tiltec commented on #355
Group statistics ("kg") were requested by Foodsharing Warszawa again. Nick commented that our stats are probably unreliable because people might not give feedback or enter the wrong numbers. Janina says that the exact numbers don't really matter and we should publish them. I think we could publish a roughly rounded number ("more than 100kg" or "about 150kg") and show the number of feedback.

[2018-10-31 14:30] tiltec commented on #984
To finish this issue:

- [] advertise app on website
- [] disable or remove built-in updater
- [] improve refresh behavior (e.g. do not delete messages)
- [] improve fcm push titles (e.g. application messages)
- [] disable firebase analytics (maybe needs better firebase plugin: https://github.com/arnesson/cordova-plugin-firebase)
- [] hide browser push setting
- [] add splash icon
- [] publish app

[2018-10-31 15:46] tiltec commented on #983
This could do with some progressing ;)

[2018-10-31 15:50] tiltec commented on #999
I'd close this because of high complexity and no user requests.

[2018-10-31 15:50] #999 closed

[2018-10-31 15:54] tiltec commented on #963
Could be tackled as a starter task! :)

[2018-10-31 15:58] tiltec commented on #952
I guess we should just enable pagination for pickups, then it's less critical.

[2018-10-31 15:59] tiltec commented on #935
Seems less problematic than thought and nobody mentioned this as issue so far.

[2018-10-31 15:59] #935 closed

[2018-10-31 16:07] tiltec commented on #912
This topic seems interesting, but I assume it's rather low priority. I'll reopen if need arises  (e.g. too many groups on a single instance).

[2018-10-31 16:07] #912 closed

[2018-10-31 16:36] tiltec commented on #865
I really want to have this myself, I use the search quite a lot :)

[2018-10-31 16:39] tiltec commented on #1035
Hi @mitjanikolaus @guidocalvano - are you still interested in having this feature? Are you using some workaround currently?

[2018-10-31 16:40] tiltec commented on #1072
Githubs mobile emoji picker seems to have quite good UX and it could be extended to support more emoji.

[2018-10-31 16:47] tiltec commented on #324
We could enable the agreements feature quite easily if we wanted to - should we do it?

[2018-10-31 16:56] tiltec commented on #709
I guess this could be tackled when thinking about generalized pickups? #354

[2018-10-31 18:30] tiltec opened #1124 "Reorganize vue components"
After #1066 we have everything nicely split up into modules, but our vue components are still a bit disorganized.

Main topics:

It's unclear from file path and name if a component connects to vuex or not (some have `UI` prefix, but not all)
-> To address this, we could borrow some concepts from [Dan Abramov](https://medium.com/@dan_abramov/smart-and-dumb-components-7ca2f9a7c7d0) and add `Containe

[2018-10-31 20:05] mitjanikolaus commented on #1035
At the moment we are not using karrot, also because this feature is missing.

[2018-11-01 15:38] MaximeGTB commented on #984
Cool!

[2018-11-02 08:14] tiltec commented on #1035
This sounds like there are other, perhaps bigger, things missing in Karrot for the use case of your group. If you're still interested, we could have a call or a chat.

[2018-11-07 10:43] nicksellen opened #1127 "Generalize stores and pickups"
To implement public locations for food distribution we seemed to go with the feeling to generalize stores and pickups to be places and events. It's a bit wider than the existing issues so I'll create it's own one here.

Renaming things is quite fiddly and have to be careful, I think as a first goal I would try and make them generalized but not add any new types, so the site will carry on working a

[2018-11-07 22:00] brnsolikyl opened #1128 "Decouple pickup/event and store/place"
Related to #1127

Just wondering how big of a task would it be to decouple a pickup/event from a store/place and if it's worth the shot? As I understand, the way it works now is that a pickup is always connected to a store. The pickup/event needs to be created _after_ a store/place is created. However, if we make it possible to decouple event and place, I believe it would open up new possibilities

[2018-11-12 09:55] tiltec commented on #1105
I had a look today at a similar code part (group description) and it seemed better to make them more similar. I replace the absolutely positioned action buttons with floating ones, which also fixes the z-index problem.

[2018-11-12 12:51] #1105 closed

[2018-11-12 19:11] #949 closed

[2018-11-13 18:37] tiltec opened #1133 "Selecting many days in recurring pickups breaks layout"
When creating a new recurring pickup and selecting multiple days it can break the layout:

![image](https://user-images.githubusercontent.com/4410802/48434842-302c3f80-e77b-11e8-8b0b-3732dcdcc152.png)

We should check if Quasar can handle this case. If yes, maybe we did something to break it and should fix it. If not, we should open an issue at their repository and perhaps implement a workaround.

[2018-11-13 20:35] tiltec opened #1134 "Handle sparkpost suppression list"
I noticed today that we accumulated quite some emails addresses on a "suppression list" in Sparkpost: https://app.sparkpost.com/lists/suppressions
It means that Karrot can't send emails to these addresses anymore, not even password reset ones. Sparkpost will return a bounce event with reason "554 5.7.1 recipient address was suppressed due to customer policy".

This can happen for a number of reaso

[2018-11-13 22:12] nicksellen commented on #1134
Just 13 I count for spam or unsubscribe, with most of the rest of bounces. Doesn't seem so bad?

[2018-11-14 00:17] tiltec commented on #1134
I deleted two manually before, so a bit more but not overwhelming. But as it does block base functionality of karrot I'd like to figure out a solution.

[2018-11-15 13:35] djahnie opened #1135 "Missing data for applications of groups not loaded right now"
This is about the message notifications. They are missing information depending on which group is selected right now.

This is what I see when in EfA:
![image](https://user-images.githubusercontent.com/17573771/48555932-ce86e500-e8e2-11e8-86cd-7d163f16d032.png)
_(Shaq has no name, no picture and no application icon)_
_(AnnaP has no name, no picture and no application icon)_

This when in Solikyl:

[2018-11-15 18:11] tiltec commented on #1135
Good find! It happens when switching between groups. Seems I broke it in #1129

[2018-11-15 18:12] #1135 closed

[2018-11-18 12:58] brnsolikyl opened #1136 "Store description does not update properly"
I noticed that after updating a store description, the new description was not immediately shown. I had to refresh my browser (Firefox). I tested this on 2 different groups with the same result.

[2018-11-18 15:49] #1136 closed

[2018-11-18 19:29] brnsolikyl opened #1137 "One available slot disappears when joining pickup"
When signing up for a pickup that has multiple slots available, one extra slot disappear from my view after I join the pickup. For example, if there are 4 slots available and I join the pickup, I'll see my avatar plus 2 other available slots. If there are 2, after I join the pickup there won't be any more available slots, at least from my perspective.

[2018-11-18 19:33] tiltec commented on #1137
Ah yes, I've noticed this too!
Should fix this at some point... but I'm a bit afraid to touch that code because it's quite messy and my last attempt at rewriting this component failed after trying for a day or so :(

[2018-11-18 20:18] brnsolikyl opened #1138 "Bug with list of pickups awaiting feedback accross groups"
The list of pickups awaiting feedback is not group-bound. All the pickups I made on two different groups are showing on the feedback page of each group.

As I write this I noticed that after changing groups back and forth the list of pickups awaiting feedback has doubled in both groups (14 now instead of 7). I guess this is related but I haven't tested more.

Edit: indeed, after changing groups ag

[2018-11-21 13:20] tiltec commented on #797
As other problems related to recurring pickups came up, I propose some bigger changes that might also affect this issue: https://community.foodsaving.world/t/how-to-better-handle-changes-to-recurring-pickups/174

[2018-11-23 17:45] djahnie opened #1140 "Playground users should immediately have editing rights"
Right now directly after joining users have newcomer status in the playground group just like in every other group. This should not be the case, they should have all options from the start.

[2018-11-23 20:20] tiltec commented on #596
This behavior will change again to work around problems when changing recurring pickups. In future, when a series changes, pickups will get cancelled when they don't match the series.
More details & discussion here: https://community.foodsaving.world/t/better-change-handling-for-recurring-pickups/174/5