[2021-05-29 11:49] brnsolikyl commented on #2369
Happy to see an issue about it! And not so happy to see it's not affecting me only. I've always experienced it takes a long time to retrieve messages. But lately it's felt like way too long.

[2021-05-29 13:41] tiltec commented on #2369
@brnsolikyl It seems consistently slow for some user/conversation combinations, all other seem fine. Maybe everybody just accepted it ;)

@nicksellen I think that's a sign that the query planner is somehow going in the wrong (=slow) direction.

I found an article about Postgres explain analyze on Hacker News this morning: https://www.cybertec-postgresql.com/en/how-to-interpret-postgresql-explain-a

[2021-05-29 13:51] nicksellen commented on #2369
Just briefly from my hammock, what about indexing? Is thread id sufficiently indexed? Maybe an id/thread_id compound index?

[2021-05-29 13:57] tiltec commented on #2369
Yup.. indexing seems alright, both `id` and `thread_id` have an index. I just added the compound index you suggested, but no change.

[2021-06-08 11:04] nicksellen opened #2375 "Update meta description"
This is displayed most noticeably when you paste a link into a chat somewhere (e.g. telegram) and it shows a link preview.

Current text is: _Modern website for organization of foodsaving groups worldwide_

New text should reflect that it can be used for more than foodsaving.

[2021-06-08 18:07] djahnie commented on #2375
I wonder how much of our agenda it should show. Like, should it mention 'grassroots' or even 'transformative'..?

Here's some proposals:
1. Modern website for grassroots organization of real-life transformative action
2. Modern website for democratic group organization
3. Modern website for organizing real-life group activities
4. ... all possible other combinations of the given terms

I think for

[2021-06-09 11:16] nicksellen commented on #2370
Aha, I found it's possible to use webpacks [`oneOf`](https://webpack.js.org/configuration/module/#ruleoneof) and  [`resourceQuery`](https://webpack.js.org/configuration/module/#ruleresourcequery) to help us.

It means in the require we can put extra param `?disableinline`, then use a `resourceQuery` to match that to the `file-loader`, and let everything else use the existing loader.

This way ther

[2021-06-09 11:32] nicksellen commented on #2370
I got confused for a moment, as I saw locally it loading too many images (large and small), which it wasn't doing on dev.karrot.world:

![devmode](https://user-images.githubusercontent.com/31616/121346990-a20e9a80-c91e-11eb-8a44-77c859417e8b.png)

... but seems an side effect of running in dev mode, in a local production build, with everything else the same, it seems good:

![prodmode](https://use

[2021-06-09 11:51] larzon83 commented on #2370
Brilliant! 😄

I was on the same path with the regex to only target landingpage images.

BTW: I found how to overwrite a rule. One has to use `chainWebpack ` instead of `extendWebpack`

[code]

One thing about your solution. When `file-loader` is used, it gets the same options as `url-loader`. `esModule` and `name` are the same but there is no option for `limit`. `file-loader` will ignore this. But

[2021-06-09 11:53] larzon83 commented on #2370
I saw that too. But only happens when you have "Disable Cache" enabled in devTools.

[2021-06-09 12:03] nicksellen commented on #2370
I did have an earlier version that removed the excess limit option, but as it didn't complain with the extra option, it seemed simpler code to leave it in.

In your version I think you've set the limit to -1 for both loaders, as it was only a shallow copy, so the options object is shared. I think.

[2021-06-09 12:04] nicksellen commented on #2370
I also if it's possible to use the webpack chain method with this approach too?

[2021-06-09 12:12] larzon83 commented on #2370
Oh. Yep, you're right. Then we leave it like this.

Out of curiosity or do you see a benefit in it? :)

[2021-06-09 12:16] nicksellen commented on #2370
It seemed the loader has a _name_ in your chain example: "images" that allows you to override it like that, instead of by filtering on the type name and options, so potentially more robust.

... and then just the thought if it's _designed_ for being able to override loaders and options, then perhaps it has a nice API for it.

But no particular benefit if those things aren't really true/easy, and a

[2021-06-09 12:32] larzon83 commented on #2370
Ah, ok. I'll have a look later.

[2021-06-09 21:55] larzon83 commented on #2370
@nicksellen got it working with chaining.
Both are readable even without knowing of the chain API.
I think I would go the chain way, as it doesn't needs filtering on type names etc.. Makes it more robust as you said.
What do you think?

[code]

[2021-06-10 06:30] dwaxweiler opened #2378 "Group not loading by default anymore"
**Steps to reproduce**
1. Make sure you are already logged in.
2. Leave the Karrot website or app. In the latter case, make sure to close the app in the background.
3. Visit Karrot via the website or via the app

**What happens**
The welcome page of Karrot is shown.

**What should happen**
The wall page of your group is shown. This has been the behaviour before version 9.3.0. I am not sure though

[2021-06-10 06:34] nicksellen commented on #2378
Indeed! It's actually already fixed in master, so just needs a new deployment to put it live. I think we can gather a couple of other changes and deploy in about a week.

Thanks!

[2021-06-10 06:35] nicksellen commented on #2378
(this was the fix https://github.com/yunity/karrot-frontend/pull/2373)

[2021-06-10 06:37] dwaxweiler commented on #2378
@nicksellen Thanks for the quick reply! I should have checked the changelog first. :sweat_smile:

[2021-06-10 06:37] #2378 closed

[2021-06-10 10:23] #2370 closed

[2021-06-12 19:37] tiltec opened #2381 "activity.feedbackDismissedBy is a list of users, could be a boolean?"
I noticed that activity.feedbackDismissedBy is a list of users that already dismissed the feedback for this activity, but the frontend only needs to know if the current user dismissed the feedback (to determine if the prompt should be shown or not).

backend:
https://github.com/yunity/karrot-backend/blob/0fd4f36e6e7964877f1afab2070ab0387b33466c/karrot/activities/serializers.py#L195-L197

frontend:

[2021-06-13 08:59] larzon83 commented on #2381
@tiltec this was a PR from the Freiburg group. I think we did it this way because we copy/pasted. I don't  remember exactly.
I totally see your point.
I have no clue about the backend. Maybe @pogopaule?
For the frontend, this would mean we could ditch the enrichment of `feedbackDismissedBy ` and the filter then would be like this?
[code]

[2021-06-14 19:02] dwaxweiler opened #2384 "Some activities are not displayed"
The following issue has been observed in the Foodsharing Luxembourg group: The number of displayed upcoming one-time activities is cut at some point in the future. Example:

![Manage activities page](https://user-images.githubusercontent.com/12501775/121944813-60815380-cd53-11eb-8aa7-e992216aa769.png)

The Activities and Manage Activities pages do not list the event created for the 2nd of August.

[2021-06-14 21:10] tiltec commented on #2384
There's a limit of 400 upcoming pickups in the code, could it be that you're just over this number? (We could just increase it until we properly implemented pagination for activities).

https://github.com/yunity/karrot-backend/blob/36818f990781c1e775e560fa43c9d616fcbd5dec/karrot/activities/api.py#L181-L187

But this didn't change with the last update...

[2021-06-15 10:44] nicksellen opened #2385 "Improve bundling of icon picker"
We are including the entire icon picker with all the icon sets in our main bundle :/ This massively increases the size, beyond what is actually needed.

Two problems:
1. all icons sets bundled but we only use `fontawesome-v5`
2. they're all bundled into the main app bundle, instead of one that loads of demand (it's a very infrequently used page)

Fixes for either or both are very welcome!

![iconp

[2021-06-15 16:54] dwaxweiler commented on #2384
@tiltec This is possible as we have many pickup cooperations now; This limit is a limit on all activities, or is not it? On the activity page, there is usually only a smaller selection displayed.

[2021-06-16 05:28] tiltec commented on #2384
I temporarily increased the activities limit from 400 to 800 for karrot.world, can you check if all are visible now? Then I would make it permanent.

[2021-06-16 08:47] larzon83 commented on #2385
I'll have a look...

[2021-06-16 11:17] dwaxweiler commented on #2384
Yes, they are visible now. Thanks! :+1:

[2021-06-16 11:57] #2385 closed

[2021-06-16 12:57] nicksellen opened #2388 "Add pagination for activities"
Currently we return up to 400 (soon 800) activities per "page", as we don't have pagination implemented on the frontend for activities.

See: https://github.com/yunity/karrot-backend/blob/36818f990781c1e775e560fa43c9d616fcbd5dec/karrot/activities/api.py#L181-L187

We recently had the issue that the 400 limit wasn't enough https://github.com/yunity/karrot-frontend/issues/2384, which was resolved by

[2021-06-16 12:57] nicksellen commented on #2384
So many activities! Great! I guess we should add an issue for it... there, done --> https://github.com/yunity/karrot-frontend/issues/2388

[2021-06-16 16:57] #2384 closed

[2021-06-16 17:49] nicksellen commented on #2369
This [got resolved](https://community.foodsaving.world/t/fixed-current-performance-issues/724/5) :)

[2021-06-16 17:49] #2369 closed

[2021-06-16 17:52] nicksellen commented on #2356
Hey @jalvarez302, and welcome! It would be worth having a look at our [How to get involved!](https://community.foodsaving.world/t/how-to-get-involved-onboarding-into-the-karrot-team/661) page, which will give you an overview of the whole project.

Maybe then a good idea to head over to our [chat](https://chat.foodsaving.world) and chat a bit more, can find out about your skills, interests, and mot

[2021-06-16 23:10] larzon83 commented on #2356
@jalvarez302 We could also have a video call if you want. ;)

[2021-06-17 11:23] tiltec commented on #2388
For this, we need to remove the frontend assumption that all activities are present. All pages with activities should then care about their own data retrieval, ideally as non-global "page data". As different pages need different filters,  reusing activities between different pages wouldn't make sense.

A special case are activities needed for topbar entries, mostly as activity conversation and not

[2021-06-19 09:24] metinbaris commented on #2375
"Modern website for independent group organization"
is also sounded very good what do you think, also does it makes sense ?

[2021-06-19 13:22] tiltec commented on #2375
How about removing the term "modern website"? I think it doesn't say very much...

"independent group organization" sounds good, although there is also a lot of focus on communication, local action and flat/no hierarchies in Karrot that doesn't get represented in this.

But this shouldn't stop you, we can always change again when we come up with something better.

[2021-06-20 19:26] brnsolikyl commented on #2375
It feels like a subject is missing from "Independent group organization". I think we can come up with a nice one together on the next meeting. But as Tilmann said, it can be changed later.

It would be good to change descriptions on the `helloDeveloper.js` file as well

[2021-06-21 09:25] vasntours commented on #2375
Just to add in the convo, I think modern might not be a term that does the job as modern has been connected with Modernity and all its hegemonic, anthropocentric, dividing culture.

[2021-06-21 10:41] nicksellen commented on #2375
Looking at how it looks on karrot compared to meetup.com and zoom.us:

![headings](https://user-images.githubusercontent.com/31616/122749713-8e9bf180-d285-11eb-9d26-2c7b4430b87c.png)

Maybe we can have as much information as meetup.com?
- name of website
- heading
- description

[2021-06-22 08:05] brnsolikyl opened #2394 "Use geolocation when creating a group"
The user's geolocation is already detected when browsing groups at /groupPreview.
But when creating a new group, or setting a location afterwards, the user's geolocation is not used. For example (my IP-adress is from Sweden but the map centers somewhere in Germany):

![image](https://user-images.githubusercontent.com/25367304/122886960-b3a16a80-d340-11eb-972f-9d8a0701c928.png)

It would make sense

[2021-06-22 12:23] #2336 closed

[2021-06-22 17:52] brnsolikyl opened #2397 "Update Readme.md and Github's about"
After updating the landing page and the meta-description, it seems like the only thing left (is it really?) to be consistent is to update the repository's about description and Readme.md

[2021-06-22 18:01] nicksellen commented on #2397
Ah, you didn't see I already opened a PR for the readme? https://github.com/yunity/karrot-frontend/pull/2395

... And I updated the repo description this morning too, or did I miss somewhere?

[2021-06-22 18:05] brnsolikyl commented on #2355
I can contribute with the message in Portuguese, being a native speaker... If someone else would like to implement it, please go ahead. :)

[2021-06-22 18:09] brnsolikyl commented on #2397
Wow, I had my tab opened here and did not refresh it! Cool, then I'll close this issue

[2021-06-22 18:09] #2397 closed

[2021-06-23 16:02] #2394 closed

[2021-06-26 14:48] nicksellen opened #2400 "ics export doesn't work on mobile app"
It tries to load the URL as a local file, which doesn't exist.

When in Cordova needs to be a full URL including domain.

![Screenshot_20210626-154647](https://user-images.githubusercontent.com/31616/123516799-d6f84c80-d695-11eb-9836-50ffa8880d6d.png)

[2021-06-28 13:25] amengsk commented on #2400
thanks for reporting! i can take care of it

[2021-06-29 18:30] nicksellen opened #2401 "Streamline activity management"
Having to navigate to a "place" then the "manage activities" tab could be made easier, e.g. being able to create new activities directly from the group+place activities pages.

Possibly even we don't need the "manage activities" tab at all, but just find the activity in the listing and press an edit button for it (which would edit the series if it's part of one).

[2021-07-01 10:12] nicksellen opened #2404 "Migrate community forum domain"
(Not actually a code related topic, but just want somewhere to collect together the considerations that is not the forum itself!)

When I migrated the chat, I had forgotten various things that connect to it, so those broke until I updated them, I will try and consider them all _before_ changing it this time :)

- [ ] postal
  - [ ] whole community.foodsaving.world domain https://postal.karrot.worl

[2021-07-01 11:33] metinbaris commented on #2375
Hi, just had to changed an ignored file for differences which looked a bit odd to me :)
It's good to get a code a review @nicksellen :)

https://github.com/yunity/karrot-frontend/pull/2405

[2021-07-02 10:54] tiltec commented on #2404
Can't think of more right now, might be alright!

Would you add deep-link redirects? So that `https://community.foodsaving.world/t/wrong-orientation-of-pictures/745` redirects to `https://new.url/t/wrong-orientation-of-pictures/745`?

[2021-07-02 14:38] brnsolikyl opened #2407 "Add @mentions"
The premise is that by "tagging" someone with an @ in any conversation the person will get a notification (including e-mail/push).

Topic raised here: https://community.foodsaving.world/t/mentions-on-karrot/732

[2021-07-02 18:11] tiltec commented on #2407
Previous issue: https://github.com/yunity/karrot-frontend/issues/1092

[2021-07-06 09:33] #2400 closed

[2021-07-07 12:28] #2341 closed

[2021-07-07 12:30] #2338 closed

[2021-07-08 20:38] nicksellen commented on #2404
Oh, only just noticed your reply now :)

Of course :) I think the default yuca redirect logic does it already... yup, see https://chat.foodsaving.world/channel/karrot-dev

[2021-07-09 05:56] dwaxweiler commented on #2318
Yes, it is still important.

I think it should use the same behaviour as the solution for #2311 to be consistent.

[2021-07-09 14:51] brnsolikyl opened #2411 "Notifications still sent after leaving group"
This is the case:
I left a group and still got a push notification and a notification on Karrot under Replies (see image) from a conversation I was participating in. I cannot access the message itself, it returns `Message not found` but I could still read the content of the message at the notification itself.

![image](https://user-images.githubusercontent.com/25367304/125096748-bb4d6700-e0d5-11eb

[2021-07-15 11:07] nicksellen opened #2415 "Store users timezone"
Currently, if a user is in a timezone different to that of the group, this stuff happens:
- notifications will be sent using group timezone, which may differ from their local one
- setting times in the UI when in a different timezone to the group is ambiguous (will be in browser timezone)
- ... at least browser will always display the times in the users local browser timezone

Browsers aren't actu

[2021-07-15 11:09] nicksellen commented on #2415
(I put it as ready for development, lower priority, rather than discussion, because I consider the current behaviour _wrong_ in some cases - but also welcome discussion, could move it into a discussion milestone if there is resistance to this idea)

[2021-07-18 09:13] larzon83 commented on #2080
@brnsolikyl this issue can be closed, right?

[2021-07-18 11:29] tiltec commented on #2311
I had a look at this yesterday evening and made this PR: https://github.com/yunity/karrot-frontend/pull/2417

[2021-07-18 11:30] tiltec commented on #2311
@esharb - sorry for not coming back to you earlier! In case you're still around, maybe you're interested in https://github.com/yunity/karrot-frontend/issues/2318?

[2021-07-18 16:25] brnsolikyl commented on #2080
Well, invitations have been removed from the members page, but we still need to streamline signup and application flow. I wonder what to do with the issue... just leave it open or maybe another one with more focused information?

[2021-07-18 17:51] larzon83 commented on #2080
Uh sorry, didn't read the issue 🙈 I would keep this open.

[2021-07-18 18:01] brnsolikyl commented on #2080
Alright, I'll just edit the title then. :)

[2021-07-20 07:17] brnsolikyl opened #2419 "Add invitations by e-mail when creating a group"
I think we discussed this idea at some point, but I could not find it anywhere, so here it goes...

**Problem**

When creating a group, it's reasonable to assume that the person creating the group would like to invite other people to join. The way to do it now is quite clunky and hard to discover: go to member's page, copy the link to groupPreview page, send to the people one wishes to invite and

[2021-07-21 11:29] metinbaris commented on #2375
hey @nicksellen just [tried ](https://github.com/yunity/karrot-frontend/pull/2405) to update the log please let me know if needs anymore changes :)

[2021-07-24 12:35] amengsk opened #2423 "broken generation of full links in cordova"
i have not tested it but @tiltec [reports](https://github.com/yunity/karrot-frontend/pull/2368#discussion_r668634104) that the generation of absolute urls using `window.location.origin` or similar breaks on cordova

[2021-08-01 07:51] dwaxweiler opened #2425 "Replace "pickups" with "activities" in activity notification e-mail subject"
**Step to reproduce**
Make sure to receive the automatically sent activity notification e-mails.

**What happens**
The subject of this e-mail contains the text "$group name$ upcoming pickups".

**What should happen**
The subject contains the text "$group name$ upcoming activities".

This text can be found in the back-end; I have quickly found it via transifex search.

[2021-08-01 08:06] dwaxweiler opened #2426 "Booking slot of activity that has started does nothing"
**Step to reproduce**
1. Create an activity that should happen within a certain time interval, i.e. set a start and an end time.
2. Wait until the start time has past.
3. Click on the empty slot.
4. Click "Yes, of course!" in the pop-up.

**What happens**
Nothing happens; The slot stays empty, even after refreshing the page.
In the developers tools, the request's response is a 403 (Forbidden): `{"

[2021-08-09 09:23] tiltec commented on #2350
Quasar v2 is now officially released, I had to pin some dependencies in https://github.com/yunity/karrot-frontend/commit/6d826812e9328adebd6b14766695468b3a69b319 to keep the automatic dependency update PRs working. Seems it's finally time to move to Vue3/Quasar2!

@pogopaule Do you think it makes sense to rebase this PR or should we rather follow the migration guide again?

[2021-08-10 06:21] #2311 closed

[2021-08-10 11:40] #2334 closed

[2021-08-10 11:40] #2423 closed

[2021-08-10 14:30] nicksellen opened #2428 "ics download includes old activities"
I used the lovely new button to download an ics file with the activities in on dev.karrot.world and it took ages then gave me a 1.1mb file with all the activities back to 2017 :)

https://dev.karrot.world/api/activities/ics/?group=6 was the URL.

I guess we want to only have current/future activities? Is there any case where old activities would be needed?

I don't know if this should be done on t

[2021-08-10 14:39] tiltec commented on #2428
ping @amengsk - I think we only want future (and ongoing) activities by default?

[2021-08-14 00:45] #2357 closed

[2021-08-15 10:51] amengsk commented on #2428
yes that is a problem i wanted to address

but as a calendar subscriber i would find it weird if yesterday's activity disappears from my calendar, too. so maybe the ics feed should also include activities which are (say) up to a month old, for instance?

intuitively i would just add the filter in the backend without needing to change any urls, so that the subscription urls remain simple. i would s

[2021-08-16 12:18] nicksellen commented on #2428
Sounds good. I also assumed it would just have the activities I joined, and I can't imagine I had signed up for 1.1mb of them!

[2021-08-17 08:02] amengsk commented on #2428
if you only want the activities you joined there is already a filter for that in the backend, `&joined=true`, but it is not used in the frontend. dunno if it should be the default or not. perhaps we can add a tick box to the ics export dialog to let the user control that

[2021-08-18 06:01] titanventura commented on #2365
Hey, So is the addition completed ? Or shall I work on it ?

[2021-08-18 14:12] tiltec commented on #2365
I think this is still open, you can work on it!

[2021-08-18 16:47] #2425 closed

[2021-08-20 19:11] jayant766 opened #2434 "No password Policy on sign up page"
When I go for sing in on the website I found there is no password policy i.e user can create there account by simply typing their mail and password to J (one word password)

**Some policies suggest or impose requirements on what type of password a user can choose, such as:**

the use of both upper-case and lower-case letters (case sensitivity)
inclusion of one or more numerical digits
inclusion of

[2021-08-20 19:11] #2434 closed

[2021-08-20 19:49] jayant766 opened #2435 "Missing Secure Only"
Session cookie was issued by the application and does not have the secure flag set.

![Screenshot (188)](https://user-images.githubusercontent.com/73739820/130286298-00cfcfd2-7a4a-4beb-a6f1-8a492397446c.png)

[2021-08-20 19:53] jayant766 opened #2436 "No password policy on sign up page"
When I go for sign up on the website I found there is no password policy i.e user can create there account by simply typing their mail and password to J (one word password)

Some policies suggest or impose requirements on what type of password a user can choose, such as:

the use of both upper-case and lower-case letters (case sensitivity)
inclusion of one or more numerical digits
inclusion of spe

[2021-08-21 13:22] tiltec commented on #2435
Thanks! Seems we need to set `SESSION_COOKIE_SAMESITE = True`: https://docs.djangoproject.com/en/3.2/ref/settings/#std:setting-SESSION_COOKIE_SECURE

[2021-08-21 13:27] tiltec commented on #2436
Indeed, should be possible to add some validation in Django: https://docs.djangoproject.com/en/3.2/topics/auth/passwords/#module-django.contrib.auth.password_validation

Not sure if it should also be done in frontend, or we just forward to validation error messages from backend?

[2021-08-21 15:56] brnsolikyl commented on #1703
Since this is sort of a constant need in the groups I'm a part of, I'd like to start working on this, at least on the frontend. But I would need some help, someone to set up at the backend which one is the default (wall or activities). I remember that was one solution we discussed at some point...

I could also start with a mockup and upload them here and at the forum.

[2021-08-22 20:47] tiltec opened #2437 "src/locales-foo seems unneeded"
I just discovered https://github.com/yunity/karrot-frontend/tree/master/src/locales-foo, seems to be wrongly committed and merged. I guess we can delete it? @nicksellen

[2021-08-23 06:49] brnsolikyl commented on #2426
Yes, I think there are both cases, when it makes sense to be able to join after it started and when it does not. I myself have wanted to join a pickup that had a set time but was actually quite flexible within a time period, so it's always unclear when people join in late to save the pickup/activity from being missed. For that reason I'd prefer to leave it open for the user to choose, after receiv

[2021-08-23 08:13] brnsolikyl commented on #1703
I did the mockup of how it would look like when creating a new place, because on the place page it should be just a matter of which tab is seen first by default

Maybe @dwaxweiler has an opinion on this, since we talked about this before on the forum.

![place_create](https://user-images.githubusercontent.com/25367304/130413526-4585bebd-bc2e-49fd-8e97-418bd23c6f14.png)

[2021-08-23 08:55] jayant766 commented on #2435
Yes its necessary to fix it. If I want to fix it how can I do it?
Could you please help me in fixing it.

[2021-08-23 17:47] tiltec commented on #2435
Sounds good! I think it should be enough to add `SESSION_COOKIE_SAMESITE = True` to `settings.py`, then we can merge it and check if works on dev.karrot.world.

[2021-08-23 18:23] dwaxweiler commented on #1703
@brnsolikyl I like the wording "main focus" in your question. I would add as an explanation that this defines only the page that opens when you click on a place and that it does not hide any.

[2021-08-23 18:33] jayant766 commented on #2435
Thanks for the help. But I can't able to find settings.py. Its would be good if tell me the exact location of the file where I have to correct the code.

[2021-08-24 11:04] tiltec commented on #2435
Ah sure, it's in the backend repository!

https://github.com/yunity/karrot-backend/blob/master/config/settings.py#L357

Adding it after the line `SESSION_COOKIE_HTTPONLY = True` seems to be good.

[2021-08-24 12:36] jayant766 commented on #2435
Thanks for the help.

I created one pull request for this issue.

[2021-08-24 12:40] jayant766 commented on #2436
Yes, we can add some validation in Django. Just tell me the exact location of the file where I can put the code.

[2021-08-25 04:49] tiltec commented on #2435
Thanks! I just noticed a mistake in my replies above: instead of `SESSION_COOKIE_SAMESITE`, we need `SESSION_COOKIE_SECURE`… can you change this in the PR?

[2021-08-25 09:31] jayant766 commented on #2435
Oh! Okay I change it.

[2021-08-25 12:32] tiltec commented on #2350
In the last days, I spent some hours progressing the Quasar upgrade - it's quite complex!

Currently, I'm a bit unsure about style files. Quasar doesn't provide ´stylus` variables anymore, so it makes sense to move away from it. I followed @pogopaule's previous approach and converted everything to `sass`, but ran into some linter bugs. It seems that [the sass syntax support](https://github.com/Ale

[2021-08-25 12:42] tiltec commented on #2435
Cool :) I merged the PR https://github.com/yunity/karrot-backend/pull/1185, can you check https://dev.karrot.world to see if it's solved?

[2021-08-25 12:46] tiltec commented on #2436
I think this might be a bit more involved, so setting up the dev environment and writing some test might be good. I wonder if you would be up for this?

Also, it would be good to change the frontend to communicate the new validation rules to users when signing up or changing their password.

[2021-08-25 12:47] jayant766 commented on #2435
Yes, Its working.

[2021-08-25 12:55] #2435 closed

[2021-08-28 12:41] tiltec commented on #2350
`vue-croppa` seems unsupported: https://github.com/zhanziyang/vue-croppa/issues/235

I'm also a bit confused how to use the [vue migration build](https://v3.vuejs.org/guide/migration/migration-build.html). I can set it to run in Vue2 mode by default, and then switch to Vue3 mode on a per-component basis when we are done upgrading. But how about dependencies? Each of them would need to set all thei

[2021-08-28 14:11] nicksellen commented on #2350
How does nesting working? E.g. if you made a component with a local config to use vue3 compat mode, do nested components also use vue3? Could be a way? (Either one that sets vue3 mode and renders the child elements, or a small component that directly includes the library one). Maybe doesn't work, but an idea!

[2021-08-28 15:53] tiltec commented on #2350
I think compat config isn't inherited when nesting components; maybe all vue3-aware dependencies really need to declare vue3 compat mode to make app-wide vue2 mode work.

[2021-09-01 14:42] tiltec commented on #2350
I found a way to use Croppa with the vue migration build :)

https://github.com/yunity/karrot-frontend/pull/2438/files#diff-ab23cc641c1e9694e36317572cd5dad6aa49f79827fea3fcd77ef466565a13baR89-R91

[2021-09-07 09:32] brnsolikyl opened #2441 "New agreements feature"
After quite a long design process to add governance features to Karrot ([documented here](https://community.foodsaving.world/c/karrot/governance-design-process/24)), we have a new feature ready for development! This issue will give the general information and detailed specs for the feature.

## What's the agreements feature about?

In short, groups will be able to:

- Propose new agreements
- Disc

[2021-09-15 05:48] dwaxweiler commented on #938
Hello, could we open this issue again please? Several people from my group are requesting an iPhone app. How complex is it to do with the current tech stack? @Superbil any news from your side?

[2021-09-15 10:49] brnsolikyl commented on #938
If there's demand, it should definitely be re-opened.

[2021-09-19 13:43] #2428 closed

[2021-09-26 19:58] dwaxweiler opened #2445 "Add "Previous 12 months" to statistics time period"
Adding the time period "Previous 12 months" to the selection menu on the statistics page is requested by the communication team of Foodsharing Luxembourg.

As I remember from the discussion in #2218, data is not available for individual members after 6 months, so this option would need to behave in a similar way as "Forever".

[2021-10-05 05:38] kxc3244 commented on #2415
Hello @nicksellen , I actually believe this could be a really nice improvement to the UX.

And it would be great if I could get this assigned. I would most likely go with the GeoIP route as this application is global and the users do probably travel so it would help in that scenario.

Like I mentioned the timezone of users probably changes, it would be helpful to add a prompt aside from the settin

[2021-10-05 06:49] nicksellen commented on #2415
Sounds great! I'd suggest to break up the task into smaller pull requests that can be merged as we go, as there are quite a lot of places that will need code changes. E.g. the db column can be added as one PR without anything else, and later the API added, etc. And later the frontend, and later the helpful message....

How does that sound?

What support would you need to get started on the task? D

[2021-10-05 06:53] kxc3244 commented on #2415
Yes, I have the skills required for the tasks and I'll make sure to break the tasks down as fundamentally as possible.

The only questions I have are basically, do you need me to follow any style guide and for vue are you using composition API or not. the last thing is you have any dev docs that you follow for the architecture of the application that would be helpful.

[2021-10-05 07:43] nicksellen commented on #2415
Great!

For code style, we have strict linting rules that will be enforced by the tooling (locally and in CI). For the wider dev docs we have https://docs.karrot.world/ but it's not great, incomplete and probably out of date in places. I'd be interested to know what kind of eocs you'd find useful, it's an an area I'd like to improve on.

We don't use the composition API yet, we are still on Vue 2

[2021-10-10 15:56] dwaxweiler commented on #2310
This would still help people only available on a specific day of the week.

[2021-11-08 17:14] nicksellen commented on #2334
This just got to deployed to production, and it's great! Just tried it out.

Using ICSx5 on Android it added my activities to my calendar, here shown using etar (including the attendees!):

![Screenshot_20211108-170841.png](https://user-images.githubusercontent.com/31616/140787237-35762af9-d821-4850-ae39-c0d337b3a88a.png)

One thing I did notice is that the calendar title got set to the URL path,

[2021-11-08 19:56] brnsolikyl opened #2449 "Link to subscribe for ICS calendar not showing"
Link shows fine as supposed to be when at the place page or the activities page. It doesn't show at the wall page when you have your upcoming activities at the top.

![image](https://user-images.githubusercontent.com/25367304/140808921-5196fc90-43b2-48e8-9470-147140d2173a.png)

[2021-11-08 20:06] brnsolikyl commented on #2449
Maybe @amengsk would like to fix it? ;)
Although I'm not sure what the fix should be like... Subscribe to all activities?

[2021-11-08 21:09] nicksellen commented on #2449
I also noticed the same, although I, less helpfully, only wrote about it on the closed original issue --> https://github.com/yunity/karrot-frontend/issues/2334#issuecomment-963379067 (plus a couple of other niggles).

Basically, it shows up fine on the activities page, but not at the top of the wall. I think either it could:
- be hidden in that view
- do the same as the subscribe button on the act

[2021-11-09 10:08] nicksellen commented on #2445
Sounds reasonable!

I think it should be possible in frontend only code - as actually it's not that the data isn't available after 6 months, but we chose not to make it visible in the UI, but given the request is only for aggregate data, then it seems to still satisfy the "redemption" principle.

Do you want to try coding it? I'm happy to support the effort! (or just code it myself sometime...), O

[2021-11-10 12:45] amengsk commented on #2449
hi folks long time no sea!
sure i will have a look at this and nick's comment on the original issue
stay tuned

[2021-11-14 21:08] rheidem commented on #2436
Hello! I have not contributed to this project, but would love to tackle this! Any suggestions on where to start?

[2021-11-15 04:51] danclee336 commented on #2310
Hi, I'm interested in working on this. Can I get assigned to this?

[2021-11-15 04:57] changjus commented on #2445
I am interested in working on this. Can I please be assigned to this task?

[2021-11-15 18:44] nicksellen commented on #2445
@changjus sure! firstly, what kind of support will you need? did you manage to get the development environment set up already? (I can't tell much about you from your GitHub profile, so maybe you can introduce yourself a bit...)

[2021-11-15 19:18] nicksellen commented on #2407
I was thinking to push this forward a bit and looked into a few ways other software tools implement it.

The key bit is how to represent a mention in the text we store, there are many approaches.

**Discourse**

In discourse people have usernames, so having `@nicksellen` in the markdown text for a post will match the username `nicksellen`. If you change username, it goes through and rewrites all t

[2021-11-15 19:29] nicksellen commented on #2407
https://vue-mention.netlify.app/ might be useful. I can't see immediately whether it supports vue 2/3 though.

[2021-11-15 21:05] brnsolikyl commented on #2407
Nice research!

I'm naturally inclined not to introduce usernames, since it could be a hassle for existing users. Why not use their id´s, that is, their user number? Checking vue-mention it seems like it could work like that. There might be still the problem of users having exactly the same display names, but judging from my group (people usually use first and last name) that would be rare, and if

[2021-11-15 21:44] nicksellen commented on #2407
With the ids it would look like `@123` in the text editor when you're writing a message... which seems a bit cryptic?

The autocomplete for it could probably show the display name when you're typing it out... and when we display the name it could show a nicely formatted name..

I wonder if that would be usable enough for people?

(I remember slack actually having the problem where 2 people have th

[2021-11-15 21:48] nicksellen commented on #2407
If going down the username route, existing users could get auto-generated ones, based on their display name, e.g. `Nick Sellen` -> "nicksellen", and they could edit them later.

[2021-11-15 21:49] nicksellen commented on #2310
@danclee336 sure! what do you need to know to get started?

[2021-11-15 21:51] nicksellen commented on #2436
@rheidem sure! First step would be setting up the dev environment, this task requires working on the backend, so head over to https://github.com/yunity/karrot-backend and see how you get on.

[2021-11-16 02:26] changjus commented on #2445
Hi @nicksellen, yes I was able to get the development environment set up. This is my first time working on an open-source project, but I have internship experience working on production code using Vue and JavaScript. Do you have any advice to point me in the right direction on how to get started?

[2021-11-16 13:24] nicksellen commented on #2445
I'm not sure what kind of help you're looking for, but I can describe the intended outcome in a bit more detail.

This time period drop down is the one in question:

![activitystatistics](https://user-images.githubusercontent.com/31616/141992993-179a1180-fef9-4c3d-84da-0d7679d730b3.png)

* It should have a "Previous 12 months" option in it
* it should only be possible to use it when "All users" ar

[2021-11-17 02:02] danclee336 commented on #2310
I'm trying to access the activities page mentioned in this issue but could not find it. Also, this is my first time working on an open-source project, any advice on how to start?

[2021-11-18 00:53] #2363 closed

[2021-11-18 10:35] vasntours commented on #2407
I think autogenerating usernames would be an option to start with. And yes members if they see that the autogenerated username does not do the job they could edit them later. Would that mean though that they could edit the username? or that they d have to edit their 'name' which would then autogenerate another 'username'? I m also thinking of the ID which would appear in a more digit-like form as

[2021-11-20 11:20] amengsk opened #2452 "set ics calendar title"
quote @nicksellen in https://github.com/yunity/karrot-frontend/issues/2334#issuecomment-963379067

we could give the calendar a [name](https://icalendar.org/New-Properties-for-iCalendar-RFC-7986/5-1-name-property.html).

btw also we could add [other bits of metadata](https://icalendar.org/RFC-Specifications/iCalendar-RFC-7986/) there, if we want

[2021-11-20 11:43] amengsk commented on #2452
i would set this name to the name of the place / group, or just "Karrot" if none of them is passed

its not clear to me how i can access the instances of `Place` / `Group` that we are filtering by (i believe those do not even need to be fetched from the database to render this view currently)

anyone know how to do this cleanly in drf?

[2021-11-20 12:26] amengsk commented on #2452
this pr shows what the problem is: https://github.com/yunity/karrot-backend/pull/1198

[2021-11-23 10:59] nicksellen commented on #2407
The idea for usernames fits what me and @brnsolikyl discussed last week too ([notes](https://community.karrot.world/t/weekly-call-about-karrot-development-2021/630/36)), this is the relevant bit:

And yeah, I think it's good to allow them to be changed (independently from the name), and we can support rewriting all the past message content with the updated username too (which discourse does).

I r

[2021-11-23 17:33] dwaxweiler commented on #2426
This bug still needs to be fixed. :)

[2021-11-24 13:18] amengsk opened #2454 "exclude disabled activities from ics export"
activities which are disabled in karrot should be either
1/ excluded from the ics export
2/ included with the "STATUS=CANCELED" property. other events should have "STATUS=CONFIRMED"

i think i prefer 2/

[2021-11-24 13:23] nicksellen commented on #2454
Yes 2) sounds good to me, without knowing anything about how apps handle the statuses...

[2021-11-29 10:14] nicksellen commented on #2437
Ah, sorry for delayed response! Yes, I agree, seems to be accidentally committed (or some function neither of us can recall!). Seems to have my name all over the git history...

[2021-11-29 10:22] nicksellen commented on #2445
How are you getting on @changjus?

[2021-11-29 12:54] nicksellen commented on #2426
I implemented this backend part to allow to join started activities. It would resolve the issue if we just merge that as it is.

An optional extra would be the warning on the frontend, do you think we should do that before deploying it?

[2021-11-29 13:11] brnsolikyl commented on #2426
A warning would be nice indeed! :)

[2021-11-29 16:52] nicksellen commented on #2426
How about this? You need to then check the checkbox to join.

![confirmstarted](https://user-images.githubusercontent.com/31616/143909502-8f0736a3-9d74-4c56-9015-0e63cabfb0f0.png)

[2021-11-29 20:28] brnsolikyl commented on #2426
Looks good to me! Annoying having to check the box and then confirm, but that's the point!

[2021-11-30 10:57] #2449 closed

[2021-11-30 11:01] nicksellen opened #2456 "Use markdown formating for activity description"
Seems it would be useful to format activity descriptions as markdown, then we can have links!

This is how it is right now:

![couldbemarkdown](https://user-images.githubusercontent.com/31616/144035283-0bf512cd-1814-4fa1-b96b-c0f6fe594b03.png)

It might cause some unexpected formatting changes for existing descriptions, but probably not too bad...

Would need:
- use the editor with markdown previe

[2021-12-01 17:02] #2452 closed

[2021-12-01 17:15] #2426 closed

[2021-12-01 23:26] kkreine commented on #2356
Hello, it looks as though this issue needs further work. I'm happy to start working on it if it is still needed.

[2021-12-04 00:37] changjus commented on #2445
I pulled the code then ran `yarn test` and I am getting failed tests. Is this expected behavior?

I also finished the code for this request, but I am not sure if I should push my changes because of the failed tests.

[2021-12-04 06:52] nicksellen commented on #2445
You can push your changes anytime, fork the project and create a pr from that.

We'll also be able to see if the tests are failing there too, otherwise is likely some issue with your local setup.

You can also paste some of the test errors, perhaps on the pr discussion thread once you've created that.

[2021-12-06 12:40] nicksellen opened #2461 "Cannot find module 'postcss-html/extract'"
When updating dependencies there is an error with stylelint:

[code]

From https://app.circleci.com/pipelines/github/karrot-dev/karrot-frontend/2732/workflows/2ab498a7-fe19-4511-9c2d-a5b90c296278/jobs/34176

It goes away if I downgrade stylelint to v13.13.1, so I'll do this, I don't have time to investigate this further now.

[2021-12-06 13:01] nicksellen opened #2462 "Replace deprecated eslint-loader"
https://github.com/webpack-contrib/eslint-loader is deprecated, it contains some links for the new one to use.

[2021-12-06 13:14] nicksellen opened #2463 "Use multiword component names"
New vue style guideline --> https://vuejs.org/v2/style-guide/#Multi-word-component-names-essential

Currently, I'll just disabled it in eslint config and link here.

[2021-12-07 13:36] nicksellen opened #2464 "Fix sourcemaps"
I was investigating this error in circleci when uploading the cordova sourcemaps to sentry: https://app.circleci.com/pipelines/github/karrot-dev/karrot-frontend/2736/workflows/6ac54aaa-4845-48c2-b9b8-7a231023fefe/jobs/34202

I see we don't seem to generate sourcemaps, noticing that the last time we did was https://sentry.io/settings/foodsaving-worldwide/projects/karrot/source-maps/43809e72a783cf8d

[2021-12-07 13:37] #2464 closed

[2021-12-13 21:26] kkreine commented on #2463
Hey @nicksellen, mind if I work on this? It looks like there's 22 components to be changed.

[2021-12-13 21:28] nicksellen commented on #2463
Yup, would be great!

The filenames will need changing too.

[2021-12-20 18:32] #2456 closed

[2021-12-23 16:25] #1703 closed

[2021-12-24 10:58] nicksellen opened #2469 "Bug clicking on entry in place list when already on the place"
Steps to recreate:
- click on any place (you can be on any tab)
- click the place again (in the left menu)
- you suddenly have no tabs selected, and no content is displayed on the main space

Just got introduced with #2444

[2021-12-25 12:49] brnsolikyl commented on #2469
Yes, another related bug I noticed is when you click on a notification for a message on a place wall, which does not take you to the message, if the place has Activities tab as default view

[2021-12-29 00:52] #2469 closed

[2021-12-29 00:55] #2355 closed

[2021-12-29 14:22] nicksellen opened #2476 "flake8 dependecies cannot resolve any more"
See: https://github.com/PyCQA/flake8/issues/1503

I'm not sure if this will just become fixed in the future, seems a bit of a standoff (see https://github.com/PyCQA/flake8/commit/975a3f45334861ebd8960c00e881443c23654bca#commitcomment-61002464) and I can't see a dependency/config-based solution.

Possible ideas:
1. comment out uses of flake8 for now, wait a while, and see if the problem get resolve

[2021-12-29 20:43] nicksellen commented on #2469
Released in v9.6.1 https://community.karrot.world/t/karrot-release-updates/466/11

[2021-12-30 13:59] brnsolikyl commented on #2355
Is this still something relevant? I couldn't tell since we closed our previous chat and lost the notifications for groups being created.

[2021-12-30 23:04] nicksellen commented on #2355
I have a feeling not, as before there was a bunch of confusion Brazilian groups on the map, and there doesn't seem to be now...

(also reminds me it would be nice to publish the karrot group notification thing to the matrix room... (or even somewhere in karrot?))

[2021-12-31 01:34] nicksellen commented on #2407
I started the backend work over here --> https://github.com/karrot-dev/karrot-backend/pull/1207

[2021-12-31 20:18] nicksellen commented on #2407
Progress --> https://community.karrot.world/t/mentions-on-karrot/732/8 (little screencast showing some frontend UI stuff...)

[2021-12-31 23:27] larzon83 commented on #2407
looks great! Happy new @year 😆 🎉

[2022-01-04 08:42] nicksellen opened #2480 "Don't send activity reminder notifications for disabled activities"
I just got one for an activity I disabled yesterday.

[2022-01-04 15:52] brnsolikyl commented on #2415
Just removed the stale label but want to know the status of this issue... Have you started working on it, @kxc3244 ? Any roadblocks?

[2022-01-04 17:52] nicksellen opened #2481 "External link icon is showing as envelope"
External links used to have a little icon next to them showing it will open another site (some kind of arrow thing...), but now it shows an envelope, which is the icon for "received by email", or an email link...

![external-link](https://user-images.githubusercontent.com/31616/148102137-8e69f876-5ece-4e77-b8c9-1c54f322b18f.png)

[2022-01-05 00:09] #2481 closed

[2022-01-05 10:32] #2480 closed

[2022-01-06 15:25] nicksellen opened #2484 "Cannot give feedback if joined late"
Report from a user:

[2022-01-10 11:09] #2318 closed

[2022-01-10 23:40] nicksellen commented on #2484
I looked into this, and I did find an issue. Better explained with an image:

![feedback](https://user-images.githubusercontent.com/31616/148855510-071deb95-ab4d-49ce-9f73-b48a5611999b.png)

There are 3 bits:
1. the little orange number next to the Feedback item in the menu
2. the "You can give feedback" orange box
3. the bell notification that you can give feedback

If you join late, you don't (c

[2022-01-12 12:15] amengsk opened #2488 "cannot download "colors" dependency"
starting the frontend from scratch with [the docker setup](https://github.com/karrot-dev/karrot-docker) i get this error:
[code]

likely caused by this, that you might have seen: https://www.bleepingcomputer.com/news/security/dev-corrupts-npm-libs-colors-and-faker-breaking-thousands-of-apps/

probably not picked up by the ci because of dependency caches

[2022-01-12 19:57] #2488 closed

[2022-01-12 20:16] #2484 closed

[2022-01-14 00:59] #2290 closed

[2022-01-22 16:38] kkreine commented on #2463
@nicksellen I'm still working on this, I'll submit the PR in the next few days

[2022-01-23 21:12] brnsolikyl opened #2492 "Highlighting feedback does not let you scroll"
After giving feedback, it is shown and highlighted on the place feedback page. The problem is that while scrolling up and down the page, it keeps bringing it back into view.

![image](https://user-images.githubusercontent.com/25367304/150698082-ef82f5e8-6ad3-47f1-9752-155e25cf4a86.png)

Implemented on this PR: https://github.com/karrot-dev/karrot-frontend/pull/2417

[2022-02-02 15:26] brnsolikyl opened #2495 "Unsolicited e-mail notifications for applications"
On the [notification settings page](https://karrot.world/#/settings#notifications) you can choose whether or not to get e-mail notifications about new applications to your group.
![screenshot_notifsettings](https://user-images.githubusercontent.com/25367304/152037388-3c1ec08d-fe17-4059-ad30-5a56db163b45.png)

However, it is not clear from the description that this also subscribes you to all applic

[2022-02-08 12:51] nicksellen opened #2496 "Writing private messages during application process"
There is probably a bug somewhere here... not exactly sure where.

As an applying user I cannot write private messages to people (I can see their profile, but there is no message button).

But a member in the group _is_ able to write me a private message (we have no common groups).

So either:
- we should show the message button for applying user
- we should totally disallow private messaging in t

[2022-02-14 12:10] nicksellen opened #2497 "Pagination of activities"
Currently the frontend does not use the pagination for activities, so for busy groups it can end up not fetching them all.

The current limit is 800, which is too small for Warsaw now.

The symptom is that people sign up for an activity in the future (not actually sure how they manage to do that, but they do!), then at some point in the future they cannot see the activity any more (it's not listed

[2022-02-14 12:22] nicksellen commented on #2497
Closing as we already have an issue for this https://github.com/karrot-dev/karrot-frontend/issues/2388

[2022-02-14 12:22] #2497 closed

[2022-02-15 10:20] nicksellen opened #2499 "Round translation figures to nearest whole number"
We currently display slightly too high precision for some of the translated percentages.

The easiest way to see this is to be logged out, and click the globe icon near the top right (if you're logged in it's available inside your profile settings).

![needsrounding](https://user-images.githubusercontent.com/31616/154041902-efdd4bf5-0990-46ef-b8d9-0bef06d78f30.png)

[2022-02-15 17:44] amengsk opened #2500 "infinite redirect"
the route `'place/:placeId/activities/:activityId/detail'` redirect to itself. it causes an infinite redirect (blank page) when visiting such a url

[2022-02-18 10:07] dwaxweiler opened #2502 "Issue with accents and umlauts"
**Step to reproduce**
1. Use Firefox on a Linux operating system (Ubuntu-based Pop! OS in my case).
2. Type a letter with an accent or umlaut into one of the input fields, e.g. é or ö.

**What happens**
The letter appears without its accent or umlaut.

**What should happen**
The letter appears with its accent or umlaut.

I have observed this issue from version 9.6.0 on, but I have not gone back to

[2022-02-19 15:01] amengsk commented on #2502
weird. i tried (also with firefox and linux) but i dont have this problem on my side. try without extensions maybe?

[2022-02-19 15:06] amengsk opened #2504 "why close issues with stalebot?"
@stalebot is closing issues which have not been solved. why is it in use?

examples: #2365, #2437

[2022-02-21 00:57] #2436 closed

[2022-02-21 09:56] nicksellen commented on #2504
Without it the issues pile up over time, and they don't always stay relevant. It's very overwhelming for me to see a huge number of issues, and makes it harder to decide what to work on. It is also the unfortunate reality that we have limited capacity to work on everything that would be nice, or beneficial.

The idea for the bot is not to close _relevant_ issues, but to close _irrelevant_ / _outda

[2022-02-21 09:58] #2500 closed

[2022-02-21 10:16] nicksellen commented on #2502
Hmm, yes sounds odd!

I manually deployed v9.0.0, can you check there? Much of the site probably won't work, as it will be out of step with the backend, but at least the login form is visible! --> https://v9.0.0.dev.karrot.world/#/login ... if that works we can keep doing it to narrow it down...

[2022-02-21 17:17] dwaxweiler commented on #2502
@nicksellen Thanks for the deployment! There, accents and umlauts work for me. @brnsolikyl what about you for é?

[2022-02-21 17:28] brnsolikyl commented on #2502
Yés, it wórks fine there! :) Every possible accent I could think of in Portuguese and Swedish worked.

[2022-02-22 12:18] nicksellen opened #2506 "Activity type filter shows archived types"
The activity type filter on the activities page let's you choose activity types that have been archived (e.g. `Party` type is archived):

![archivedfilter](https://user-images.githubusercontent.com/31616/155130216-df322cee-95ea-4dcc-92cd-7e748b2255e2.png)

... one caveat is that it should still show archived activity types if there are activities for that type in view (as archiving a type does not

[2022-02-22 16:51] nicksellen opened #2507 "Votes for users that left the group should not be counted"
At the moment if a user votes, then leaves the group, their vote will still be counted.

I added a test for this behaviour in https://github.com/karrot-dev/karrot-backend/commit/f99cb72d15bdb728ce8b2208701c7f7626024ef4.

We discussed in our weekly meeting, and with someone from Foodsharing Warszawa and the opinion was unanimous that it makes sense to discount those votes.

If motivated whilst addi

[2022-02-23 09:25] amengsk commented on #2504
thnks for your perspective!

as a user i would find it frustrating to report issues that are just discarded after some months

as a contributor who is not able to tag issues or reopen issues, it is annoying not to be able to silence this bot or revert its closures

that is precisely why i think it is not reasonable to assume that by default, if an issue is not worked on, it is because it is not wo

[2022-02-23 09:26] amengsk commented on #2365
i would reopen this

[2022-02-23 09:52] nicksellen commented on #2504
we can fix that! I added/invited you to the @karrot-dev/karrot-devs team - which maybe gives you those permissions? you're welcome to tag and/or reopen issues.

the message tries to make it clear it's not because it's not worth tackling:

you used these words: frustrating, annoying, and sad, and I wonder how to make those feel better? (and also not create overwhelm and high workload for contributo

[2022-02-23 09:54] nicksellen commented on #2365
re-opened, and marked as important, so it'll stay open.

is there a reason this is particularly important for you @amengsk? (and do I assume correctly that you are part of Foodsharing Warszawa?)

[2022-02-23 10:25] nicksellen commented on #2502
Ok, I deployed a couple more versions, can you check them @dwaxweiler

- [v9.0.0](https://v9.0.0.dev.karrot.world/#/login) works
- v9.1.0 ?
- v9.2.0 ?
- [v9.3.0](https://v9.3.0.dev.karrot.world/#/login)
- v9.4.0 ?
- [v9.5.0](https://v9.5.0.dev.karrot.world/#/login)
- v9.5.1 ?
- v9.6.0 broken

[2022-02-23 10:36] #2407 closed

[2022-02-23 13:56] dwaxweiler commented on #2502
@nicksellen, thanks! Version 9.3.0 works fine, version 9.5.0 does not.

[2022-02-23 16:18] nicksellen commented on #2502
ok, getting there! so now try [v9.4.0](https://v9.4.0.dev.karrot.world/#/login) ... then I can go to looking at changelogs...

[2022-02-23 17:06] nicksellen opened #2508 "Possibly not loading enough information when joining a group"
After applying for a group and keeping the browser open, once in there were _loads_ of these kind of errors:

[code]

I _suspect_ it didn't properly load the activity types for the group after joining... it's ok after reloading the page. (There are probably other errors in this category too).

[2022-02-23 19:39] brnsolikyl commented on #2502
v.9.4.0 working here!

[2022-02-24 18:00] dwaxweiler commented on #2502
@nicksellen, for me too!

[2022-02-24 20:26] nicksellen commented on #2502
Hmm, interesting I'm not seeing much in the [changes](https://github.com/karrot-dev/karrot-frontend/compare/v9.4.0...v9.5.0) yet...

The most interesting dependency change is quasar from 1.15.21 to 1.15.23 (although not a big increase).  The quasar release notes are here https://v1.quasar.dev/start/release-notes#introduction and one of the changes is about the QInput (text input):

... but that do

[2022-02-25 09:28] amengsk commented on #2365
thanks! i just relate to the user story and it seems like a good first task for new contributors, so worth leaving open (but no i am no longer active in that group)

[2022-02-25 09:41] amengsk commented on #2504
thanks for the invite @nicksellen

maybe extending the timescale could make sense indeed

[2022-02-25 21:53] nicksellen commented on #2504
Great, maybe we just double them? 180 days until stale, 14 days until close (after being marked stale).

Or maybe longer before close, 180 days until marked stale, then 30 days till closed if nothing done?

... and update the message to mention they can be marked `important` (either by asking, or doing it if you have the permissions in github)?

Would be interested to hear @brnsolikyl 's thoughts?

[2022-02-25 21:55] brnsolikyl commented on #2504
I'd go for 180 days to be marked and 30 days to close, and add the nice message! :)

[2022-03-01 09:23] nicksellen commented on #2504
Done --> https://github.com/karrot-dev/karrot-frontend/commit/1a7b6624c0e34ef61945ae20195ca8969fc34825

I also slightly updated the text.

@amengsk does this resolve this issue for you? (at least for now...?)

[2022-03-01 09:24] #2437 closed

[2022-03-01 09:38] nicksellen commented on #2502
@dwaxweiler / @brnsolikyl can you try https://v9.5.0-olddeps.dev.karrot.world/#/login

(this is v9.5.0, but using the dependencies from v9.4.0)

[2022-03-01 09:41] brnsolikyl commented on #2502
Works! :)

[2022-03-01 09:48] nicksellen commented on #2502
Hmm, interesting. Can you try the input fields on https://v1.quasar.dev/vue-components/input

Any of these ones:

![egfields](https://user-images.githubusercontent.com/31616/156145738-1f75fad1-d8eb-409f-b900-3ba4acd41563.png)

[2022-03-01 09:50] brnsolikyl commented on #2502
Yep, not working there. So I guess you found the problem?

[2022-03-01 09:58] nicksellen commented on #2502
Getting there... can you try https://quasar.dev/vue-components/input#example--design-overview (which is from the v2 version of quasar, we are still on v1 series...).

[2022-03-01 10:01] brnsolikyl commented on #2502
Not working either

[2022-03-01 10:05] nicksellen commented on #2502
Aha, a bug in quasar :)

It's this issue https://github.com/quasarframework/quasar/issues/10198, which was closed as they couldn't reproduce it either.

I'm going to try and isolate the specific change in quasar that introduced it to make a better case for making an issue over there.

[2022-03-01 10:18] nicksellen commented on #2502
Can you try https://v9.5.0-patch.dev.karrot.world/#/login - I'm _hoping_ that one works...

[2022-03-01 10:27] nicksellen commented on #2502
This issue for firefox sounds like it's possibly talking about the same thing https://bugzilla.mozilla.org/show_bug.cgi?id=1077411 ... but some interaction with how quasar is doing things.

[2022-03-01 10:51] brnsolikyl commented on #2502
That one works!

[2022-03-01 10:52] nicksellen opened #2512 "Infinite recursion issue"
When visiting https://karrot.world/#/group/191/place/1448/activities/183343/detail in firefox I get this:

![toomuchrecursion](https://user-images.githubusercontent.com/31616/156155774-5ca640ce-75ce-4249-a522-5e513ee6f452.png)

![recusrionrouteisundefined](https://user-images.githubusercontent.com/31616/156155799-ffec7e6b-ebf1-4f28-a8fa-42ceb8b0d823.png)

That points to this line:

[code]

... in

[2022-03-01 11:21] nicksellen commented on #2502
How about https://v9.5.0-patchmask.dev.karrot.world/#/login ?

[2022-03-01 11:23] dwaxweiler commented on #2502
This one does not work for me, but the previous one does.

[2022-03-01 11:50] brnsolikyl commented on #2502
Does not work on Firefox, works on Chrome

[2022-03-01 13:34] nicksellen commented on #2502
Ok, two more, then I think I'll write on the quasar issue:

1. https://v9.5.0-quasar1.15.21.dev.karrot.world/#/login
2. https://v9.5.0-quasar1.15.22.dev.karrot.world/#/login

These are both v9.5.0 (which doesn't work), but with slightly different quasar versions....

[2022-03-01 20:21] brnsolikyl commented on #2502
None of the above works

[2022-03-02 20:51] nicksellen commented on #2502
Oh :( that's disappointing, and slightly odd.

Ok, I made some codepens to just try out different quasar versions without all the complexity of Karrot:
- https://codepen.io/nicksellen/pen/rNYomrJ (quasar v1.15.21) <-- corresponds to karrot v9.4.0
- https://codepen.io/nicksellen/pen/XWzoRwY (quasar v1.15.22) <-- no karrot used this version
- https://codepen.io/nicksellen/pen/xxPmdNQ (quasar v1.15.2

[2022-03-02 20:56] dwaxweiler commented on #2502
Thanks for looking into this in depth, @nicksellen! Unfortunately, none of the codepens works for me.

[2022-03-02 20:59] nicksellen commented on #2502
Oh, getting odder. Can you try again... I made a little error where the text value wasn't saved anywhere... also, does the normal text input field below the quasar one work?

[2022-03-02 21:34] dwaxweiler commented on #2502
No difference! Yes, the normal input text field works in every codepen.

[2022-03-08 17:43] #2504 closed

[2022-03-14 09:09] #2499 closed

[2022-03-14 12:45] tiltec commented on #2502
@dwaxweiler @brnsolikyl
Can you check if it works in Quasar v2? https://quasar.dev/vue-components/input

I tried it myself with typical German umlauts (äüö) in Firefox under Linux, but it all works fine. How do you actually enter the character? Do you have the character on your keyboard, do you use "dead keys" or do you use the "compose" key?

[2022-03-14 13:36] nicksellen commented on #2502
It doesn't work in quasar 2 (said here --> https://github.com/karrot-dev/karrot-frontend/issues/2502#issuecomment-1055248359)

[2022-03-14 17:39] dwaxweiler commented on #2502
@tiltec I enter all my umlauts and accents using dead keys with on US Internal keyboard layout.

[2022-03-14 17:50] dwaxweiler opened #2515 "Add number of places to statistics page"
I suggest to add to the statistics page some details about the groups' places:
- the number of places per status
- places filterable by year

Two use cases from my group:
- We regularly publish how many places we are cooperating with. At the moment, we count them manually.
- We sometimes need the number of new places of a specific time period, usually one year, for end of year reviews or funding r

[2022-03-14 20:37] brnsolikyl commented on #2502
I use the Swedish layout so the existing characters on the keyboard do work. Otherwise I use the dead key, which is the thing not working.

[2022-03-15 21:19] tiltec commented on #2502
Alright, I can reproduce it using the compose key. Interestingly, I could enter accents in the "email" input type: https://quasar.dev/vue-components/input#example--input-types
Can you check if this also works with dead keys?

[2022-03-15 21:21] nicksellen commented on #2502
Ah great, I never managed to reproduce it :/

[2022-03-15 21:48] nicksellen commented on #2512
Mobile view I think! (And hey!)

[2022-03-16 06:52] dwaxweiler commented on #2502
@tiltec You are right! The email input field also works for me.

[2022-03-19 18:21] pogopaule commented on #2512
Can't reproduce it on master. I guess it has been fixed https://github.com/karrot-dev/karrot-frontend/pull/2501. I close this ticket.

[2022-03-19 18:21] #2512 closed

[2022-03-21 09:44] nicksellen commented on #2512
Ah, thanks, sorry for that!

[2022-03-21 11:45] pogopaule commented on #2512
No worries! Was an easy bugfix for me 😄

BTW saw you in a documentary!

[2022-03-21 12:01] nicksellen commented on #2512
Oh, do share more! I don't know if I know about this...

[2022-03-21 12:24] pogopaule commented on #2512
Starting at minute 18.30 https://www.ardmediathek.de/video/Y3JpZDovL3N3ci5kZS9hZXgvbzE1OTY3MzM/

[2022-03-22 13:12] nicksellen opened #2517 "Better handle inactive groups with 0 members"
**Current behaviour**

If all the members in a group are inactive, over time they will all be removed and the group will end up useless. Nobody can join. And nobody can reuse the group name either.

There is a message that says:

**Proposal for better behaviour**

My proposal would be that when a group gets to 0 members we mark it as "expired" (or something) in the database and hide it from everyw

[2022-03-23 17:18] nicksellen opened #2519 "Username and @ mention snags"
After deploying @-mentions a few issues are immediately apparent:

- username generation generated some invalid usernames
  - unidecode process can add spaces and they aren't removed [1]
  - it doesn't filter/replace characters not valid for usernames
- the regex for usernames is too broad I think `\w` includes more than intended... [2]
- the frontend regex might be different? [3]

So, should:
- m

[2022-03-23 18:44] linalex1 commented on #2356
Hello, is this issue still unresolved? I would love to take a look at it and try to fix it if it is still an issue.

[2022-03-25 14:35] #2519 closed

[2022-03-27 03:02] kkreine commented on #2356
Hi, I'm running a little late but will update the PR tomorrow

[2022-03-30 08:56] dwaxweiler commented on #2502
@nicksellen If you have not done so, I would file a bug report at Quasar?

[2022-03-30 09:44] nicksellen commented on #2502
Yes, would be great @dwaxweiler :) I had wondered if @tiltec would be able to resolve it as he could recreate it locally... but seeing as it is faulty on the quasar site, it seems legitimately something they could investigate... though they'll also run into the difficulties of finding someone with a keyboard setup that reproduces it, and might disbelieve it as a real problem...

[2022-04-01 17:04] tiltec commented on #2502
Filing a Quasar bug seems the right step now! Can also get active there if they can't reproduce it.

[2022-04-11 11:39] nicksellen opened #2522 "Problem: we need unsafe-eval with how we use new vue-i18n lib"
Ideally we can use the runtime build that doesn't need to compile messages, but we need to understand this better before we can do it. For now, I'm adding 'unsafe-eval' into our CSP policy...

[2022-04-12 11:47] tiltec commented on #2522
I somehow got vue-i18n to work with the runtime build, by compiling locales with vue-i18n-loader. But a lot is still broken, so I suggest to merge #2438 without waiting for this.

[2022-04-12 11:58] nicksellen opened #2523 "Cannot change username"
Since implementing @-mentions in https://github.com/karrot-dev/karrot-frontend/issues/2407 we added usernames, but you can't change them yet.

We should allow changing usernames!

In https://github.com/karrot-dev/karrot-frontend/issues/2407#issuecomment-969236821= I said:

So, that would be a good way.

[2022-04-13 00:54] yatharthchhabra commented on #2515
Hi, I'm enrolled in a Software Engineering course at the University of Michigan. My partner and I would like to take charge of this issue and resolve it as part of our class project.

We are a bit confused about the exact issue since it seems those features are already implemented. As you can see on the first screenshot, there is a total for number of places per status on the bottom row. Also, the

[2022-04-13 01:04] yatharthchhabra commented on #2508
Hi, I tried to replicate this issue by applying for a group with my dev console open and leaving the browser unrefreshed. After getting accepted, I was able to click around and I didn't encounter any errors. Am I doing something incorrectly or has this issue been resolved? Thanks

[2022-04-13 16:13] nitishvijai commented on #2506
@yatharthchhabra and I will be working on this issue soon.

[2022-04-14 02:52] manasviparikh commented on #2411
Hello,
I am new to open-source contributing, and I was wondering if this would be a good first issue to try to tackle? If so, I would like to claim this issue.

[2022-04-14 19:28] dwaxweiler commented on #2515
Welcome @yatharthchhabra, I am happy to read that both of you are considering contributing to Karrot!

With "status" I meant the one of the place with the values "co-operating", "negotiating" and so on; You can change this on the place's edit page.

I think it would already be enough to add the total number of places to the table of your first screenshot, specifically to the cell in the last row a

[2022-04-15 12:35] nicksellen opened #2524 "Problem: the frontend lets me use emojis that the backend doesn't recognise"
I tried to use the `star_struck` emoji reaction (a face with red stars for eyes), but the backend tells me:

[code]

the POST request was to https://karrot.world/api/messages/79231/reactions/ with this body:

[code]

The frontend and the backend should agree on which emoji reactions are valid.

[2022-04-18 01:31] manasviparikh commented on #2496
Hello,
I was wondering if this issue has been resolved or if there was any more information/investigation done on this bug?

[2022-04-21 23:15] manasviparikh commented on #2524
Hi! I've been working on this issue for a bit and should be able to submit a PR shortly. :)

[2022-04-22 04:32] tiltec commented on #2524
I just remembered this script and wondered if we need to run it again with an updated SOURCE_URL? https://github.com/karrot-dev/karrot-backend/blob/master/karrot/conversations/management/commands/make_emoji_list.py
it creates the list of emojis and aliases that should be compatible with markdown-it-emoji and twemoji. maybe the list is out of sync? anyway, can also wait for your PR ;)

[2022-04-22 07:10] manasviparikh commented on #2524
I just submitted a pull request on the backend repo for this issue! have no idea how to link it to this issue on the frontend though... I ran the script ./manage.py make_emoji_list which updated the emoji list in make_emoji_list.py; the only issue is that it is not well formatted. It's two very large dictionaries.

[2022-04-23 09:11] #2506 closed

[2022-05-06 20:46] Chinchuluun1029 commented on #2495
Hello, is this issue resolved? I tested the scenario with 2 email addresses that are members of a group (that both checked New applications checkbox) and had a 3rd account that sent an application and message on the application and none of the subsequent messages were emailed to the two members. If this is not the desired outcome, can you please elaborate on the scenario?

[2022-05-08 14:11] #2350 closed

[2022-05-18 21:34] dwaxweiler commented on #2502
I have asked to reopen the issue, you, @nicksellen, have found: https://github.com/quasarframework/quasar/issues/10198

[2022-05-22 10:21] dwaxweiler commented on #1520
Hello @tiltec, could you reopen this issue please? With a growing number of members, such a type filter becomes more and more useful in my opinion.

[2022-05-22 10:32] dwaxweiler commented on #1242
I want to add the idea of a raffle for much wanted activities: You can sign up until one week in advance, and the system randomly selects the people that should go. Such a feature could be enabled per series of activities and per activity to be only used when needed. It should only be possible for pickups planned longer in advance as I fear that it could become messy and stressful if the draw happ

[2022-05-26 18:23] brnsolikyl commented on #2495
Hi @Chinchuluun1029 and sorry for the late reply.

The issue is still unresolved. I noticed this on my group and confirmed the issue by looking at postal.karrot.world, that the e-mails were actually being sent to non-participants in the application conversation. Also, another group reported the same problem to me.

I'm not sure how to reproduce it though.

[2022-06-09 15:41] dwaxweiler commented on #2502
This issue seems to be solved with the latest quasar releases 1.19.1 and 2.7.1; I have successfully tested the documentation examples. Once the PR #2537 is merged, this should be fixed.

[2022-06-09 16:16] nicksellen commented on #2502
Great! Good job keeping track of it. I just fixed up the issue with Sentry in that PR, so will merge soon.

Will take a bit longer before we deploy, as master currently has our vue2 upgrade in it, and I think that needs a bit more trying out before it's safe to deploy, quite a few things changes there as it was a big upgrade.

Beta testing of that is also welcome, we co-ordinate it over at https:/

[2022-06-13 10:11] nicksellen opened #2540 "Don't show email addresses of users"
On a users profile, their email is visible to other people in the group. This is probably from the early days before we had communication features in karrot. Most tools would not show this information.

It seems reasonable to just hide these now.

I created this issue as someone exploring karrot commented: _I was surprised to see that my email address is visible to other group members_. I'm not aw

[2022-06-14 12:26] nicksellen commented on #2540
We chatted about this today in our weekly meeting (see [notes](https://community.karrot.world/t/weekly-call-about-karrot-development-2022/849/22)) and the points we made were:

* telephone number makes more sense, and e-mail address might be useful, but hiding it doesn’t seem to be a problem
* should we get some more input?
* Decision: it should be optional, default to share it

It was also noted

[2022-06-15 16:34] nicksellen opened #2541 "Calender feed is not compatible with google calender"
We have an ical feed URL, but it requires authentication to access, and google only lets users put a URL in, no credentials.

Would seem a nice idea to implement a "magic url" for the ical feed, so users can just copy and paste it in. This is still useful for when using credentials, as the magic link would give general access to your karrot account.

Maybe it's enough to just have a random token p

[2022-06-19 09:37] nicksellen opened #2545 "Don't force square images"
At the moment image uploads for messages and offers are resized on the client to be square. This is because I reused the croppa component that we use for profile photos (which do have to be square, and benefit from the user being able to select the part they want to be shown).... but this is not useful for messages or offers.

Also, vue-croppa is only supporting vue2, and development seems a bit s

[2022-06-20 11:26] #2524 closed

[2022-06-21 10:59] nicksellen commented on #2541
We discussed it in our weekly call today, and it made sense to the people, so I put it ready for development :)

[2022-06-22 15:14] nicksellen opened #2548 "Cannot create activities with unlimited participants"
In the UI, if you delete the value for _max participants_ it shows _unlimited_, but when you try and save, the server says:

[code]

It should accept a null value to mean _unlimited_.

[2022-06-23 17:06] dwaxweiler commented on #938
This would still be nice.

[2022-06-23 17:07] nicksellen commented on #938
We're a bit stuck without any iOS dev people in our team, so any ideas for that would help a lot!

[2022-06-24 12:04] tiltec commented on #2548
Fixed in 3a7d33014c9ce0fb187834c390f46fc585a369ae

[2022-06-24 12:04] #2548 closed

[2022-06-25 12:03] tiltec commented on #2461
This seems to be outdated, we have stylelint v14 now (but not really functional since we merged the Quasar upgrade)

[2022-06-25 12:03] #2461 closed

[2022-06-25 12:08] tiltec opened #2553 "yarn lint:style is not working"
Output:

[code]

This seems to be a leftover from the quasar upgrade.

Also, webpack-stylelint-plugin not configured yet in quasar.conf.js

[2022-06-27 09:54] #2462 closed

[2022-06-28 12:16] nicksellen opened #2556 "Don't subscribe everyone to issue conversation"
Following proposal over here --> https://community.karrot.world/t/conflict-resolution-with-possibility-to-remove-user-from-group/201/40

That was agreed today in our weekly meeting.

So, this involves:
- making it possible to not be subscribed to issue conversations at all (currently it is enforced that you are _always_ in it, and can only lesson the notifications, but not step out completely)
- m

[2022-07-08 11:02] tiltec opened #2559 "Can't use 'back' button to navigate back from place wall/activities"
...because it adds two history entries due to redirect.

[code]

I think this due to https://github.com/karrot-dev/karrot-frontend/pull/2444, but could have been there earlier.

[2022-07-12 08:22] nicksellen commented on #2553
I think for this case a Vue SFC can be treated as an HTML document, if that helps anything.

https://stackoverflow.com/a/5654471 says that sass is an older syntax to scss, so converting to scss could be an option if that seems to have better supported tools? Although https://stylelint.io/ says it supports both.

[2022-07-14 10:30] #2541 closed

[2022-07-14 14:25] #2507 closed

[2022-07-16 18:55] nicksellen commented on #2346
Ah it's interesting this just got marked as stale again, I saw it with my own eyes for the first time on Friday on my friends computer :)

[2022-07-16 18:56] nicksellen commented on #2342
This seems useful still, I noticed the problem myself with some users of karrot.

[2022-07-16 20:38] larzon83 commented on #2346
I remember :) Maybe I can fix it. Will try it this month.

[2022-08-06 01:37] #2244 closed

[2022-08-06 01:37] #2289 closed

[2022-08-06 15:39] dwaxweiler opened #2568 "karrot.world is down"
My browser says `Unable to connect`. I have heard similar reports from others of my group.

[2022-08-06 16:03] nicksellen commented on #2568
Yes, sorry @dwaxweiler we are having some trouble with the server at the moment. After some OS updates, the server did not come back again after a reboot, we can enter into a recovery mode, but so far it won't boot normally.

We're looking at it! Quite frustrating here, normally these things are quite reliable...

[2022-08-06 18:41] nicksellen commented on #2568
We suspect one of the hard disks is broken, there are 2 disks in a raid1 configuration, and we've been trying to get the system to boot from the second disk, so far without success.

We are paying for some out-of-hours support for someone to connect a device that let's us access the system console (as if we were physically next to the machine with a keyboard and monitor), which should let us modif

[2022-08-06 18:49] dwaxweiler commented on #2568
@nicksellen Thanks for the updates! I cross my fingers that you manage to fix the issue!

[2022-08-06 18:55] nicksellen commented on #2568
I put a maintenance page up on https://karrot.world/ now, which refers to this issue, so it's the Official status updates place for now!

The support people seem quite helpful so far, and they have offered to put a new disk in, and connect the KVM (the thing that let's access the server console) within the next couple of hours.

[2022-08-06 20:24] nicksellen commented on #2568
Woo, they swapped the disk out, and it boots now. We have a bit more maintenance to do before putting it back online properly, but we're on the home run now.

[2022-08-06 21:24] nicksellen commented on #2568
We are back! :partying_face: :sparkle:

The raid array is being rebuilt, and still some upgrades to continue another day, but for now that's a happy place to get back to.

The community forum is still offline, that always had an issue starting up after a reboot, but we're on that too (that causes a Server Error message to show on karrot when you load it).

[2022-08-07 07:06] dwaxweiler commented on #2568
Thanks so much to everybody involved!

I leave Nick's post on the forum here for reference: https://community.karrot.world/t/sorry-for-the-karrot-outage-today/956

How can I buy you a drink after that Saturday?

[2022-08-08 19:43] brnsolikyl commented on #2495
Got this confirmed again today by @dwaxweiler . As it's apparently not the case with everyone and could not be so easily reproduced, I'll mark it as a bug.

[2022-08-08 19:52] brnsolikyl opened #2569 "Picking selected date sends you to the 19th century"
Here's a funny one... What I did:
- create an activity
- click on the date to select the date
- click again on the selected date

This will select a date quite some time ago. On production I got 1899-12-31 and on dev I got 1900-01-01

See screen recording:
https://user-images.githubusercontent.com/25367304/183501378-1b12640b-17d4-456a-b0e5-6d08595fc2c2.mp4

I tried on mobile and desktop.

[2022-08-10 01:37] #2337 closed

[2022-08-10 01:37] #2335 closed

[2022-08-10 11:26] #2568 closed

[2022-08-16 17:21] tiltec opened #2571 "Users sometimes stay conversation participants after leaving group"
Just opening this issue to remember in future. I used this query to find affected conversation participants:

[code]
Currently there are over 30k results on karrot.world, most of them activities, but also applications, places and offers.

Need to figure out if they are actually wrong, how this happens and how to clean up.

[2022-08-17 02:01] #2080 closed

[2022-08-17 15:06] dwaxweiler commented on #2310
This would still be useful.

[2022-08-22 01:50] #2492 closed

[2022-08-22 01:50] #2463 closed

[2022-09-03 22:34] nicksellen commented on #2502
Can you confirm if this is resolved on https://dev.karrot.world/ now? (that's on quasar 2.7.5).

[2022-09-04 07:11] dwaxweiler commented on #2502
@nicksellen Yes, it is resolved! Thanks

[2022-09-07 19:58] nicksellen opened #2576 "Only shows 10 issues"
Backend for issues is paginated, but frontend doesn't deal with it.

I've actually fixed it in https://github.com/karrot-dev/karrot-frontend/pull/2575 but it's quite important for groups that are currently not able to see issues, so maybe hotfix the backend to increase the limit from 10 to 50.

[2022-09-11 10:05] tiltec commented on #2388
Resolved with #2567

[2022-09-11 10:05] #2388 closed

[2022-09-19 09:24] nicksellen opened #2583 "Add public activities"
As a next step as part our "Breaking the Silo" design process (https://community.karrot.world/t/breaking-the-silo-1-defining-the-challenge/894) we're focusing on **public activities** next.

This is to enable people that are not members of a group on karrot, or people without a karrot account at all, to interact with the group. Currently the groups are hidden behind a "signup" -> "apply to join" f

[2022-09-19 09:25] nicksellen commented on #2583
@brnsolikyl I described the public activities feature here in a minimal version to the best of my ability, but welcome input from you :) ... we can also chat about in next weekly meeting.

[2022-09-22 09:28] nicksellen opened #2587 "Reply to @-mention notification goes to the wrong place"
I just replied to an @-mention from an activity chat, and it ended up on the main group wall...

[2022-09-23 13:30] nicksellen opened #2588 "Group image no longer shown in group menu"
It should be like this (selected groups logo is used for the top left icon):

![Screenshot_2022-09-23_14-29-24](https://user-images.githubusercontent.com/31616/191971184-776442d4-62fc-4b79-81aa-393a5e39d15d.png)

But on dev.karrot.world, it's currently like this (karrot logo is always used):

![Screenshot_2022-09-23_14-29-46](https://user-images.githubusercontent.com/31616/191971287-569e7310-ab90-

[2022-09-23 13:43] nicksellen commented on #2583
I did a video walkthrough of how it's working so far:

https://user-images.githubusercontent.com/31616/191973825-de481fb7-87f7-4a64-b824-7e2f919a7c4d.mp4

Looking for small detailed bits of feedback :)

[2022-09-26 15:10] #2559 closed

[2022-09-27 16:40] #2583 closed

[2022-09-27 19:41] brnsolikyl opened #2591 "Mark as favorite icon out of place on group places page"
The star icon is not contained in the card. Here's what it looks like here:
![image](https://user-images.githubusercontent.com/25367304/192620309-34a02fa6-6c30-4ca8-855f-1fc83040156c.png)

[2022-09-27 19:48] brnsolikyl opened #2592 "Edit button inside activity edit preview should not be there"
I found that when editing a series of activities and pressing the Preview button, there's also an edit button there and it's actionable. This creates quite a confusion!

![image](https://user-images.githubusercontent.com/25367304/192621680-cf742780-3abf-402a-a8e3-7de723ad41f4.png)

[2022-09-27 22:55] nicksellen commented on #2592
Here's the fix --> it's this line https://github.com/karrot-dev/karrot-frontend/blob/efe8f52a4d6d957db02769a38c0ad47bf26fa03a/src/activities/components/ActivitySeriesEdit.vue#L323 should have the `preview` attribute set (which was probably like it from when I added that feature)

[2022-09-28 22:01] #2591 closed

[2022-09-28 22:01] #2592 closed

[2022-09-29 11:37] nicksellen opened #2594 "Place display shows 0 messages when there are some"
The place display will show 0 message count although there are messages.

![placemessagecount](https://user-images.githubusercontent.com/31616/193020653-77a554d2-fcb6-437e-9659-17e8a854943f.png)

This is because we don't track conversations that you are not part of.

I think it should not show any number at all in that case, as right now it's misleading.

It _could_ just show it for favourites, bu

[2022-09-29 16:04] mwelsch opened #2595 "[Feature Request] Past Activities"
Hey,
It would be great to have something like "Past Activities" for a place in addition to "History". In this Tab you would be able to see (all?)  past activities. Maybe also with the feature to enable/disable this tab per place? Would be great for paid events, then I know immediately when the event was, and what budget we planned. Currently we keep this information manually, if somebody forgets t

[2022-09-29 17:00] nicksellen commented on #2595
Thanks @mwelsch, yes, I totally agree this makes sense, we've heard the same from a few groups.

I do wonder where it should go, my first sense would be to have another filter on the activities page, but that is getting quite busy now (there are quite a few changes not deployed yet):

![activitiespage](https://user-images.githubusercontent.com/31616/193092874-30348b95-1fb9-41c0-8ec9-670690188463.p

[2022-09-29 18:23] tiltec commented on #2594
I mean, it will also show "0 messages" if you read them all… but the messages are still there!

But maybe the change you mentioned might be an improvement.

[2022-09-29 23:52] nicksellen commented on #2594
Probably just not showing at all when it's either a zero or not present, would make more sense to me. Perhaps in the same way that our bell notification doesn't show a 0 when there is nothing new.

[2022-09-30 11:30] nicksellen opened #2597 "New Agreement breadcrumb item not translated"
![breadcrumbagreementsnew](https://user-images.githubusercontent.com/31616/193260243-b44a4613-1a69-499c-8a15-4a86d0216dcf.png)

[2022-09-30 17:03] nicksellen opened #2598 "User profile action buttons on top of everything"
![useractionbuttons](https://user-images.githubusercontent.com/31616/193320932-27e32ba0-2019-460b-bb65-c42546be7a43.png)

They previously were somehow set so even though they looked in front of the card, you could only click on the top two thirds of the button, as if they were behind it... I lazily set z-max on them, now they are on top of everything!

![zmaxtoohigh](https://user-images.githubuser

[2022-09-30 18:41] #2598 closed

[2022-09-30 22:06] #2597 closed

[2022-09-30 22:06] #2588 closed

[2022-10-01 09:51] brnsolikyl commented on #2556
Solved - https://github.com/karrot-dev/karrot-frontend/pull/2582

[2022-10-01 09:51] #2556 closed

[2022-10-01 16:42] mwelsch commented on #2595
I would seperate this feature, for a few reasons:
- too messy if everything is on one page
   - e.g. how do you display past AND upcoming events on the same page?
- I want see the most recent activities on the top of my screen and scroll down for events that were longer ago

Some very professional photoshop mockups - I would opt to make idea 2 AND 3:
Idea 1:
![firefox_Y9mWzsJ7Nv_2](https://user-im

[2022-10-01 16:42] #2595 closed

[2022-10-05 17:25] brnsolikyl commented on #2595
I think it's something that many groups would appreciate, for sure! Although the solution I see to this is to add a filter on the history page (general and per place) - "activities only". At least that's where I'd look for it, and it would not clutter the sidenav menu or the activities page

[2022-10-08 17:44] #2594 closed

[2022-10-10 20:49] #2522 closed

[2022-10-12 02:13] #2184 closed

[2022-10-12 05:25] dwaxweiler commented on #2515
Hi @yatharthchhabra, are you still interested in this issue?

[2022-10-17 11:32] nicksellen commented on #2587
I just tried to re-create this on dev.karrot.world and karrot.world and it worked fine (from an activity chat).

I looked deeper, into the specific case that caused me to create the issue and I was mistaken.

It was a group wall message, and the reply would have been better as a thread reply, but actually went as a new wall message.

that's much less bad than an activity chat message going to the

[2022-10-17 11:52] nicksellen commented on #2587
Should be fixed by https://github.com/karrot-dev/karrot-backend/commit/2170cd74a78243154da31a9946dc100ab6a97ce9 (I meant to create a PR, but pushed to master instead...)

[2022-10-17 12:03] #2587 closed

[2022-10-17 12:04] nicksellen commented on #2587
I tried it out on dev.karrot.world and it works now!

[2022-10-20 02:03] #2517 closed

[2022-10-28 04:45] yatharthchhabra commented on #2515
Unfortunately, we will not be able to help with this issue. Sorry about
that!

On Tue, Oct 11, 2022 at 10:25 PM Daniel Waxweiler ***@***.***>
wrote:

[2022-10-28 19:01] brnsolikyl opened #2602 "Public activities looking weird on group preview page"
This is the case when they **don't have an image or information**, like on the screenshot below. It's very unclear what it is... Maybe a heading "upcoming activities" above the activity cards would suffice

![image](https://user-images.githubusercontent.com/25367304/198711848-ac4178c6-5353-4a96-8280-054a18aceaa4.png)

[2022-11-08 21:49] brnsolikyl commented on #2495
Got two cases confirmed again from my group. Since it is quite annoying for many people I marked the issue as important.

[2022-11-10 01:44] #2508 closed

[2022-11-11 19:33] nicksellen opened #2604 "Post nlnet release planning"
- [x] wait for tutorial videos to be ready
- [x] fixup release notes (1 item per merged PR)
- [x] investigate build failure: https://app.circleci.com/pipelines/github/karrot-dev/karrot-frontend/4011/workflows/ec0f5be4-62e9-453a-9233-93ff29bb8258/jobs/38627
- [x] ... add some other stuff to this list
- [x] announce release in advance (via banner?)
- [x] release!
- [x] enable feature flags for some

[2022-11-12 01:40] #2411 closed

[2022-11-12 09:00] brnsolikyl commented on #2571
Now I noticed an old issue I posted about this was closed by the bot. I can confirm this problem:
https://github.com/karrot-dev/karrot-frontend/issues/2411

[2022-11-15 01:37] #2496 closed

[2022-11-27 13:40] dwaxweiler commented on #2502
Solved with the latest release! Thanks

[2022-11-27 13:40] #2502 closed

[2022-11-27 22:35] nicksellen commented on #2502
Woo, great!

[2022-11-28 01:19] #2515 closed

[2022-11-28 22:37] brnsolikyl opened #2609 "scrolling back to the top while typing"
While typing a longer message, it keeps bringing you back to the top so you don't get to see what you're typing while you do it.

We noticed this while typing longer messages on two places:
- a thread/conversation
- creating an agreement

Probably more places where it's happening...

This is quite annoying so I'd say prioritize this

[2022-11-29 19:13] nicksellen opened #2610 "mobile place header a bit wonky"
![Screenshot_2022-11-29-18-57-03](https://user-images.githubusercontent.com/31616/204624004-d098b489-63d8-4714-ad08-2e64775cbab6.png)

[2022-11-29 21:00] nicksellen opened #2611 "duplicate display of activities"
Two groups have reported activities show as duplicated on the main group activity view (and maybe ok on the place activities view).