[2018-11-24 12:29] nicksellen commented on #1068
Hmmm, still shows inline/eval errors on https://dev.karrot.world/.

Service worker is missing `node: false`. Will add that. Not sure about the inline bit though. Might do a build without html minification so can show the line it's referring to.

[2018-11-24 12:45] tiltec commented on #1068
I see these errors in Firefox, but not in Chromium. There are also no reports lately when visiting dev.karrot.world with Chromium: https://sentry.io/foodsaving-worldwide/karrot-csp-report-only/?environment=development&query=

[2018-11-24 12:51] nicksellen commented on #1068
Maybe our windows users don't do geocoding so frequently, but still useful when they do :)

https://sentry.io/foodsaving-worldwide/karrot-csp-report-only/issues/687890889/?environment=development

[2018-11-24 13:35] nicksellen commented on #1068
CSP is enabled for dev.karrot.world now :)

Seems ok so far, I can browse around the website on firefox/chrome/app.

[2018-11-24 13:36] nicksellen commented on #1068
https://dev.karrot.world/bundlesize.html doesn't work any more :/

Can see it with:
[code]

... but not ideal... guess we need some overrides for that path.

[2018-11-24 14:02] tiltec commented on #1068
I still see these on the dev.karrot.world in Firefox:

![image](https://user-images.githubusercontent.com/4410802/48969109-0506e300-effa-11e8-83c2-f215bfb12e9d.png)

[2018-11-24 14:07] nicksellen commented on #1068
Fixed the bundlesize.html page now. It still shows some `eval` errors, but seems to work. Can add more permissions in https://github.com/yunity/yuca/blob/master/roles/karrot-backend/templates/nginx.j2#L67 if needed.

Firefox still shows errors for the main page too, but it can't back them up with any evidence.... it works, and the line number does not make sense.

[2018-11-26 21:21] tiltec commented on #1118
Backend translation messages contain [Pythons printf-style formatting syntax](https://docs.python.org/3.7/library/stdtypes.html?highlight=printf#old-string-formatting). There's javascript library that seems to support this: https://github.com/alexei/sprintf.js

[2018-12-03 11:46] tiltec commented on #1134
Just had a look, 4 more "List Unsubscribe" in the last 7 days.

[2018-12-07 15:47] tiltec commented on #1138
Closed by https://github.com/yunity/karrot-frontend/commit/cfa1769142dff44acf0ff2e01ca8b4ac1d68fce5

[2018-12-07 15:47] #1138 closed

[2018-12-12 14:58] tiltec opened #1148 "Keep up with new eslint-vue rules"
By today's update, eslint-vue has some new rules to keep us busy (and make the codebase nicer).

I commented most of them out to not distract myself too much from #1147, so this could be fixed up:

https://github.com/yunity/karrot-frontend/blob/13f1c6bcb09ab1369b88c8cf0df4e20733ec6b64/.eslintrc.js#L44-L54

1. Comment out one exception
2. Run `yarn fix`
3. Check if it could be fixed automatically,

[2018-12-13 15:23] tiltec opened #1149 "Fix source maps for Android app in Sentry"
Errors reported from Android are hard to read because Sentry can't resolve the source maps for them:
https://sentry.io/share/issue/8ebf9ab944f64a3c9a34641f11ef51f5/

I added a build step to upload source maps:
https://github.com/yunity/karrot-frontend/blob/13f1c6bcb09ab1369b88c8cf0df4e20733ec6b64/.circleci/config.yml#L32-L39
It does its job, the files are getting uploaded for every release:
https:

[2018-12-14 10:27] tiltec opened #1151 "Speed up rendering of member list"
UPDATE in https://github.com/yunity/karrot-frontend/issues/1151#issuecomment-458965381

The member list is quite slow for big groups (e.g. more than 1 second for Foodsharing i Östersund on mobile). The list of inactive members is even slower.

We could introduce frontend-only pagination (either as infinite scroll or [as explicit pages](https://quasar-framework.org/components/pagination.html)) or r

[2018-12-15 10:25] tiltec opened #1154 "Add stylus linter"
It seems rather easy to add a stylus linter for vue files: https://vue-loader.vuejs.org/guide/linting.html#stylelint
Should be helpful to maintain a consistent style and prevent errors like this: https://github.com/yunity/karrot-frontend/pull/1153

EDIT: the linter above is just a CSS linter, need to check if it makes sense to apply it.

[2018-12-16 14:08] tiltec opened #1155 "Rewrite leaflet popups inside Vue"
Vue2-leaflet evolved and now supports popups as vue components: https://korigan.github.io/Vue2Leaflet/#/components/l-popup/

Before we had

https://github.com/yunity/karrot-frontend/blob/aa1e94a8b6915681c841d1550b88d76372801d67/src/maps/components/StandardMap.vue#L24-L27

with `content` being `<a href="${groupUrl(group.id)}">${escape(group.name)}</a>` etc...

Now we can write it as proper componen

[2018-12-17 18:19] #1133 closed

[2018-12-22 12:25] tiltec opened #1157 "Keep order of pickup collectors"
Details: https://community.foodsaving.world/t/feature-request-keep-order-of-signing-up-to-pickups/185

Should be as simple as adding an `order_by('-created_at')` somewhere and writing a little test case about it.

[2018-12-22 12:56] tiltec opened #1158 "Account deletion can't be confirmed on iPhone 6"
I received feedback via email that there seems to be an error when confirming account deletion via frontend.

I didn't investigate yet, so the first step would be to create a new account on dev.karrot.world and delete it again. If everything works fine, than this issue could be closed again. Otherwise, the problem should get fixed.

[2018-12-22 23:38] JordanLozinski commented on #1157
I'm trying to take this up as my first contribution to karrot. It might take some doing because I'm not very familiar with django.
I'm currently looking in [https://github.com/yunity/karrot-backend/blob/d5673022d5c6aca6ec062fd211dfe239a860af8f/foodsaving/pickups/api.py](foodsaving/pickups/api.py)

[2018-12-23 10:31] tiltec commented on #1157
Hey @JordanLozinski, welcome!
The Karrot backend API structure is guided by [Django REST framework](https://www.django-rest-framework.org/), so the documentation on [Model Serializers](https://www.django-rest-framework.org/api-guide/serializers/#modelserializer) might be helpful to you.
There's a `PickupDateSerializer` in Karrot that contains a field named `collector_ids`. Through a `ManyToManyFie

[2018-12-26 00:49] tweidinger opened #1159 "karrot.world is using outdated nginx"
Hi,
while playing with the backend API Documentation on swagger.io, the response returned the nginx version string

This version is possibly affected by https://github.com/nixawk/labs/issues/15

I would recommend to update the used webserver.
Thanks :)

[2018-12-26 10:00] nicksellen commented on #1159
Thanks for the warning!

We are running Debian stretch which looks to have have patched this vulnerability in 1.10.3.

See https://security-tracker.debian.org/tracker/CVE-2017-7529

We should check our automatic security updates actually installed that and it's running though.

[2018-12-26 12:51] nicksellen commented on #1159
We did have the latest patched version installed, although it had not been restarted. I think we can get better at doing that! I installed https://github.com/liske/needrestart to help us :)

Thanks!

[2018-12-26 12:51] #1159 closed

[2018-12-26 22:41] sarathin commented on #1158
I tried two scenarios and in both the delete account worked fine.

1. Created a new account and deleted it before doing email verification
2. Created the account again and did email verified, then delete it

In both scenarios received an email to click on "Delete your account" button and selecting it deleted the account.

[2018-12-27 09:03] tiltec commented on #1158
Thanks @sarathin, that's good news.
Which browser and OS did you use?

I just noticed that the bug reporter seems to be on iPhone, maybe that's the problem.

[2018-12-27 21:07] sarathin commented on #1158
openSUSE Leap 15.0 / Firefox. Don't own an iPhone so will not be able to verify this issue.

[2018-12-31 11:01] lwm commented on #606
On this topic, I was also reading (for anyone else poking around):
* https://community.foodsaving.world/t/funding-concept-for-karrot/136
* https://community.foodsaving.world/t/a-karrot-co-op/124

[2018-12-31 11:12] lwm commented on #982
Just floating around the issues now and can't help but think that this could be an interesting candidate for [Matrix open protocol](https://matrix.org/docs/guides/faq#what-is-matrix's-mission%3F) bindings. All groups can use whatever chat application they want (the inevitable 'support X chat application' feature request) to send messages to the Matrix room [using a bridge for their app](https://ma

[2018-12-31 11:38] lwm commented on #1106
Righto, I'll take a stab at this at some point.

[2018-12-31 20:11] tiltec commented on #1158
I got the confirmation that the problem occured on iPhone 6. Don't have it either, so waiting for someone that has :)

[2019-01-01 15:40] #797 closed

[2019-01-02 12:50] lwm commented on #1106
Question time!

Are we referring to the Wall conversations (saw other chatting in other places, so not exactly clear to me).

Does 'joining the conversation' here mean that the user is entering some comment in the thread?

[2019-01-03 12:17] tiltec commented on #1151
I tried to make rendering more responsive by rendering it in chunks (didn't work via nextTick, but with requestAnimationFrame), but it needs special state management and this seems like unwanted complexity to me.

So the next thing to try out would be explicit pagination.

[2019-01-03 14:19] blnk-space commented on #1151
Have you thought about virtual rendering? (windowing)

[2019-01-03 14:39] tiltec commented on #1151
You mean something like https://github.com/Akryum/vue-virtual-scroller? I experimented with it and it worked. Although it needs to know the height of each item upfront, so it's quite involved if the height changes between mobile vs desktop.
It also needs more investigation how it affects accessibility. Virtual scroll essentially abuses HTML structure and it might confuse screen readers.

[2019-01-03 14:50] blnk-space commented on #1151
You're right about the accessibility bit, virtual rendering makes sure that screen readers only read whatever is visible and cached. I've researched on this before and there's no way to make virtual rendering accessible, there needs to be keyboard or mouse based scrolling for that to happen.
But, all of Facebook.com's home page feed, and even Twitter are virtually rendered so in terms of the proje

[2019-01-03 14:53] blnk-space commented on #1151
I'm all for explicit pagination if you think this project is the kind where the UX isn't harmed if we have to click to keep traversing between pages. I just discovered this today so I'm not sure if not having to add that extra step would benefit in any way.

[2019-01-03 15:31] tiltec commented on #1151
Yeah, makes sense to me! How would you implement the height measurement?

So far, we use "infinite scroll" (without virtual scroll) for pages with much historical content (message lists, activity log).
All other pages show complete content. But it doesn't scale and should change, especially for pickup list and member list. Explicit pagination seems a reasonable and low-complexity solution there.

[2019-01-03 15:40] blnk-space commented on #1151
Alright. There's a lot of sophisticated height measurement techniques I use with React, I could sit tomorrow and work on a Vue example if I don't find something that's already there.
Although I don't want to make it "hack"-ey so I'd rather implement the styling of components in such a way that their height is predictable and doesn't need to be measured as a consequence.

There's two ways to go abo

[2019-01-03 19:35] djahnie commented on #1148
@taistadam started with the first rule already.

[2019-01-04 10:55] #1079 closed

[2019-01-04 11:42] taistadam commented on #853
This is becoming the main feature goal of the Winter Month of Karrot (January!).
Wireframing session planned today with hopefully a plan and key questions to relate to the forum afterwards.

[2019-01-04 15:31] lwm commented on #1106
OK, I've got https://github.com/yunity/karrot-backend/pull/594 for this :+1:

[2019-01-04 15:55] #1106 closed

[2019-01-04 18:08] lwm opened #1172 "Delay pickup and conversations dissapearance by ~30 minutes"
Just pushing this one out from the #karrot-dev channel.

[2019-01-04 22:45] mvellasco commented on #837
Can I start working on it?

[2019-01-05 09:03] tiltec commented on #837
Hi @mvellasco, welcome! Yes, this seems a good task to get started with.
If you have any questions, you can ask them here or in our Slack channel (see Readme file)

[2019-01-05 17:31] tiltec commented on #1157
How is it going @JordanLozinski ?

[2019-01-05 17:43] lwm commented on #1140
Gonna pick this up then.

[2019-01-05 17:44] lwm commented on #1157
I have some time and was gonna grab https://github.com/yunity/karrot-frontend/issues/1140 and this one since it looks a bit inactive (and I can also do with helping the small ones ...).

[2019-01-05 19:08] #1155 closed

[2019-01-05 19:40] lwm commented on #1172
I'll get on this for the next time then :dancer: :dancer: :dancer:

[2019-01-05 19:46] taistadam commented on #1172
hey @lwm I'm actually investigating this one atm, forgot to document it here...

[2019-01-05 19:50] lwm commented on #1172
All good!

[2019-01-05 19:54] lwm commented on #1117
Hi @gagandeepp, I will pick this up next if you're not still working on it.

[2019-01-05 20:20] tiltec opened #1174 "Allow to mute conversations without being logged in"
I got reports from users who had problems with muting some of their conversations, because they weren't logged in and either had to log in or even reset their password.

The frontend has some logic in place to execute the _mute_ action after login: https://github.com/yunity/karrot-frontend/blob/fd5c7785dc1ce2af51d001af0b08a6d249e7bb64/src/authuser/datastore/auth.js#L52
But it probably breaks if th

[2019-01-06 20:49] #1157 closed

[2019-01-06 21:04] lwm commented on #1083
I'll pick this one up then next time if no one is already working on it. I'll extend the good work of https://github.com/yunity/karrot-backend/pull/588 based on feedback in https://github.com/yunity/karrot-backend/pull/588#issuecomment-443783631.

[2019-01-07 13:55] #1117 closed

[2019-01-07 19:31] tiltec commented on #709
Questions about this:

Having `start` and `end` should satisfy all requirements, or did I overlook something? Even if it's "the whole day", there are still opening hours.

Should it be allowed to join and leave after it started? Joining seems to make sense to me.

Should we restrict the duration? I tend to leave it up to the group to set a sane duration.

Also, Nicks questions from some posts abov

[2019-01-08 10:34] brnsolikyl commented on #709
`start` and `end` are the basic parameters that are sufficient in my opinion. When we have a time span we usually write it on the comments field. If there's a preferred time in the period of time, one could also just write it down. It makes things simpler and more flexible than adding another setting to specify the time in the period. It's also a question for the UI to make things simple when defi

[2019-01-08 20:03] cstefanj commented on #1158
Hi! I tried this on my iPhone 6s and it worked fine. I took screenshots in case it wouldn't work, let me know if you need them.

[2019-01-08 20:11] cstefanj commented on #963
Hi! I'm looking for a starter task to tackle. What skills do I need to be able to contribute to this one?

[2019-01-08 20:19] tiltec commented on #963
Hi @cstefanj, welcome! This task needs both frontend and backend changes, so Vue/JS and Django/Python skills would be helpful. (If you prefer to work only in Python or JavaScript land, you might be better off with another task)

[2019-01-08 20:20] tiltec commented on #1158
Thanks! Then it might just be a single case. Will close this one :)

[2019-01-08 20:20] #1158 closed

[2019-01-08 20:32] cstefanj commented on #963
Hi! Ok, then I think I need to keep looking. I would be happy to look at the Python/Django part (although I have used Flask more) but have no clue when it comes to the frontend. Thanks for the quick reply!

[2019-01-08 21:08] tiltec commented on #963
Yeah, I like Python more than JavaScript, but it's actually not too bad working with VueJS.

Anyhow, if you want to work on the backend bits, I could take over the frontend part. https://github.com/yunity/karrot-frontend/issues/891 might be a bit more needed than this issue and has good chunk of backend work as well, so maybe that's something you would like to have a try?

Coming from Flask, the D

[2019-01-08 21:44] #1172 closed

[2019-01-08 21:44] cstefanj commented on #963
With that approach I would be happy to give the backend part of #891 a try. Looking at that thread it looks like several people have already given it a go, not sure if I'm perhaps getting in over my head here since this would be my first contribution .. Do you already have thoughts on the frontend part and what you would need from the backend?

[2019-01-08 22:48] tiltec commented on #891
The backend part of this could be quite similar to the user profile picture implementation. For reference:

Model field: https://github.com/yunity/karrot-backend/blob/baf5c817852b8f5ed4810f6a3c7f29b11a034147/foodsaving/users/models.py#L92-L96
Serialization: https://github.com/yunity/karrot-backend/blob/baf5c817852b8f5ed4810f6a3c7f29b11a034147/foodsaving/userauth/serializers.py#L29-L30

[2019-01-08 22:55] tiltec commented on #963
I added some information to the other issue.

About getting over your head: after setting up the backend locally, the hardest work should already be done ;)

[2019-01-08 23:58] nicksellen commented on #1127
I like the idea, and it keeps a focus on using karrot for things you _actually do_, but it doesn't to quite sound right when it's being used for a meeting, or a public gathering, but neither are perfect for all the things. It might be that as karrot is more for internal group co-ordination stuff that the task is a much better focus than general events. Naming is _hard_.

To me, _event_ can be more

[2019-01-09 14:23] cstefanj commented on #891
@tiltec Hi. I got this working locally (thank goodness for docker-compose) with a forked version of the backend. I added the fields to the group model and serializers and got it working (after remembering to do the database migration...) - the API response now include the 'photo_urls' field. I left a comment about it at the bottom [here](https://github.com/cstefanj/karrot-backend/commit/5cf1ce116f

[2019-01-09 15:08] brnsolikyl commented on #1127
I trust you there, since you're native speaker :)

I like activity. And personally I'd rather not change History (what's the status of it btw?) if we are to choose this name.

Figuring out the right words is something that can be asked from users or tried out in usability tests, so I'll include this to my list!

Do you mean because of the different languages? Or because stores will be kept for foo

[2019-01-09 17:33] tiltec commented on #891
Great! I left you a comment, seems all good.

The next step would be adding a test. Maybe you can figure it out yourself, based on the tests in the user(-auth) API?

[2019-01-09 20:10] cstefanj commented on #891
Great, that's encouraging! :-) I took a stab at the tests but that was a bit trickier. I left a few comments [here](https://github.com/cstefanj/karrot-backend/commit/d27e991beef726428798d679301ddc64f69d182f).

[2019-01-10 15:01] cstefanj commented on #891
@tiltec I'm making progress on the tests but have a question [here](https://github.com/cstefanj/karrot-backend/commit/345823510e6657680e4247d28b144b48fbc50ce9).

[2019-01-11 17:17] #1174 closed

[2019-01-13 11:45] tiltec commented on #1134
SparkPost has some recommendations how to handle List-Unsubscribe:
https://www.sparkpost.com/docs/tech-resources/list-unsubscribe-functionality/
https://www.sparkpost.com/docs/user-guide/setting-up-unsubscribe-links/

We tried to replace the List-Unsubscribe header with our own link, but SparkPost just ignores it.
This code could be removed at some point:
https://github.com/yunity/karrot-backend/b

[2019-01-16 11:44] stevenkuipers commented on #1111
Hi,

if it's okay with you, I would like to take this.

[2019-01-16 16:00] tiltec commented on #1111
Hi @stevenkuipers, sounds good! I'm happy to answer questions about this :)

[2019-01-16 23:38] AllanOcelot opened #1207 "Install Issue: Module quasar framework"
Hi all, I wanted to install Karrot and try to do some design fixes/tweaks/improvements, however when trying to install via yarn I get the following issue:

[code]

Googling the issue yields no results - so I'm at a bit of a loss on how to resolve this.

Looking forward to getting stuck in and helping out with this great project!

[2019-01-16 23:49] nicksellen commented on #1207
You've got yarn `v1.5.1` and quasar is telling you it wants `>= 1.6.0`, so you need to upgrade yarn!

[2019-01-17 00:19] AllanOcelot commented on #1207
Ah! Didn't see the expected version number, thanks!

[2019-01-17 00:19] #1207 closed

[2019-01-17 12:07] #891 closed

[2019-01-18 15:04] tiltec commented on #1140
Now that's in production, I noticed that members of the playground group get bell notifications each time somebody gains editing permissions. Also the user receives an email when they gain editing permissions.

I think we should definitely turn off the bell notifications "user_became_editor" for the playground group, and maybe disable the email "you became editor" in the playground group.

What do

[2019-01-20 13:17] lwm commented on #1140
Yep, makes sense! I'll pick this up.

[2019-01-21 12:55] stevenkuipers commented on #1111
Hi @tiltec, I was not able to reproduce the bug where the number moves offscreen. Can you clarify what browser you were / are using?

[2019-01-23 15:44] tiltec opened #1230 "Make thread reply notifications more visible"
Currently, thread replies are in the "latest messages" menu listed below conversation replies:

![screenshot_2019-01-23_16-37-23](https://user-images.githubusercontent.com/4410802/51617760-36822900-1f2d-11e9-8129-869af6a9de85.png)

This is not super obvious, as highlighted by this comment from Disa (Solikyl Gothenburg):

is meant to do just what i was asking for. But its not really clear, ive
neve

[2019-01-23 18:09] djahnie commented on #1230
I like the tabs idea! Since we apparently will have tabs in the issues as well it makes sense to use them in more locations.

[2019-01-24 14:44] brnsolikyl commented on #1230
Tabs could be a good solution. I noticed a clear pattern from all of the usability tests we've done so far: people are confused by all buttons and notifications on the header. I think we need to tackle all of these problems together, and maybe try a bigger redesign for the next release. I'll try to sketch something...

We can do some usability testing on dev before we launch anything very new to p

[2019-01-24 18:35] tiltec commented on #1096
Another option is to implement our own machine learning thing for parsing email replies. Could be a fun but challenging task :)

[2019-01-25 12:53] tiltec commented on #986
https://github.com/yunity/karrot-frontend/pull/1240 adds store conversations and this seems a good opportunity to also think about subscriptions.

What does it mean when a user subscribes to a store?
- do they get email notifications about store wall messages?
- get pickup/feedback notifications?
- get notifications when somebody edited the store?

Should it all be one setting ("subscribed" / "mut

[2019-01-25 13:23] tiltec commented on #1108
Opened a forum thread about this: https://community.foodsaving.world/t/how-do-you-handle-late-drop-outs-from-pickups/213

[2019-01-25 13:30] tiltec opened #1241 "Add lower and upper slot limit to pickups"
Currently, Karrot has one setting to limit how many people can sign up for a pickup. But this is not enough in some cases - what if there's _at least_ one person needed, but it's okay if three go? When should Karrot notify people about empty slots?

The Karrot code sometimes implicitly assumes that "1" is the lower limit, which seems reasonable in most cases. But I still think it would be helpful

[2019-01-25 13:40] tiltec opened #1242 "Better handling for much wanted pickups"
I opened a thread on the community forum about this: https://community.foodsaving.world/t/how-to-handle-much-wanted-pickups/214
Now awaiting feedback and see if it makes sense to propose a feature.

[2019-01-25 13:58] tiltec commented on #1088
I would add a `ended` property to conversation targets and search for ended targets in a cronjob. If the last reply was more than 7 days ago, mark the conversation as "locked" or "read-only".

[2019-01-25 14:00] tiltec commented on #428
See https://community.foodsaving.world/t/remove-email-address-from-profile-page-resistance/215

[2019-01-26 15:11] tiltec commented on #1118
There's a nice overview about format in Weblate's documentation: http://docs.weblate.org/en/latest/formats.html#translation-types-capabilities

[2019-01-26 23:51] mvellasco commented on #837
Hello @tiltec, thank you for the welcome! I'm just wrapping up the code, and I'll submit a PR on the next day or so.

[2019-01-27 14:44] brnsolikyl commented on #986
Awesome!

From a user perspective and recent tests I'd recommend to be very careful with extra notifications. I think it's the case of having some of the current notifications turned off by default (like wall messages and upcoming pickups) and when the person subscribes to a store, that would turn on message notifications for the wall on the store and also upcoming pickups that nobody signed up to

[2019-01-27 17:41] tiltec commented on #1134
Reading up on this topic again because @mr-kojo didn't get an invite email from a group on Karrot. His email address bounced almost a year ago and is on the suppression list ever since.

How is the interaction between Karrots bounces handling and the Sparkpost suppression list? I think if an email address is on any of these lists, emails won't arrive (even if the email address stopped bouncing in

[2019-01-28 11:39] tiltec opened #1251 "Full-text search in messages (and other content?)"
I played a bit around with full-text search in messages. It seems a useful feature for mid-term future, so this is mostly a report on backend technology to have a faster start next time.

Django has reasonable built-in support for Postgres text search features: https://docs.djangoproject.com/en/2.1/ref/contrib/postgres/search/
It's essentially:
[code]

`SearchQuery` calls Postgres `plainto_tsquery

[2019-01-28 22:04] #1137 closed

[2019-01-30 13:07] tiltec commented on #1124
We could also move more UI components into Storybook when we tackle this.

[2019-01-30 13:08] tiltec commented on #1124
Removing my assignment because my motivation to tackle this is quite low.

[2019-01-30 13:10] djahnie commented on #1124
I'm slightly interested in this but also won't commit to definitely doing it in the next three months. If other people want to add their thoughts, they're most welcome to!

[2019-01-30 13:16] tiltec commented on #1110
This is mostly solved, except for this

But as nobody complained about it so far and it can be simply solved by reloading the page, I will close this now.

[2019-01-30 13:16] #1110 closed

[2019-01-30 13:18] tiltec commented on #1091
I tried some approaches, unsuccessfully. Seems still ok how it is right now, so I would close again.

[2019-01-30 13:18] #1091 closed

[2019-01-30 13:32] djahnie commented on #1108
The forum post shows that this also touched the topic of #986 so it might need more discussion and/or just waiting for store walls to be there before starting to implement things.

[2019-01-30 13:42] tiltec commented on #1096
Would be cool to solve this problem! First needs figuring out the option to go forward with (e.g. docker image with discourse email trimmer and HTTP api, or enhancing `talon`...).

[2019-01-30 13:42] djahnie commented on #853
@taistadam and I already put a lot of work in but are not done yet. We are working on the branch `conflict-tabs` and the goal is to release in February.

[2019-01-30 13:59] djahnie commented on #1095
This is a meta issue from which PRs can be directly derived. We're happy about contributions! :)

Me personally I'm interested in adding a thing that prompts users to give trust and in displaying the date when trust was given. @tiltec had the idea to simply make this into two categories like 'recent' and 'old' and I find that pretty useful already. Might be tackled soonish.

[2019-01-30 14:34] tiltec commented on #1151
Sorry for not answering, we just picked this issue up again and came to the conclusion that a virtual scroll is too much complexity for a list with 100-200 entries.

Maybe just limiting the results to 20 entries and adding a button "show more" might be a good start!

[2019-01-30 14:36] tiltec commented on #1148
Two rules have been applied, to-be-done ones can be found at the bottom of https://github.com/yunity/karrot-frontend/blob/master/.eslintrc.js

[2019-01-30 14:42] tiltec commented on #1107
Seems not a huge problem, so closing this again.

[2019-01-30 14:42] #1107 closed

[2019-01-30 14:45] blnk-space commented on #1151
Alright, that makes sense. Let me know if there's need of a helping hand
here or anywhere else.

On Wed, Jan 30, 2019, 8:04 PM Tilmann Becker <notifications@github.com
wrote:

--

*Aviral K.*
*User Interface Developer*
//+91 729 002 1002

[2019-01-30 14:46] tiltec commented on #1093
Hi @honsq90, how are you doing? Did you make progress on this? Would be great to have it.

If you don't reply in the next week, we'll assume that this task is up for grabs again.

[2019-01-30 14:52] tiltec commented on #613
I'm not motivated to push this and there's also not soo many benefits, so leaving this aside for now.

[2019-01-30 14:52] #613 closed

[2019-01-30 14:56] djahnie commented on #1072
This would be really awesome to have and it's a frontend only task, so I'd naturally be interested normally. It's just that I can't quite imagine hoe to approach this - feels somehow different to what I did before. I might request coaching for this and have a look at some point, but I'd be much more happy if a random person from the internet showed up and made this a thing... ;)

[2019-01-30 14:57] tiltec commented on #1068
Closing as done!

[2019-01-30 14:57] #1068 closed

[2019-01-30 15:00] tiltec commented on #938
Hey @Superbil, how is it going?

[2019-01-30 15:07] tiltec commented on #952
The group wall needs all upcoming and joined pickups, so this could conflict with smaller page sizes.
We might need to add another filter to the backend that returns only upcoming and joined pickups and only fetch all if the user clicks on the pickups page.

[2019-01-30 15:23] tiltec commented on #963
Coming back to this issue: it's already possible to reference a picture in pickup feedback because the text is rendered as Markdown, but users would need to figure out the hosting solution by themselves (needs to be on https to fulfill our Content Security Policy).
This is closely related to having pictures in any message on Karrot, so if we decide to implement that, we might add an option to uplo

[2019-01-30 15:25] tiltec commented on #982
Closing this on the request of @nicksellen - "notifications are hard enough and we should focus on improving our own first"

[2019-01-30 15:25] #982 closed

[2019-01-30 17:35] brnsolikyl commented on #1140
Please turn it off asap! :laughing:
Playground notifications are now making bell notifications almost useless since they're all over the place.

[2019-01-30 20:43] nicksellen commented on #1140
@brnsolikyl don't forget you can leave the Playground group ;)

But agree they should be turned off of course.

[2019-01-30 22:06] lwm commented on #1140
Fix coming tomorrow, I hope! Running out of time in the last days ... still on my radar :)

[2019-01-31 10:34] djahnie commented on #552
The mobile number field is implemented and the number of comments on this issue is pretty intimidating. If there is still a need for the means of transportation field, a new issue should be opened.

[2019-01-31 10:34] #552 closed

[2019-01-31 10:43] tiltec commented on #610
There was the idea of creating a dashboard that spans all groups the user is part of. In the meantime, I would close this issue and read back when we start working on the dashboard.

[2019-01-31 10:43] #610 closed

[2019-01-31 10:45] tiltec commented on #981
This has been inactive for a while, so I would close this. Can be reopened if interested arises.

[2019-01-31 10:45] #981 closed

[2019-01-31 10:46] djahnie commented on #983
Not important enough to bug people about this, especially when we want to bug them to give trust to other users at the same time.

[2019-01-31 10:46] #983 closed

[2019-01-31 10:53] tiltec commented on #1035
We had a brief discussion about this right now and it seems the main reason to implement this seems to be if you want to use the feedback feature of Karrot, but avoid that the user has to visit Karrot before the pickup happens and click a button. This is not how most groups use Karrot, so it wouldn't be a benefit for them.
If you really want this feature, we need help from your side to implement i

[2019-01-31 10:53] #1035 closed

[2019-01-31 10:59] tiltec commented on #428
Closing this based on the feedback from https://community.foodsaving.world/t/remove-email-address-from-profile-page-resistance/215

[2019-01-31 10:59] #428 closed

[2019-01-31 11:10] #1154 closed

[2019-01-31 11:11] tiltec commented on #1154
stylelint is no good solution for us and stylint (not to be confused!) is not actively developed, so it seems we better continue without.

[2019-01-31 11:29] tiltec opened #1259 "Group customization options"
Based on #676

Latest discussion favors group customization options over site customization (to allow one deployment to be used for different groups, shared login).

We already support a group logo. @nicksellen played with color/background customization and his preliminary conclusion was "predefined themes" to keep some control over usability concerns (e.g. prevent some group from making horrible

[2019-01-31 12:12] brnsolikyl commented on #1046
I think it's useful and could have been useful in many occasions, and for the moment I do not see a reason why it should not be open for others to read. We might even consider in the future making it open for others to participate in, but we'd need more feedback and that's for later IMO. I myself joined a  pickup these days just to leave a very important message to those who would be doing the pic

[2019-01-31 14:28] mr-kojo opened #1260 "Missing karrots"
On 28/01/2019 I accepted the application of user 1780 to group 62 on the production system and immediately gave him a karrot. Consequently he gained editing permissions (threshold 1). On the next day, I visited the members page which displayed the user with 0 karrots (and a red background). I gave him a karrot again and then he was displayed with 1 karrot and a green background (just as the day be

[2019-01-31 14:58] mr-kojo opened #1261 "Sign out does not work"
On Windows 10 x64 with Firefox 64 and no browser add-ons, the logout does not work.
The UI does not change at all when I click on "Sign out". The only thing that happens is that Sentry is notified via `POST https://sentry.io/api/236883/store/?sentry_key=...` and response `200`.

Using Chrome on the same system the logout works, though.

[2019-01-31 18:15] tiltec commented on #986
Thinking a bit more about store wall in relation to subscriptions: should people who did not subscribe to a store be able to see and read the store wall? I guess yes. I wonder if it's then fitting to have the store wall as "muted" conversation for those who didn't subscribe. It might be a bit annoying because they still get an entry in the "latest messages" menu then.
Otherwise I would have to int

[2019-01-31 20:00] tiltec commented on #1140
I can do a deploy to production right after that (so maybe Saturday evening?), together with lots of recent changes :)

[2019-01-31 20:08] tiltec commented on #1261
Thanks! I couldn't reproduce it unfortunately, it works in Linux (both newest Firefox & Chromium).

I have an idea, it might be triggered by cleaning up firebase registrations: https://sentry.io/share/issue/2905f350b477455da20d31ad4a55ebaa/
All errors happen on Firefox on Windows, so it might be something special about this combination.

It shouldn't prevent logout in the first place, but it's als

[2019-02-01 03:40] Superbil commented on #938
@tiltec Just setup new profile key and try to rebuild it again.

[2019-02-01 10:22] tiltec commented on #1046
Thanks! I have the feeling it makes sense to think about this in the context of store conversations & subscriptions, so I'll close this in favor of #986

[2019-02-01 10:22] #1046 closed

[2019-02-01 10:23] tiltec commented on #649
I'll close this in favor of #986

[2019-02-01 10:23] #649 closed

[2019-02-01 10:45] tiltec commented on #986
It seems all group members should be able to read/write into all group-related conversations (e.g. pickup chat, store wall). So there seem to be four levels of membership:

0. non-members that don't have access
1. group members with read/write access, but no notifications
2. subscribers that get notifications (store subscriptions, people who joined the pickup)
3. subscribers with "muted" notificat

[2019-02-01 11:45] lwm opened #1265 "Exception: Nothing to use for text content, no text or html templates available."
After raising https://github.com/yunity/karrot-docker/issues/4, I moved onto setup a local non-docker setup for the backend. I then ran into an issue related to missing tempaltes (although I can see them in the directory structure). I'm not sure where to go from here, so I am here for more help :)

I see this when I run the tests on the backend.

So, here's the error:

[code]

And my `config/local

[2019-02-01 11:46] lwm commented on #1265
PS. I'll update https://github.com/yunity/karrot-backend/blob/master/SETUP.md once I get setup too.

[2019-02-01 12:16] nicksellen commented on #1265
Ah, you need to convert the templates from mjml format into nice jinja2 ones that can be used by the backend, `cd mjml && yarn && ./convert` should do the trick.

There is a little bit about this in the context of the email template viewer https://github.com/yunity/karrot-backend#email-template-viewer.

Perhaps we should add the mjml step into the `sync.py` script... what do you think @tiltec?

(i

[2019-02-01 14:47] tiltec commented on #1265
Sounds good! Could even clear out old html files, that caused me some test failures once when switching between branches

[2019-02-01 14:57] tiltec commented on #986
Had a chat with @nicksellen about possible implementation steps. Might add a `group` field to the conversation, and allow everyone in the group to read and write the conversation. For conversations where this should _not_ be the case (e.g. conflict resolution is only readable to members), set an `is_open` field to `False`.

Notification details are yet to be defined:
- when somebody unsubscribes t

[2019-02-01 22:59] nicksellen commented on #1265
That's added and merged now.

[2019-02-02 11:53] lwm commented on #1265
Did the trick! Thanks to you both :rocket: :rocket: :rocket:

[2019-02-02 11:53] #1265 closed

[2019-02-03 13:12] tiltec commented on #1140
Didn't do it yesterday, will try again tonight.
@lwm do you have time today? Otherwise I'm happy to fix it!

[2019-02-03 13:14] tiltec commented on #1140
Ah I just saw https://github.com/yunity/karrot-docker/issues/4#issuecomment-459959023 so I guess this needs to be resolved before you can work on Karrot again!

[2019-02-03 13:32] tiltec commented on #963
Sure! My last comment was of general nature, there's no need to implement it in near future.

For more backend tasks, I marked some as "help wanted" here: https://github.com/yunity/karrot-frontend/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+label%3Abackend+label%3Ahelp-wanted
For example, https://github.com/yunity/karrot-frontend/issues/1038 might be straightforward :)

[2019-02-03 16:08] tiltec commented on #1140
I'll pick it up and
- disable the "user_became_editor" bell because it distracts from useful notifications
- disable the "you became editor" email because the content is not accurate, it says "You've received enough trust"

I'll leave the "you_became_editor" bell enabled.

[2019-02-03 16:31] #1140 closed

[2019-02-05 13:40] mr-kojo commented on #1260
The rabbit was hungry again.

See user 1822. Same situation as described above. Note that no other user has joined the group in the meantime. Maybe that's useful to know.

[2019-02-09 20:54] tiltec commented on #986
I made a prototype notification selector, to replace the existing "notification toggle":

![screenshot_2019-02-09_21-49-30](https://user-images.githubusercontent.com/4410802/52526169-1d130800-2cb5-11e9-8359-31b59b6faf39.png)

[2019-02-10 11:41] nicksellen commented on #959
A tricky thing is editing. I guess the expectation is that people are editing in their local time, but we need to save it in the group timezone.

In the proposal above the backend would still need to accept valid timezone aware timestamps, so the display would be using "local" timestamps (although the Date objects are not aware of anything but UTC or local timezone, so it's a fudge - the point in

[2019-02-10 11:51] #1083 closed

[2019-02-10 12:27] nicksellen commented on #959
Ok, I have a plan!

The backend sends dates like `2018-03-14T15:30:03.014000-04:00` - the frontend keeps a seperate localDate field (which it can calculate by knowlege of it's current timezone and the offset from the string).

For editing we do one of two things:
1. forbid editing if the users timezone is different to the group timezone
2. use a library that knows about all the timezones and can c

[2019-02-10 20:07] brnsolikyl commented on #986
In my opinion, subscription to a stores = chat notifications for messages on the wall and pickup notifications (created, disabled, changed, etc.).

I like the selector above, because there should be an opt-out for email and push. However, no notifications at all should be simply equal to unsubscribing from the store. There's one little detail that I'd change in this selector, which is the icons. I

[2019-02-10 21:26] tiltec commented on #986
I try to put the first version on dev.karrot.world in the next days, to give you a better feeling what the current state is.

My current version has place subscriptions and place conversation subscriptions slightly decoupled:
- when (un)subscribing a place, the user also gets (un)subscribed from/to the conversation
- when the user (un)subscribes from/to the conversation, this does _not_ affect the

[2019-02-11 19:44] tiltec commented on #986
Next iteration! Added unread "chips" in the sidenav, sorted the stores to show subscribed ones first (and always show subscribed ones, even if they are not active).

![image](https://user-images.githubusercontent.com/4410802/52588688-54acbc00-2e3d-11e9-936e-e3a99d0ac9e1.png)

I added a subscription toggle in the same style as the conversation notification toggle:
![image](https://user-images.githu

[2019-02-11 21:06] tiltec commented on #986
How should we go about archived places? I'd lean towards "closing" the conversation if the place is archived, and opening it again if it gets restored.

[2019-02-14 18:32] #986 closed

[2019-02-14 18:37] tiltec opened #1297 "Place subscriptions & conversations - follow-up"
From the PRs that resolved https://github.com/yunity/karrot-frontend/issues/986:

* walls of archived places are hidden right now, maybe need to show them in a special mode. backend could "close" conversations of archived stores
* store wall looks very similar to group wall, how can it be less confusing?
* new users won't be subscribed to any store and don't see pickups on the wall - maybe that's

[2019-02-14 18:42] tiltec commented on #986
They are online on dev.karrot.world! I opened an issue for follow-up discussions: https://github.com/yunity/karrot-frontend/issues/1297

[2019-02-14 18:43] tiltec commented on #1297
Frontend bug: if the place has no wall messages and the user is not subscribed yet, it doesn't show the wall at all.

[2019-02-17 13:54] brnsolikyl commented on #1297
It looks good! I'm more concerned about the navigation issues you mentioned:

- finding store-specific pickups comes new with an extra step; and
- it might not be clear which wall they're at...

The first point might not be a big deal, given the subscription option. On the other hand, if pickups from  unsubscribed stores are not easily discoverable, that's a major drawback for non-popular stores.

[2019-02-17 21:34] tiltec commented on #1297
Possibly yes, although it would be cool to have something that doesn't require user interaction. For example, we could add shopping cart to the top of the page.

That makes me thinking if the breadcrumbs in the topbar are actually useful.. isn't their purpose to give the user orientation on which page they are on?

[2019-02-21 12:47] tiltec opened #1307 "Refine security headers"
https://observatory.mozilla.org/analyze/karrot.world has some recommendations for us.

Regarding CSP:

Not sure if we can do this, I think we use a lot of inline styles (and maybe Quasar does too...). Could check, but I don't see a huge benefit.

Seems useful, but the overall risk for our users is quite low.

Yeah, why not...

Apparently there's loophole where an attacker might modify the `<base>`

[2019-03-01 23:26] cstefanj commented on #1038
Hi @tiltec. I'm wondering, is the idea for this be implemented through a few changes to the application_accepted.mjml email template, allowing for adding a custom welcome message per group there? Or is the idea to have this as a separate email setup, with a new template, a new entry to emails.py and perhaps tasks.py?

[2019-03-02 09:30] tiltec commented on #1038
Yeah, I think adding it to the application_accepted email would cover most use cases.

There are two more ways how a user can become member:
- by invitation of another group member
- by joining an open group

But we can care about those later.

[2019-03-02 13:55] cstefanj commented on #1038
Ok, sounds good. And then I guess the `Group` model needs to have a new attribute `welcome_message` or similar, since the message would be group-specific. I can take a stab at this and see how far I get. :-) Not sure I can do much about the frontend part... But as a thought, would Edit Group be the place for the group admin/editor(s) to edit the message?

[2019-03-02 14:39] tiltec commented on #1038
Sounds right to me!

[2019-03-04 15:11] cstefanj commented on #1038
@tiltec Sorry but I have a strange issue. (Doesn't belong here I guess but I'll delete this post after resolving). When I worked on the previous PR I never had problems with the local docker-compose setup, but now I can't get the backend working even after a fair bit of trying:
<img width="948" alt="screenshot 2019-03-04 at 16 05 02" src="https://user-images.githubusercontent.com/1835675/53741931-

[2019-03-04 16:51] tiltec commented on #1038
@cstefanj Weird, maybe remove the docker-compose setup? Perhaps those commands might help:
[code]

[2019-03-04 19:24] cstefanj commented on #1038
@tiltec Thanks, that did the trick! Will get to work and try to make myself useful. :-)

As a side note, I still get one test failure when I run the whole suite. I had the same failure last time I worked and it didn't interfere with what I was doing so I should be good to go now as well, but it's a bit odd: ![image](https://user-images.githubusercontent.com/1835675/53757165-3e81a100-3ebb-11e9-8d4f

[2019-03-04 23:01] mzpawlowski opened #1323 "No new slots have appeared in recurring pickups since Saturday (2nd March)"
Since Saturday (2.03.2019) no new slots have appeared in any of the stores with recurring pickups in Warsaw group. In majority of our stores we have slots open for two weeks ahead which means that at the time when I'm writing this (Monday, 04.03.2019), we should have slots available for Monday, 18.03.2019, but we only have them until Saturday, 16.03.2019. So it looks as if something happened on Sa

[2019-03-05 07:57] tiltec commented on #1323
Thanks for the report! A server upgrade on Saturday affected our task runner service. I restarted it, should be solved now.

[2019-03-05 07:57] #1323 closed

[2019-03-05 11:06] mzpawlowski commented on #1323
Yes. It's ok now. Thank you for a quick action!

[2019-03-09 18:25] tiltec commented on #1038
Thanks for tackling the backend part @cstefanj!
Would you also be interested in frontend development?

[2019-03-10 17:37] cstefanj commented on #1038
I wish I could help and I did have a look at the frontend code a couple of days ago, thinking I could perhaps figure something out based on the existing description text input field in the Edit Group section. Have to admit I couldn't make much sense of it... Perhaps if you could point me to the relevant lines I could have another look?

[2019-03-11 15:16] tiltec commented on #1038
Sure! You might be able to duplicate the group description input: https://github.com/yunity/karrot-frontend/blob/84c9ce1908f91de7202ab533cfa6d8c95aa61a53/src/group/components/GroupEdit.vue#L50-L64
Just replace everything that says `description` with `welcomeMessage`. It is converted to `welcome_message` before it gets sent to the backend. Then you can set and edit a welcome message.

[2019-03-11 16:19] tiltec opened #1334 "Show threads with newest replies first in wall"
From https://community.foodsaving.world/t/wall-messages-ordered-by-lastest-reply/248

We should investigate how much work it is to implement that. Tricky bits that come to my mind:
- `seen_up_to` (becomes meaningless?)
- latest messages field
- email notification logic/batching

[2019-03-11 16:55] tiltec commented on #709
Now that @nicksellen implemented end dates for pickups, I guess we can close this issue.

[2019-03-11 16:55] #709 closed

[2019-03-17 13:43] #853 closed

[2019-03-17 13:57] tiltec opened #1344 "Conflict resolution follow-up"
I just merged #1291, but there is probably some unfinished work. Let's see which issues should be tackled before release.

- [ ] add info that vote stays anonymous?
- [ ] rephrase "extend the time to keep discussion" -> "keep discussing and start another voting"?
- [ ] show average score instead of total score? have "meh" emoji for average between 1 and -1, instead of just 0
- [ ] check how it loo

[2019-03-21 12:43] tiltec commented on #1344
[This post](https://community.foodsaving.world/t/conflict-resolution-with-possibility-to-remove-user-from-group/201/11) mentions a way how a user might be able to bypass the group decision:

0. User A is editor
1. User X starts a conflict resolution against A
2. User A creates more accounts (B, C, D...) and invites them to the group (or B, C, D apply to the group and A accepts them)
3. Conflict re

[2019-03-27 08:50] tiltec opened #1366 "Allow users to mute community feed notifications"
Add an option to mute/disable community feed notifications.

![Screenshot_2019-03-27_09-48-45](https://user-images.githubusercontent.com/4410802/55062139-9c964400-5075-11e9-9ead-47178bb95b61.png)

More details: https://community.foodsaving.world/t/a-disable-and-or-a-mark-all-as-read-on-updates-from-the-foodsaving-worldwide-community/260

[2019-03-27 09:00] tiltec commented on #1095
As mentioned in https://github.com/yunity/karrot-frontend/issues/1344#issuecomment-475213901, it was requested to

- increase the trust threshold before users get editing permissions
- let groups set the trust threshold individually
- have a time threshold before users can become editors (in addition to the trust threshold - both requirements must be met)

[2019-03-27 13:04] tiltec commented on #1128
Some time passed, what do you think about it nowadays @brnsolikyl ?

Where should _decoupled_ events get listed? On the wall and on the group pickups page? Are they some kind of "group event" then?

Technical points!
Sometimes event behavior depends on properties of place they are part of:
- pickup series are only updated if the store is active
- the store contains the setting how many weeks in ad

[2019-03-27 14:02] tiltec commented on #1127
I did some thinking about generalization the places/events API. The idea is to not have different schemas in one endpoint, avoiding complex validation logic with _sometimes optional_ fields (e.g. "this field is optional, but only if you specify another one")

We will have with 4 main endpoints:
- /api/places
- /api/events
- /api/event-series
- /api/feedback

I explored places and events, not so mu

[2019-03-27 18:22] nicksellen commented on #1127
Great, thanks for progressing this :+1:

Me and @brnsolikyl had a bit of a chat about some of the topics around this.

My feeling would be to explore lots of the domain specific types/use cases, but then implement it one level more generic than that - e.g. conceive that there might be such a thing as a community fridge cleaning event, but to implement the event type "task" - that could be applicab

[2019-03-28 12:07] tiltec commented on #1038
@cstefanj how is it going? anything I could help you with?

[2019-03-28 12:45] tiltec commented on #1127
Thanks for the quick response!

I like the motto of "one level more generic" - maybe it costs a bit of clarity when somebody starts a brand new group, but all others should be able to derive the meaning from user-provided descriptions. Maybe events should have a title, not just a description?

I think there are some place types that are very similar to each other, maybe they have almost the same d

[2019-03-28 15:16] tiltec commented on #1127
As a next step, I would write up the requirements for two other place types and their events. "Meeting place" and "Public fridge" might be useful here, with the event types "meeting" and "task".

I wonder how "public fridge" could be abstracted:
- "share point"
- "sharing place"
- "share node"
- "sharing node"
- "distribution place"
- "swap place"
- "cycle hub"
- "community center"
- "public place

[2019-03-28 19:29] brnsolikyl commented on #1127
Thanks for the input, Tilmann!

My favourite abstraction of "public fridge" is "sharing node", and being public (in the sense of not being group-bounded) seems to be a good feature for different use cases.

The two place types of "meeting place" and "public fridge" are usually exactly the same in the case of Solikyl and I can think also in the case of Bike Kitchens, so while it's useful to make on

[2019-03-28 19:42] cstefanj commented on #1038
@tiltec Hi! Thanks for the nudge, this had given way to other priorities. I've implemented the code change but can't find a way to test it out locally --  none of the test users have admin rights or even validated emails I think?

[2019-03-28 19:46] brnsolikyl commented on #1128
After some progress on thinking the generalization #1127 I think that decoupling event from place can be desirable depending on the _type of event_ and not generally. For example, pickups as a type of event really needs to be tied to a place, and also meetings, if they are not online.

For certain tasks it might be the case that it's better to not set a place, for example if there is a task to cal

[2019-03-28 19:50] brnsolikyl commented on #938
Just leaving it registered here that people from the Bike Kitchen are requesting this app, especially because another one is joining the Karrot group and many there have iphones.

[2019-03-29 11:24] tiltec commented on #1038
Indeed, that's not ideal with the sample data.
As a workaround, you can create a new group with `http://127.0.0.1:8080/#/group/create`

[2019-03-29 21:16] cstefanj commented on #1038
Thanks, that helped. I got it to work now, left you a question [here](https://github.com/cstefanj/karrot-frontend/commit/dc94b4acf232d34dbbb785bc7c62af5f85321b8a).

[2019-03-30 11:44] tiltec commented on #1260
A lot of trust has been given in the meantime and I didn't hear of this problem again. We should keep our eyes and hears open, but if there are no more insights in the next month, I would close this issue.

[2019-03-30 11:45] tiltec commented on #1261
@mr-kojo Can you check if the error still exists?

[2019-03-30 13:27] tiltec commented on #1127
Indeed, I think the requirements are different enough between groups that it's not easy to make it a perfect fit.

There are some for the data model:
1. build a generic model that supports attaching all kinds of functionality
2. build custom-tailored models for each distinct use case

If we go in the direction of (1), we have two options for the UI:
1. offer one generic type where users can modify

[2019-03-30 16:58] tiltec commented on #1297
From https://community.foodsaving.world/t/introducing-store-wall-and-store-subscriptions/241/12

- [ ] show people who starred a place
- [ ] try out "star" button in sidenav, as shortcut
- [ ] try out tab navigation in place header (to replace sidenav section)

[2019-03-30 17:33] tiltec commented on #1108
There was some discussion in https://community.foodsaving.world/t/how-do-you-handle-late-drop-outs-from-pickups/213 and one concrete proposal emerged: [**show user pickup statistics**](https://community.foodsaving.world/t/how-do-you-handle-late-drop-outs-from-pickups/213/11)

From my point of view, it might also be helpful to show a group/store-specific warning when dropping out less then 24h befo

[2019-03-30 17:44] tiltec commented on #1108
We could also show the pickup history in the detail sidebar, to make it easier to find out who recently dropped out.

[2019-03-30 18:45] #1148 closed

[2019-03-30 19:49] mirekphd opened #1376 "Allow adding pickups to Google Calendar to enable upcoming pickups notifications"
Currently Carrot users can miss upcoming pickups deadlines because there are no notifications of upcoming pickups. The notification functionality is already implemented in Google Calendar (less popular calendars can be added later), so it would be easy to link to it. An example could be  meetup.com, who let Google Calendar handle their notifications. Most people have Google account, so they are al

[2019-03-31 08:31] tiltec commented on #1376
Hi @mirekphd, welcome!

I had a quick look how meetup.com does it:
![Screenshot_2019-03-31_10-25-03](https://user-images.githubusercontent.com/4410802/55286692-61f71900-539f-11e9-99ec-edfff38fcfd7.png)

Clicking on "add to calendar" opens a popover where users can select "Google Calender". Clicking on it opens a link `https://calendar.google.com/calendar/r/eventedit?location=<text>&sprop=name:<nam

[2019-03-31 08:37] tiltec commented on #1376
By the way, Karrot has some pickup notifications already:

- an email the evening before
![Screenshot_2019-03-31_10-35-21](https://user-images.githubusercontent.com/4410802/55286800-ba7ae600-53a0-11e9-9edb-a6e494979bc1.png)

- on-site notifications 6 hours before
![Screenshot_2019-03-31_10-32-57](https://user-images.githubusercontent.com/4410802/55286803-d7171e00-53a0-11e9-8090-da579f62fc3d.png)

[2019-03-31 09:25] tiltec commented on #1038
Closed via #1375

[2019-03-31 09:26] tiltec commented on #1038
As a next step, we should publish a description of this feature in the forum: https://community.foodsaving.world/

[2019-03-31 20:14] cstefanj commented on #1038
Cool! Do you want to bundle this into a bigger announcement with other features as well or should I draft a small note just for this?

[2019-03-31 20:27] tiltec commented on #1038
A note and a screenshot should be good for now :) Let's see what the feedback from the community is!

[2019-04-01 16:39] #1096 closed

[2019-04-01 18:10] mr-kojo commented on #1261
Yes it does. See sentry key 6fd3cc6b432b457e8f18e12aa163a900

[2019-04-04 16:28] tiltec commented on #1261
It should be fixed on karrot.world - please leave a comment here if you encounter the bug again.

[2019-04-04 16:28] #1261 closed

[2019-04-05 22:07] cstefanj commented on #1038
Good point with the Markdown rendering. How about something like this for a simple feature text:

"New feature: you can now create a welcome message for your group, which will be included in the welcome email to newly accepted applicants. You can find the new input field under Edit Group, below the description field. Hopefully this will be a useful way to extend a warm welcome (and provide some gu

[2019-04-08 06:00] andreseg9726 commented on #1072
Hello, is this something you still need help with? I'd be more than glad to try to work on it!

[2019-04-08 06:03] MacNGz commented on #1093
Hi! If no one is working on this, could I pick up this issue?

[2019-04-08 13:32] tiltec commented on #1093
Hi @MacNGz, yes please! :smile:
Did you work with VueJS already?

[2019-04-08 13:33] tiltec commented on #1072
Hi @andreseg9726, yes please!
Did you work with VueJS already?

[2019-04-08 14:29] tiltec commented on #1038
Thanks! Should we add a screenshot of the resulting email as well? For example:

![Screenshot_2019-04-04_11-51-55](https://user-images.githubusercontent.com/4410802/55729234-0ddedb00-5a16-11e9-8206-6c64b327b46f.png)

I remembered some things that we could/should do:
- send the welcome message if someone accepted an email invitation
- hide/disable the "welcome message" setting in open groups (they

[2019-04-08 17:06] MacNGz commented on #1093
@tiltec I've used it a little bit, but I have experience with React and self-teaching shouldn't be a problem!

[2019-04-08 19:41] tiltec commented on #1093
Would you like to have a short introduction into the relevant code parts?

[2019-04-09 02:02] andreseg9726 commented on #1072
I've used it only at a small scale for some coursework but I'm willing to self learn more! I'd like to hear more about the way you started implementing it if that's okay with you. I've also joined the slack channel in case that's better for communicating.

[2019-04-09 07:38] cstefanj commented on #1038
Yes, good idea. It would be nice to put them side-by-side with the same, nicer, example welcome message in each, as text in the input field and rendered in the email. But perhaps just using these two images is enough. About the two additional points:

- I can have a look at sending the email if someone accepts an invitation.
- Hiding the edit box for the welcome message would be an `if` condition

[2019-04-09 09:55] tiltec commented on #1038
Yes, that should do it.

You might need to add a new email template for those.

[2019-04-09 11:00] tiltec commented on #1127
A few scribblings about the "meetings" implementation:

- they should not have feedback
- the places shouldn't be called "stores"
- there could be "group meetings"
- meetings could be subscribed to, independently of location

Questions:
- do we want meeting series? they need a "weeks_in_advance" setting, should it be per series?
- should we generalize meetings as events in the UI?

[2019-04-09 11:44] tiltec commented on #1072
Nice! I'll dump the issue-related information here.

My experiment was https://github.com/yunity/karrot-frontend/compare/emoji-autocomplete - essentially just an autocomplete in case the user wants to choose an emoji that's not in the selection. It takes the list of emoji from [markdown-it-emoji](
https://github.com/markdown-it/markdown-it-emoji/blob/master/lib/data/full.json) as we already have t

[2019-04-09 16:20] MacNGz commented on #1093
@tiltec Sure, that would be helpful

[2019-04-10 11:10] tiltec commented on #1093
Ok!

The logic for conversations and messages is in [src/messages/datastore/conversations.js](https://github.com/yunity/karrot-frontend/blob/cda1b2dee0c62fc2127855e49263c706cf8a5f13/src/messages/datastore/conversations.js). This is a [vuex](https://vuex.vuejs.org) module, you could read up on getters, mutations and actions if that sounds foreign to you.

We keep data in `state` as they come from t

[2019-04-10 15:02] tiltec commented on #1127
I had chats about these topics with @nicksellen and @djahnie , I'll write something about it here.

I feel blocked by uncertainty. What is the functionality that we want to expose to users? How do meetings/events/tasks fit the current "places+pickups" model?

I tried to tackle that uncertainty by asking those questions:
1. how do groups use stores and pickups for other purposes?
  - what are the b

[2019-04-10 22:08] brnsolikyl commented on #1127
I'll write down my thoughts to remember for the IRL-meeting we're having tomorrow...

I favour more the option of 1. build a generic model that supports attaching all kinds of functionality; and 2. hand-pick a few types and give them names that reflect the reality of foodsaving groups and similar organizations (e.g. meeting, pickup, task).

My reasoning is that we want to avoid changes on the UI t

[2019-04-11 01:13] andreseg9726 commented on #1072
Hey, I noticed that you mentioned that the emoji-mart was a bit too 'heavy'. Would you prefer then if the picker looked just as it does now but with a functioning search bar at the top (Kind of like the GitHub one looks like)? Or is a slack-like emoji-mart implementation better?

[2019-04-11 10:26] tiltec commented on #1072
Yeah, I would prefer that, based on the assuption that there are ~10 frequently used emoji. The others would be for power users who are comfortable using text search.

But maybe one of those ready made implementations is also nice and allows us to have a good picker with less code to maintain ourselves?

[2019-04-11 20:06] tiltec commented on #1127
From today's meeting:

- stores can most likely be renamed to places -> https://github.com/yunity/karrot-frontend/pull/1398
- next goal is to implement meetings
- should rename pickups to something more general before, proposals were "events" and "activities"
- it seems a good trade-off right now that all events belong to a place (no group events); but maybe make it clearer that places don't have

[2019-04-12 21:36] andreseg9726 commented on #1072
@tiltec So I just finished an implementation based on the markdown-it-emoji list with a working search bar that looks like the following:

![emoji-example](https://user-images.githubusercontent.com/29310742/56067223-667ce380-5d48-11e9-8f50-6e01b3f3904b.JPG)

![emoji-search](https://user-images.githubusercontent.com/29310742/56067234-73013c00-5d48-11e9-893f-7b3f32fd09bc.JPG)

However, I'm running i

[2019-04-13 19:41] tiltec commented on #1072
Hey, looks great! Can you open a pull request?

Don't worry about the normalized emoji, I'll change that in the backend.

---
A bit more details about emoji names:

There's no standard about emoji names (also called shortcodes). It seems every system implements their own variation.

The backend uses EmojiOne shortcode, via https://github.com/facelessuser/pymdown-extensions
The frontend uses Github

[2019-04-18 10:48] tiltec commented on #1072
I resolved the problem in the backend, it accepts all emoji from markdown-it-emoji `full.json`.

Sometimes different names point to the same unicode symbol. I introduced a mapping to normalize this.
Here's the list: https://github.com/yunity/karrot-backend/blob/394ad414c0b8d7064161a7481cecb8dddd4f74f2/karrot/conversations/emoji_db.py#L1429
For example, `"phone": "telephone"` means that `:phone:` g

[2019-04-23 18:30] #1072 closed

[2019-04-26 11:23] sentry-io[bot] opened #1454 "Searching in group gallery occasionally crashes vue.js: "NotFoundError: Node was not found""
Sentry Issue: [KARROT-17Z](https://sentry.io/organizations/foodsaving-worldwide/issues/987811106/?project=236883&referrer=github_integration)

This is a hard one. It sometimes happens when entering a search term. Outcome is that all Vue-related functionality stops working.

I tried a lot, but still don't understand it.

- removing the marker popup fixes the problem
- removing :key on ExtendedMarke

[2019-04-27 08:00] tiltec commented on #1454
More info:
- problem exists in Firefox 66 on my machine
- cannot reproduce in Chromium 73
- if I update `leafletMarkers` inside `$nextTick`, it consistently crashes (instead of occasionally)

Might be of lower priority...

[2019-04-27 16:53] tiltec commented on #1242
Based on the [discussion](https://community.foodsaving.world/t/how-to-handle-much-wanted-pickups/214) I can see it's a hot topic in groups. I re-read the thread and those solutions were proposed:
- have store managers to confirm pickup joins ([source](https://community.foodsaving.world/t/how-to-handle-much-wanted-pickups/214/6?u=tiltec))
- add recent pickup history to pickup join dialog ([source](

[2019-04-27 18:05] tiltec commented on #1027
Maybe it would be a nice starter task to add pickup notifications to the app? Could either be implemented as push or as local notification (for example with [cordova-plugin-local-notifications](https://github.com/katzer/cordova-plugin-local-notifications)).

[2019-04-27 18:18] tiltec commented on #354
I experimented with public places in #1449, which allows to define a public description in a place. Then the place becomes a hybrid, it has a public part and an internal part, with the location and the name shared between them.

Some comments on this:
- cooperation status seems useless, pickups too
- a public fridge might need a public wall (which in turn might need moderation)

[2019-04-27 18:26] tiltec commented on #1149
I think I fixed this in https://github.com//yunity/karrot-frontend/commit/241a091b8d13cfd2055e4ed966fd899fc2ce4c8c

[2019-04-27 18:26] #1149 closed

[2019-04-27 18:31] tiltec commented on #1134
Just checked - 14 addresses have been added to the list in the last 90 days, now it has 127 entries in total.

[2019-04-27 18:35] #1260 closed

[2019-04-27 18:41] tiltec opened #1455 "Sum feedback weight per feedback (instead of average)"
As of https://community.foodsaving.world/t/statistics-about-the-amount-of-saved-food/85/13

We should change
- text on the feedback form
- store statistics calculation

Maybe we should avoid to recalculate past feedback.

[2019-04-27 18:44] tiltec opened #1456 "Sort emoji reactions by creation date"
Currently emoji reactions are in random order. It would be nice to append new emoji reactions. Either add `created_at` to the API or sort the array by creation date.

[2019-04-27 18:52] tiltec opened #1457 "Add better notifications settings page"
As of https://community.foodsaving.world/t/improving-notifications-and-ux-draft/227

According to usability tests, we need a better notifications settings page.

[2019-04-28 07:26] tiltec opened #1459 "Keep message drafts"
It's quite easy to lose message drafts on Karrot. Typical causes might be page reloads and components getting temporarily destroyed  (`v-if`). It would be useful to have a "message drafts" concept.

It could be saved in local storage or synchronized to the server. Drafts should be saved for each user and conversation, maybe also when a message gets edited.

[2019-04-28 10:34] tiltec opened #1460 "Add actions to message push notifications"
It would be useful if the user can mark messages as read from the push notification.

![image4526](https://user-images.githubusercontent.com/4410802/56862967-cf06ca00-69b0-11e9-8741-8a10af9a2e85.png)

I already did some experiments here with the phonegap push plugin: https://github.com/yunity/karrot-frontend/commit/dc0696418752129b78da398535771d4fd6ef1a36
It always starts the main cordova activity

[2019-04-28 15:57] tiltec commented on #1260
Aaand I found it! It happens when leaving a group (or when getting removed due to inactivity). Then all your given trust gets deleted. Big fail :see_no_evil:

[2019-04-29 10:15] tiltec commented on #1038
I made a post here: https://community.foodsaving.world/t/new-feature-welcome-messages-for-new-users/269

[2019-05-02 19:03] cstefanj commented on #1038
@tiltec Cool! And thanks for the credit! :-) I hope someone finds it useful.

I haven't forgotten about the new email template for when someone accepts an invitation, but we just had a baby + tons of work is keeping me from spending as much time on this as I would like. I'll get to it, and might be able to sink my teeth into something new after that. Thanks for all the guidance so far!

[2019-05-05 18:06] brnsolikyl opened #1473 "Place's description and navigation tab still visible on pickup chat for mobile devices"
I tested this on the app, iOS and a browser on an Android. The description and tab are still visible on top of a pickup chat. I don't know if it's intentional but I believe it's better to take them away, since it can be a bit misleading at a first glance, giving the impression that the user is on the wall.

And if the description is expanded it will continue to be as you click to open the chat. Th

[2019-05-05 19:27] brnsolikyl commented on #1259
For the Bike Kitchen project specifically, more customization would entail:
* rename pickups to "opening shifts" or something similar. Even the more general "activities" or "events" could work even better
* replace food basket and shopping cart icons for bike related ones
* rename stores to "Bike Kitchens and Bike Pickups" (ideally separating the places into types, as we discussed in the topic of

[2019-05-16 11:41] djahnie commented on #1259
Thanks @brnsolikyl for pointing out these very specific points! To cater to them we'd need group types like 'foodsaving group' and 'bike kitchen group', which would go into the exact opposite direction of general customization, I'd say. I see general customization more like an option to change names and pictures and things like that in the group settings.

If we talk about the more general approac

[2019-05-16 11:55] djahnie commented on #1259
One more clarifying question about your point here:

What exactly do you have in mind there? I mean, you can always use status and interpret it as whatever you want, but I somehow guess that's not what you're talking about..?
Additionally, stores that are set to anything else as 'active' are by default not shown in the sidenav and the toggle button only separates between 'active' and 'active and e

[2019-05-16 16:31] #1473 closed

[2019-05-17 14:50] RobertKopczynski commented on #1027
Hello, could I give a try?

[2019-05-17 16:25] tiltec commented on #1027
Hi @RobertKopczynski - sure!
Tell me what you need to know!

[2019-05-17 16:35] brnsolikyl commented on #1259
Thanks for the meeting we had today  @djahnie ! I think you defined very well what I'm suggesting on the meeting notes, and I'll write it here again just for the record: pre-defined themes for groups, foodsaving being the default one. We'd add a Bike Kitchen theme and also a neutral one. I think it's probably better if I open another issue to discuss the BK theme more specifically and the changes

[2019-05-19 11:28] #1230 closed

[2019-05-19 15:06] tiltec opened #1504 "Place managers / responsible person for a place"
As we get requests for "store managers" from time to time, I'll open this to keep track of the discussion.

Andrea from Solikyl Gothenburg via email:

[2019-05-19 15:11] tiltec commented on #963
Andrea from Solikyl Gothenburg requested that recently:

[2019-05-19 15:12] tiltec commented on #1092
Andrea from Solikyl Gothenburg requested it again, also Bruno seems to like it.

[2019-05-19 15:15] tiltec opened #1505 "Allow to choose "did not participate" in pickup feedback"
Andrea from Solikyl Gothenburg suggested via email:

and

[2019-05-19 15:20] tiltec opened #1506 "Allow to change time for a specific pickup in a series of recurring pickups"
Andrea from Solikyl suggested it via email:

I removed that feature, because it was hard to implement properly and it caused various bugs. If somebody else is interested in solving it, let me know!

[2019-05-19 15:24] tiltec opened #1507 "Add document storage"
Andrea from Solikyl Gothenburg suggested:

I open this issue to keep track of the discussion.

[2019-05-19 15:28] tiltec opened #1508 "Hide "give feedback for pickup" on group wall"
Andrea from Solikyl Gothenburg suggested:

There's already a notification about this in the "bell notifications" menu, so to keep it simple we might as well remove the wall notification completely.

~Same goes for the applications notification when we added the "Applications" sidenav entry.~ done

[2019-05-19 17:38] brnsolikyl opened #1509 "Bike Kitchen theme"
Related to our discussion at #1259 , how could we make a pre-defined Bike Kitchen theme? Consider the following a draft that will be updated in the following days, when I get more feedback from users... These are the elements that could be changed in my opinion:

* rename `pickups` to `activities`
* replace the food basket icon for a bike one like `fa-bicycle` or another neutral one
* replace the

[2019-05-19 17:45] brnsolikyl commented on #1504
To avoid falling back on the old discussion of strict app-defined hierarchies, I suggest that we explore the conflict resolution feature for this. This looks like a typical case of governance in which people could vote whether they'd like to block a person from a certain store.

[2019-05-20 17:46] djahnie commented on #1509
What still needs to be adapted:
- the automatically sent out emails in the backend
- possibly other things in the backend

[2019-05-21 07:34] tiltec opened #1519 "Scrolling on group map should not trigger group refresh"
For some reason, each scroll or pan action on the group map triggers a group refresh. That makes the group map very sluggish on mobile devices.

[2019-05-21 07:38] tiltec opened #1520 "Add filters to history lists"
From https://community.foodsaving.world/t/how-to-handle-much-wanted-pickups/214/22:

To improve history usage, it's useful to filter it by type.

Additionally, we should improve rendering (e.g. use the same way of displaying pickups as in the pickup list).

[2019-05-21 14:11] tiltec commented on #1509
@brnsolikyl check it out here: https://dev.karrot.world/#/group/24

[2019-05-23 06:53] brnsolikyl commented on #1509
Backend: true, I had forgotten about it!

Damn, you two were mega productive this week! :smile:
Cool to see the changes (even though the background I chose is much uglier than what I remembered)

I noticed yesterday that I could not give feedback some minutes after I did the pickup, it lead me to a page saying "all done" or something similar. Now I tried it again and it worked. Have you been worki

[2019-05-23 17:25] #837 closed

[2019-05-23 17:44] tiltec opened #1529 "Define all common icons in src/base/icons/icons.json"
@djahnie and me introduced an "icon service" for the bike kitchen theme and used it for the "pickup" and "feedback" icons.

To make the transition complete, we should define all common icons in Karrot in `src/base/icons/icons.json` and replace all direct usages with references to the icon service (e.g. `$icons('pickup')`)

[2019-05-23 17:48] tiltec commented on #1509
Background is easy to change! Maybe it's good for the first release, and then somebody creates a better one hopefully ;)

Pickups have a default duration of 30 minutes, I think feedback can only be given afterwards.

[2019-05-23 17:52] tiltec opened #1530 "Show user pickup statistics"
Some statistics about user pickup behavior were requested (e.g .https://community.foodsaving.world/t/how-do-you-handle-late-drop-outs-from-pickups/213/11)

- stepped back from doing a pickup
- stepped back late from doing a pickup
- total kg of food saved
- pickups done (total and per store)

[2019-05-23 17:57] tiltec opened #1531 "Improve visibility of place description"
It's currently in a collapsible, which seems to hidden. I might show the first lines and display details in a modal.

[2019-05-23 18:16] tiltec opened #1533 "Add history about one pickup"
Could be added to the detail sidebar, by introducing tabs above the pickup chat.

[2019-05-23 18:26] tiltec commented on #1334
The new tabbed "latest messages" menu shows most recent threads, which is _kind of_ like what was requested:

![image](https://user-images.githubusercontent.com/4410802/58276789-a055f680-7d98-11e9-946a-7609761a506a.png)

It obviously only works if the user participated in the thread. We could do one of these changes:
- make it possible to subscribe to threads without sending a message
- show all t

[2019-05-23 18:39] tiltec opened #1534 "Automatically mark wall messages as read (+ "mark unread" button)"
Frontend only, backend supports this already.

Need to figure out when to mark as read, e.g. some seconds after visiting the wall? when having scrolled to oldest message (like in Slack)?

[2019-05-23 18:43] tiltec commented on #1366
@djahnie and me moved the community feed into the sidenav, below the "About" section. This might solve this issue, but we should ask user "kajsa" before closing it.

[2019-05-23 18:44] tiltec opened #1535 "Rework group sidenav"
From Bruno.

To remove/move elsewhere:
- issues
- description

To add:
- [x] applications (then the banner on the group wall could go away)

Although people seem to like the group description: https://community.foodsaving.world/t/remove-or-move-internal-group-description-aka-group-description-visible-for-members/259/3
We could create a "group info" page, that also contains the "leave group" button

[2019-05-23 18:57] tiltec opened #1536 "Make date/time pickers more keyboard friendly"
Quasar v1 has nice support for this: https://v1.quasar-framework.org/vue-components/time#Using-with-QInput
We should upgrade at some point and then use the nice new picker.

[2019-05-23 19:20] tiltec commented on #1505
Who is allowed to click that? The person that gives feedback? Another collector?

[2019-05-23 19:23] tiltec commented on #1507
I wouldn't integrate document upload features into Karrot (yet), but maybe it's possible to have a Nextcloud integration where users can log in with same credentials?

[2019-05-23 19:24] tiltec commented on #1508
Related to #1535

[2019-05-23 19:29] tiltec commented on #1509
Need to spend some time with the backend to find a nice solution for emails, push notifications and error messages. Currently I don't have an elegant solution in mind.

[2019-05-23 19:36] tiltec commented on #1530
This may be separate feature requests, they should fulfill these purposes:
- identify users who frequently step back (late) from pickups
- users who pick up often at popular stores
- motivation for people who do lots of pickups

#1533 and #1520 might already ease the first two issues, so this might be of lower priority then.

[2019-05-23 19:38] tiltec commented on #1242
#1520 might also help a bit here.

[2019-05-23 22:41] brnsolikyl commented on #1509
Another detail: Take away "weight" from "Both comment and weight cannot be blank" when entering blank feedback.

[2019-05-24 04:53] tiltec commented on #1509
This is a backend error message, we need a different approach to handle them. Maybe it's a good opportunity to move all error messages into the frontend and address them via identifiers…? (just thinking out loud)

[2019-05-24 13:58] #1531 closed

[2019-05-24 18:33] #1519 closed

[2019-05-25 15:46] tiltec opened #1543 "Make it easier to create successive one-time pickups ("shifts")"
Based on experiences from Gothenburg: if you are using Karrot for event management, you sometimes want to create multiple successive pickups like this:

- 10-12 event buildup
- 12-14 main shift
- 14-16 event teardown

Karrot makes this harder than needed because it always defaults to 10am on the next day. To simplify it, the pickup form could remember the last created one-time pickup when creating

[2019-05-25 16:10] tiltec opened #1544 "Upgrade to Quasar 1"
The definitive Quasar version is slowly hatching.
RC1 was released today: https://forum.quasar-framework.org/topic/3672/rc-1-released-for-all-quasar-core-packages

We should update during the next months, to benefit from all those improvements (e.g. #1536 ).

[2019-05-25 16:45] tiltec commented on #1457
Notification page has been moved into settings. Next steps would be:
- add button to unsubscribe from all notification emails; per group)
- add button to unsubscribe from group wall, store walls, pickup chats, application chats, issue chats, etc; one button per type, needs backend+frontend
- add button to control private message notifications; _not_ per group, maybe show a hint inside a private ch

[2019-05-30 16:50] tiltec opened #1555 "Notify logged-out unsubscription via email"
We should make sure the user is getting notified about any unsubscriptions for their account
Maybe they didn't trigger it themselves (e.g. the token leaked) or they forgot they clicked the button. Then we can ask if they received the unsubscribe email.

[2019-05-30 17:00] tiltec opened #1556 "Improve email reply parser further"
#1096 did some improvements, but we still have full quotes in replies sometimes. (Can check the reply parser stats to get some indication). This is especially problematic because original emails contain some tokens for unsubscribing.

One thing we could do is marking the original email with some invisible markers (maybe with HTML or CSS?) and remove things inside the markers.

Or, for a minimal ch

[2019-05-31 12:03] tiltec commented on #1455
I thought about adding feedback export capabilities, e.g. in a CSV format. Then users can generate their own stats until we figured out what the most useful numbers for the majority of users are.

[2019-05-31 12:06] tiltec commented on #1535
To keep in mind: potential confusion between group wall and place wall, as both are just called "Wall" in Karrot. Maybe rename group wall to something like "everyone" or the group name?

(From https://community.foodsaving.world/t/karrot-ux-design-suggestion-a-little-mockup/273/3)

[2019-05-31 13:30] djahnie opened #1559 "Improve group invitations by link"
Bruno had a group for a specific event and spread the link to the groupPreview for people to sign up to Karrot and then join the group. Shorty after we had a confused Swedish speaking person in the playground group. Bruno clarified as follows:

Todo: Create a link that makes it possible for people to sign up to Karrot for a specific group.

[2019-06-01 11:13] tiltec commented on #1457
Some more details (from a meeting with @djahnie):
- expose API to "unsubscribe all notifications for a group", similar to the logged-out one
  - exceptions: account emails, own applications, inactivity reminders, own conflict resolution, …?
- add stats for logged-out actions, to find out if people use them
- add mute option to each private chat
  - add hint for conversation partner
- think about d

[2019-07-07 14:03] tiltec opened #1619 "Improve notifications when somebody left the group"
From Sylvia, EfA:

There's a history entry, but it has some limitations:
- history UI doesn't have filters yet
- entry payload contains only the user id, not name or profile picture

As the profile is not visible anymore to members, it usually shows as "?" - not very helpful.
This should be improved.

Additionally, it could be helpful if there was a bell notification when a user is leaving the gro

[2019-07-17 06:12] tiltec opened #1653 "Migrate away from Sparkpost before Sep 15 (or ask for sponsorship)"
Mailgun might be another option. Sending should be easy to switch (thanks to `anymail`). Receiving needs more adjustments.

[2019-07-17 17:12] tiltec commented on #1653
Another option: we could keep incoming emails via Sparkpost and send emails via Mailgun. Maybe a good temporary measure if we don't get a sponsored account from Sparkpost.

[2019-07-27 22:05] decentral1se opened #1670 "Consider supporting LDAP login"
Hey there again ;)

I'm volunteering quite with https://yunohost.org/ now and I am thinking to make Karrot an official packaged application there. That would mean it would become much easier to setup Karrot for self-hosting.

One of the "magic" parts of Yunohost is LDAP integration across all the installed applications. This allows for a single sign on and eases the administration of the server an

[2019-07-30 09:44] tiltec commented on #1670
Hi @decentral1se, nice to see you around here!

I think LDAP support might be useful for Karrot, so we can support Yunohost and other Single-Sign-On systems. Although in the Yunohost case it's maybe less useful right now as Karrot has no super power accounts - all server configuration is done via files.

I consider this low priority myself, but would be interested to support others who want to giv

[2019-08-09 07:08] tiltec opened #1696 "Runtime Error: you cannot use AsyncToSync in the same thread as an async event loop"
https://sentry.io/share/issue/abfb6fc8bbc1451e85768d010ed41d69/

I tried to figure out when this error happens, but I couldn't trigger it in my local environment yet.

[2019-08-09 07:14] tiltec opened #1697 "Websocket connection can fail permanently after Postgres restarts"
Sometimes happens due to `unattended-upgrades` that Postgres drops the connection. Karrot is unable to restore the connection for websocket connections.

Connection gets dropped: https://sentry.io/share/issue/ba3531eabdf44ba7a55e4ba4db6ff65b/
Fails on websocket connect: https://sentry.io/share/issue/587b54af4dce4d3ca568556d0352bb1a/

[2019-08-18 08:27] brnsolikyl commented on #1457
I see the "Unsubscribe All" button already in production and wonder if this will unsubscribe even from future conversations.

I had the following case just recently: A guy from the Bike Kitchen group did not want to receive e-mail anymore, so he went into the settings page and ticked off all of the options (I did not ask him about the "unsubscribe all" button because I haven't noticed until now).

[2019-08-18 08:42] tiltec commented on #1457
"Unsubscribe all" is a one-time action that finds all conversations in a group and unsubscribes from them - it does not prevent subscribing to a conversation again.

The case you mentioned should be covered though: "unsubscribe all" will remove the subscription to the conversation of the favorited place. If the user however posts in that conversation afterwards, they will be subscribed again - if

[2019-08-18 08:45] brnsolikyl commented on #1457
Thx for the quick answer! I was just writing about an option to include on the settings page a box for all conversations and replies, which would make only app/website notifications on by default, future and past. I think it's a good feature to have.

[2019-08-21 20:01] brnsolikyl opened #1703 "Choice between "wall" or "activities/pickups" as the default page for a place"
In cases where the wall is the most used feature for a specific place, it would be great to be able to choose while editing the place to either make the "Wall" or "Activities/Pickups" as the default page when coming to a place's page.

[2019-08-22 12:34] djahnie opened #1704 "Add location-based overview page"
Gothenburg is the perfect example of a city that has multiple sharing groups that can benefit from Karrot. To enhance synergies it would be beneficial if there was a place to see all the groups that belong into that area. (We first discussed this in the [2019-08-07 Karrot call](https://community.foodsaving.world/t/weekly-call-about-karrot-development/289/12).)

Requirements/ideas
- visible for eve

[2019-08-26 21:13] #1544 closed

[2019-08-31 10:32] #1536 closed

[2019-08-31 22:10] brnsolikyl commented on #1704
From your description it seems like a quite hidden feature. I cannot really understand how the user would see it except when looking for it. And still a bit unclear how it would look like. But the specs are good and I'm all for it, as you know this already. hehe

Here's another way I imagine this feature -. Karrot's first page when logged out would no longer be the world map by default but a zoome

[2019-09-03 11:04] tiltec commented on #1653
I'm trying out https://github.com/atech/postal despite the usual warnings of not rolling out your own email system. It isn't supported in `django-anymail` yet, so it needs even more effort. But maybe that's worth it...

[2019-09-09 11:00] tiltec commented on #1653
May also look into https://mailcow.email/

[2019-09-10 06:11] tiltec commented on #1653
We asked SparkPost for sponsorship, this is their reply:

[2019-09-10 06:20] tiltec commented on #1653
According to https://www.sparkpost.com/pricing/, the "Starter" plan doesn't include subaccounts, which we currently use to keep status webhooks separated for different deployments.

I'd also favor having no running costs.

I'll look into mailgun more, especially their status webhooks.

[2019-09-11 11:54] tiltec commented on #1653
I noticed that we send 15k emails per month, more than mailgun would send for free. So I'm back to setting up `postal` - if it works until Sunday, I'll switch to it; otherwise we might pay Sparkpost for a month or so.

[2019-09-11 13:53] tiltec commented on #1653
Sent my first test email!

![image](https://user-images.githubusercontent.com/4410802/64703174-37f86580-d4ac-11e9-814f-90c3ca10c6ff.png)

[2019-09-11 13:59] nicksellen commented on #1653
Nice! Looks useful too. All that info.

[2019-09-14 19:39] tiltec commented on #1653
I managed to switch dev.karrot.world over to Postal, using a [patched anymail version](https://github.com/tiltec/django-anymail). Both outgoing and incoming email seem to work.

Postal leaves a lot to improve. I noticed these things:
- no documented way to verify webhook message authenticity. There seems to be an [undocumented header](https://github.com/atech/postal/issues/432), which somehow uses

[2019-09-17 09:29] tiltec opened #1746 "Make it easier to switch between groups"
From Bruno:

[2019-09-17 09:30] tiltec opened #1747 "Think about a multi-group dashboard"
From Bruno:

[2019-09-17 14:30] tiltec commented on #1653
Feedback loop test address: https://www.socketlabs.com/blog/bounce-and-feedback-loop-test-addresses/

Feedback loop resources: https://www.m3aawg.org/fbl-resources

[2019-09-17 14:47] tiltec commented on #1653
I opened a WIP pull request for anymail here: https://github.com/anymail/django-anymail/pull/166

[2019-09-19 06:47] tiltec commented on #1118
vue-i18n supports custom pluralization functions: https://kazupon.github.io/vue-i18n/guide/pluralization.html#custom-pluralization

I wonder if that would be confusing in transifex to jump from 3 to 4 cases:

[code]

[2019-10-01 01:58] CSBatchelor commented on #1027
Hello, I've been looking for some issues to work on for my first Hacktoberfest and this project caught my interest. I see another developer claimed this back in May but it seems this issue has gone stale. Do you mind if I take a swing at it?

[2019-10-01 18:52] RobertKopczynski commented on #1027
Sure, I had something come up in May, just after picking it up and kinda
forgot about it.

I remember having problems with
https://github.com/katzer/cordova-plugin-local-notifications not working
for a emulator.
Something about getting some bizarre errors, that didn't show up for more
modern versions of Android.
For more modern Android versions, the emulator would start a test program
of the plugi

[2019-10-02 06:48] tiltec commented on #1027
@CSBatchelor welcome!
@RobertKopczynski thanks for the writeup!

https://github.com/katzer/cordova-plugin-local-notifications seems maintained, so maybe it's worth checking if the mentioned problems still exist and if yes, ask for support.

Of course it's also possible to implement this as push notification via the existing FCM infrastructure - then you need to add the code in [the backend](https:

[2019-10-02 16:58] tiltec opened #1769 "Invitation emails are always in English"
...but they should be in the locale of the user who sent the invitation.

[2019-10-02 17:03] tiltec opened #1770 "Use group logo instead of Karrot logo in emails"
From https://community.foodsaving.world/t/invitation-new-user-via-e-mail-not-translatable/321

[2019-10-09 07:55] brnsolikyl opened #1789 "Make pickups with end time visible during its whole duration"
Pickups/events that are set with an end time will disappear after the default time (30 minutes?) while chat is still enabled. I suggest we make it visible during its whole duration. For example, if it is set between 1 pm and 5 pm, it should be visible from 1 to 5. Of course, joining the pickup after it has begun should be disabled.

**Why?** The practical reason is because sometime people who are

[2019-10-09 10:08] tiltec commented on #1789
I think pickups are already visible for their whole duration, but only for those that joined. So the goal would be to have all ongoing pickups visible for all group members, without confusing them.

[2019-10-10 10:10] tiltec opened #1793 "Add picture upload to conversations"
From Disa in https://community.foodsaving.world/t/weekly-call-about-karrot-development/289/27

This is related to #963 - my comment from https://github.com/yunity/karrot-frontend/issues/963#issuecomment-458984048 is relevant here:

This is closely related to having pictures in any message on Karrot, so if we decide to implement that, we might add an option to upload pictures and add them into a Ma

[2019-10-13 09:44] #1770 closed

[2019-10-14 01:32] thumbsupep commented on #1529
I noticed some icons appear both with fa-fw class and without it. There are 3 solutions I can think of that are worth discussing before implementing everywhere:

make two copies of every icon that sometimes appears with `fa-fw.` ex. `place` and `place_fw`. This seems to be the direction the code is already going https://github.com/thumbsupep/karrot-frontend/blob/issue_1529/src/base/icons/icons.jso

[2019-10-14 05:50] tiltec commented on #1529
`fa-fw` tells Font Awesome to make the icon fixed width. This is usually helpful to vertically align content. More on that: https://stackoverflow.com/questions/41140132/what-is-the-purpose-of-the-fa-fw-class

Besides Font Awesome, we sometimes use Material Icons. No matter which option you choose, it should allow replacing a FA icon with a Material icon or something else.

That rules out option 3,

[2019-10-14 11:46] tiltec commented on #1509
@brnsolikyl did you get more feedback regarding non-fitting emails or error messages for the bike kitchen theme? I wonder there's still something that should be done in the next time...

[2019-10-14 13:45] nicksellen commented on #1793
There seems to be two approaches used:

1. chat platforms (e.g. slack, mattermost) do images as attachments that appear at the bottom of a message
2. forums (e.g. discourse) do it by having the picture inline (upload picture, then automatically insert the relevant markup to display picture)

Given karrot chat is more of a chat, I would go towards option 1.

Another consideration is for general pur

[2019-10-14 14:28] tiltec commented on #1793
You have my support for option 1, to attach one or more images to a message. I'm unsure whether we should postprocess them to reduce size (like Telegram does).

[2019-10-14 16:01] thumbsupep commented on #1529
ah that makes sense. I'll stick with option 1. thanks!

[2019-10-14 18:20] brnsolikyl commented on #1789
Right! I think the current warning message "This pickup has already started" or something like would suffice, while disabling the slots for signing up

[2019-10-14 18:32] brnsolikyl commented on #1509
Nothing about the e-mails but I'll investigate a bit more. I haven't asked for feedback in a while and I think nobody there would contact me spontaneously to give me one. hehe
Definitely no big issues here...

[2019-10-14 18:44] brnsolikyl commented on #1793
I just e-mailed Disa asking what the use case is exactly. I'm guessing they'd like to post pictures of bikes they picked up and saved. That would not work well on pictures on feedback #963 since they do not use the pickup/event feature for actually doing these pickups, so there is never any feedback. On the wall should work fine. I wonder if it wouldn't be even better to have pictures only on a sh

[2019-10-15 02:40] samuelpetroline commented on #1793
Sorry to jump in into the discussion, but I was seeing the debate and noted that since this is an open source project you could benefit from the Imgur API (https://apidocs.imgur.com/?version=latest) for free. This way you could attach the image to the message and abstract the hosting and all the trouble it includes. I don't know about the Content Security Policy, though.

[2019-10-15 09:45] tiltec commented on #1509
Thanks, then I think it's ok to close this for now. Feel free to re-open if something comes up!

[2019-10-15 09:45] #1509 closed

[2019-10-15 14:53] #1455 closed

[2019-10-16 14:37] tiltec opened #1812 "Speed up conversation message list endpoint"
(mostly notes for myself and future reference)

conversationmessage-list seems to be the slowest endpoint by far, screenshot from Grafana:

![image](https://user-images.githubusercontent.com/4410802/66927810-c4102680-f030-11e9-842c-49bcccc54651.png)

But not all requests were so slow, e.g. `https://karrot.world/api/messages/?conversation=16` completes in less then 300ms.

I can filter statistics b

[2019-10-16 15:06] tiltec commented on #1812
I can leave away parts of the query and see if it's still slow. Baseline is 2640 ms.
- removing with_conversation_access(u): 17 ms
- removing annotate_replies_count(): 2570 ms
- removing annotate_unread_replies_count_for(u): 860 ms
- removing exclude_replies(): 2900 ms
- removing filter(conversation_id=11): 6770 ms

Takeaway: with_conversation_access and annotate_unread_replies_count_for are the b

[2019-10-16 16:12] tiltec commented on #1812
Turns out we don't need the `distinct` if we have a `group by`: https://stackoverflow.com/questions/164319/is-there-any-difference-between-group-by-and-distinct/45833583#45833583
We get a `group by` from using Django's `annotate()`.

[2019-10-16 16:14] #1812 closed

[2019-10-17 11:08] tiltec commented on #1124
Closing this due to inactivity, might reopen if there's more to discuss.

[2019-10-17 11:08] #1124 closed

[2019-10-17 11:12] tiltec commented on #324
FYI: with the Quasar v1 upgrade, I probably broke the agreement frontend. But I didn't check.

[2019-10-17 11:13] tiltec commented on #865
Done as part of the Quasar v1 upgrade.

[2019-10-17 11:13] #865 closed

[2019-10-17 11:24] tiltec commented on #1241
I think this can be pushed off the priority list...

[2019-10-17 11:24] #1241 closed

[2019-10-17 11:25] tiltec commented on #938
@Superbil what was your experience when you worked on it? Were there some major roadblocks?

[2019-10-17 11:27] tiltec commented on #1093
Hi @MacNGz, how far did you come with this already?

[2019-10-17 11:29] tiltec commented on #1134
Moved away from Sparkpost, but Postal has a suppression list too. I'm keeping an eye on the suppression list, which seems enough for now.

[2019-10-17 11:29] #1134 closed

[2019-10-17 11:30] tiltec commented on #1376
Closing this due to lack of feedback, can be reopened if requested again.

[2019-10-17 11:30] #1376 closed

[2019-10-17 11:36] tiltec commented on #1344
Conflict resolution isn't used much (5 cases in 6 months). It seems that the "threat to start a conflict resolution" is mostly sufficient. So I think it's less important to make the conflict resolution better.

[2019-10-17 11:42] tiltec commented on #1297
We had discussions how we can make group members more aware of place messages when they are not subscribed. Ideas I can remember:
- show a dot if there were recent messages - but it can't be marked as read
- as before, but track read status even for unsubscribed users
- as before, but allow users to disable the "dot" as well (per place or per group?)

Seems a lot of effort to me to implement this

[2019-10-17 11:51] tiltec commented on #1038
@cstefanj I hope your family is well!

So far, 6 active groups on karrot.world have adopted a welcome message (also Foodsharing Warszawa, one of the most active ones). I think it's worth adding the welcome message to invitations, too.

If you don't have much time available, that's also fine, maybe somebody else can pick that up then!

[2019-10-17 11:55] tiltec opened #1813 "Advertise Karrot app"
Follow-up to #984

- advertise app on website
- make the "unreleased" go away (publish to production)
- add a privacy policy (about our handling of user data)
- add terms of usage and/or user policy (in which we define objectionable content following Google's policies)
- require users to accept the terms before they can do stuff
- user-friendly in-app system for reporting and removal of objectiona

[2019-10-17 11:55] #984 closed

[2019-10-17 11:56] tiltec commented on #1366
It's much less intrusive now, seems good!

[2019-10-17 11:56] #1366 closed

[2019-10-17 11:59] tiltec commented on #1703
This is also connected to #1297 as it's meant to make place conversations more visible.

[2019-10-17 12:00] #1653 closed

[2019-10-17 12:04] tiltec commented on #1259
We now have 'group theme' support, but it's very basic (no translation support, no backend support). If the current feature seems useful to groups, we should implement it in a proper way. Otherwise, I'd think it would be good to remove it again in a year or so, to reduce confusion.

[2019-10-17 15:59] teemukaaria commented on #1093
Hi @tiltec , @MacNGz

What's the status of this issue? If this hasn't yet been implemented, I would love to give it a go.

[2019-10-17 18:14] MacNGz commented on #1093
@teemukaaria @tiltec
Unfortunately I didn’t have the chance to get very far into this issue. Feel free to grab it!

[2019-10-19 11:48] tiltec commented on #1504
spotter requested place managers here: https://community.foodsaving.world/t/imagine-a-enhanced-workflow/337

The goal is to have a simpler interface for people that are _only_ place managers and don't do pickups:

[2019-10-19 21:21] dhuang612 commented on #1769
I would be interested in taking this on

[2019-10-20 17:46] brnsolikyl commented on #1703
Yes. It's also a way to improve navigation for places used mainly for conversations

[2019-10-20 18:03] tiltec commented on #1769
Hi @dhuang612, that would be great!
Did you already get karrot-backend running on your machine?

[2019-10-21 03:33] cstefanj commented on #1038
Hi! Great to hear that the feature is being used! :-)

Time is indeed really scarce but I'd like to be able to complete this. I'll start looking at it. If someone else with more bandwidth wants to implement this then of course that's great too, I guess we just coordinate here in the comments to avoid double work.

[2019-10-21 08:01] tiltec commented on #1696
Managed to reproduce it. It happens when huey runs an asyncio task which pauses and then a second asyncio task starts. That means an event loop is already running when the second task starts.

I think the main problem is that huey is unaware of asyncio. We might be able to work around that by using the `process` worker type: https://huey.readthedocs.io/en/latest/consumer.html#worker-types

[2019-10-21 09:02] #1696 closed

[2019-10-21 17:14] Superbil commented on #938
@tiltec Build progress must fix some flow about build cordova, build script (fastlane) had some to implement. I think that's all.
When this to feature finish, that should work. I think end of November will finish.

[2019-10-22 19:45] dhuang612 commented on #1769
no not yet, I'll work on that today.

[2019-10-22 19:54] dhuang612 commented on #1769
I didn't realize the backend would be in python..
I'm not sure I'll be able to get this updated

[2019-10-23 08:57] Schnegel opened #1831 "Leaving a group is not possible"
It's not possible to leave a group for both [karrot.world](karrot.world) and [dev.karrot.world](dev.karrot.world).

After selecting `Yes` having question `Are you sure you want to leave this group?`, nothing happens.

**Swagger**
Using swagger it throws an error message for missing or incorrect CSRF token.
It's the first time I am using Swagger, hope I checked it correctly:
1. I authenticated in s

[2019-10-23 10:27] tiltec commented on #1831
Thanks for the report! I think the problem is with the frontend. The CSRF error looks unrelated, at least I managed to leave the group via the API successfully just now.

[2019-10-23 11:14] #1831 closed

[2019-10-23 14:22] Abdujabbor commented on #1769
@dhuang612   can I try help to you, I am not professional but I know core knowledge of python, and a little bit about django also.

[2019-10-23 16:10] dhuang612 commented on #1769
Hi @Abdujabbor

That would be great!

[2019-10-24 10:32] brnsolikyl opened #1833 "Creating recurring pickup: recurrence rule disappears when changing from weekly to custom"
When creating a new (although not when editing) recurring pickup, and changing the setting from Weekly to Custom, the recurrence rule disappears and it becomes very unintuitive for the user that does not now iCalender rules.

Here's a little video:
https://filer.solikyl.se/index.php/s/ycJFQDaKXWFkfce

[2019-10-24 16:50] Abdujabbor commented on #1769
@tiltec I have tried to solve this issue, could you please look PR: https://github.com/yunity/karrot-backend/pull/850

[2019-10-26 17:05] foster999 commented on #1769
@Abdujabbor I think you might have miss-understood the request here. It looks like the translation functionality is not currently working (translating to other languages), but they would like it to work. Your PR removes the functionality, which doesn't solve the issue.

[2019-10-27 12:31] Abdujabbor commented on #1769
@foster999  yep you right, it seems that I didn't understand. I would fix and send another PR.

[2019-10-29 12:24] tiltec commented on #1769
Hi @Abdujabbor - thanks for taking a look at this! @foster999 is right, the goal is to have translations in the language of the user who sent the invitation.

[2019-10-29 12:29] tiltec commented on #1833
Oh, I think it _should_ keep the original weekly rule in the custom rule field.. not sure if that never worked or stopped working.
However, there's no benefit of choosing "custom" over "weekly" if the user doesn't intend to enter a custom iCalendar rule - I consider this kind of an expert mode.

Do you know what the use case was for choosing a custom rule?

[2019-10-29 14:45] RonKbS commented on #1769
Hello @Abdujabbor ,

I'm going through this as I familiarise myself with the codebase so that I'm prepared for any other issue that comes up that I can take a look at.
So far, I'm looking at the Jinja translation extension (in settings.py) and whether it's working as it should. Hope this helps.

[2019-11-04 11:11] brnsolikyl commented on #1833
The case was that we had decided that a series of pickups would change from a certain date, so I wanted to use custom to set the start date.

[2019-11-04 16:59] tiltec commented on #1833
Good to know! It would also be possible to have start/end dates for the weekly setting, if that's something people frequently used.

[2019-11-12 16:55] tiltec commented on #1457
Weekly stats:

![image](https://user-images.githubusercontent.com/4410802/68692273-7c1fe900-0575-11ea-91e3-0b546ede1982.png)

We most send out group notification messages, followed by pickup notifications.

[2019-11-16 11:57] #1093 closed

[2019-11-18 02:37] Gerald1614 commented on #1459
Hi, i am not sure it correspond 100% to the initial ask, but I could use localStorage to keep the content of the message.  I delete it only if the user press escape, submit the form or leave voluntary the page. but on a page refresh, the content of the draft will be included in the input of the message. I use local Storage because my feeling is that this feature is mainly useful to maintain contin

[2019-11-18 04:28] tiltec commented on #1459
Hi, thanks for looking into this! Sure, I'm happy about a localStorage solution too. Can you open the Pull Request?

[2019-11-18 13:26] Gerald1614 commented on #1459
HI, I will. But i have a question. in fact when i go to pickups, we can comment on all pickup dates. when refreshing the web browser the detailsliderbar that contains the conversationCompose disappears. The n the local storage value gets used even if I click on another pickup date. I could instead of saving a single key value pair save an object with the draft and the groupId, placeId and pickup d

[2019-11-18 14:11] tiltec commented on #1459
I think it should keep the draft even when the sidebar is closed or another one gets opened.
Every conversation has a unique id, you could use that to store message drafts (instead of groupId, placeId, etc).

You might need a special handling for editing message that already have been sent, maybe it's ok to not keep drafts of the edited text.

[2019-11-18 14:18] tiltec commented on #1459
To make the sidebar persistent, we need to reflect the "sidebar open" state in the URL and change the layout to make it possible. I already did this for the "Issues" feature, but it's quite some work and easy to break something. So better leave that for later and do it in a separate PR.
(Of course you could also do it in localStorage, but I strongly think the URL should reflect the page you are vi

[2019-11-18 14:30] Gerald1614 commented on #1459
ok. i understand, i need to work now, but I will look at it later today and come back to you

[2019-11-18 14:32] Gerald1614 commented on #1459
when the message is submitted i delete the local store, so the message is only kept if the user did not volunteraly submitted the message or quited the process (escape or move somewhere else)

[2019-11-18 14:37] Gerald1614 commented on #1459
and also i thought abotu groupId and placeId because they are on the route. I agree 100% the conversationId should be part of the route parameters.

[2019-11-18 21:49] Gerald1614 commented on #1459
done, but I do not have time now to send the PR. I will do it later. what i did was adding the conversationid as a prop and use it as a Key in localstorage. this is valid in pickups. on the wall conversation, i just create a 'wallConv" key. we would need to decide if there are other places to manage and as well. I will send the PR as soon as I can so you can review. it will be easier to tune it fr

[2019-11-26 17:19] #672 closed

[2019-11-26 17:21] tiltec opened #1908 "Follow-up to "offers""
From #1799

- [ ] should you be allowed to edit accepted/archived offers?
- [ ] add "loading massive image into canvas" indicator?
- [ ] on offer detail page when there is no offer it just shows loader
- [x] pagination (infinite scroll, trigger load more, etc)
- [ ] multicroppa should have "cursor: pointer" on mouse hover
- [x] you get email notified about your own offer https://github.com/yunity/

[2019-11-29 16:37] nicksellen opened #1914 "[Meta] Performance improvements"
A meta issue to collect ideas to work on:
- [x] collect metrics on live sites about loading/rendering/etc times https://github.com/yunity/karrot-frontend/pull/1916
  - chrome (but not firefox) will give interesting things on `performance.getEntriesByType("paint")`
  - ... but we also want to define our own version of "First Meaningful Paint" (e.g. a wall post on the screen), also maybe various int

[2019-12-02 09:13] lenniezelk commented on #1769
is this still open? If so i'd like to work on it @tiltec

[2019-12-02 09:48] tiltec commented on #1769
Hi @lenniezelk, yes this is still open! Happy to give more advice if my last comment is not sufficient!

[2019-12-02 11:53] tiltec commented on #1914
Feedback from Bruno, things that feel slow:
- opening notifications takes some time, delayed loading feels "slow"
- in app, "trying to connect to server" can constantly appear and makes it feels slow

[2019-12-02 12:15] tiltec commented on #1908
In the app, choosing a picture directly opens the gallery. It would be nice if it would allow to take a picture from the camera. (That's the same for all `Croppa` elements.)

[2019-12-03 09:10] brnsolikyl commented on #1908
Just tested on production and one issue I noticed is that I get an e-mail notification for an offer that I created.

[2019-12-03 09:21] brnsolikyl commented on #1079
I see there's a closed issue here, but this problem still appears to be happening. I see many actual replies to a wall message that are sent by e-mail and end up on the wall instead of a thread. Could it possibly be something that the user is doing? Or is still failing?

[2019-12-03 10:09] nicksellen commented on #1908
Yes, I noticed this too actually when fixing https://github.com/yunity/karrot-backend/pull/878 - but decided to leave it for another fix. Will fix it :)

[2019-12-03 10:23] tiltec commented on #1079
It used to work, but maybe it got broken? @nicksellen I remember you refactored this area recently, could it be....?

[2019-12-03 10:33] nicksellen commented on #1079
It wasn't me boss!

... but potentially could be. Maybe our tests are not covering this very well?

[2019-12-03 11:15] tiltec commented on #1079
I think there's no test coverage for this.

Indeed, `make_local_part(conversation, user)` should be `make_local_part(conversation, user, thread)` if it's a group or wall conversation.

[2019-12-03 11:28] nicksellen commented on #1079
Ah, so I did break it probably by overlooking that. You want to fix? With a test? If not I would add it in my queue.

[2019-12-03 11:30] tiltec commented on #1079
Depends on your queue length ;) I'm a bit unconcentrated but could have a look!

[2019-12-03 11:34] nicksellen commented on #1079
Maybe have a look then, skip the test if needed... seems useful to get the fix in.

[2019-12-03 12:33] tiltec commented on #1079
I went for the more explicit variant, defining and checking `conversation_supports_threads` property on the conversation target - should be harder to miss out in future.

https://github.com/yunity/karrot-backend/commit/cd750d46501870dc2848aa941afe40e723d4a287

[2019-12-04 09:20] nicksellen commented on #1908
I encountered the issue me and @tiltec spoke of at some point - if you're in an offer conversation for somebody elses offer, then they accept/archive it, you can no longer access that conversation (but you still get the conversation notifications). Maybe we can do the permission check to also include offers that you are part of the conversation for, a bit fiddly, but maybe ok....

[2019-12-09 12:28] nicksellen commented on #1559
Clarification: this is not about the "invite by email" feature flow, but the general "signup and apply to group" flow.

[2019-12-09 12:53] nicksellen opened #1940 "Add create group button"
I think the time is right for making the group create button :)

I think it could go on the groupPreview page (https://karrot.world/#/groupPreview) on the same line as the "Which group do you want to join?". Something like this:

![createanewgroup](https://user-images.githubusercontent.com/31616/70437123-2f073800-1a8b-11ea-9e5e-5058c71b521e.png)

I think ideally the create a group form would have

[2019-12-09 17:24] tiltec commented on #1559
I guess this should be about a more straightforward way to send somebody the link to a group preview page and make sure they join exactly this group. I think we already have something in place that's called `joinGroupAfterLogin`, which should work after signup as well. But it might be that something gets lost on the way and it's not visible to the user what happens anyway, so there's plenty of roo

[2019-12-09 18:20] nicksellen commented on #1559
Yup, I went through the flow myself:

* I'm signed out and not registered
* visit group preview - https://dev.karrot.world/#/groupPreview/1
* click login or signup
* click signup
* sign up (leaving "join playground group" ticked)
* I'm signed up and sent back to group gallery
* select group again
* it tells me need to verify my email address...
* go to email and click the veritifcation link
* I'm

[2019-12-09 19:15] tiltec opened #1941 "User names can be missing in application chats"
As reported by @nicksellen in https://github.com/yunity/karrot-frontend/issues/1559#issuecomment-563365674, the applicant might just see `?` instead of user names. There is some code in place to prevent this (inside `latestMessages`), but it doesn't cover all cases.

[2019-12-14 12:10] brnsolikyl opened #1944 "Write a description of Karrot to the main page (or redesign it?)"
Anyone visiting karrot.world (if not logged in already) will land on a page where they can see the active groups and a world map with the groups' location. For people who have not been introduced to Karrot before this first page can be very unclear. There might be a bunch of questions: "What is Karrot about?", "how does it work?", "what are these groups?", "how is it useful for me?".

I think usab

[2019-12-14 16:40] tiltec commented on #1940
Done in #1942

[2019-12-14 16:40] #1940 closed

[2019-12-14 16:45] tiltec commented on #1944
Should have it as site customization for karrot.world or hardcoded for all Karrot instances? There are not many instances right now that I know of (karrot.world, app.foodsharing.tw and dev.karrot.world), we could simplify the implementation and have it hardcoded. But that will also make hosting other instances harder, something I would actually like to make simpler to prevent a concentration of po

[2019-12-14 22:41] tiltec commented on #1813
Found this bit which might be useful: https://developers.google.com/web/fundamentals/app-install-banners/native

[2019-12-14 22:43] tiltec commented on #1813
Also https://developer.mozilla.org/en-US/docs/Web/API/BeforeInstallPromptEvent might give us the option to trigger it only when the user is logged in.

[2019-12-16 12:12] nicksellen commented on #1944
On our weekly call we discussed this, and one simple way to move forward is to add two markdown bits of text:
1. a shortish block that can be displayed on the[group preview page](https://karrot.world/#/groupPreview) - logged out and maybe also logged in
2. a page-length thing that will be shown at `/about` (or similar)

Both should (probably) be defined per instance, therefore the content should b

[2019-12-18 13:28] lenniezelk commented on #1769
@tiltec @nicksellen i think this was resolved by my pr https://github.com/yunity/karrot-backend/pull/887
issue is in wrong repo

[2019-12-18 13:33] tiltec commented on #1769
Indeed! To auto-close the issue when the PR is merged, you can write "Closes https://github.com/yunity/karrot-frontend/issues/1769" in the PR description.

We wanted to move towards one repo for both client and server code, so we started with having issues in one repo only already.

[2019-12-18 13:33] #1769 closed

[2019-12-23 11:12] brnsolikyl commented on #1944
A few suggestions for 1 (as per the above) of a brief description or motto, just below the name and logo of Karrot:
"save and share resources as self-organised groups"
"organise locally and share common goods"
"grassroots sharing and organising"
"helps your group to save and share anything where you live"
"get together with others to save and share resources"

I'm sure we'll come up with more idea

[2019-12-29 18:46] tiltec commented on #1914
I noticed most of the chunks in Karrot change between deploys, even when there are not many changes. It seems due to scoped css id - they get calculated by hashing the whole SFC source file (not just the style section). The parent component apparently needs to know about the scope id. If component x is used 10 times and x changes, this will invalidate about 11 chunks.
Maybe not super important to

[2019-12-30 12:11] tiltec commented on #1914
I tried out more aggressive chunking in https://github.com/yunity/karrot-frontend/commit/0bbae6fd9e6d0b5317d79ad2edce5c338b6c91aa. It seems to cause slight slowdown on dev.karrot.world and local testing, so I'll roll it back.

[2019-12-31 10:55] tiltec commented on #1914
We could try less aggressive splitting, i.e. increase `splitChunks.minSize` - that would increase download size and worsen caching efficiency, but maybe slightly improve parsing speed due to hoisting?

[2020-01-06 12:26] brnsolikyl opened #1957 "Warning before signing up to pickups on the same time"
Here's the actual case: when we changed the pickup time for two places so that they'd happen simultaneously, some people did not realized that and signed up for both. Since a person cannot be in two different places at the same time, it would be good to have a pop-up message, or a warning of some kind, about conflicting times and asking the person to confirm before joining the pickup.

I believe t

[2020-01-06 17:11] tiltec commented on #1957
Seems easily possible, we have all pickups loaded in the frontend (but something that we should actually get rid of for possible performance improvements -> #1914).

[2020-01-23 13:15] Schnegel opened #1968 "Number of replies in thread is indicated wrongly"
The number of replies represents the initial message + the replies.
Instead it has to indicate only the number of replies.
Also the authors profile picture is shown amongst the answering users, even if s\*he didn't reply to his\*her own post.

[2020-01-23 13:41] tiltec opened #1969 "Refine thread participants/subscribers"
We currently treat thread participants and subscribers the same, whereas in reality they can differ:
- the original author is automatically a subscriber, but not a participant (also see #1968)
- after somebody left the group, they are still a participant but not a subscriber

We could do those changes:
- API: replace thread participants with `users` - those are people who actually wrote replies an

[2020-01-23 14:33] tiltec commented on #1968
I just checked it, the number of replies is technically fine. But there might be a UX bug. We started to group messages from same author, so it looks like it's just one message - whereas it's actually two. I wonder if/how we should solve this problem...

For the second one, have a look at #1969

[2020-01-25 15:49] tiltec commented on #1297
Talked with @brnsolikyl about improving visibility of place walls & place wall messages again. It seems worthwhile to investigate adding a fourth conversation subscription status besides "full", "some" and "unsubscribed" that shows unread counts (or just a dot if something is unread) on the sidebar and place pages. But it wouldn't show the unread status anywhere else, especially not in the "latest

[2020-02-01 21:42] DougInAMug opened #1983 "Have 'about Karrot' accessible without login"
Without logging in, you cannot read any info about Karrot, find a link to the codebase, etc.

Slightly related to #1813

[2020-02-13 10:25] brnsolikyl commented on #1983
Hey Doug!
Agreed, we've talked about it during the Karrot weekend and I came up with a proposal here:
https://github.com/yunity/karrot-frontend/pull/1971

You're welcome to join the discussion if you have any feedback!

[2020-02-13 10:58] brnsolikyl opened #1984 "Improving invite by e-mail"
As it is now you can invite users to a group just by putting in the e-mail address and clicking the invite button. I think this can be improved, in the sense of making more personal invitations and also for the sake of group transparency.

- Personal invitations: meaning that users can send a customized invitation, writing their own text that would replace the standard text "Joe invited you to joi

[2020-02-13 16:37] nicksellen commented on #1984
I was actually wondering if we could _remove_ invitations entirely. The stats over at https://grafana.karrot.world tell me that in the last 30 days:

[code]

So, I don't think people are really using them. Also, they predated the application system, and I don't really feel it fits well with it either, the invitation mechanism will just add them directly to the group (so there is no "application" i

[2020-02-13 20:19] brnsolikyl commented on #1984
I didn't know it was so unused! Well, the button is kind of hidden...
It makes sense to remove it. I'm for it.

Btw, a related topic (maybe I should open another issue about it?) is to have invitations internal to Karrot, where user A invites user B who's in another group. Maybe not necessarily overriding the application process, but more like a little notification.

[2020-02-17 12:12] tiltec opened #1985 "email sending sometimes fails"
Errors in Sentry indicate that some emails get lost; seems Postal is overloaded/down sometimes?
   - https://sentry.io/organizations/foodsaving-worldwide/issues/1517560467/?project=147126

I could enable huey to retry tasks: https://huey.readthedocs.io/en/latest/api.html
But it might create new problems, e.g. that emails get sent twice.

Might be better to retry within the task.

We could also hav

[2020-02-17 12:38] tiltec commented on #1984
A good replacement for email invitations would be to send the group link (e.g. https://karrot.world/#/groupPreview/37) to somebody, if the website would make it really straightforward to sign up and write an application.

[2020-02-17 15:55] nicksellen commented on #1984
With this approach it would be possible to remove the feature _and_ implement brunos ideas! (at least the custom message bit). The main bit to remove is that the software keeps track of the invitations and that they are more special than just visiting the group preview page.

[2020-03-14 05:42] ctiller15 opened #2006 "Docker instruction setup - invalid interpolation format"
Actually this seems to be at least two different things.

- I have yet to work with docker. I'm pretty much flying blind. If someone with more knowledge is aware of a better source, feel free to point me in that general direction.

## Problem statement:
The instructions for the docker setup, as they are, do not seem to produce any desired results. I have run into two errors so far in the setup. Fo

[2020-03-14 08:14] nicksellen commented on #2006
Hey! Thanks for reporting the issue. Not so many people are using the docker setup so I'm not surprised if there are issues there.

For the first issue though, the interpolation error, I have a feeling this may be because you are running an older version of docker compose.

There are installation instructions at https://docs.docker.com/compose/install/ for how to install the lastest one. I suspect

[2020-03-16 21:57] ctiller15 commented on #2006
Huzzah! That seems to at least get me past that step.

For those who may be wondering, what solved it was directly from those linked instructions. (With some modification for my exact circumstances):
In linux:
`sudo curl -L "https://github.com/docker/compose/releases/download/1.25.4/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose`

`sudo chmod +x /usr/local/bin/docker-comp

[2020-03-16 22:14] ctiller15 commented on #2006
Pull request created: https://github.com/yunity/karrot-docker/pull/5

[2020-03-22 15:41] jasmlau commented on #1456
Me and @allibail would like to claim this issue!

[2020-03-22 15:50] jasmlau commented on #1941
Me and @allibail would like to claim this issue!

[2020-03-28 00:20] jasmlau commented on #1941
@tiltec Do you have any advice on how to start?

[2020-03-29 08:28] tiltec opened #2011 "Reaction updates seem broken, only update after page refresh"
Websockets work, but reaction updates seem to be broken.

[2020-03-29 11:13] inktrap opened #2012 "Run karrot on python3.6 with a maria/mysql db?"
Hi everyone!

The requirements for karrot are python3.7 and postgresql. I want to run carrot on my favorite hoster uberspace, however they only have python3.6 and mariadb/mysql at the moment. Since Django has an ORM and the differences from 3.6 to 3.7 are not that huge, … i wondered how much work it would be to make it work.

Opinions about this?

[2020-03-29 14:05] tiltec commented on #1941
Hi @jasmlau I'd love to help but I'm not very concentrated on computer work lately. Maybe @nicksellen is motivated to dive into this?

To get started, could you actually reproduce the problem yourself?

[2020-03-29 14:06] tiltec commented on #2012
We use some Postgres-only features, I think. For example, date range fields might not be supported by Django for MySQL. But I didn't try it out.

[2020-03-29 14:08] tiltec commented on #2012
Python 3.6. might be fine, but we directly migrated from 3.5 to 3.7 because that's what latest Debian stable supports.

[2020-03-29 15:03] inktrap commented on #2012
There are some [https://docs.djangoproject.com/en/dev/ref/contrib/postgres/fields/](Postgres-only fields):

 - ArrayField
 - CIText fields
 - HStoreField
 - JSONField
 - IntegerRangeField
 - BigIntegerRangeField
 - DecimalRangeField
 - DateTimeRangeField
 - DateRangeField

[2020-03-29 15:09] inktrap commented on #2012
Soooo … I guess I have to find a different hoster or I'll ask them when Postgres will be available. I don't think it is realistic to work around this …

[2020-03-29 16:10] nicksellen commented on #2012
Another option would be a docker-based setup if that's available to you.

Also, what is your use-case for hosting it if I may ask? I'd love to support other people hosting karrot instances, and I can imagine you may run into some road blocks along the way.

(I recognise your name from fsdev, so I think you're already in the yunity slack, so can also ask questions there if you want #karrot-dev)

[2020-03-30 13:18] inktrap commented on #2012
Hi Nick!

I'll join #karrot-dev and explain my use case there.

I'll leave this open because it would be a good thing to document my setup-journey on shared hosting, so perhaps a setup-howto could be part of the karrot-docs in the (near?) future.

[2020-03-30 15:28] inktrap commented on #2012
Also I am going to leave this here: <https://docs.python.org/3/whatsnew/3.7.html#porting-to-python-3-7>

[2020-03-30 19:30] allibail commented on #1941
I am able to run the dev server and go to the pages specified in #1559. I can see users with correct usernames and users with "?" as their username in the chat. It looks like the "?" only appears for deactivated users, not all users, which is different from the behavior in the comment. Is this intentional or part of the bug?

[2020-03-30 19:45] allibail commented on #1456
In order to access the documentation for the api, it looks like we need to be authorized. How do we go about doing that?

[2020-03-31 08:25] brnsolikyl commented on #1908
Maybe it would be nice to have the possibility of creating an offer without the need to upload a picture? Then a default image would need to be in place, maybe the gift icon.

The use case is to make it easier for people to put requests there. Also I suggested a friend to use Offers to keep an update list of things they need at the Bike Kitchen.

[2020-03-31 08:32] tiltec commented on #1941
Users who left the group will also show `?`, but that's not part of this bug. Did you apply to join a group? Ideally, you should leave all other groups before.

[2020-03-31 08:54] tiltec commented on #1456
You mean https://dev.karrot.world/docs/? You can use `foo@foo.com` and `foofoo` to log in, or your personal account if you created one on dev.karrot.world

[2020-04-01 19:41] jasmlau commented on #1969
@allibail and I would like to claim this issue

[2020-04-25 10:38] #952 closed

[2020-04-27 11:54] inktrap commented on #2012
Karrot runs on python3.6 and I installed postgresql.

[2020-04-27 11:54] #2012 closed

[2020-05-05 08:46] brnsolikyl opened #2043 "Make notifications for conflict resolutions enabled by default"
Feedback from Warsaw group (also Solikyl at another occasion) that there should be e-mail and push notifications when people start new conflict resolution processes.

See: https://community.foodsaving.world/t/conflict-resolution-with-possibility-to-remove-user-from-group/201/18?u=bruno

The suggestion is to make them opt-out instead of opt-in.

[2020-05-05 16:15] #2006 closed

[2020-05-08 10:30] nicksellen commented on #2043
There is one setting the user can set for each group they are in:

![issuenotifications](https://user-images.githubusercontent.com/31616/81397261-3d837980-9127-11ea-89b0-b01814e76c52.png)

If this is enabled, when a new issue is created, for those users with it enabled it will:
1. send them an email telling them about the new issue
2. subscribe them to notifications for the issue chat

There is no

[2020-05-09 09:18] #2043 closed

[2020-05-10 15:07] tiltec commented on #2011
Seems to work again...

[2020-05-10 15:07] #2011 closed

[2020-05-10 17:19] tiltec commented on #1983
Now we have the landing page for logged-out users and the about page for logged-in users. Maybe that's sufficient?

[2020-05-11 09:05] nicksellen commented on #1983
Yup, given this issue is about logged _out_ users, I think we addressed this.

[2020-05-11 09:05] #1983 closed

[2020-05-11 16:46] nicksellen commented on #1914
https://web.dev/vitals/ is an approach with an associated js lib that is able to collect some of the types of stuff added in https://github.com/yunity/karrot-frontend/pull/1916, but browser support is not good https://github.com/GoogleChrome/web-vitals#browser-support (basically only chromium).

[2020-05-12 05:32] tiltec commented on #1944
This actually seems done.

[2020-05-12 05:32] #1944 closed

[2020-05-12 06:15] dwaxweiler commented on #1746
Psh, bot, go away! Our local group would be happy about this. :)

[2020-05-12 07:21] brnsolikyl commented on #1457
I think this has been addressed too.

[2020-05-12 07:21] #1457 closed

[2020-05-12 11:09] tiltec commented on #1813
We have ~250 installs right now, there's still potential!

[2020-05-13 08:46] nicksellen commented on #1746
@dwaxweiler haha, this is a good example of where the bot helps us to know what is useful for people still! (assuming they are reading github notifications).

This is one @brnsolikyl will be working on soon I think with my assistance :)

Btw, @dwaxweiler what is your use case for multiple groups?

[2020-05-13 16:04] dwaxweiler commented on #1619
I agree that it is hard to trace who has left the group. While I do not know about the technical implementation of the history, I wonder whether only the (first) name of the user who has left could stay in the log. After 2 or more weeks, it could also be removed.

By the way, what does "EfA" stand for?

[2020-05-13 16:08] dwaxweiler commented on #1746
I am happy to hear that! :+1:

For Foodsharing Luxembourg, we have the idea of using more than one group in the medium term to have a general group for everybody and more local kind of sub groups.

[2020-05-13 16:41] tiltec commented on #1619
I like the concept of a "grace period" for the names to be visible. From a technical perspective, that's more work - currently it's rather easy: members can only see names and profiles of other members. If someone leaves the group, those data becomes unavailable and only the user id is left. In these cases we show `?`.

EfA is a group on karrot.world: https://karrot.world/#/groupPreview/29

[2020-05-15 16:10] #1985 closed

[2020-05-17 12:46] #1941 closed

[2020-05-17 15:51] tiltec commented on #1697
This seems to be resolved, at least I couldn't reproduce it by restarting the database just now. Maybe a dependency upgrade fixed it.

[2020-05-17 15:51] #1697 closed

[2020-05-17 20:42] tiltec opened #2062 "Allow all members to see and participate in conflict resolution"
It seems useful to allow all members to participate in conflict resolution processes.

From https://community.foodsaving.world/t/conflict-resolution-with-possibility-to-remove-user-from-group/201

[2020-05-19 00:11] #1968 closed

[2020-05-19 00:11] #1957 closed

[2020-05-19 00:11] #1833 closed

[2020-05-19 00:11] #1747 closed

[2020-05-19 00:11] #1543 closed

[2020-05-19 00:11] #1559 closed

[2020-05-19 00:11] #1533 closed

[2020-05-19 00:11] #1535 closed

[2020-05-19 00:11] #1506 closed

[2020-05-19 00:11] #1507 closed

[2020-05-19 00:11] #1460 closed

[2020-05-19 00:11] #1504 closed

[2020-05-19 00:11] #1459 closed

[2020-05-19 00:11] #1454 closed

[2020-05-20 00:11] #1307 closed

[2020-05-20 00:11] #1334 closed

[2020-05-20 00:11] #1259 closed

[2020-05-20 00:11] #1297 closed

[2020-05-20 00:11] #1128 closed

[2020-05-20 00:11] #1118 closed

[2020-05-20 00:11] #1127 closed

[2020-05-20 00:11] #1087 closed

[2020-05-20 00:11] #1038 closed

[2020-05-20 00:11] #607 closed

[2020-05-20 00:11] #324 closed

[2020-05-20 00:11] #606 closed

[2020-05-21 09:35] #1789 closed

[2020-05-24 11:29] tiltec commented on #1984
Maybe this issue can be closed and replaced by a new one, reflecting the last comments?

[2020-05-24 11:38] tiltec commented on #1914
We just looked at recent numbers and noticed that our reporting is nice, but it would nice to have better ones.

[2020-05-24 11:39] tiltec commented on #1914
..but we think loading for logged-in users actually _did_ improve!

[2020-05-24 11:42] nicksellen opened #2067 "Create offers without a picture"
(extracted from https://github.com/yunity/karrot-frontend/issues/1908)

@brnsolikyl said:

[2020-05-24 11:42] tiltec commented on #1908
This seems fine for now, only minor points left in here -> closing.

[2020-05-24 11:42] #1908 closed

[2020-05-24 11:53] #1555 closed

[2020-05-24 11:59] tiltec commented on #354
As this issue had a lot of semi-related discussion, this could use a new overview in a fresh issue.

[2020-05-24 12:06] #1529 closed

[2020-05-26 10:43] robxrocks commented on #355
Hi,
If this issue is still open I'd like to help out with. I was looking for an OS Python project to contribute to and Karrot ticks all the boxes for me. Please let me know if I can go ahaed.

[2020-05-26 11:50] djahnie commented on #355
Sure! There was no activity in this issue for quite some time, so please go ahead! And cool that Karrot can tick your boxes! :grin:

[2020-05-26 11:52] tiltec commented on #355
Welcome to Karrot @robxrocks !
We talked about this recently and we need more certainty about what would be most useful to implement. Our idea was to hold an "online design sprint" with users before we go on with this topic.

In case you are looking for some other issue to work on, you could join our team chat on https://chat.foodsaving.world, then we might find something Python-related for you :D

[2020-05-26 11:54] robxrocks commented on #355
Thanks @djahnie and @tiltec, I just joined the channel

[2020-05-26 12:53] tiltec commented on #963
The goal is to give users the possibility to upload one or more pictures when giving feedback. From a backend perspective, there should be API endpoints to upload, change and retrieve pictures. We already have some infrastructure in place to handle picture upload.

The `offers` feature demonstrates it. There's a separate [image model](https://github.com/yunity/karrot-backend/blob/be4fb0c5e871843de

[2020-05-31 19:22] tiltec opened #2080 "Streamline application flow"
The usual process to join a group right now is to sign up, find the group and submit the application. The alternative is to send out invitations. Our statistics show that invitations are not used a lot: last 6 months on karrot.world: 96 accepted invitations, 395 accepted applications. Invitations were predominantly used in three groups: two DLC groups (64, 87) and EfA (29).

Our idea in #1984 was

[2020-05-31 19:22] tiltec commented on #1984
Closed in favor of #2080

[2020-05-31 19:22] #1984 closed

[2020-06-02 07:39] brnsolikyl commented on #2080
A summary of the flow as it is now (for users invited to an existing group):
User gets link to the groupPreview page -> clicks on sign-up button -> sign-up page -> (back to groupGallery page) confirms e-mail -> lands at e-mail verification page with "take me home" button (to groupGallery page) -> finds group of interest again -> application

One idea to skip a few steps:
... -> confirms e-mail ->

[2020-06-02 11:05] brnsolikyl opened #2083 "Notifications at topbar do not change when changing accounts"
A bug that was reported to me and I was able to reproduce...

Using two different accounts to login at different groups, when changing from one account/group to another, the message and bell notifications at the top bar remain the same, they do not change accordingly. Obviously, nothing happens when clicking on them if their content is not supposed to be visible to the other account. Doing a full

[2020-06-15 11:59] tiltec commented on #1914
Maybe it's useful to have https://github.com/jazzband/django-silk in production as well, to find out which database requests are particularly slow.

[2020-06-20 13:01] #2083 closed

[2020-06-21 09:16] tiltec commented on #2062
I started working on this yesterday and noticed some open questions:

- who should be in the conversation by default?
- new potential loophole: while an issue is ongoing, somebody adds fake users to the group that vote in their favor

[2020-06-22 14:10] #2062 closed

[2020-07-03 16:33] nicksellen commented on #1027
I only just noticed your assignment @tiltec so hopefully I didn't implement something when you had a draft in progress too...

[2020-07-04 09:13] tiltec commented on #1027
Nope, might have assigned myself on mistake!

[2020-07-12 09:05] #1027 closed

[2020-07-16 17:08] brnsolikyl commented on #2067
Got the following comment in my group:

[2020-07-16 17:59] nicksellen commented on #2067
Yup! Sounds good. Might be able to get it in quite soon....

[2020-07-20 11:26] #2067 closed

[2020-07-20 13:49] brnsolikyl commented on #1793
Again, from the Bike Kitchen group (this was a couple of months ago and has been on my list for a while...), and Disa was not in this conversation:

Person B: No, it's a big shortcoming and many have asked for it. I believe they said it may come sooner or later, but can take a while
Person C: Agree, really something that is missing...Who should we ask? Do we have any possibility of putting some pr

[2020-07-20 20:11] nicksellen commented on #1793
I started working on it!

Where is here btw? I kind of assume the wall is the first place it makes most sense? But maybe also other types of conversation?

[2020-07-20 20:55] nicksellen commented on #1793
of three I think the slack-style is the most appealing to me.

## slack image upload

* multiple images
* mini thumbnails underneath message input
* you can add/remove images whilst you're composing the message
* press send and message + zero or more images are published

![slack-message-input](https://user-images.githubusercontent.com/31616/87985046-41465b80-cadb-11ea-8ee8-428f9a24118a.png)

## r

[2020-07-21 08:27] brnsolikyl commented on #1793
The conversation about having a picture happened on a place's wall.

I personally prefer something with a small preview, like the one by Slack, but I'm usually on desktop, and many people use mobile, in which case a bigger preview is probably better. I'm not sure if both caption and title are necessary. I'm going to dig in the use case more.

[2020-07-21 08:32] nicksellen commented on #1793
Maybe we should move this conversation over to the community forum?

[2020-07-21 08:35] brnsolikyl commented on #1793
Definitely! I'd just throw out the question of how people would like to have images on conversations and how they would use it. Then present the options you laid out. What do you think?

[2020-08-06 11:42] djahnie commented on #1704
Ah, now that I started making a sketch of what I imagined this feature to be first, I came to realize that your idea is much better, @brnsolikyl... :sweat_smile:
So I'll just close this issue and make a new one maybe..? And add a wireframe of how yours could look like...^^

[2020-08-06 13:24] tiltec commented on #1534
I had another look at this, seems tricky to do right!

The wall starts with the newest message, so if there are multiple unread messages the user would either read from top to bottom (reverse chronological) _or_ scroll to first unread message and then read upwards in chronological order. That means there are two reading patterns we need to think about.

Also, not all unread messages might have bee

[2020-08-07 14:36] brnsolikyl commented on #1704
Don't throw your idea in the trash bin prematurely! Can't it be saved? Maybe there's parts of it that still can be consumed? :smile:

I think we could still work on the same issue. Anyhow I'm looking forward to see the wireframe!

[2020-08-09 11:20] brnsolikyl opened #2146 "Make text-input field more visible when sending applications"
Just a little detail that could be improved. At a quick glance you can miss that there is a text input field after reading about the group's application process.

![image](https://user-images.githubusercontent.com/25367304/89730837-b655e280-da42-11ea-806c-ca52d5f30e32.png)

[2020-08-09 15:01] tiltec commented on #1534
Seems better to leave this as is and revisit once user need arises.

[2020-08-09 15:01] #1534 closed

[2020-08-11 05:31] #1746 closed

[2020-08-13 09:34] brnsolikyl commented on #1534
Hm, actually tricky to guess what the normal user behavior is... I could ask some people if they find the "mark as read" annoying and maybe find out what their reading pattern is.

Personally I find it a bit annoying to click on "mark as read" and would rather have it automatically marked as read just by visiting it. But I also noticed that some people never click on the button to mark the message

[2020-08-14 08:45] tiltec commented on #1534
I won't work on this in the next months, but we can reopen the issue if you would like to!

[2020-08-14 08:49] #1793 closed

[2020-08-17 11:03] dwaxweiler opened #2156 "Translate date-fns and Quasar into Luxembourgish and include them"
When I switch the language to Luxembourgish, the German locale is used for date formatting in the following pages:
- Wall
- Feedback
- Members
- History
- Issues
- Place: pickups, wall, feedback, history

The Luxembourgish locale is used on the following pages:
- Pickups
- Applications
- Place: manage pickups

Both lists are non-exhaustive; For instance, I have not checked the offer feature.

I as

[2020-08-17 11:25] nicksellen commented on #2156
Indeed! We use German there, as the library is not translated into Luxembourgish.
- [here is](https://github.com/yunity/karrot-frontend/blob/dcdc61872135ccab58fcf8089a9c3a1395657e3e/src/locales/index.js#L89) the bit in our code where we make it use German
- the date library we use is called [**date-fns**](https://date-fns.org/) (list of languages is on the front page) and it has a [nice guide](htt

[2020-08-17 11:46] dwaxweiler commented on #2156
Thanks for pointing me to the wiring and the libraries used! German as an alternative has been a wise choice as both languages are quite close. This is also the reason why it looks correct on some pages.

Sure, I am up for translating both libraries. I will look into this later today.

[2020-08-17 20:42] dwaxweiler commented on #2156
I have created a PR for the date-fns library: https://github.com/date-fns/date-fns/pull/1900

[2020-08-17 20:51] nicksellen commented on #2156
Amazing! Good job :+1:

I had a look at [another recent language addition](https://github.com/date-fns/date-fns/pull/1832) to see how long it might take until it gets merged - that one was 9 days until merged to master. I guess it'll then need to have a new release from that too. Let's see how it goes.

[2020-08-18 00:30] #1151 closed

[2020-08-18 00:30] #1092 closed

[2020-08-18 06:21] dwaxweiler commented on #2156
Thanks! I will let you know about its progress and will translate Quasar in the next days too. I suggest to leave this issue open until we have included the updated versions of both libraries.

[2020-08-18 06:45] dwaxweiler opened #2157 "Order of feedback"
In my group, some of us are confused by the current default order of the feedback entries, which are ordered by the date they have been written. Example:

![Screenshot_2020-08-18 Karrot](https://user-images.githubusercontent.com/12501775/90478463-77541b00-e12d-11ea-93cf-a57abd759501.png)

We would find it more logical to order them by default by their pickup's date as one person of us needs to go

[2020-08-18 06:57] dwaxweiler commented on #1508
In my group, we use the feedback feature a lot. We have a rule that states that at least one person needs to write some feedback for transparency and for detecting issues early on. karrot also reminds you very visually of it on its main page, which I think lets more people write feedback.

I discuss this issue as some people of our group have suggested to be able to hide this reminder. I would sug

[2020-08-18 07:48] nicksellen commented on #2157
Seems reasonable to me, I created a PR for the backend https://github.com/yunity/karrot-backend/pull/1044 :)

I think we can just change it for everyone, and if somebody wants the old behaviour back, _then_ add an option. This way we don't need any frontend changes, and no more buttons.

[2020-08-18 13:21] nicksellen commented on #1508
Just briefly for now, I think would could implement this by adding a boolean field on the `ActivityParticipant` to store this information, something like "feedback dismissed", or "no feedback", or something.

And then when we do the query to fetch the "feedback possible" activities we can filter them out, and the user would have an option to dismiss the nagging thing...

... a totally different ap

[2020-08-18 14:22] tiltec commented on #1508
There's already a bell notification about giving feedback I think! But it's way easier to ignore, since the user needs to open the menu first.

[2020-08-18 14:27] tiltec commented on #2157
I wonder if the frontend has its own sorting logic implemented? It did make sense, because our state is a mixed bucket from different sources/purposes.

[2020-08-18 17:27] nicksellen commented on #1508
Yup! That's why I wondered if we could somehow use it, but display it sort of like it is now:

... just brainstorming really.

[2020-08-18 17:44] nicksellen commented on #1508
It's also a little similar to https://github.com/yunity/karrot-frontend/issues/1505, which is an idea that you can give "did not participate" as feedback.

[2020-08-18 17:51] nicksellen commented on #1242
Just re-opening and marking as _important_, as the forum discussion has a lot of interesting, and some quite implementable ideas, and it's a topic that touches a lot of groups.

[2020-08-19 09:12] nicksellen commented on #2157
It does! Just throwing together a fix...

[2020-08-19 09:49] #2157 closed

[2020-08-19 09:59] nicksellen commented on #2157
It's fixed in master now (can see it in action at https://dev.karrot.world/#/group/1/feedback). Will get deployed to production later this week probably :)

[2020-08-20 15:51] nicksellen commented on #1670
We discussed this briefly today, and have a bit of renewed interest in supporting installation in yunohost. Personally, I'd like to try out yunohost anyway, especially now it's working on debian buster.

It's still not high priority, but at least very interesting :)

[2020-08-27 11:38] brnsolikyl commented on #2080
Just got complaints from unrelated people in Solikyl, two days in a row, about joining a group on Karrot for the first time.

One of them said that she did held an introduction for a couple of people to join the group, but that they "got stuck in Germany". Asking more I found out that she meant the Playground group.

A similar complaint from another one was that it was not easy to find the right g

[2020-08-27 14:54] tiltec commented on #2080
That sounds annoying! Yeah, playground-auto-join might be too confusing given that people who visit the site first might not understand the concept of a "group" at all...

Let's make the playground group closed and don't mention it during signup, then see how it turns out!

[2020-08-27 18:17] wetneb opened #2169 "Playground joining message is not readable"
In the signup form:

![image](https://user-images.githubusercontent.com/309908/91479790-4baa0100-e8a2-11ea-8f5f-6c3b6cffd046.png)

The white over yellow text is not readable enough. A dark font color should be used on a bright background.

[2020-08-28 07:36] dwaxweiler commented on #2156
@nicksellen Your guess of 9 days was correct! My PR on date-fns has been merged yesterday, accompanied with a new instant release. I have created another PR here just now to change the config.

[2020-08-28 08:25] nicksellen commented on #2156
Nice! I'll do a production deployment shortly to get it live...

[2020-08-28 08:28] dwaxweiler commented on #2156
To https://dev.karrot.world/ ?

[2020-08-28 08:48] nicksellen commented on #2156
Deployment to https://dev.karrot.world happens automatically after it's merged to master, production deployment is to https://karrot.world and has a confirmation button to press, which I pressed :) ... so it should all be live and active on both sites now.

[2020-08-28 08:56] #2169 closed

[2020-08-28 09:05] dwaxweiler commented on #2156
Yeah, it is looking good! Thank you to both of you @tiltec and @nicksellen for reviewing and deploying this so fast!

[2020-08-28 09:05] #2156 closed

[2020-08-31 10:35] tiltec commented on #2080
Do we still need the "open groups" feature at all? As far as I know, all active groups have been migrated to using applications. This would simplify some logic and enable us to refine the application flow without thinking about implications for open groups.

[2020-08-31 13:03] brnsolikyl commented on #2080
Open groups don't seem very relevant now... :)

[2020-08-31 13:08] brnsolikyl commented on #354
This one I have a really hard time to let go of. hehe
But probably it's better like Tilmann wrote above, to start fresh? There's a lot of discussion that is not up-to-date anymore.

[2020-09-01 00:36] #1969 closed

[2020-09-01 00:36] #1813 closed

[2020-09-01 00:36] #1670 closed

[2020-09-01 00:36] #1556 closed

[2020-09-01 00:36] #1530 closed

[2020-09-01 00:36] #1520 closed

[2020-09-01 00:36] #1251 closed

[2020-09-01 00:36] #963 closed

[2020-09-01 00:36] #355 closed

[2020-09-01 06:28] dwaxweiler commented on #1508
Oh, no, the bot is trying to help again! :smile: Could somebody reopen this please?

I agree that the bell notification is way easier to ignore. Personally, I think it was a good design decision to display your upcoming pickups and the feedback you need to write on the first page as you see it instantly.

The question we should discuss is whether we want to give everybody that has participated in

[2020-09-12 15:39] brnsolikyl opened #2184 "Feedback to be given only after an activity ends"
The behavior now is that Karrot prompts you to give feedback to an activity right after it has started.

The proposal is that feedback can be given only after the activity has ended. For activities that do not have an end time, there seems to be a default of half an hour.

Quoting Nick:

[2020-09-13 16:43] dependabot-preview[bot] opened #2185 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/cordova/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/accounts/yunity).

[View the

[2020-09-15 12:38] #2185 closed

[2020-09-15 14:01] brnsolikyl opened #2187 "Cannot return to conflict resolution thread after opening another conversation thread"
Here's how to reproduce the bug:
- Go to a conflict resolution and open the chat
- Open another conversation thread through the notifications at the top bar, one that does not redirect you to another page. Try it with a private message or a reply in a thread for example.
- The thread will open. Now try opening again the conflict resolution conversation either by clicking on the name of the conflic

[2020-09-18 10:09] nastybyte opened #2192 "Typed text disappear when reloading"
When i start typing a message to someone or on a wall on my phone (lineageos16.0 with microg, no gsf) and the page is reloaded (happens ie when accidentally swiping down, or if the screen turns off due to inactivity) the typed text disappears. Same thing happens if i press reload in a browser window on the computer but that's much less likely to happen by accident.

[2020-09-18 10:50] tiltec commented on #2192
Hi @nastybyte, thanks for reporting this! I also got hit by this multiple times, so definitely can confirm. Hopefully it can be fixed soon!

[2020-09-20 10:55] nicksellen commented on #2192
Possibly related to https://github.com/yunity/karrot-frontend/pull/1891

[2020-09-25 05:19] dependabot-preview[bot] opened #2196 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/yunity) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/yunity/update-logs/48683697).

[2020-09-28 05:21] #2196 closed

[2020-10-10 09:08] wetneb opened #2203 "Missing XML escaping in GPX export"
If a location contains the `&` character in its description, such as `lots of apples & pears`, this will translate to the following GPX waypoint:

[code]
This is invalid XML since the `&` character should be escaped: we should have `<desc>lots of apples &amp; pears</desc>` instead.

This is caused by the `jstoxml` package used for the export, which does not handle escaping by default (?!). Apparen

[2020-10-10 09:58] nicksellen commented on #2203
Thanks! Yes, I remember being not so content with any of the XML libraries I encountered. Some of the more complete ones were very large, whereas we have very minimal requirements.

One alternative could be to just create the XML as a string... escaping the string content manually. Maybe it's just about 4 lines of code :)

[2020-10-10 20:49] wetneb commented on #2203
Wow, that was quick!

[2020-10-11 12:17] #2203 closed

[2020-10-11 12:18] nicksellen commented on #2203
It looks like it will get fixed soon in https://github.com/davidcalhoun/jstoxml/issues/41, but the test I added should break on the upgrade to let us know we can remove my escaping code :)

[2020-10-18 15:05] nicksellen opened #2209 "Service worker caching / update / etc"
I don't think we have our service worker / caching / deployment setup optimally yet.

We have a lot more service worker behaviour now, which precaches all the webpack resources in the service worker.

But there are quite a lot of complexities around service worker caching an updating:
- service workers update automatically in general (see https://developers.google.com/web/fundamentals/primers/serv

[2020-10-21 13:36] #2192 closed

[2020-10-25 11:08] #2146 closed

[2020-10-29 10:27] dwaxweiler opened #2218 "Request to add "since the beginning" to statistics time period"
Would it be possible to add the time period "since the beginning" to the selection menu on the statistics page please?
![Screenshot_2020-10-29 Karrot](https://user-images.githubusercontent.com/12501775/97555838-eaed9080-19d8-11eb-84d5-cbe792f83dcc.png)
In our group, we use the total number of kg of food rescued as an indicator. While we know it is just based on guesses, it tells a nice story of th

[2020-10-29 10:42] nicksellen commented on #2218
We left it out with the principle of "redemption" or similar, so if it's being used to find out who the people are that do too many pickups and to judge them, then this has a time limit, and after 6 months this data about them is no longer able to be viewed.

For your case though, I can see that the total weight across all users in aggregate would be useful, is that what you're asking for? If so,

[2020-10-29 10:53] dwaxweiler commented on #2218
I understand why you have left it out. You are right; We would only use the total weight of all places of the whole group. Indeed, you find it on the place feedback page, but this has to be manually summed per place to get the total. I can think of two options:
1. Adding the time option "Since the beginning": If this is selected, no user can be selected.
2. A new paragraph with a simple graph with

[2020-10-29 11:07] nicksellen commented on #2218
I like both options! 1. is simpler for now, as it doesn't require much new visual change, but I like the idea of showing graphs, helps to tell a story....

They could both be implemented in the frontend entirely at the moment (the restrictions are currently only present in the frontend...), are you interested to try and implement? :)

[2020-10-29 12:33] taistadam opened #2219 "Fix toggle on store and people buttons in the small map"
The toggle to activate or deactivate a view of stores and people's locations in the small version of the map (on the top left of a group page) is not working. But it works when the map is full screen.
Tested on firefox and chromium

[2020-10-29 12:44] taistadam opened #2220 "Improve new-application flow within groups to highlight application chat"
At the moment when a there is a new application, a (trusted) member can click on it and gets the three options: "open", "accept" or "decline".
As @djahnie mentioned to me recently, this allows people to accept or decline without ever seeing the application conversation. Additionally, once the chat has been opened, it is not obvious where to vote any more.

Suggested change:
- automatically open th

[2020-10-29 14:45] #2187 closed

[2020-11-09 10:00] nicksellen commented on #2218
@dwaxweiler I implemented it! Maybe you can check how it looks to you over at https://github.com/yunity/karrot-frontend/pull/2230

[2020-11-13 07:30] dwaxweiler commented on #2218
Thanks, @nicksellen! I have kept the e-mail unanswered as I have been thinking about giving it a try; I want to learn Vue.js, so such a small feature might be a good first practical step.

[2020-11-13 08:27] nicksellen commented on #2218
Ah, I was too fast! Happy to help you make your next small feature change :)

[2020-11-14 11:56] brnsolikyl commented on #1704
This is now ongoing with https://github.com/yunity/karrot-frontend/pull/2212
Probably better to close it when the PR is merged

[2020-11-15 09:03] #2219 closed

[2020-11-15 09:07] #2220 closed

[2020-11-15 09:18] #2218 closed

[2020-11-18 00:31] #1095 closed

[2020-11-18 00:31] #959 closed

[2020-11-22 00:34] #1704 closed

[2020-11-22 12:47] nicksellen commented on #2184
We had more discussion in rocket chat about it here --> https://chat.foodsaving.world/channel/karrot-dev?msg=pDCYemqn5b9F56F4x

I made this suggestion, which seemed to be accepted:

[2020-11-22 12:57] nicksellen commented on #1703
The idea is to discuss this more widely in a forum post, and to close this issue once the post exists!

[2020-11-22 13:00] nicksellen commented on #1619
The idea we had for an easy solution is to copy the name into the history entry (so it would be frozen in time for ever after), and maybe the bell notification too.

[2020-11-22 13:11] nicksellen commented on #1508
A related topic came up about the UX of the banner saying you can give feedback, not everybody will recognise it as clickable, so this could be improved possibly at the same time?

The main distinction is do we want to:
a) make it possible for people to totally dismiss that feedback request,and they will no longer be able to feedback for that activity (the count in the sidebar would go away)
b) ju

[2020-11-22 13:16] nicksellen commented on #1505
This could get quite complex depending on what the need really is:
- it could just be allowing people to remove themselves from activities even after they've finished
- _or_ it's something that let's one of the participations say that another person who was meant to be there didn't turn up
... _or_ something else?

We have to ensure we keep the statistics accurate too, as currently we use the fact

[2020-11-22 13:19] nicksellen commented on #1505
For reference, here is the current UI, which explcitly asks people "Did everyone show up?" but you can only represent the answer in text, not data.

![dideveryoneshowup](https://user-images.githubusercontent.com/31616/99904817-59b2c680-2cc5-11eb-9590-2a81ee7c85be.png)

[2020-11-22 13:21] #1456 closed

[2020-11-22 13:21] nicksellen commented on #1456
Seems non-essential, so we close it.

[2020-11-22 13:24] nicksellen commented on #1242
Our current governance design process looks like it'll address some of these topics, if, when we come to a more concrete implementation, then we should revisit this to make sure we address the points.

[2020-11-22 13:26] nicksellen commented on #1108
We implemented one of the suggestions for this, from the community forum thread, in this PR https://github.com/yunity/karrot-frontend/pull/2163

It looks like this:

![](https://user-images.githubusercontent.com/31616/90952221-26f8f800-e462-11ea-9e17-fd6e7a48221b.png)

[2020-11-22 13:29] nicksellen commented on #1108
I think it's possible to extract something else to develop out of this, even if it doesn't address all points.

e.g. It could still be nice to notify people who have it marked as a favourite place...

[2020-11-22 13:40] nicksellen commented on #354
I think this has two clearly distinct aspect to it:
- different place types - we have a good concept of how this can work now, based on how activity types are done
- public places - this needs a lot more conceptualization to understand how the interaction should be with these outside users

[2020-11-22 13:42] nicksellen opened #2244 "Add place types"
More specific issue now we have better understanding. Extracted from https://github.com/yunity/karrot-frontend/issues/354

[2020-11-22 18:25] dwaxweiler commented on #1619
@nicksellen I agree that this would be a good enough solution for now.

[2020-11-22 18:38] dwaxweiler commented on #1508
I think it would be an improvement to make it possible to totally dismiss this banner. However, I only fear that less people would give feedback as a consequence, which would be a pity for the group's transparency. Additionally, I wonder whether it should be possible to undo a dismissal done by accident. What do others do think?

[2020-11-23 22:03] brnsolikyl commented on #1703
https://community.foodsaving.world/t/how-to-make-places-more-suitable-for-discussions/591

[2020-12-01 21:05] brnsolikyl opened #2257 "Joining activity on Iphone requires two tapings before getting confirmation dialog"
I've heard that someone had this problem in our group and now I tested on an Iphone 7 on Safari iOS 14.1

Normal behavior to join an activity is to tap once and then get the dialog to confirm. In this case you need to tap twice: on the first you'll see your avatar, and only on the second you get the dialog to confirm.

![karrot-joining-pickup-iphone](https://user-images.githubusercontent.com/25367

[2020-12-01 21:17] nicksellen commented on #2257
Seems it's _kind of_ intentional from apple

From [this article](https://css-tricks.com/annoying-mobile-double-tap-link-issue/) (well, from the article _it_ quotes):

So, seems because we have that hover state (showing the profile picture as you hover), apple decided to make that occur on first click, then do the real click on the second click.

Seems like we could wrap the hover state in [this me

[2020-12-01 21:32] brnsolikyl commented on #2257
Aha!

[2020-12-01 21:40] nicksellen commented on #2257
Checkout PR which has a deployment URL for testing the fix :)

[2020-12-01 21:49] brnsolikyl commented on #2257
Great! Wlll test it tomorrow when I have the Iphone again at my disposal

[2020-12-15 20:42] dwaxweiler opened #2271 "Remove disabled pickups on applied filters on pickups page"
I suggest to remove disabled pickups when applying the filters "With free slots" and "Only empty" on the pickups page as I imagine the user is more interested in finding pickups they can actually join.

[2020-12-29 18:45] mvellasco commented on #1619
Hey there, I'd like to work on this issue, is there anyone already on it?

[2020-12-29 19:07] nicksellen commented on #1619
@mvellasco yup, nobody is working on this currently! what level of support do you think you'll need in order to work on the task? are you generally familiar with the karrot software as a user?

[2020-12-30 21:24] mvellasco commented on #1619
@nicksellen I think I understood well the scope of the work, and yes I'm fairly familiar with the software as a user and I've made a small contribution to the software a few years back. If I get stuck I'll ask for some help, is that okay?

[2020-12-30 21:35] nicksellen commented on #1619
Sounds great @mvellasco :) feel very welcome to ping me for anything, and I'll be happy to review your contributions. Thanks!

Out of curiosity then, are you in one of the group's that use karrot?

[2020-12-30 22:15] brnsolikyl opened #2280 "Big icons on group switcher"
Image describes well the problem I think... Although it was the first time I got this, used to work fine before.

![image](https://user-images.githubusercontent.com/25367304/103383900-bf7c4480-4af4-11eb-83e6-a144aebdd24f.png)

[2020-12-31 17:00] #2280 closed

[2021-01-03 19:44] pogopaule commented on #2271
@dwaxweiler Is this what you have in mind?
![disable](https://user-images.githubusercontent.com/576949/103487257-594d3580-4e04-11eb-84ab-2cdbcb04d7b7.gif)

[2021-01-03 21:08] dwaxweiler commented on #2271
@pogopaule Yes, this looks good!

[2021-01-05 01:27] mvellasco commented on #1619
@nicksellen Right now I'm not in any groups, I'm trying to set up one though in my local town(Campos dos Goytacazes - Rio de Janeiro - Brazil). About the solution, you guys had in mind to copy the user data into the history model, it might be even simpler if I didn't overlook anything, how about instead of adding a new DB field for that we just add another filter to the query for users matching if

[2021-01-06 19:00] nicksellen commented on #1619
Thanks! I replied over on the PR :star:

[2021-01-07 17:39] wetneb opened #2288 "Improve initial map location when adding a new place"
When I add new place to a Karrot group, the initial location of the map seems to be always the same (somewhere north of Darmstadt). I need to zoom out, find the region where the group operates and zoom into it to find the exact location of the place I want to add.

It would be nice if the map view could be initialized to a location that makes sense for the group. For instance:
- the coordinates I

[2021-01-11 13:00] wetneb opened #2289 "Display all places by default if none of them is marked as cooperating"
**User story:** I start a new group and add a few locations on the map. Since the group is new, none of the places are cooperating yet.
If another user joins the group, by default they will not see any place on the map because only the cooperating ones are shown. Perhaps that is a bit confusing?

**Suggestion:** Only filter out inactive locations if there is at least one active location. The toggl

[2021-01-11 13:09] wetneb opened #2290 "Curious map zoom level when switching the toggle to filter location by status"
When I toggle the switch to filter locations by status, the small map in the top left corner is updated accordingly. There seems to be a problem in the computation of the zoom level and position of this map. See the video below, where the map is scaled back to show all of Europe even if all the locations are concentrated in a small town:

![Peek 11-01-2021 14-03](https://user-images.githubusercont

[2021-01-11 15:07] brnsolikyl commented on #2289
I have a slightly related experience: when looking for a place on the list of places I reach the end without finding it, because it was recently marked as "negotiating/idle". Given this and your experience I'm positive about filtering out inactive/not cooperating places and archived ones and leaving the idle ones.

Another point that might improve usability: move the toggle for showing all places

[2021-01-11 17:47] wetneb commented on #2289
Hello @brsolikyl, thanks a lot for chiming in!

I am not sure changing the position of the toggle would have improved things much for me. If there are some active places this is going to push it further down, making it even less visible. And pressing the toggle will change the number of elements in the list, so it will change the position of the toggle - I don't think that is a very nice user expe

[2021-01-11 19:50] brnsolikyl commented on #2289
Yes, I was actually thinking more in the direction of adding a "show more" button to extend the list, a bit in the style of the one already in place at the menu above Places.

I also like the idea of displaying places with other statuses discreetly on the map, maybe a little dot would make it work. As you said, displaying all places as it is now would clutter the map a lot, especially in groups wi

[2021-01-21 12:38] larzon83 commented on #2288
@wetneb https://github.com/yunity/karrot-frontend/pull/2293 implements your first idea. What do you think?

[2021-01-21 14:08] #2288 closed

[2021-01-21 14:48] wetneb commented on #2288
Thank you both, that's wonderful!

[2021-01-22 20:12] larzon83 commented on #2209
+1 for offering a notification to the user saying update available. Click >>refresh<<

[2021-01-22 21:31] nicksellen commented on #2209
We actually have the UI banner bit already, I described it a bit above there:

I guess the question here is how to make the behaviour around the existing banner to behave correctly in all cases. Although I _think_/hope the worst of it (pressing reload doesn't actually get the latest version because of the service worker cache) was resolved with the PR listed above (https://github.com/yunity/karrot

[2021-01-26 20:00] larzon83 commented on #2209
My gut feeling is to build around this serviceworker-option and not use a custom banner. But I'm not deep into the project and don't know how the custom banner works atm. If I have time I'll look into it. But I don't know if it will be helpful :)

[2021-01-28 14:31] nicksellen commented on #2209
From a quick flick through the article, we would still need to implement our own banner (it calls `createUIPrompt` which is defined by the user/application).

I think this is a better approach than what we have at the moment though, as it's building on top of the browsers underlying mechanism to update the service worker cache.

If you feel like implementing the steps described in that article, I

[2021-01-28 18:37] #2271 closed

[2021-01-30 10:44] #2257 closed

[2021-02-18 11:59] dpaque commented on #1508
Hi, we did some mob programming to tackle this issue and we came up with the following suggestion:

We keep the yellow banner as-is and we add a 'Dismiss' button in the Feedback Form. Something like this:

![Draft](https://user-images.githubusercontent.com/73907229/108353909-fb748180-71e8-11eb-978d-e5678c3aa92d.JPG)

With this approach we would keep the yellow banner as initial trigger for writing

[2021-02-18 15:24] brnsolikyl commented on #1508
I think it's a good compromise given what's been commented above!

[2021-02-24 16:36] dwaxweiler opened #2310 "Filter activities by day of the week"
I forward the idea of one friend at Foodsharing Luxembourg: It would be nice to have a filter by day of the week (Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday) to the activities page as they can only be active on a few days of the week.

[2021-02-24 16:43] dwaxweiler opened #2311 "Redirect to review page of place"
**Steps to reproduce**
1. Submit a feedback.

**What happens**
You are redirected to the page with all the feedback entries.

**What should happen**
You are redirected to the page with the feedback entries of the corresponding place. This would make it easier to spot your submitted review. Alternatively or additionally, it could be scrolled to or highlighted for a moment to further improve its vis

[2021-02-26 20:18] brnsolikyl commented on #2310
What about a calendar view of the activities? It can give a nice overview of the day, week or even month.

[2021-02-27 08:01] dwaxweiler commented on #2310
@brnsolikyl Sure, a week view would also fulfil the same need I guess. It would only require more work.

[2021-02-27 08:08] dwaxweiler commented on #1505
The implementation of the [proposal](https://github.com/yunity/karrot-frontend/issues/1508#issuecomment-781293655) of @dpaque in #1508 might close this for now too.

[2021-02-28 20:02] brnsolikyl commented on #1508
Another thing a bit related, but not sure if also within the scope of what you want to work on @dpaque ...  Within my group I've noticed a recurring pattern of people writing their feedback on the main wall. They think the banner prompts them to write it there, right below it, and are not aware it's clickable. If you have any good idea on how to better design it we'd have another great improvement

[2021-03-07 00:41] #1505 closed

[2021-03-08 18:36] brnsolikyl commented on #2184
Damn bot! Although for this issue another round of 90 days might be useful. Next time I'll let the bot do its thing.

[2021-03-11 15:46] nicksellen opened #2316 "Improve method for calculating map bounds"
Currently for the group gallery view we try and calculate the usable bit of the map, depending on whether the group list is open or not (the map fills the whole width of the screen but only part of it is usable). There is a better way using `padding-top-left` option in the `l-map` component (via options to `fitBounds` in vue2leaflet), but it has been broken.

It is now fixed (see https://github.co

[2021-03-20 09:38] brnsolikyl commented on #2080
I think I'll start working on the bit about removing invitations, but only on the frontend. My idea is to keep the invitation button on the members page and just make it show a dialog with the link to the groupPreview page to be copied. I'm thinking it can still be useful to preserve invitations in the backend so it can be used in the future during the group creation process. What do you think @ti

[2021-03-22 20:15] dwaxweiler opened #2318 "Jump to conversation when clicking on conversation notification"
**Steps to reproduce**
1. Make sure to have a conversation listed under the conversations icon.
2. Click on the conversations icon.
3. Click on the conversation.

**What happens**
You are redirected to the top of the wall page. If you have many pickups listed on top of the page, you are confused.

**What should happen**
You are redirected to the conversation referenced on the wall page. This could

[2021-03-24 08:51] amengsk opened #2320 "ics export of activities"
when I sign up for a pickup, I want to import the event in my calendar.
the ics format (aka ical) is a well known format for this.
activities should have some export button to generate a ics file.
let me know if you want a pull request for that.

[2021-03-28 19:34] dwaxweiler opened #2323 "Dates in activity series are not created anymore"
Since last update 9.2.0, no new dates are added for recurring activities.

Tom has raised this issue in a [forum post](https://community.foodsaving.world/t/issue-new-pickups-are-not-created-in-karrot/463/7) first. Additionally, some people in my group Foodsharing Luxembourg have noticed it in the second half of last week.

**Current manual work-around:** Change weeks to create activities in advanc

[2021-03-28 19:37] brnsolikyl commented on #2323
Yep, got a similar complaint from one group.

[2021-03-28 20:28] nicksellen commented on #2323
Hopefully just fixed it, see https://community.foodsaving.world/t/issue-new-pickups-are-not-created-in-karrot/463/10 :)

[2021-04-01 16:26] dwaxweiler commented on #2323
Yes, it works again. Thanks for your quick reaction @nicksellen!

[2021-04-01 16:26] #2323 closed

[2021-04-03 10:22] nicksellen commented on #2320
Thanks for the work so far, looks close to being ready :superhero: - out of interest are you part of the group in Warsaw? https://karrot.world/#/groupPreview/39

[2021-04-03 10:24] nicksellen commented on #2316
The fix in the library has been released now! https://github.com/vue-leaflet/Vue2Leaflet/pull/656#issuecomment-810842575

[2021-04-05 12:07] #1508 closed

[2021-04-05 13:16] pogopaule opened #2326 "Weight Feedback for Distributions and Events"
Sylvia from EfA asked if it is possible to also add the weight feedback option to the activity types distribution and event.

[2021-04-05 13:25] brnsolikyl commented on #2326
Yes, it's already available on production!
On the page to edit activity types
![image](https://user-images.githubusercontent.com/25367304/113578057-85a26900-9622-11eb-882d-473d10e5be16.png)
Toggle "ask for weight"

[2021-04-05 13:31] pogopaule commented on #2326
Perfect, thanks! I'll tell her.

[2021-04-05 13:31] #2326 closed

[2021-04-07 00:51] esharb commented on #2311
Hi, I'm a first-time contributor and would love to work on this issue! Do let me know if it's possible. Thank you!

[2021-04-07 00:52] esharb commented on #2310
Hi, I'm a first-time contributor and would love to work on this issue! Do let me know if it's possible. Thank you!

[2021-04-08 08:49] pogopaule commented on #2184
The Freiburg group is now working on it.

[2021-04-08 12:13] amengsk opened #2334 "ics subscriptions"
followup to #2320

as a user i want to sync my calendar app with karrot. for instance:
- subscribe to the calendar of all activities i joined
- subscribe to the calendar of all activities happening in a place
- subscribe to the calandar of all activities happening in a group
- maybe other things?

the current ics export is not enough for this - i dont want to have to import every single activity m

[2021-04-08 19:21] larzon83 opened #2335 "Update styling of all forms"
In PR https://github.com/yunity/karrot-frontend/pull/2306 the group create/edit form was updated with outline styles. This should be applied to all other forms

[2021-04-08 20:01] brnsolikyl commented on #2310
Hi @esharb You're welcome to contribute! I answered you on chat.foodsaving.world with more info but usually it does not send out e-mail notifications.

[2021-04-08 20:13] brnsolikyl commented on #2318
Do you mean a conversation started at the main wall, or also a conversation at a place wall? It would probably make sense for both, right?

[2021-04-08 21:47] brnsolikyl opened #2336 "Improve group statistics"
Here's a few of the most pressing points to be improved, taken out of https://community.foodsaving.world/t/more-statistics-display/489/5:

- make it clear what the numbers are about, especially "left" and "left late" which could be changed to something like "late drop-out" or something else. Probably better to just add some info-boxes
- add calendar months for the time period and not just "last x

[2021-04-08 21:58] larzon83 opened #2337 "overscroll-behavior"
What's the `overscroll-behavior: none` on the body element for? Can this be removed?
It prevents the rubberband-scrolling on Mac browsers which makes the website feel unnatural on Mac. Here is a video demonstrating what happens when you remove it:

https://user-images.githubusercontent.com/23213583/114101594-38462600-98c6-11eb-9209-163ea1dc1ddc.mp4

[2021-04-09 07:46] dwaxweiler commented on #2318
Yes, this would make sense for both.

[2021-04-09 18:16] brnsolikyl opened #2338 "Feedback weight slider limits"
Currently the slider limit is on 70 kg as the screenshot shows:
![image](https://user-images.githubusercontent.com/25367304/114223033-a09d1200-996f-11eb-9219-cf3f3e25d170.png)

**Problem**

I heard this first-hand from a conversation between two users. One wanted to enter a higher value than 70 kg by using the slider but thought it was not possible and believed it was a hard limit. The other expla

[2021-04-09 20:05] larzon83 commented on #2338
Simplest solution: bump the max value. Maybe 150?

[2021-04-09 20:09] brnsolikyl commented on #2338
Believe it or not in some cases it might still not be enough :smile:
But sure it will make it less likely to happen

[2021-04-09 20:20] larzon83 commented on #2338
Oh wow. Is it line one of 1000 cases or one of 10ish? 😄
If it's the latter, then we should think of a better solution like the hint you mentioned.
Maybe instead of a hint (describing that you can edit the input directly) a button appears labeled "add even more". After clicking that, we set the max value to eg 150. If the user scrolls to the end of that too, it goes to 500.
Just an idea.

[2021-04-10 13:07] brnsolikyl commented on #2338
In my group it can be easily 10% of the cases or even more than that, but I'm pretty sure it's much less globally. I wonder if we could check this at grafana.karrot.world...

That would work too. But then we'd probably need to add cars and trucks on the little drawings to be representative of the weight :laughing:

[2021-04-11 21:37] esharb commented on #2310
Thank you!

[2021-04-13 14:58] #2320 closed

[2021-04-13 14:58] #2316 closed

[2021-04-13 18:28] pogopaule opened #2341 "Revoke Trust"
A user from EfA asked to add the possibility to revoke trust that has been given.
According to the user trust is sometimes given too hasty. In that case it can't be revoked.

[2021-04-13 20:21] brnsolikyl commented on #2341
Yes, this has been discussed before. Actually there's a [looong thread on the community forum](https://community.foodsaving.world/t/discussion-karrot-trust-system-and-user-levels/95), with some good feedback after the trust feature was implemented.

No need to read it all but skimming through it I could identify a few ideas:
- possibility to revoke trust
- trust expires automatically after some ti

[2021-04-13 21:00] brnsolikyl opened #2342 "Improve notifications for place conversations"
Getting notifications for conversations taking place on a place's wall can be improved.

Currently, you would never get any kind of notification or be aware of conversation taking place in a place's wall unless you mark the place as a favorite or subscribe on the bell toggle. You are also automatically subscribed to a place wall if you write a message there. This appears to create some confusion,

[2021-04-15 10:05] larzon83 commented on #2338
Freiburg Group is taking this

[2021-04-15 19:01] pogopaule commented on #2341
I will start to give this a shot.
My idea is to simply add an inverse operation to giving trust.

[2021-04-15 20:47] brnsolikyl commented on #2080
A few meetings ago I presented the idea above and it was accepted. So I'll start working on this little tweak. I'm thinking of something look like this:

![image](https://user-images.githubusercontent.com/25367304/114935844-f5db9680-9e3b-11eb-83cb-78b36a3a2bfc.png)

I'm curious to know if @larzon83 would have any other suggestion for this ;)

[2021-04-15 21:18] larzon83 commented on #2080
Generally it's good like this. Just a few cosmetics:
- I would add a "close" button
- the input looks a bit unusual :)
- Headline: "Invitation Link" (?)

[2021-04-17 14:25] pogopaule commented on #2341
@nicksellen or @brnsolikyl If a user has received enough trust he/she [gets more privileges](https://github.com/yunity/karrot-backend/blob/master/karrot/groups/receivers.py#L69). Should revoking trust also do the inverse here and revoke privileges if trust drops below the threshold?

[2021-04-17 17:23] brnsolikyl commented on #2341
In my opinion, yes, definitely!

[2021-04-18 06:24] larzon83 opened #2346 "bug: block with group preview cards on Safari Mac"
Layout corrupted:

<img width="947" alt="Bildschirmfoto 2021-04-18 um 08 20 38" src="https://user-images.githubusercontent.com/23213583/115136277-08fa8c00-a01f-11eb-8220-499bda9e3786.png">

<img width="681" alt="Bildschirmfoto 2021-04-18 um 08 20 49" src="https://user-images.githubusercontent.com/23213583/115136337-65f64200-a01f-11eb-97ef-40270d1ca539.png">

[2021-04-19 20:00] amengsk commented on #2334
ok friends i had a go at this, it seems doable but i am unsure about a few things

first here is a sketch of what the ui could be like:
![image](https://user-images.githubusercontent.com/81293599/115293993-50386800-a158-11eb-97f9-30d0dc07d8e6.png)

in any activity list you could want to download it as an ics file, or copy the url of that ics file to subscribe to it from some client. i think its ni

[2021-04-20 11:11] larzon83 commented on #2338
PR is here: https://github.com/yunity/karrot-frontend/pull/2348
Tell us what you think :)

[2021-04-26 09:49] nicksellen opened #2350 "Upgrade to Quasar v2 / Vue v3"
Quasar v2 (which uses Vue v3) is out in beta now, and it sounds stable enough to start working on our upgrade.

Vue v3 introduces the composition API, but I guess at first we should try and upgrade with as minimal changes as possible.

## TODO

- [ ] upgrade dependency versions
- [ ] go through the upgrade guide https://next.quasar.dev/start/upgrade-guide
- [ ] list outstanding issues (add checkbo

[2021-05-02 16:57] pogopaule commented on #2350
I'll give this a shot.

[2021-05-02 17:53] pogopaule commented on #2350
@nicksellen Quasar moves from Stylus to SASS. It seems we could keep Stylus for our components. Do you think it makes sense to kick out Stylus entirely and replace it with SASS project-wide? Or should we only move to SASS where necessary? https://next.quasar.dev/start/upgrade-guide#option-1-convert-a-project

[2021-05-03 06:46] nicksellen commented on #2350
Personally, I'd be happy to move to sass. The tooling around it is likely better and simpler to keep aligned with Quasar. What do you think?

The other consideration for now, is if that makes the migration work grow a lot. Would be fine to upgrading keeping with stylus, and consider the switch to sass separately.

[2021-05-03 08:32] larzon83 commented on #2350
+1 for sass.
When keeping stylus and need to use color vars inside a component (`style lang="stylus"`) the vars are now in sass and can't be imported.
Maybe we can have a temp `styl` file that has the same definitions as the new sass file. If one want to define a new var or editing an existing one, changes need to be also done in the styl file. We only have a few vars currently so I think that wou

[2021-05-04 11:17] nicksellen opened #2355 "Add a message to help confused Brazilians"
Due to some confusion somewhere, we get quite a few lost Brazilians creating groups on karrot, thinking it's some kind of educational platform for professors/students :laughing:

We could add a message somewhere (either on initial sign up, or on group creation) that uses geo ip to detect users in Brazil (approximately), and show a message in Brazilian Portuguese to explain that karrot might not be

[2021-05-04 15:15] nicksellen opened #2356 "Rename group description to group information"
See discussion over at https://community.foodsaving.world/t/remove-or-move-internal-group-description-aka-group-description-visible-for-members/259/4

The ways groups use the "description" field is usually more like _information_ for the people in the group. They put things like links to other places (e.g. google docs, facebook groups, website info, etc...).

It would seem useful to make two chang

[2021-05-05 16:44] nicksellen opened #2357 "Add images to feedback"
Requested from a user in Warsaw (https://community.foodsaving.world/t/pictures-in-feedback-after-pick-up/707), and seems a good idea to me. And multiple images would make sense, as we've already done that elsewhere.

For conversation and offer images we send a multipart payload from the client to send the image data along with the JSON. The client users the multi croppa component to manage the ima

[2021-05-06 00:45] #2209 closed

[2021-05-08 17:02] nicksellen opened #2361 "Role based trust + activities"
(This issue is to focus on the code implementation of the discussion over here --> https://community.foodsaving.world/t/applicant-trial-pickup-proposal/575/30)

* role requirement
  * Frontend PR: https://github.com/yunity/karrot-frontend/pull/2421
  * Backend PR: https://github.com/yunity/karrot-backend/pull/1105
* trust for role
  * Backend PR: https://github.com/yunity/karrot-backend/pull/1167

[2021-05-11 08:36] nicksellen opened #2363 "Review and improve developer getting started docs"
Re: https://github.com/yunity/karrot-backend/pull/1116#discussion_r629928676

A quick review of the getting started docs for new developers could be useful, and writing some improvements, there are probably different bits of instructions across karrot-frontend, karrot-backend, karrot-docker, and docs.karrot.world.

[2021-05-13 12:56] nicksellen opened #2365 "Include activity description in reminder emails"
From a comment in [the playground group](https://karrot.world/#/group/16/wall):

We have two kind of activity emails:
1. the daily activity notification one - that gets sent out in the evening to tell people about their activities, and any that are not yet filled
2. activity reminders - sent out 3h before the activity they signed up for is due to start

I think this makes most sense for 2, but may

[2021-05-16 20:35] pogopaule commented on #2350
Reading [the info box](https://v3.vuejs.org/guide/migration/introduction.html#breaking-changes) I am hesitant to start migrating Vue 2 to Vue 3. @nicksellen and @larzon83 what are your opinions?

I could not find any information if Quasar 2 is compatible with Vue 2. So in case you agree to wait with the migration of Vue, what about the migration of Quasar?

[2021-05-16 20:43] larzon83 commented on #2350
@pogopaule Isn't the point of Quasar v2 to use Vue 3? So, after installing Quasar v2, Vue 3 gets installed?
Anyway, the Vue migration/compat build is currently in beta: https://news.vuejs.org/issues/193

[2021-05-18 21:38] micaelagimenez commented on #2365
Hello, I'd like to help with this issue. I've been looking at the code so I was wondering if what needs to be done is to add the Description field in the Activity model as a parameter to the prepare_activity_notification_email function or if it should be added to another function in another file. I'd be happy to help, so please let me know if this is still open.

[2021-05-26 18:42] amengsk commented on #2365
hey @micaelagimenez i'm not a maintainer here but i think it should be even easier than that actually! it looks like the emails are generated by templates `./karrot/activities/templates/activity_notification.mjml` and `./karrot/activities/templates/activity_notification.html.jinja2`.

in those templates you already have access to the `Activity` instances, so you should be able to access the descri

[2021-05-26 21:17] micaelagimenez commented on #2365
Hi @amengsk ! Thank you for the tip, that makes sense so I'll add it to the template then!

[2021-05-28 14:50] tiltec opened #2369 "Retrieving conversation messages is extremely slow for some users"
According [our grafana dashboard](https://grafana.karrot.world/d/000000003/requests?viewPanel=6&orgId=3&from=now-7d&to=now), the conversationmessage-list endpoint (`GET /api/messages/?conversation=123`) and the conversationmessage-my-threads endpoint (`GET /api/messages/my-threads/?conversation=123`) can take multiple _minutes_ to respond.

On karrot.world, some groups seem to be more affected tha

[2021-05-28 14:58] tiltec commented on #2369
Running explain analyze like this:

[code]

gives this output:

[code]

[2021-05-28 15:11] tiltec commented on #2369
Seems obvious that sorting by external disk merge is better avoided!

When I modify the query slightly (not excluding replies):
[code]

...it's much faster and the sorting vanishes: https://explain.depesz.com/s/Cdgg

It still has `order_by('-id')`, so somehow ordering doesn't always need sorting...

[2021-05-28 19:02] larzon83 opened #2370 "refactored landingpage: reduce bundlesize for generated images"
See comment here: https://github.com/yunity/karrot-frontend/pull/2340#discussion_r641460389

[2021-05-29 09:21] nicksellen commented on #2369
Nice progress! Seems odd the exlude replies makes such a big difference, as it's not some fancy join or something, just info available within each row.